# The Battle of Neighborhood: An Italian adventure in Toronto

Before starting the exam, let's import the libraries

In [392]:
import requests # library to handle requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np # library to handle data in a vectorized manner
import requests
# Matplotlib and associated plotting modules
import matplotlib as plt
import matplotlib.cm as cm
import matplotlib.colors as colors
%matplotlib inline

import json # library to handle JSON files
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# import k-means from clustering stage
from sklearn.cluster import KMeans
!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API la
import folium # map rendering library

print('Libraries imported.')

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.10

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.10

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

Libraries imported.

# Web Scraping: let's get the data from Wikipedia

Let's get the data from Wikipedia!

In [393]:
postalcode_url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(postalcode_url,'lxml')

Let's generate the Table by doing some web scraping

In [394]:
My_table = soup.find('table',{'class':'wikitable sortable'})
#select all the cells
cells = My_table.find_all('td')

#Generate empty lists for Postalcode, Borough and Neighborhood, and then populate them with for cycles 
post= []
for i in range(0, len(cells), 3):
      post.append(cells[i].text.strip())
bor = []
for j in range(1, len(cells), 3):
    bor.append(cells[j].text.strip())
nei = []
for k in range(2, len(cells), 3):
    nei.append(cells[k].text.strip())

df = pd.DataFrame(data=[post, bor, nei]).transpose() #Need to do that to have the same table, so we transpose it 
df.columns = ['Postalcode', 'Borough', 'Neighborhood']
df #let's have a look at our table

    Postalcode           Borough           Neighborhood
0          M1A      Not assigned           Not assigned
1          M2A      Not assigned           Not assigned
2          M3A        North York              Parkwoods
3          M4A        North York       Victoria Village
4          M5A  Downtown Toronto           Harbourfront
..         ...               ...                    ...
283        M8Z         Etobicoke              Mimico NW
284        M8Z         Etobicoke     The Queensway West
285        M8Z         Etobicoke  Royal York South West
286        M8Z         Etobicoke         South of Bloor
287        M9Z      Not assigned           Not assigned

[288 rows x 3 columns]

Let's Exclude from the table all the cells with no assigned Borough, generating a new dataframe

In [395]:
df1= df[df.Borough != 'Not assigned']
df1

    Postalcode           Borough              Neighborhood
2          M3A        North York                 Parkwoods
3          M4A        North York          Victoria Village
4          M5A  Downtown Toronto              Harbourfront
5          M5A  Downtown Toronto               Regent Park
6          M6A        North York          Lawrence Heights
..         ...               ...                       ...
282        M8Z         Etobicoke  Kingsway Park South West
283        M8Z         Etobicoke                 Mimico NW
284        M8Z         Etobicoke        The Queensway West
285        M8Z         Etobicoke     Royal York South West
286        M8Z         Etobicoke            South of Bloor

[211 rows x 3 columns]

Combine into one row the neighboorhoods separated with a comma

In [396]:
df2=df1.groupby(['Postalcode', 'Borough'])['Neighborhood'].apply(','.join).reset_index()
df2

    Postalcode      Borough                                       Neighborhood
0          M1B  Scarborough                                      Rouge,Malvern
1          M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2          M1E  Scarborough                    Guildwood,Morningside,West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101        M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102        M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

When the Neighborhood is not assigned, we make it equal to the Borough

In [397]:
df2.loc[df2['Neighborhood'] == 'Not assigned', ['Neighborhood']] = df2['Borough']
df2

    Postalcode      Borough                                       Neighborhood
0          M1B  Scarborough                                      Rouge,Malvern
1          M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2          M1E  Scarborough                    Guildwood,Morningside,West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101        M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102        M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe(required by exercise 1)

In [398]:
df2.shape

(103, 3)

# Exercise 2

Let's import the data from the csv file

In [399]:
!wget -q -O 'Toronto_long_lat_data.csv'  http://cocl.us/Geospatial_data

Let's read the data and create a pandas dataframe

In [400]:
df3 = pd.read_csv('Toronto_long_lat_data.csv')
df3.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Let's change the name of the columns. This step is vital since we later merge two tables based on a column name

In [401]:
df3.columns=['Postalcode','Latitude','Longitude']
df3

    Postalcode   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
..         ...        ...        ...
98         M9N  43.706876 -79.518188
99         M9P  43.696319 -79.532242
100        M9R  43.688905 -79.554724
101        M9V  43.739416 -79.588437
102        M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [402]:
df3.shape #same number of row of before, so we can merge the two tables

(103, 3)

Let's merge the tables, creating the table required by exercise 2

In [403]:
df4= pd.merge(df2,df3, on='Postalcode')
df4

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park,Ionview,Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea,Golden Mile,Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest,Cliffside,Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff,Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park,Scarborough Town Centre,Wexford He...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale,Wexford",43.750072,-79.295849
12,M1S,Scarborough,Agincourt,43.794200,-79.262029
13,M1T,Scarborough,"Clarks Corners,Sullivan,Tam O'Shanter",43.781638,-79.304302
14,M1V,Scarborough,"Agincourt North,L'Amoreaux East,Milliken,Steel...",43.815252,-79.284577
15,M1W,Scarborough,L'Amoreaux West,43.799525,-79.318389
16,M1X,Scarborough,Upper Rouge,43.836125,-79.205636
17,M2H,North York,Hillcrest Village,43.803762,-79.363452
18,M2J,North York,"Fairview,Henry Farm,Oriole",43.778517,-79.346556
19,M2K,North York,Bayview Village,43.786947,-79.385975
20,M2L,North York,"Silver Hills,York Mills",43.757490,-79.374714
21,M2M,North York,"Newtonbrook,Willowdale",43.789053,-79.408493
22,M2N,North York,Willowdale South,43.770120,-79.408493
23,M2P,North York,York Mills West,43.752758,-79.400049
24,M2R,North York,Willowdale West,43.782736,-79.442259
25,M3A,North York,Parkwoods,43.753259,-79.329656
26,M3B,North York,Don Mills North,43.745906,-79.352188
27,M3C,North York,"Flemingdon Park,Don Mills South",43.725900,-79.340923
28,M3H,North York,"Bathurst Manor,Downsview North,Wilson Heights",43.754328,-79.442259
29,M3J,North York,"Northwood Park,York University",43.767980,-79.487262
...,...,...,...,...,...
73,M6C,York,Humewood-Cedarvale,43.693781,-79.428191
74,M6E,York,Caledonia-Fairbanks,43.689026,-79.453512
75,M6G,Downtown Toronto,Christie,43.669542,-79.422564
76,M6H,West Toronto,"Dovercourt Village,Dufferin",43.669005,-79.442259
77,M6J,West Toronto,"Little Portugal,Trinity",43.647927,-79.419750
78,M6K,West Toronto,"Brockton,Exhibition Place,Parkdale Village",43.636847,-79.428191
79,M6L,North York,"Downsview,North Park,Upwood Park",43.713756,-79.490074
80,M6M,York,"Del Ray,Keelesdale,Mount Dennis,Silverthorn",43.691116,-79.476013
81,M6N,York,"The Junction North,Runnymede",43.673185,-79.487262
82,M6P,West Toronto,"High Park,The Junction South",43.661608,-79.464763
83,M6R,West Toronto,"Parkdale,Roncesvalles",43.648960,-79.456325
84,M6S,West Toronto,"Runnymede,Swansea",43.651571,-79.484450
85,M7A,Queen's Park,Queen's Park,43.662301,-79.389494
86,M7R,Mississauga,Canada Post Gateway Processing Centre,43.636966,-79.615819
87,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern,43.662744,-79.321558
88,M8V,Etobicoke,"Humber Bay Shores,Mimico South,New Toronto",43.605647,-79.501321
89,M8W,Etobicoke,"Alderwood,Long Branch",43.602414,-79.543484
90,M8X,Etobicoke,"The Kingsway,Montgomery Road,Old Mill North",43.653654,-79.506944
91,M8Y,Etobicoke,"Humber Bay,King's Mill Park,Kingsway Park Sout...",43.636258,-79.498509
92,M8Z,Etobicoke,"Kingsway Park South West,Mimico NW,The Queensw...",43.628841,-79.520999
93,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
94,M9B,Etobicoke,"Cloverdale,Islington,Martin Grove,Princess Gar...",43.650943,-79.554724
95,M9C,Etobicoke,"Bloordale Gardens,Eringate,Markland Wood,Old B...",43.643515,-79.577201
96,M9L,North York,Humber Summit,43.756303,-79.565963
97,M9M,North York,"Emery,Humberlea",43.724766,-79.532242
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village,Martin Grove Gardens,Richvie...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens,Beaumond Heights,Humbergate,Jam...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054

# Exercise 3

Use geopy library to get the latitude and longitude values of Toronto.

In [404]:
address = 'Toronto, ON'

geolocator = Nominatim(user_agent="Toronto_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Toronto are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Toronto are 43.653963, -79.387207.

In [405]:
# create map of Toronto using latitude and longitude values
map_toronto = folium.Map(location=[latitude, longitude], zoom_start=10)

# add markers to map
for lat, lng, borough, neighborhood in zip(df4['Latitude'], df4['Longitude'], df4['Borough'], df4['Neighborhood']):
    label = '{}, {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_toronto)  
    
map_toronto

Let's get the list of borough of our next analysis

In [406]:
df4['Borough'].unique()

array(['Scarborough', 'North York', 'East York', 'East Toronto',
       'Central Toronto', 'Downtown Toronto', 'York', 'West Toronto',
       "Queen's Park", 'Mississauga', 'Etobicoke'], dtype=object)

## Downtown Toronto analysis

Segment and cluster the neighborhoods in Downtown Toronto. So let's slice the original dataframe and create a new dataframe of Downtown Toronto

In [407]:
downtown_toronto = df4[df4['Borough'] == 'Downtown Toronto'].reset_index(drop=True)
downtown_toronto.head()

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M4W,Downtown Toronto,Rosedale,43.679563,-79.377529
1,M4X,Downtown Toronto,"Cabbagetown,St. James Town",43.667967,-79.367675
2,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
3,M5A,Downtown Toronto,"Harbourfront,Regent Park",43.654260,-79.360636
4,M5B,Downtown Toronto,"Ryerson,Garden District",43.657162,-79.378937

Foursquare Credentials and version

In [410]:
CLIENT_ID = 'DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL' # your Foursquare ID
CLIENT_SECRET = 'G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL
CLIENT_SECRET:G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP

Let's explore the first neighborhood in our dataframe: get the n

In [411]:
downtown_toronto.loc[0, 'Neighborhood']

'Rosedale'

In [412]:
neighborhood_latitude = downtown_toronto.loc[0, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = downtown_toronto.loc[0, 'Longitude'] # neighborhood longitude value

neighborhood_name = downtown_toronto.loc[0, 'Neighborhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                               neighborhood_longitude))

Latitude and longitude values of Rosedale are 43.6795626, -79.37752940000001.

Now, let's get the top 100 venues that are in Rosedale within a radius of 500 meters.

Let's create the GET request URL. Name your URL **url**.

In [413]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)
url

'https://api.foursquare.com/v2/venues/explore?&client_id=DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL&client_secret=G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP&v=20180605&ll=43.6795626,-79.37752940000001&radius=500&limit=100'

Send the GET request and examine the resutls

In [414]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d3c678abf7dde002c468acc'},
 'response': {'suggestedFilters': {'header': 'Tap to show:',
   'filters': [{'name': 'Open now', 'key': 'openNow'}]},
  'headerLocation': 'Rosedale',
  'headerFullLocation': 'Rosedale, Toronto',
  'headerLocationGranularity': 'neighborhood',
  'totalResults': 5,
  'suggestedBounds': {'ne': {'lat': 43.6840626045, 'lng': -79.37131878274371},
   'sw': {'lat': 43.675062595499995, 'lng': -79.38374001725632}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bae2150f964a520df873be3',
       'name': 'Mooredale House',
       'location': {'address': '146 Crescent Rd.',
        'crossStreet': 'btwn. Lamport Ave. and Mt. Pleasant Rd.',
        'lat': 43.678630645646535,
        'lng': -79.38009142511322,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.678630645646535,
          'lng': -79.38009142511322}],
        'distance': 230,
        'postalCode': 'M4W 1V2',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['146 Crescent Rd. (btwn. Lamport Ave. and Mt. Pleasant Rd.)',
         'Toronto ON M4W 1V2',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d130941735',
         'name': 'Building',
         'pluralName': 'Buildings',
         'shortName': 'Building',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/default_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bae2150f964a520df873be3-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4aff2d47f964a520743522e3',
       'name': 'Rosedale Park',
       'location': {'address': '38 Scholfield Ave.',
        'crossStreet': 'at Edgar Ave.',
        'lat': 43.68232820227814,
        'lng': -79.37893434347683,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.68232820227814,
          'lng': -79.37893434347683}],
        'distance': 327,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['38 Scholfield Ave. (at Edgar Ave.)',
         'Toronto ON',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1e7941735',
         'name': 'Playground',
         'pluralName': 'Playgrounds',
         'shortName': 'Playground',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/playground_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4aff2d47f964a520743522e3-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bd777aa5cf276b054639b00',
       'name': 'Whitney Park',
       'location': {'lat': 43.68203573063681,
        'lng': -79.37378835021306,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.68203573063681,
          'lng': -79.37378835021306}],
        'distance': 408,
        'cc': 'CA',
        'country': 'Canada',
        'formattedAddress': ['Canada']},
       'categories': [{'id': '4bf58dd8d48988d163941735',
         'name': 'Park',
         'pluralName': 'Parks',
         'shortName': 'Park',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/park_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bd777aa5cf276b054639b00-2'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4d0e77df76cc37045715767c',
       'name': 'Alex Murray Parkette',
       'location': {'address': '107 Crescent Road',
        'crossStreet': 'South Drive',
        'lat': 43.678300240478954,
        'lng': -79.38277328698108,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.678300240478954,
          'lng': -79.38277328698108}],
        'distance': 444,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['107 Crescent Road (South Drive)',
         'Toronto ON',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d163941735',
         'name': 'Park',
         'pluralName': 'Parks',
         'shortName': 'Park',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/park_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4d0e77df76cc37045715767c-3'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4ef8f2a3775b54cdb5bdec7c',
       'name': "Milkman's Lane",
       'location': {'address': 'South Dr',
        'crossStreet': 'at Glen Rd',
        'lat': 43.676352068015554,
        'lng': -79.37384239440172,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.676352068015554,
          'lng': -79.37384239440172}],
        'distance': 464,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['South Dr (at Glen Rd)', 'Toronto ON', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d159941735',
         'name': 'Trail',
         'pluralName': 'Trails',
         'shortName': 'Trail',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/hikingtrail_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4ef8f2a3775b54cdb5bdec7c-4'}]}]}}

Let's borrow the **get_category_type** function from the Foursquare lab.

In [415]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [416]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

                   name  categories        lat        lng
0       Mooredale House    Building  43.678631 -79.380091
1         Rosedale Park  Playground  43.682328 -79.378934
2          Whitney Park        Park  43.682036 -79.373788
3  Alex Murray Parkette        Park  43.678300 -79.382773
4        Milkman's Lane       Trail  43.676352 -79.373842

Let's determine how many venus are returned by Foursquare

In [417]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

5 venues were returned by Foursquare.

#### Let's create a function to repeat the same process to all the neighborhoods in Downtown Toronto

In [418]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

#### Now let's write the code to run the above function on each neighborhood and create a new dataframe called *downtown_toronto_venues*.

In [419]:

downtown_toronto_venues = getNearbyVenues(names=downtown_toronto['Neighborhood'],
                                   latitudes=downtown_toronto['Latitude'],
                                   longitudes=downtown_toronto['Longitude']
                                  )

Rosedale
Cabbagetown,St. James Town
Church and Wellesley
Harbourfront,Regent Park
Ryerson,Garden District
St. James Town
Berczy Park
Central Bay Street
Adelaide,King,Richmond
Harbourfront East,Toronto Islands,Union Station
Design Exchange,Toronto Dominion Centre
Commerce Court,Victoria Hotel
Harbord,University of Toronto
Chinatown,Grange Park,Kensington Market
CN Tower,Bathurst Quay,Island airport,Harbourfront West,King and Spadina,Railway Lands,South Niagara
Stn A PO Boxes 25 The Esplanade
First Canadian Place,Underground city
Christie

#### Let's check the size of the resulting dataframe

In [420]:
print(downtown_toronto_venues.shape)
downtown_toronto_venues.head()

(1284, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Rosedale,43.679563,-79.377529,Mooredale House,43.678631,-79.380091,Building
1,Rosedale,43.679563,-79.377529,Rosedale Park,43.682328,-79.378934,Playground
2,Rosedale,43.679563,-79.377529,Whitney Park,43.682036,-79.373788,Park
3,Rosedale,43.679563,-79.377529,Alex Murray Parkette,43.678300,-79.382773,Park
4,Rosedale,43.679563,-79.377529,Milkman's Lane,43.676352,-79.373842,Trail

Let's check how many venues were returned for each neighborhood

In [421]:
downtown_toronto_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
"Adelaide,King,Richmond",100,100,100,100,100,100
Berczy Park,56,56,56,56,56,56
"CN Tower,Bathurst Quay,Island airport,Harbourfront West,King and Spadina,Railway Lands,South Niagara",16,16,16,16,16,16
"Cabbagetown,St. James Town",45,45,45,45,45,45
Central Bay Street,84,84,84,84,84,84
"Chinatown,Grange Park,Kensington Market",100,100,100,100,100,100
Christie,16,16,16,16,16,16
Church and Wellesley,84,84,84,84,84,84
"Commerce Court,Victoria Hotel",100,100,100,100,100,100
"Design Exchange,Toronto Dominion Centre",100,100,100,100,100,100
"First Canadian Place,Underground city",100,100,100,100,100,100
"Harbord,University of Toronto",33,33,33,33,33,33
"Harbourfront East,Toronto Islands,Union Station",100,100,100,100,100,100
"Harbourfront,Regent Park",51,51,51,51,51,51
Rosedale,5,5,5,5,5,5
"Ryerson,Garden District",100,100,100,100,100,100
St. James Town,100,100,100,100,100,100
Stn A PO Boxes 25 The Esplanade,94,94,94,94,94,94

#### Let's find out how many unique categories can be curated from all the returned venues

In [422]:
print('There are {} uniques categories.'.format(len(downtown_toronto_venues['Venue Category'].unique())))

There are 203 uniques categories.

#### Analyze Each Neighborhood

In [423]:
# one hot encoding
downtown_toronto_onehot = pd.get_dummies(downtown_toronto_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
downtown_toronto_onehot['Neighborhood'] = downtown_toronto_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [downtown_toronto_onehot.columns[-1]] + list(downtown_toronto_onehot.columns[:-1])
downtown_toronto_onehot = downtown_toronto_onehot[fixed_columns]

downtown_toronto_onehot.head()

,Yoga Studio,Afghan Restaurant,Airport,Airport Food Court,Airport Gate,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,Antique Shop,...,Theme Restaurant,Thrift / Vintage Store,Toy / Game Store,Trail,Train Station,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Wine Bar,Wings Joint
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [424]:
downtown_toronto_onehot.shape

(1284, 203)

#### Next, let's group rows by neighborhood and by taking the mean of the frequency of occurrence of each category

In [425]:
downtown_toronto_grouped= downtown_toronto_onehot.groupby('Neighborhood').mean().reset_index()
downtown_toronto_grouped

,Neighborhood,Yoga Studio,Afghan Restaurant,Airport,Airport Food Court,Airport Gate,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,...,Theme Restaurant,Thrift / Vintage Store,Toy / Game Store,Trail,Train Station,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Wine Bar,Wings Joint
0,"Adelaide,King,Richmond",0.000000,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.030000,...,0.000000,0.00,0.00,0.0,0.00,0.010000,0.000000,0.000000,0.010000,0.000000
1,Berczy Park,0.000000,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,...,0.000000,0.00,0.00,0.0,0.00,0.017857,0.000000,0.000000,0.000000,0.000000
2,"CN Tower,Bathurst Quay,Island airport,Harbourf...",0.000000,0.000000,0.0625,0.0625,0.0625,0.125,0.1875,0.125,0.000000,...,0.000000,0.00,0.00,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000
3,"Cabbagetown,St. James Town",0.000000,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.022222,...,0.000000,0.00,0.00,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000
4,Central Bay Street,0.011905,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.011905,...,0.000000,0.00,0.00,0.0,0.00,0.011905,0.000000,0.000000,0.011905,0.000000
5,"Chinatown,Grange Park,Kensington Market",0.000000,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,...,0.000000,0.01,0.00,0.0,0.00,0.060000,0.000000,0.040000,0.010000,0.000000
6,Christie,0.000000,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,...,0.000000,0.00,0.00,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000
7,Church and Wellesley,0.011905,0.011905,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.011905,...,0.011905,0.00,0.00,0.0,0.00,0.000000,0.011905,0.011905,0.000000,0.011905
8,"Commerce Court,Victoria Hotel",0.000000,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.040000,...,0.000000,0.00,0.00,0.0,0.00,0.020000,0.000000,0.000000,0.010000,0.000000
9,"Design Exchange,Toronto Dominion Centre",0.000000,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.030000,...,0.000000,0.00,0.00,0.0,0.01,0.010000,0.000000,0.000000,0.010000,0.000000
10,"First Canadian Place,Underground city",0.000000,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.030000,...,0.000000,0.00,0.00,0.0,0.01,0.010000,0.000000,0.000000,0.010000,0.000000
11,"Harbord,University of Toronto",0.000000,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,...,0.000000,0.00,0.00,0.0,0.00,0.000000,0.030303,0.000000,0.000000,0.000000
12,"Harbourfront East,Toronto Islands,Union Station",0.000000,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,...,0.000000,0.00,0.00,0.0,0.01,0.010000,0.000000,0.000000,0.010000,0.000000
13,"Harbourfront,Regent Park",0.000000,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,...,0.000000,0.00,0.00,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000
14,Rosedale,0.000000,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,...,0.000000,0.00,0.00,0.2,0.00,0.000000,0.000000,0.000000,0.000000,0.000000
15,"Ryerson,Garden District",0.000000,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.010000,...,0.000000,0.00,0.01,0.0,0.00,0.010000,0.010000,0.010000,0.010000,0.000000
16,St. James Town,0.000000,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.020000,...,0.000000,0.00,0.00,0.0,0.00,0.010000,0.000000,0.000000,0.000000,0.000000
17,Stn A PO Boxes 25 The Esplanade,0.000000,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.010638,...,0.000000,0.00,0.00,0.0,0.00,0.010638,0.000000,0.000000,0.000000,0.000000

#### Let's print each neighborhood along with the top 5 most common venues

In [426]:
num_top_venues = 5

for hood in downtown_toronto_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = downtown_toronto_grouped[downtown_toronto_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Adelaide,King,Richmond----
             venue  freq
0      Coffee Shop  0.07
1             Café  0.05
2              Bar  0.04
3  Thai Restaurant  0.04
4       Steakhouse  0.04


----Berczy Park----
          venue  freq
0   Coffee Shop  0.11
1  Cocktail Bar  0.05
2          Café  0.04
3    Steakhouse  0.04
4      Beer Bar  0.04


----CN Tower,Bathurst Quay,Island airport,Harbourfront West,King and Spadina,Railway Lands,South Niagara----
              venue  freq
0   Airport Service  0.19
1    Airport Lounge  0.12
2  Airport Terminal  0.12
3   Harbor / Marina  0.06
4       Coffee Shop  0.06


----Cabbagetown,St. James Town----
                venue  freq
0          Restaurant  0.07
1         Coffee Shop  0.07
2  Italian Restaurant  0.04
3              Market  0.04
4                 Pub  0.04


----Central Bay Street----
                venue  freq
0         Coffee Shop  0.14
1  Italian Restaurant  0.06
2                Café  0.05
3      Ice Cream Shop  0.05
4        Burger Joint  0.04


----Chinatown,Grange Park,Kensington Market----
                           venue  freq
0                           Café  0.08
1  Vegetarian / Vegan Restaurant  0.06
2             Chinese Restaurant  0.05
3          Vietnamese Restaurant  0.04
4             Mexican Restaurant  0.04


----Christie----
           venue  freq
0  Grocery Store  0.19
1           Café  0.19
2           Park  0.12
3          Diner  0.06
4     Baby Store  0.06


----Church and Wellesley----
                 venue  freq
0          Coffee Shop  0.07
1  Japanese Restaurant  0.06
2              Gay Bar  0.05
3     Sushi Restaurant  0.05
4           Restaurant  0.04


----Commerce Court,Victoria Hotel----
                 venue  freq
0          Coffee Shop  0.10
1                 Café  0.06
2                Hotel  0.06
3           Restaurant  0.04
4  American Restaurant  0.04


----Design Exchange,Toronto Dominion Centre----
                venue  freq
0         Coffee Shop  0.14
1                Café  0.08
2               Hotel  0.06
3          Restaurant  0.04
4  Italian Restaurant  0.04


----First Canadian Place,Underground city----
         venue  freq
0  Coffee Shop  0.09
1         Café  0.07
2   Restaurant  0.04
3        Hotel  0.04
4   Steakhouse  0.04


----Harbord,University of Toronto----
                 venue  freq
0            Bookstore  0.09
1                 Café  0.09
2           Restaurant  0.06
3  Japanese Restaurant  0.06
4               Bakery  0.06


----Harbourfront East,Toronto Islands,Union Station----
                venue  freq
0         Coffee Shop  0.11
1            Aquarium  0.05
2               Hotel  0.05
3                Café  0.04
4  Italian Restaurant  0.04


----Harbourfront,Regent Park----
         venue  freq
0  Coffee Shop  0.18
1         Park  0.06
2       Bakery  0.06
3          Pub  0.06
4         Café  0.06


----Rosedale----
        venue  freq
0        Park   0.4
1  Playground   0.2
2       Trail   0.2
3    Building   0.2
4      Museum   0.0


----Ryerson,Garden District----
                       venue  freq
0                Coffee Shop  0.09
1             Clothing Store  0.06
2             Cosmetics Shop  0.04
3  Middle Eastern Restaurant  0.03
4       Fast Food Restaurant  0.03


----St. James Town----
                venue  freq
0         Coffee Shop  0.07
1          Restaurant  0.05
2                Café  0.05
3               Hotel  0.05
4  Italian Restaurant  0.04


----Stn A PO Boxes 25 The Esplanade----
                  venue  freq
0           Coffee Shop  0.10
1            Restaurant  0.04
2                  Café  0.04
3  Fast Food Restaurant  0.03
4                 Hotel  0.03

### Put the data in a Pandas Dataframe

First, let's write a function to sort the venues in descending order.

In [427]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [428]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = downtown_toronto_grouped['Neighborhood']

for ind in np.arange(downtown_toronto_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(downtown_toronto_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Adelaide,King,Richmond",Coffee Shop,Café,Steakhouse,Bar,Thai Restaurant,Burger Joint,Asian Restaurant,Cosmetics Shop,American Restaurant,Hotel
1,Berczy Park,Coffee Shop,Cocktail Bar,Cheese Shop,Bakery,Seafood Restaurant,Farmers Market,Beer Bar,Steakhouse,Café,Italian Restaurant
2,"CN Tower,Bathurst Quay,Island airport,Harbourf...",Airport Service,Airport Terminal,Airport Lounge,Boat or Ferry,Sculpture Garden,Coffee Shop,Boutique,Bar,Airport Gate,Airport Food Court
3,"Cabbagetown,St. James Town",Coffee Shop,Restaurant,Market,Pub,Italian Restaurant,Bakery,Pizza Place,Café,Breakfast Spot,Butcher
4,Central Bay Street,Coffee Shop,Italian Restaurant,Ice Cream Shop,Café,Sandwich Place,Burger Joint,Chinese Restaurant,Indian Restaurant,Sushi Restaurant,Middle Eastern Restaurant

### Cluster Neighborhoods

Run *k*-means to cluster the neighborhood into 5 clusters.

In [429]:
# set number of clusters
kclusters = 5

downtown_toronto_grouped_clustering = downtown_toronto_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(downtown_toronto_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([0, 0, 3, 0, 0, 2, 4, 0, 0, 0], dtype=int32)

In [430]:
# add clustering labels
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

downtown_toronto_merged = downtown_toronto

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
downtown_toronto_merged = downtown_toronto_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

downtown_toronto_merged.head() # check the last columns!

,Postalcode,Borough,Neighborhood,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,M4W,Downtown Toronto,Rosedale,43.679563,-79.377529,1,Park,Playground,Trail,Building,Dance Studio,Dumpling Restaurant,Donut Shop,Doner Restaurant,Dog Run,Dive Bar
1,M4X,Downtown Toronto,"Cabbagetown,St. James Town",43.667967,-79.367675,0,Coffee Shop,Restaurant,Market,Pub,Italian Restaurant,Bakery,Pizza Place,Café,Breakfast Spot,Butcher
2,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160,0,Coffee Shop,Japanese Restaurant,Gay Bar,Sushi Restaurant,Restaurant,Café,Gastropub,Fast Food Restaurant,Hotel,Pub
3,M5A,Downtown Toronto,"Harbourfront,Regent Park",43.654260,-79.360636,0,Coffee Shop,Park,Café,Pub,Bakery,Theater,Mexican Restaurant,Restaurant,Breakfast Spot,Gym / Fitness Center
4,M5B,Downtown Toronto,"Ryerson,Garden District",43.657162,-79.378937,0,Coffee Shop,Clothing Store,Cosmetics Shop,Fast Food Restaurant,Café,Middle Eastern Restaurant,Restaurant,Diner,Ice Cream Shop,Italian Restaurant

#### Visualize the results

In [431]:
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(downtown_toronto_merged['Latitude'], downtown_toronto_merged['Longitude'], downtown_toronto_merged['Neighborhood'], downtown_toronto_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

#### Examine Clusters

In [432]:
#CLuster 1
downtown_toronto_merged.loc[downtown_toronto_merged['Cluster Labels'] == 0, downtown_toronto_merged.columns[[1] + list(range(5, downtown_toronto_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
1,Downtown Toronto,0,Coffee Shop,Restaurant,Market,Pub,Italian Restaurant,Bakery,Pizza Place,Café,Breakfast Spot,Butcher
2,Downtown Toronto,0,Coffee Shop,Japanese Restaurant,Gay Bar,Sushi Restaurant,Restaurant,Café,Gastropub,Fast Food Restaurant,Hotel,Pub
3,Downtown Toronto,0,Coffee Shop,Park,Café,Pub,Bakery,Theater,Mexican Restaurant,Restaurant,Breakfast Spot,Gym / Fitness Center
4,Downtown Toronto,0,Coffee Shop,Clothing Store,Cosmetics Shop,Fast Food Restaurant,Café,Middle Eastern Restaurant,Restaurant,Diner,Ice Cream Shop,Italian Restaurant
5,Downtown Toronto,0,Coffee Shop,Hotel,Café,Restaurant,Italian Restaurant,Cocktail Bar,Cosmetics Shop,Breakfast Spot,Beer Bar,Gastropub
6,Downtown Toronto,0,Coffee Shop,Cocktail Bar,Cheese Shop,Bakery,Seafood Restaurant,Farmers Market,Beer Bar,Steakhouse,Café,Italian Restaurant
7,Downtown Toronto,0,Coffee Shop,Italian Restaurant,Ice Cream Shop,Café,Sandwich Place,Burger Joint,Chinese Restaurant,Indian Restaurant,Sushi Restaurant,Middle Eastern Restaurant
8,Downtown Toronto,0,Coffee Shop,Café,Steakhouse,Bar,Thai Restaurant,Burger Joint,Asian Restaurant,Cosmetics Shop,American Restaurant,Hotel
9,Downtown Toronto,0,Coffee Shop,Hotel,Aquarium,Café,Italian Restaurant,Sporting Goods Shop,Brewery,Pizza Place,Scenic Lookout,Bakery
10,Downtown Toronto,0,Coffee Shop,Café,Hotel,Restaurant,Italian Restaurant,Gastropub,Bar,Gym,Bakery,American Restaurant
11,Downtown Toronto,0,Coffee Shop,Hotel,Café,Restaurant,American Restaurant,Bakery,Deli / Bodega,Seafood Restaurant,Gastropub,Steakhouse
15,Downtown Toronto,0,Coffee Shop,Restaurant,Café,Beer Bar,Seafood Restaurant,Hotel,Cocktail Bar,Fast Food Restaurant,Art Gallery,Breakfast Spot
16,Downtown Toronto,0,Coffee Shop,Café,Hotel,Restaurant,Steakhouse,Asian Restaurant,Bar,Seafood Restaurant,Deli / Bodega,American Restaurant

In [433]:
#CLuster 2
downtown_toronto_merged.loc[downtown_toronto_merged['Cluster Labels'] == 1, downtown_toronto_merged.columns[[1] + list(range(5, downtown_toronto_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Downtown Toronto,1,Park,Playground,Trail,Building,Dance Studio,Dumpling Restaurant,Donut Shop,Doner Restaurant,Dog Run,Dive Bar

In [434]:
#CLuster 3
downtown_toronto_merged.loc[downtown_toronto_merged['Cluster Labels'] == 2, downtown_toronto_merged.columns[[1] + list(range(5, downtown_toronto_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
12,Downtown Toronto,2,Café,Bookstore,Bar,Restaurant,Japanese Restaurant,Bakery,Italian Restaurant,Beer Bar,College Gym,Sandwich Place
13,Downtown Toronto,2,Café,Vegetarian / Vegan Restaurant,Chinese Restaurant,Bakery,Vietnamese Restaurant,Bar,Mexican Restaurant,Dumpling Restaurant,Coffee Shop,Comfort Food Restaurant

In [435]:
#CLuster 4
downtown_toronto_merged.loc[downtown_toronto_merged['Cluster Labels'] == 3, downtown_toronto_merged.columns[[1] + list(range(5, downtown_toronto_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
14,Downtown Toronto,3,Airport Service,Airport Terminal,Airport Lounge,Boat or Ferry,Sculpture Garden,Coffee Shop,Boutique,Bar,Airport Gate,Airport Food Court

In [436]:
#CLuster 5
downtown_toronto_merged.loc[downtown_toronto_merged['Cluster Labels'] == 4, downtown_toronto_merged.columns[[1] + list(range(5, downtown_toronto_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
17,Downtown Toronto,4,Café,Grocery Store,Park,Baby Store,Coffee Shop,Italian Restaurant,Athletics & Sports,Restaurant,Nightclub,Convenience Store

## Scarborough Analysis

In [437]:
Scarborough = df4[df4['Borough'] == 'Scarborough'].reset_index(drop=True)
Scarborough.head()

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

Let's explore the first neighborhood in our dataframe: get the n

In [440]:
Scarborough.loc[0, 'Neighborhood']

'Rouge,Malvern'

In [441]:
neighborhood_latitude = Scarborough.loc[0, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = Scarborough.loc[0, 'Longitude'] # neighborhood longitude value

neighborhood_name = Scarborough.loc[0, 'Neighborhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                               neighborhood_longitude))

Latitude and longitude values of Rouge,Malvern are 43.806686299999996, -79.19435340000001.

Now, let's get the top 100 venues that are in Rouge, Malvern within a radius of 500 meters.

Let's create the GET request URL. Name your URL **url**.

In [442]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)
url

'https://api.foursquare.com/v2/venues/explore?&client_id=DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL&client_secret=G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP&v=20180605&ll=43.806686299999996,-79.19435340000001&radius=500&limit=100'

Send the GET request and examine the resutls

In [443]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d3c6799697e3a00253cef97'},
 'response': {'warning': {'text': "There aren't a lot of results near you. Try something more general, reset your filters, or expand the search area."},
  'headerLocation': 'Malvern',
  'headerFullLocation': 'Malvern, Toronto',
  'headerLocationGranularity': 'neighborhood',
  'totalResults': 1,
  'suggestedBounds': {'ne': {'lat': 43.8111863045, 'lng': -79.18812958073042},
   'sw': {'lat': 43.80218629549999, 'lng': -79.2005772192696}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bb6b9446edc76b0d771311c',
       'name': "Wendy's",
       'location': {'crossStreet': 'Morningside & Sheppard',
        'lat': 43.80744841934756,
        'lng': -79.19905558052072,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.80744841934756,
          'lng': -79.19905558052072}],
        'distance': 387,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['Toronto ON', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d16e941735',
         'name': 'Fast Food Restaurant',
         'pluralName': 'Fast Food Restaurants',
         'shortName': 'Fast Food',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/fastfood_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bb6b9446edc76b0d771311c-0'}]}]}}

Let's borrow the **get_category_type** function from the Foursquare lab.

In [444]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [445]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

      name            categories        lat        lng
0  Wendy's  Fast Food Restaurant  43.807448 -79.199056

Let's determine how many venus are returned by Foursquare

In [446]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

1 venues were returned by Foursquare.

#### Let's create a function to repeat the same process to all the neighborhoods in Scarborough

In [447]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

#### Now let's write the code to run the above function on each neighborhood and create a new dataframe called *downtown_toronto_venues*.

In [448]:

Scarborough_venues = getNearbyVenues(names=Scarborough['Neighborhood'],
                                   latitudes=Scarborough['Latitude'],
                                   longitudes=Scarborough['Longitude']
                                  )

Rouge,Malvern
Highland Creek,Rouge Hill,Port Union
Guildwood,Morningside,West Hill
Woburn
Cedarbrae
Scarborough Village
East Birchmount Park,Ionview,Kennedy Park
Clairlea,Golden Mile,Oakridge
Cliffcrest,Cliffside,Scarborough Village West
Birch Cliff,Cliffside West
Dorset Park,Scarborough Town Centre,Wexford Heights
Maryvale,Wexford
Agincourt
Clarks Corners,Sullivan,Tam O'Shanter
Agincourt North,L'Amoreaux East,Milliken,Steeles East
L'Amoreaux West
Upper Rouge

#### Let's check the size of the resulting dataframe

In [449]:
print(Scarborough_venues.shape)
Scarborough_venues.head()

(89, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,"Rouge,Malvern",43.806686,-79.194353,Wendy's,43.807448,-79.199056,Fast Food Restaurant
1,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497,Royal Canadian Legion,43.782533,-79.163085,Bar
2,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497,Scarborough Historical Society,43.788755,-79.162438,History Museum
3,"Guildwood,Morningside,West Hill",43.763573,-79.188711,Swiss Chalet Rotisserie & Grill,43.767697,-79.189914,Pizza Place
4,"Guildwood,Morningside,West Hill",43.763573,-79.188711,G & G Electronics,43.765309,-79.191537,Electronics Store

Let's check how many venues were returned for each neighborhood

In [450]:
Scarborough_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
Agincourt,4,4,4,4,4,4
"Agincourt North,L'Amoreaux East,Milliken,Steeles East",2,2,2,2,2,2
"Birch Cliff,Cliffside West",4,4,4,4,4,4
Cedarbrae,7,7,7,7,7,7
"Clairlea,Golden Mile,Oakridge",10,10,10,10,10,10
"Clarks Corners,Sullivan,Tam O'Shanter",11,11,11,11,11,11
"Cliffcrest,Cliffside,Scarborough Village West",2,2,2,2,2,2
"Dorset Park,Scarborough Town Centre,Wexford Heights",7,7,7,7,7,7
"East Birchmount Park,Ionview,Kennedy Park",4,4,4,4,4,4
"Guildwood,Morningside,West Hill",8,8,8,8,8,8
"Highland Creek,Rouge Hill,Port Union",2,2,2,2,2,2
L'Amoreaux West,15,15,15,15,15,15
"Maryvale,Wexford",6,6,6,6,6,6
"Rouge,Malvern",1,1,1,1,1,1
Scarborough Village,2,2,2,2,2,2
Woburn,4,4,4,4,4,4

#### Let's find out how many unique categories can be curated from all the returned venues

In [451]:
print('There are {} uniques categories.'.format(len(Scarborough_venues['Venue Category'].unique())))

There are 55 uniques categories.

#### Analyze Each Neighborhood

In [452]:
# one hot encoding
Scarborough_onehot = pd.get_dummies(Scarborough_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
Scarborough_onehot['Neighborhood'] = Scarborough_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [Scarborough_onehot.columns[-1]] + list(Scarborough_onehot.columns[:-1])
Scarborough_onehot = Scarborough_onehot[fixed_columns]

Scarborough_onehot.head()

,Neighborhood,American Restaurant,Athletics & Sports,Auto Garage,Bakery,Bank,Bar,Breakfast Spot,Bubble Tea Shop,Bus Line,...,Playground,Rental Car Location,Sandwich Place,Shopping Mall,Skating Rink,Soccer Field,Spa,Thai Restaurant,Thrift / Vintage Store,Vietnamese Restaurant
0,"Rouge,Malvern",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"Highland Creek,Rouge Hill,Port Union",0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"Highland Creek,Rouge Hill,Port Union",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"Guildwood,Morningside,West Hill",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"Guildwood,Morningside,West Hill",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [453]:
Scarborough_onehot.shape

(89, 56)

#### Next, let's group rows by neighborhood and by taking the mean of the frequency of occurrence of each category

In [454]:
Scarough_grouped= Scarborough_onehot.groupby('Neighborhood').mean().reset_index()
Scarough_grouped

,Neighborhood,American Restaurant,Athletics & Sports,Auto Garage,Bakery,Bank,Bar,Breakfast Spot,Bubble Tea Shop,Bus Line,...,Playground,Rental Car Location,Sandwich Place,Shopping Mall,Skating Rink,Soccer Field,Spa,Thai Restaurant,Thrift / Vintage Store,Vietnamese Restaurant
0,Agincourt,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.250000,0.000000,0.0,...,0.00,0.000,0.000000,0.000000,0.25,0.0,0.000,0.000000,0.000000,0.000000
1,"Agincourt North,L'Amoreaux East,Milliken,Steel...",0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.50,0.000,0.000000,0.000000,0.00,0.0,0.000,0.000000,0.000000,0.000000
2,"Birch Cliff,Cliffside West",0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.00,0.000,0.000000,0.000000,0.25,0.0,0.000,0.000000,0.000000,0.000000
3,Cedarbrae,0.0,0.142857,0.000000,0.142857,0.142857,0.0,0.000000,0.000000,0.0,...,0.00,0.000,0.000000,0.000000,0.00,0.0,0.000,0.142857,0.000000,0.000000
4,"Clairlea,Golden Mile,Oakridge",0.0,0.000000,0.000000,0.200000,0.000000,0.0,0.000000,0.000000,0.2,...,0.00,0.000,0.000000,0.000000,0.00,0.1,0.000,0.000000,0.000000,0.000000
5,"Clarks Corners,Sullivan,Tam O'Shanter",0.0,0.000000,0.000000,0.000000,0.090909,0.0,0.000000,0.000000,0.0,...,0.00,0.000,0.000000,0.090909,0.00,0.0,0.000,0.090909,0.000000,0.000000
6,"Cliffcrest,Cliffside,Scarborough Village West",0.5,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.00,0.000,0.000000,0.000000,0.00,0.0,0.000,0.000000,0.000000,0.000000
7,"Dorset Park,Scarborough Town Centre,Wexford He...",0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.00,0.000,0.000000,0.000000,0.00,0.0,0.000,0.000000,0.000000,0.142857
8,"East Birchmount Park,Ionview,Kennedy Park",0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.25,0.000,0.000000,0.000000,0.00,0.0,0.000,0.000000,0.000000,0.000000
9,"Guildwood,Morningside,West Hill",0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.125000,0.000000,0.0,...,0.00,0.125,0.000000,0.000000,0.00,0.0,0.125,0.000000,0.000000,0.000000
10,"Highland Creek,Rouge Hill,Port Union",0.0,0.000000,0.000000,0.000000,0.000000,0.5,0.000000,0.000000,0.0,...,0.00,0.000,0.000000,0.000000,0.00,0.0,0.000,0.000000,0.000000,0.000000
11,L'Amoreaux West,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.066667,0.066667,0.0,...,0.00,0.000,0.066667,0.000000,0.00,0.0,0.000,0.000000,0.066667,0.000000
12,"Maryvale,Wexford",0.0,0.000000,0.166667,0.166667,0.000000,0.0,0.166667,0.000000,0.0,...,0.00,0.000,0.166667,0.000000,0.00,0.0,0.000,0.000000,0.000000,0.000000
13,"Rouge,Malvern",0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.00,0.000,0.000000,0.000000,0.00,0.0,0.000,0.000000,0.000000,0.000000
14,Scarborough Village,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.50,0.000,0.000000,0.000000,0.00,0.0,0.000,0.000000,0.000000,0.000000
15,Woburn,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.00,0.000,0.000000,0.000000,0.00,0.0,0.000,0.000000,0.000000,0.000000

#### Let's print each neighborhood along with the top 5 most common venues

In [455]:
num_top_venues = 5

for hood in Scarough_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = Scarough_grouped[Scarough_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Agincourt----
                    venue  freq
0                  Lounge  0.25
1          Breakfast Spot  0.25
2            Skating Rink  0.25
3  Furniture / Home Store  0.25
4     American Restaurant  0.00


----Agincourt North,L'Amoreaux East,Milliken,Steeles East----
                       venue  freq
0                       Park   0.5
1                 Playground   0.5
2        American Restaurant   0.0
3          Korean Restaurant   0.0
4  Latin American Restaurant   0.0


----Birch Cliff,Cliffside West----
                   venue  freq
0        College Stadium  0.25
1           Skating Rink  0.25
2  General Entertainment  0.25
3                   Café  0.25
4                   Park  0.00


----Cedarbrae----
                  venue  freq
0  Caribbean Restaurant  0.14
1   Fried Chicken Joint  0.14
2                Bakery  0.14
3                  Bank  0.14
4       Thai Restaurant  0.14


----Clairlea,Golden Mile,Oakridge----
          venue  freq
0        Bakery   0.2
1      Bus Line   0.2
2  Intersection   0.1
3          Park   0.1
4  Soccer Field   0.1


----Clarks Corners,Sullivan,Tam O'Shanter----
                  venue  freq
0           Pizza Place  0.18
1  Fast Food Restaurant  0.09
2    Chinese Restaurant  0.09
3    Italian Restaurant  0.09
4       Thai Restaurant  0.09


----Cliffcrest,Cliffside,Scarborough Village West----
                       venue  freq
0        American Restaurant   0.5
1                      Motel   0.5
2                       Park   0.0
3          Korean Restaurant   0.0
4  Latin American Restaurant   0.0


----Dorset Park,Scarborough Town Centre,Wexford Heights----
                       venue  freq
0          Indian Restaurant  0.29
1      Vietnamese Restaurant  0.14
2         Chinese Restaurant  0.14
3  Latin American Restaurant  0.14
4         Light Rail Station  0.14


----East Birchmount Park,Ionview,Kennedy Park----
                 venue  freq
0       Discount Store  0.25
1           Playground  0.25
2          Coffee Shop  0.25
3     Department Store  0.25
4  American Restaurant  0.00


----Guildwood,Morningside,West Hill----
                venue  freq
0        Intersection  0.12
1                 Spa  0.12
2      Breakfast Spot  0.12
3      Medical Center  0.12
4  Mexican Restaurant  0.12


----Highland Creek,Rouge Hill,Port Union----
                       venue  freq
0             History Museum   0.5
1                        Bar   0.5
2        American Restaurant   0.0
3                       Park   0.0
4  Latin American Restaurant   0.0


----L'Amoreaux West----
                  venue  freq
0    Chinese Restaurant  0.13
1  Fast Food Restaurant  0.13
2           Pizza Place  0.07
3     Electronics Store  0.07
4              Pharmacy  0.07


----Maryvale,Wexford----
                       venue  freq
0  Middle Eastern Restaurant  0.33
1                Auto Garage  0.17
2                     Bakery  0.17
3             Breakfast Spot  0.17
4             Sandwich Place  0.17


----Rouge,Malvern----
                       venue  freq
0       Fast Food Restaurant   1.0
1        American Restaurant   0.0
2         Italian Restaurant   0.0
3          Korean Restaurant   0.0
4  Latin American Restaurant   0.0


----Scarborough Village----
                 venue  freq
0        Grocery Store   0.5
1           Playground   0.5
2  American Restaurant   0.0
3         Noodle House   0.0
4    Korean Restaurant   0.0


----Woburn----
                       venue  freq
0                Coffee Shop  0.50
1          Korean Restaurant  0.25
2           Insurance Office  0.25
3                       Park  0.00
4  Latin American Restaurant  0.00

### Put the data in a Pandas Dataframe

First, let's write a function to sort the venues in descending order.

In [456]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [457]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = Scarough_grouped['Neighborhood']

for ind in np.arange(Scarough_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(Scarough_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Agincourt,Skating Rink,Furniture / Home Store,Breakfast Spot,Lounge,Vietnamese Restaurant,Coffee Shop,Hakka Restaurant,Grocery Store,General Entertainment,Fried Chicken Joint
1,"Agincourt North,L'Amoreaux East,Milliken,Steel...",Playground,Park,Vietnamese Restaurant,Chinese Restaurant,Hakka Restaurant,Grocery Store,General Entertainment,Furniture / Home Store,Fried Chicken Joint,Fast Food Restaurant
2,"Birch Cliff,Cliffside West",Skating Rink,General Entertainment,Café,College Stadium,Vietnamese Restaurant,Coffee Shop,History Museum,Hakka Restaurant,Grocery Store,Furniture / Home Store
3,Cedarbrae,Thai Restaurant,Athletics & Sports,Bakery,Bank,Hakka Restaurant,Fried Chicken Joint,Caribbean Restaurant,Vietnamese Restaurant,Department Store,History Museum
4,"Clairlea,Golden Mile,Oakridge",Bus Line,Bakery,Intersection,Metro Station,Soccer Field,Park,Bus Station,Fast Food Restaurant,Discount Store,Electronics Store

### Cluster Neighborhoods

Run *k*-means to cluster the neighborhood into 5 clusters.

In [458]:
# set number of clusters
kclusters = 5

Scarough_grouped_clustering = Scarough_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(Scarough_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([1, 3, 1, 1, 1, 1, 2, 1, 1, 1], dtype=int32)

In [459]:
# add clustering labels


neighborhoods_venues_sorted.insert(0, 'Cluster Labelstwo', kmeans.labels_)
Scarough_grouped_merged =Scarborough

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
Scarough_grouped_merged = Scarough_grouped_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

Scarough_grouped_merged.head() # check the last columns!

,Postalcode,Borough,Neighborhood,Latitude,Longitude,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353,0.0,Fast Food Restaurant,Vietnamese Restaurant,Coffee Shop,History Museum,Hakka Restaurant,Grocery Store,General Entertainment,Furniture / Home Store,Fried Chicken Joint,Electronics Store
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497,4.0,History Museum,Bar,Vietnamese Restaurant,Coffee Shop,Hakka Restaurant,Grocery Store,General Entertainment,Furniture / Home Store,Fried Chicken Joint,Fast Food Restaurant
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711,1.0,Intersection,Breakfast Spot,Medical Center,Electronics Store,Pizza Place,Rental Car Location,Spa,Mexican Restaurant,Fried Chicken Joint,Fast Food Restaurant
3,M1G,Scarborough,Woburn,43.770992,-79.216917,1.0,Coffee Shop,Insurance Office,Korean Restaurant,History Museum,Hakka Restaurant,Grocery Store,General Entertainment,Furniture / Home Store,Fried Chicken Joint,Fast Food Restaurant
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476,1.0,Thai Restaurant,Athletics & Sports,Bakery,Bank,Hakka Restaurant,Fried Chicken Joint,Caribbean Restaurant,Vietnamese Restaurant,Department Store,History Museum

#### Examine Clusters

In [460]:
#CLuster 1
Scarough_grouped_merged.loc[Scarough_grouped_merged['Cluster Labelstwo'] == 0, Scarough_grouped_merged.columns[[1] + list(range(5, Scarough_grouped_merged.shape[1]))]]

,Borough,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Scarborough,0.0,Fast Food Restaurant,Vietnamese Restaurant,Coffee Shop,History Museum,Hakka Restaurant,Grocery Store,General Entertainment,Furniture / Home Store,Fried Chicken Joint,Electronics Store

In [461]:
#CLuster 2
Scarough_grouped_merged.loc[Scarough_grouped_merged['Cluster Labelstwo'] == 1, Scarough_grouped_merged.columns[[1] + list(range(5, Scarough_grouped_merged.shape[1]))]]

,Borough,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
2,Scarborough,1.0,Intersection,Breakfast Spot,Medical Center,Electronics Store,Pizza Place,Rental Car Location,Spa,Mexican Restaurant,Fried Chicken Joint,Fast Food Restaurant
3,Scarborough,1.0,Coffee Shop,Insurance Office,Korean Restaurant,History Museum,Hakka Restaurant,Grocery Store,General Entertainment,Furniture / Home Store,Fried Chicken Joint,Fast Food Restaurant
4,Scarborough,1.0,Thai Restaurant,Athletics & Sports,Bakery,Bank,Hakka Restaurant,Fried Chicken Joint,Caribbean Restaurant,Vietnamese Restaurant,Department Store,History Museum
6,Scarborough,1.0,Coffee Shop,Playground,Discount Store,Department Store,Vietnamese Restaurant,History Museum,Hakka Restaurant,Grocery Store,General Entertainment,Furniture / Home Store
7,Scarborough,1.0,Bus Line,Bakery,Intersection,Metro Station,Soccer Field,Park,Bus Station,Fast Food Restaurant,Discount Store,Electronics Store
9,Scarborough,1.0,Skating Rink,General Entertainment,Café,College Stadium,Vietnamese Restaurant,Coffee Shop,History Museum,Hakka Restaurant,Grocery Store,Furniture / Home Store
10,Scarborough,1.0,Indian Restaurant,Vietnamese Restaurant,Pet Store,Latin American Restaurant,Light Rail Station,Chinese Restaurant,Bar,Discount Store,Hakka Restaurant,Grocery Store
11,Scarborough,1.0,Middle Eastern Restaurant,Auto Garage,Bakery,Sandwich Place,Breakfast Spot,Vietnamese Restaurant,College Stadium,Hakka Restaurant,Grocery Store,General Entertainment
12,Scarborough,1.0,Skating Rink,Furniture / Home Store,Breakfast Spot,Lounge,Vietnamese Restaurant,Coffee Shop,Hakka Restaurant,Grocery Store,General Entertainment,Fried Chicken Joint
13,Scarborough,1.0,Pizza Place,Fast Food Restaurant,Thai Restaurant,Italian Restaurant,Shopping Mall,Bank,Fried Chicken Joint,Chinese Restaurant,Pharmacy,Noodle House
15,Scarborough,1.0,Fast Food Restaurant,Chinese Restaurant,Nail Salon,Pizza Place,Thrift / Vintage Store,Japanese Restaurant,Electronics Store,Coffee Shop,Pharmacy,Grocery Store

In [462]:
#CLuster 3
Scarough_grouped_merged.loc[Scarough_grouped_merged['Cluster Labelstwo'] == 2, Scarough_grouped_merged.columns[[1] + list(range(5, Scarough_grouped_merged.shape[1]))]]

,Borough,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
8,Scarborough,2.0,American Restaurant,Motel,Insurance Office,History Museum,Hakka Restaurant,Grocery Store,General Entertainment,Furniture / Home Store,Fried Chicken Joint,Fast Food Restaurant

In [463]:
#CLuster 4
Scarough_grouped_merged.loc[Scarough_grouped_merged['Cluster Labelstwo'] == 3, Scarough_grouped_merged.columns[[1] + list(range(5, Scarough_grouped_merged.shape[1]))]]

,Borough,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
5,Scarborough,3.0,Grocery Store,Playground,Vietnamese Restaurant,Coffee Shop,History Museum,Hakka Restaurant,General Entertainment,Furniture / Home Store,Fried Chicken Joint,Fast Food Restaurant
14,Scarborough,3.0,Playground,Park,Vietnamese Restaurant,Chinese Restaurant,Hakka Restaurant,Grocery Store,General Entertainment,Furniture / Home Store,Fried Chicken Joint,Fast Food Restaurant

In [464]:
#CLuster 5
Scarough_grouped_merged.loc[Scarough_grouped_merged['Cluster Labelstwo'] == 3, Scarough_grouped_merged.columns[[1] + list(range(5, Scarough_grouped_merged.shape[1]))]]

,Borough,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
5,Scarborough,3.0,Grocery Store,Playground,Vietnamese Restaurant,Coffee Shop,History Museum,Hakka Restaurant,General Entertainment,Furniture / Home Store,Fried Chicken Joint,Fast Food Restaurant
14,Scarborough,3.0,Playground,Park,Vietnamese Restaurant,Chinese Restaurant,Hakka Restaurant,Grocery Store,General Entertainment,Furniture / Home Store,Fried Chicken Joint,Fast Food Restaurant

## North York Analysis

In [465]:
NY = df4[df4['Borough'] == 'North York'].reset_index(drop=True)
NY.head()

  Postalcode     Borough                Neighborhood   Latitude  Longitude
0        M2H  North York           Hillcrest Village  43.803762 -79.363452
1        M2J  North York  Fairview,Henry Farm,Oriole  43.778517 -79.346556
2        M2K  North York             Bayview Village  43.786947 -79.385975
3        M2L  North York     Silver Hills,York Mills  43.757490 -79.374714
4        M2M  North York      Newtonbrook,Willowdale  43.789053 -79.408493

Let's explore the first neighborhood in our dataframe: get the n

In [468]:
NY.loc[0, 'Neighborhood']

'Hillcrest Village'

In [469]:
neighborhood_latitude = NY.loc[0, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = NY.loc[0, 'Longitude'] # neighborhood longitude value

neighborhood_name = NY.loc[0, 'Neighborhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                               neighborhood_longitude))

Latitude and longitude values of Hillcrest Village are 43.8037622, -79.3634517.

Now, let's get the top 100 venues that are in Hillcrest within a radius of 500 meters.

Let's create the GET request URL. Name your URL **url**.

In [470]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)
url

'https://api.foursquare.com/v2/venues/explore?&client_id=DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL&client_secret=G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP&v=20180605&ll=43.8037622,-79.3634517&radius=500&limit=100'

Send the GET request and examine the resutls

In [471]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d3c67a2e92f3500251c69da'},
 'response': {'headerLocation': 'Toronto',
  'headerFullLocation': 'Toronto',
  'headerLocationGranularity': 'city',
  'totalResults': 5,
  'suggestedBounds': {'ne': {'lat': 43.808262204500004,
    'lng': -79.3572281853783},
   'sw': {'lat': 43.7992621955, 'lng': -79.3696752146217}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4ad9dce6f964a520651b21e3',
       'name': "Eagle's Nest Golf Club",
       'location': {'address': '10000 Dufferin Rd',
        'lat': 43.805454826002794,
        'lng': -79.36418592243415,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.805454826002794,
          'lng': -79.36418592243415}],
        'distance': 197,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['10000 Dufferin Rd', 'Toronto ON', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1e6941735',
         'name': 'Golf Course',
         'pluralName': 'Golf Courses',
         'shortName': 'Golf Course',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/golfcourse_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4ad9dce6f964a520651b21e3-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4e1fad69fa761d67106a9989',
       'name': 'AY Jackson Pool',
       'location': {'address': '50 Francine drive',
        'crossStreet': 'Leslie',
        'lat': 43.804515413699576,
        'lng': -79.36613821581467,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.804515413699576,
          'lng': -79.36613821581467}],
        'distance': 231,
        'cc': 'CA',
        'city': 'North York',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['50 Francine drive (Leslie)',
         'North York ON',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d15e941735',
         'name': 'Pool',
         'pluralName': 'Pools',
         'shortName': 'Pool',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/pool_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4e1fad69fa761d67106a9989-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '5331a799498e3bfbae4a5a04',
       'name': 'Villa Madina',
       'location': {'lat': 43.80168506227364,
        'lng': -79.36393844569061,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.80168506227364,
          'lng': -79.36393844569061}],
        'distance': 234,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['Toronto ON', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1c0941735',
         'name': 'Mediterranean Restaurant',
         'pluralName': 'Mediterranean Restaurants',
         'shortName': 'Mediterranean',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/mediterranean_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-5331a799498e3bfbae4a5a04-2'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4c64ca1b772bef3bfadbc2aa',
       'name': 'Duncan Creek Park',
       'location': {'address': 'Aspenwood Drive',
        'crossStreet': 'btwn Don Mills & Leslie',
        'lat': 43.80553928816196,
        'lng': -79.36069456944033,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.80553928816196,
          'lng': -79.36069456944033}],
        'distance': 296,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['Aspenwood Drive (btwn Don Mills & Leslie)',
         'Toronto ON',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1e5941735',
         'name': 'Dog Run',
         'pluralName': 'Dog Runs',
         'shortName': 'Dog Run',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/dogrun_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4c64ca1b772bef3bfadbc2aa-3'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '518815ab498e99d0bb98ac96',
       'name': 'A.Y. Jackson Secondary School Track',
       'location': {'address': '50 Francine Dr.',
        'lat': 43.80506848683886,
        'lng': -79.36667715153746,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.80506848683886,
          'lng': -79.36667715153746}],
        'distance': 297,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['50 Francine Dr.', 'Toronto ON', 'Canada']},
       'categories': [{'id': '4f4528bc4b90abdf24c9de85',
         'name': 'Athletics & Sports',
         'pluralName': 'Athletics & Sports',
         'shortName': 'Athletics & Sports',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/sports_outdoors_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-518815ab498e99d0bb98ac96-4'}]}]}}

Let's borrow the **get_category_type** function from the Foursquare lab.

In [472]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [473]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

,name,categories,lat,lng
0,Eagle's Nest Golf Club,Golf Course,43.805455,-79.364186
1,AY Jackson Pool,Pool,43.804515,-79.366138
2,Villa Madina,Mediterranean Restaurant,43.801685,-79.363938
3,Duncan Creek Park,Dog Run,43.805539,-79.360695
4,A.Y. Jackson Secondary School Track,Athletics & Sports,43.805068,-79.366677

Let's determine how many venus are returned by Foursquare

In [474]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

5 venues were returned by Foursquare.

#### Let's create a function to repeat the same process to all the neighborhoods in NY

In [475]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

#### Now let's write the code to run the above function on each neighborhood and create a new dataframe called *NY_venues*.

In [476]:

NY_venues = getNearbyVenues(names=NY['Neighborhood'],
                                   latitudes=NY['Latitude'],
                                   longitudes=NY['Longitude']
                                  )

Hillcrest Village
Fairview,Henry Farm,Oriole
Bayview Village
Silver Hills,York Mills
Newtonbrook,Willowdale
Willowdale South
York Mills West
Willowdale West
Parkwoods
Don Mills North
Flemingdon Park,Don Mills South
Bathurst Manor,Downsview North,Wilson Heights
Northwood Park,York University
CFB Toronto,Downsview East
Downsview West
Downsview Central
Downsview Northwest
Victoria Village
Bedford Park,Lawrence Manor East
Lawrence Heights,Lawrence Manor
Glencairn
Downsview,North Park,Upwood Park
Humber Summit
Emery,Humberlea

#### Let's check the size of the resulting dataframe

In [477]:
print(NY_venues.shape)
NY_venues.head()

(240, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Hillcrest Village,43.803762,-79.363452,Eagle's Nest Golf Club,43.805455,-79.364186,Golf Course
1,Hillcrest Village,43.803762,-79.363452,AY Jackson Pool,43.804515,-79.366138,Pool
2,Hillcrest Village,43.803762,-79.363452,Villa Madina,43.801685,-79.363938,Mediterranean Restaurant
3,Hillcrest Village,43.803762,-79.363452,Duncan Creek Park,43.805539,-79.360695,Dog Run
4,Hillcrest Village,43.803762,-79.363452,A.Y. Jackson Secondary School Track,43.805068,-79.366677,Athletics & Sports

Let's check how many venues were returned for each neighborhood

In [478]:
NY_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
"Bathurst Manor,Downsview North,Wilson Heights",18,18,18,18,18,18
Bayview Village,4,4,4,4,4,4
"Bedford Park,Lawrence Manor East",23,23,23,23,23,23
"CFB Toronto,Downsview East",3,3,3,3,3,3
Don Mills North,4,4,4,4,4,4
Downsview Central,4,4,4,4,4,4
Downsview Northwest,5,5,5,5,5,5
Downsview West,6,6,6,6,6,6
"Downsview,North Park,Upwood Park",3,3,3,3,3,3
"Emery,Humberlea",1,1,1,1,1,1
"Fairview,Henry Farm,Oriole",64,64,64,64,64,64
"Flemingdon Park,Don Mills South",22,22,22,22,22,22
Glencairn,5,5,5,5,5,5
Hillcrest Village,5,5,5,5,5,5
Humber Summit,1,1,1,1,1,1
"Lawrence Heights,Lawrence Manor",12,12,12,12,12,12
"Newtonbrook,Willowdale",1,1,1,1,1,1
"Northwood Park,York University",6,6,6,6,6,6
Parkwoods,3,3,3,3,3,3
"Silver Hills,York Mills",1,1,1,1,1,1
Victoria Village,4,4,4,4,4,4
Willowdale South,37,37,37,37,37,37
Willowdale West,5,5,5,5,5,5
York Mills West,3,3,3,3,3,3

#### Let's find out how many unique categories can be curated from all the returned venues

In [479]:
print('There are {} uniques categories.'.format(len(NY_venues['Venue Category'].unique())))

There are 107 uniques categories.

#### Analyze Each Neighborhood

In [480]:
# one hot encoding
NY_onehot = pd.get_dummies(NY_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
NY_onehot['Neighborhood'] = NY_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [NY_onehot.columns[-1]] + list(NY_onehot.columns[:-1])
NY_onehot = NY_onehot[fixed_columns]

NY_onehot.head()

,Neighborhood,Accessories Store,Airport,American Restaurant,Arts & Crafts Store,Asian Restaurant,Athletics & Sports,Bakery,Bank,Bar,...,Sushi Restaurant,Tea Room,Thai Restaurant,Theater,Toy / Game Store,Video Game Store,Video Store,Vietnamese Restaurant,Wings Joint,Women's Store
0,Hillcrest Village,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Hillcrest Village,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Hillcrest Village,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Hillcrest Village,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Hillcrest Village,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [481]:
NY_onehot.shape

(240, 108)

#### Next, let's group rows by neighborhood and by taking the mean of the frequency of occurrence of each category

In [482]:
NY_grouped= NY_onehot.groupby('Neighborhood').mean().reset_index()
NY_grouped

,Neighborhood,Accessories Store,Airport,American Restaurant,Arts & Crafts Store,Asian Restaurant,Athletics & Sports,Bakery,Bank,Bar,...,Sushi Restaurant,Tea Room,Thai Restaurant,Theater,Toy / Game Store,Video Game Store,Video Store,Vietnamese Restaurant,Wings Joint,Women's Store
0,"Bathurst Manor,Downsview North,Wilson Heights",0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.055556,0.000000,...,0.055556,0.000000,0.000000,0.000000,0.000000,0.000000,0.055556,0.000000,0.000000,0.000000
1,Bayview Village,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.250000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,"Bedford Park,Lawrence Manor East",0.000000,0.000000,0.043478,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.043478,0.000000,0.043478,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,"CFB Toronto,Downsview East",0.000000,0.333333,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Don Mills North,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,Downsview Central,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,Downsview Northwest,0.000000,0.000000,0.000000,0.000000,0.000000,0.2,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,Downsview West,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.166667,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,"Downsview,North Park,Upwood Park",0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.333333,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,"Emery,Humberlea",0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,"Fairview,Henry Farm,Oriole",0.000000,0.000000,0.015625,0.000000,0.031250,0.0,0.031250,0.015625,0.000000,...,0.000000,0.015625,0.000000,0.015625,0.015625,0.015625,0.000000,0.000000,0.015625,0.031250
11,"Flemingdon Park,Don Mills South",0.000000,0.000000,0.000000,0.000000,0.045455,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,Glencairn,0.000000,0.000000,0.000000,0.000000,0.200000,0.0,0.000000,0.000000,0.000000,...,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,Hillcrest Village,0.000000,0.000000,0.000000,0.000000,0.000000,0.2,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,Humber Summit,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,"Lawrence Heights,Lawrence Manor",0.083333,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.083333,0.000000,0.083333
16,"Newtonbrook,Willowdale",0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,"Northwood Park,York University",0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.166667,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,Parkwoods,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,"Silver Hills,York Mills",0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,Victoria Village,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,Willowdale South,0.000000,0.000000,0.000000,0.027027,0.000000,0.0,0.000000,0.000000,0.000000,...,0.054054,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.027027,0.000000,0.000000
22,Willowdale West,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
23,York Mills West,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.333333,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

#### Let's print each neighborhood along with the top 5 most common venues

In [483]:
num_top_venues = 5

for hood in NY_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = NY_grouped[NY_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Bathurst Manor,Downsview North,Wilson Heights----
                  venue  freq
0           Coffee Shop  0.11
1      Sushi Restaurant  0.06
2   Fried Chicken Joint  0.06
3  Fast Food Restaurant  0.06
4        Sandwich Place  0.06


----Bayview Village----
                 venue  freq
0   Chinese Restaurant  0.25
1                 Bank  0.25
2                 Café  0.25
3  Japanese Restaurant  0.25
4    Accessories Store  0.00


----Bedford Park,Lawrence Manor East----
                venue  freq
0  Italian Restaurant  0.09
1         Coffee Shop  0.09
2    Greek Restaurant  0.04
3             Butcher  0.04
4       Grocery Store  0.04


----CFB Toronto,Downsview East----
                   venue  freq
0             Playground  0.33
1                   Park  0.33
2                Airport  0.33
3  Vietnamese Restaurant  0.00
4              Juice Bar  0.00


----Don Mills North----
                  venue  freq
0  Gym / Fitness Center  0.25
1  Caribbean Restaurant  0.25
2                  Café  0.25
3   Japanese Restaurant  0.25
4        Massage Studio  0.00


----Downsview Central----
               venue  freq
0       Home Service  0.25
1     Baseball Field  0.25
2         Food Truck  0.25
3   Business Service  0.25
4  Accessories Store  0.00


----Downsview Northwest----
                  venue  freq
0         Grocery Store   0.2
1    Athletics & Sports   0.2
2        Discount Store   0.2
3          Liquor Store   0.2
4  Gym / Fitness Center   0.2


----Downsview West----
           venue  freq
0  Grocery Store  0.33
1          Hotel  0.17
2           Park  0.17
3           Bank  0.17
4  Shopping Mall  0.17


----Downsview,North Park,Upwood Park----
                        venue  freq
0  Construction & Landscaping  0.33
1                      Bakery  0.33
2                        Park  0.33
3                      Lounge  0.00
4                 Pizza Place  0.00


----Emery,Humberlea----
               venue  freq
0     Baseball Field   1.0
1  Accessories Store   0.0
2       Liquor Store   0.0
3          Piano Bar   0.0
4           Pharmacy   0.0


----Fairview,Henry Farm,Oriole----
                  venue  freq
0        Clothing Store  0.16
1  Fast Food Restaurant  0.08
2           Coffee Shop  0.08
3         Women's Store  0.03
4           Bus Station  0.03


----Flemingdon Park,Don Mills South----
                 venue  freq
0                  Gym  0.09
1        Grocery Store  0.09
2          Coffee Shop  0.09
3           Beer Store  0.09
4  Sporting Goods Shop  0.05


----Glencairn----
                 venue  freq
0     Asian Restaurant   0.2
1                  Pub   0.2
2                 Park   0.2
3     Sushi Restaurant   0.2
4  Japanese Restaurant   0.2


----Hillcrest Village----
                      venue  freq
0                      Pool   0.2
1               Golf Course   0.2
2        Athletics & Sports   0.2
3  Mediterranean Restaurant   0.2
4                   Dog Run   0.2


----Humber Summit----
                 venue  freq
0  Empanada Restaurant   1.0
1    Accessories Store   0.0
2            Piano Bar   0.0
3             Pharmacy   0.0
4            Pet Store   0.0


----Lawrence Heights,Lawrence Manor----
                    venue  freq
0  Furniture / Home Store  0.25
1       Accessories Store  0.08
2                Boutique  0.08
3   Vietnamese Restaurant  0.08
4      Miscellaneous Shop  0.08


----Newtonbrook,Willowdale----
               venue  freq
0          Piano Bar   1.0
1  Accessories Store   0.0
2         Playground   0.0
3           Pharmacy   0.0
4          Pet Store   0.0


----Northwood Park,York University----
                    venue  freq
0             Coffee Shop  0.17
1  Furniture / Home Store  0.17
2      Miscellaneous Shop  0.17
3          Massage Studio  0.17
4                     Bar  0.17


----Parkwoods----
                  venue  freq
0                  Park  0.33
1     Food & Drink Shop  0.33
2  Fast Food Restaurant  0.33
3     Accessories Store  0.00
4                Lounge  0.00


----Silver Hills,York Mills----
               venue  freq
0          Cafeteria   1.0
1  Accessories Store   0.0
2             Lounge   0.0
3          Piano Bar   0.0
4           Pharmacy   0.0


----Victoria Village----
                   venue  freq
0            Coffee Shop  0.25
1           Hockey Arena  0.25
2  Portuguese Restaurant  0.25
3           Intersection  0.25
4          Luggage Store  0.00


----Willowdale South----
                 venue  freq
0          Coffee Shop  0.08
1     Ramen Restaurant  0.08
2  Japanese Restaurant  0.05
3                 Café  0.05
4           Restaurant  0.05


----Willowdale West----
            venue  freq
0     Coffee Shop   0.2
1     Pizza Place   0.2
2  Discount Store   0.2
3        Pharmacy   0.2
4   Grocery Store   0.2


----York Mills West----
               venue  freq
0  Convenience Store  0.33
1               Park  0.33
2               Bank  0.33
3  Accessories Store  0.00
4             Lounge  0.00

### Put the data in a Pandas Dataframe

First, let's write a function to sort the venues in descending order.

In [770]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [771]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = NY_grouped['Neighborhood']

for ind in np.arange(NY_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(NY_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Bathurst Manor,Downsview North,Wilson Heights",Coffee Shop,Pharmacy,Shopping Mall,Frozen Yogurt Shop,Fast Food Restaurant,Diner,Deli / Bodega,Middle Eastern Restaurant,Pizza Place,Bridal Shop
1,Bayview Village,Japanese Restaurant,Chinese Restaurant,Café,Bank,Electronics Store,Convenience Store,Cosmetics Shop,Deli / Bodega,Department Store,Dessert Shop
2,"Bedford Park,Lawrence Manor East",Italian Restaurant,Coffee Shop,Greek Restaurant,Sandwich Place,Fast Food Restaurant,Grocery Store,Indian Restaurant,Japanese Restaurant,Juice Bar,Liquor Store
3,"CFB Toronto,Downsview East",Airport,Playground,Park,Women's Store,Discount Store,Comfort Food Restaurant,Construction & Landscaping,Convenience Store,Cosmetics Shop,Deli / Bodega
4,Don Mills North,Caribbean Restaurant,Gym / Fitness Center,Café,Japanese Restaurant,Women's Store,Dog Run,Construction & Landscaping,Convenience Store,Cosmetics Shop,Deli / Bodega

### Cluster Neighborhoods

Run *k*-means to cluster the neighborhood into 5 clusters.

In [772]:
# set number of clusters
kclusters = 5

NY_grouped_clustering = NY_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(NY_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1], dtype=int32)

In [487]:
# add clustering labels


neighborhoods_venues_sorted.insert(0, 'Cluster Labelthree', kmeans.labels_)
NY_grouped_merged =NY

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
NY_grouped_merged = NY_grouped_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

NY_grouped_merged.head() # check the last columns!

,Postalcode,Borough,Neighborhood,Latitude,Longitude,Cluster Labelthree,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,M2H,North York,Hillcrest Village,43.803762,-79.363452,0,Golf Course,Dog Run,Pool,Athletics & Sports,Mediterranean Restaurant,Construction & Landscaping,Convenience Store,Cosmetics Shop,Deli / Bodega,Department Store
1,M2J,North York,"Fairview,Henry Farm,Oriole",43.778517,-79.346556,0,Clothing Store,Fast Food Restaurant,Coffee Shop,Asian Restaurant,Food Court,Cosmetics Shop,Japanese Restaurant,Bus Station,Bakery,Women's Store
2,M2K,North York,Bayview Village,43.786947,-79.385975,0,Japanese Restaurant,Chinese Restaurant,Café,Bank,Electronics Store,Convenience Store,Cosmetics Shop,Deli / Bodega,Department Store,Dessert Shop
3,M2L,North York,"Silver Hills,York Mills",43.757490,-79.374714,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M2M,North York,"Newtonbrook,Willowdale",43.789053,-79.408493,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Examine Clusters

In [773]:
#CLuster 1
NY_grouped_merged.loc[NY_grouped_merged['Cluster Labelthree'] == 0, NY_grouped_merged.columns[[1] + list(range(5, NY_grouped_merged.shape[1]))]]

,Borough,Cluster Labelthree,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,North York,0,Golf Course,Dog Run,Pool,Athletics & Sports,Mediterranean Restaurant,Construction & Landscaping,Convenience Store,Cosmetics Shop,Deli / Bodega,Department Store
1,North York,0,Clothing Store,Fast Food Restaurant,Coffee Shop,Asian Restaurant,Food Court,Cosmetics Shop,Japanese Restaurant,Bus Station,Bakery,Women's Store
2,North York,0,Japanese Restaurant,Chinese Restaurant,Café,Bank,Electronics Store,Convenience Store,Cosmetics Shop,Deli / Bodega,Department Store,Dessert Shop
5,North York,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,North York,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,North York,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,North York,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,North York,0,Caribbean Restaurant,Gym / Fitness Center,Café,Japanese Restaurant,Women's Store,Dog Run,Construction & Landscaping,Convenience Store,Cosmetics Shop,Deli / Bodega
10,North York,0,Beer Store,Coffee Shop,Grocery Store,Gym,Italian Restaurant,Japanese Restaurant,Restaurant,Dim Sum Restaurant,Shopping Mall,Sporting Goods Shop
11,North York,0,Coffee Shop,Pharmacy,Shopping Mall,Frozen Yogurt Shop,Fast Food Restaurant,Diner,Deli / Bodega,Middle Eastern Restaurant,Pizza Place,Bridal Shop
12,North York,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,North York,0,Airport,Playground,Park,Women's Store,Discount Store,Comfort Food Restaurant,Construction & Landscaping,Convenience Store,Cosmetics Shop,Deli / Bodega
14,North York,0,Grocery Store,Shopping Mall,Park,Bank,Hotel,Women's Store,Construction & Landscaping,Convenience Store,Cosmetics Shop,Deli / Bodega
15,North York,0,Home Service,Food Truck,Baseball Field,Business Service,Women's Store,Dog Run,Construction & Landscaping,Convenience Store,Cosmetics Shop,Deli / Bodega
16,North York,0,Grocery Store,Gym / Fitness Center,Athletics & Sports,Discount Store,Liquor Store,Women's Store,Dog Run,Construction & Landscaping,Convenience Store,Cosmetics Shop
17,North York,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,North York,0,Italian Restaurant,Coffee Shop,Greek Restaurant,Sandwich Place,Fast Food Restaurant,Grocery Store,Indian Restaurant,Japanese Restaurant,Juice Bar,Liquor Store
19,North York,0,Furniture / Home Store,Women's Store,Miscellaneous Shop,Boutique,Clothing Store,Coffee Shop,Event Space,Fraternity House,Accessories Store,Vietnamese Restaurant
20,North York,0,Japanese Restaurant,Park,Asian Restaurant,Pub,Sushi Restaurant,Women's Store,Comfort Food Restaurant,Construction & Landscaping,Convenience Store,Cosmetics Shop
21,North York,0,Construction & Landscaping,Park,Bakery,Women's Store,Electronics Store,Convenience Store,Cosmetics Shop,Deli / Bodega,Department Store,Dessert Shop

In [774]:
#CLuster 2
NY_grouped_merged.loc[NY_grouped_merged['Cluster Labelthree'] == 1, NY_grouped_merged.columns[[1] + list(range(5, NY_grouped_merged.shape[1]))]]

,Borough,Cluster Labelthree,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
23,North York,1,Baseball Field,Women's Store,Electronics Store,Comfort Food Restaurant,Construction & Landscaping,Convenience Store,Cosmetics Shop,Deli / Bodega,Department Store,Dessert Shop

In [775]:
#CLuster 3
NY_grouped_merged.loc[NY_grouped_merged['Cluster Labelthree'] == 2, NY_grouped_merged.columns[[1] + list(range(5, NY_grouped_merged.shape[1]))]]

,Borough,Cluster Labelthree,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
4,North York,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [776]:
#CLuster 4
NY_grouped_merged.loc[NY_grouped_merged['Cluster Labelthree'] == 3, NY_grouped_merged.columns[[1] + list(range(5, NY_grouped_merged.shape[1]))]]

,Borough,Cluster Labelthree,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
22,North York,3,Empanada Restaurant,Women's Store,Dog Run,Comfort Food Restaurant,Construction & Landscaping,Convenience Store,Cosmetics Shop,Deli / Bodega,Department Store,Dessert Shop

In [777]:
#CLuster 5
NY_grouped_merged.loc[NY_grouped_merged['Cluster Labelthree'] == 4, NY_grouped_merged.columns[[1] + list(range(5, NY_grouped_merged.shape[1]))]]

,Borough,Cluster Labelthree,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
3,North York,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## East York Analysis

In [493]:
EY = df4[df4['Borough'] == 'East York'].reset_index(drop=True)
EY.head()

  Postalcode    Borough                    Neighborhood   Latitude  Longitude
0        M4B  East York  Woodbine Gardens,Parkview Hill  43.706397 -79.309937
1        M4C  East York                Woodbine Heights  43.695344 -79.318389
2        M4G  East York                         Leaside  43.709060 -79.363452
3        M4H  East York                Thorncliffe Park  43.705369 -79.349372
4        M4J  East York                    East Toronto  43.685347 -79.338106

Let's explore the first neighborhood in our dataframe: get the n

In [496]:
EY.loc[0, 'Neighborhood']

'Woodbine Gardens,Parkview Hill'

In [497]:
neighborhood_latitude = EY.loc[0, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = EY.loc[0, 'Longitude'] # neighborhood longitude value

neighborhood_name = EY.loc[0, 'Neighborhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                               neighborhood_longitude))

Latitude and longitude values of Woodbine Gardens,Parkview Hill are 43.7063972, -79.309937.

Now, let's get the top 100 venues that are in Woodbine Gardens,Parkview Hill within a radius of 500 meters.

Let's create the GET request URL. Name your URL **url**.

In [498]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)
url

'https://api.foursquare.com/v2/venues/explore?&client_id=DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL&client_secret=G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP&v=20180605&ll=43.7063972,-79.309937&radius=500&limit=100'

Send the GET request and examine the resutls

In [499]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d3c67ad018cbb0039bf447d'},
 'response': {'suggestedFilters': {'header': 'Tap to show:',
   'filters': [{'name': 'Open now', 'key': 'openNow'}]},
  'headerLocation': "O'Connor - Parkview",
  'headerFullLocation': "O'Connor - Parkview, Toronto",
  'headerLocationGranularity': 'neighborhood',
  'totalResults': 12,
  'suggestedBounds': {'ne': {'lat': 43.7108972045, 'lng': -79.30372360313615},
   'sw': {'lat': 43.701897195499996, 'lng': -79.31615039686386}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b5a3842f964a52023b528e3',
       'name': 'Jawny Bakers',
       'location': {'address': "804 O'Connor Dr",
        'crossStreet': 'St Clair E',
        'lat': 43.705782646822,
        'lng': -79.31291304477831,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.705782646822,
          'lng': -79.31291304477831}],
        'distance': 249,
        'postalCode': 'M4B 2S9',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ["804 O'Connor Dr (St Clair E)",
         'Toronto ON M4B 2S9',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d155941735',
         'name': 'Gastropub',
         'pluralName': 'Gastropubs',
         'shortName': 'Gastropub',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/gastropub_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b5a3842f964a52023b528e3-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b7aa47ef964a520fa342fe3',
       'name': 'East York Gymnastics',
       'location': {'address': '6 Dohme Ave',
        'lat': 43.710654,
        'lng': -79.309279,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.710654,
          'lng': -79.309279}],
        'distance': 476,
        'postalCode': 'M4B 1Y8',
        'cc': 'CA',
        'city': 'East York',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['6 Dohme Ave', 'East York ON M4B 1Y8', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d175941735',
         'name': 'Gym / Fitness Center',
         'pluralName': 'Gyms or Fitness Centers',
         'shortName': 'Gym / Fitness',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/gym_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b7aa47ef964a520fa342fe3-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4dc172dab3dce8bc0cd4c6cc',
       'name': 'Shoppers Drug Mart',
       'location': {'address': "812 O'Connor Dr",
        'crossStreet': 'St. Clair Avenue E',
        'lat': 43.705891688821325,
        'lng': -79.31241024393087,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.705891688821325,
          'lng': -79.31241024393087}],
        'distance': 206,
        'postalCode': 'M4B 2S9',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ["812 O'Connor Dr (St. Clair Avenue E)",
         'Toronto ON M4B 2S9',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d10f951735',
         'name': 'Pharmacy',
         'pluralName': 'Pharmacies',
         'shortName': 'Pharmacy',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/pharmacy_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4dc172dab3dce8bc0cd4c6cc-2'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4c784dcca86837042fe80c4d',
       'name': 'TD Canada Trust',
       'location': {'address': "801 O'Connor Drive",
        'lat': 43.705739883755946,
        'lng': -79.31227013468737,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.705739883755946,
          'lng': -79.31227013468737}],
        'distance': 201,
        'postalCode': 'M4B 2S7',
        'cc': 'CA',
        'city': 'East York',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ["801 O'Connor Drive",
         'East York ON M4B 2S7',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d10a951735',
         'name': 'Bank',
         'pluralName': 'Banks',
         'shortName': 'Bank',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/financial_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4c784dcca86837042fe80c4d-3'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4c2136677e85c9286827ba21',
       'name': 'Pizza Pizza',
       'location': {'address': "796 O'Connor Drive",
        'lat': 43.70515901620182,
        'lng': -79.31312955571528,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.70515901620182,
          'lng': -79.31312955571528}],
        'distance': 291,
        'postalCode': 'M4B 2S6',
        'cc': 'CA',
        'city': 'East York',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ["796 O'Connor Drive",
         'East York ON M4B 2S6',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1ca941735',
         'name': 'Pizza Place',
         'pluralName': 'Pizza Places',
         'shortName': 'Pizza',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/pizza_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4c2136677e85c9286827ba21-4'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bd705e07b1876b0f16b8d86',
       'name': "Harvey's",
       'location': {'address': "1100 O'Connor Dr.",
        'lat': 43.71072995920288,
        'lng': -79.30883762217763,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.71072995920288,
          'lng': -79.30883762217763}],
        'distance': 490,
        'postalCode': 'M4B 3L4',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ["1100 O'Connor Dr.",
         'Toronto ON M4B 3L4',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d16e941735',
         'name': 'Fast Food Restaurant',
         'pluralName': 'Fast Food Restaurants',
         'shortName': 'Fast Food',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/fastfood_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bd705e07b1876b0f16b8d86-5'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '50b63ac8e4b03158df08777b',
       'name': 'Nostalgia',
       'location': {'lat': 43.706832771917064,
        'lng': -79.31178314223835,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.706832771917064,
          'lng': -79.31178314223835}],
        'distance': 156,
        'cc': 'CA',
        'country': 'Canada',
        'formattedAddress': ['Canada']},
       'categories': [{'id': '4bf58dd8d48988d16d941735',
         'name': 'Café',
         'pluralName': 'Cafés',
         'shortName': 'Café',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-50b63ac8e4b03158df08777b-6'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4c615363832fa593c3bdf1d3',
       'name': 'East York Animal Clinic',
       'location': {'address': "805 O'Connor Drive",
        'crossStreet': 'St. Clair',
        'lat': 43.70592051370348,
        'lng': -79.3121958344716,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.70592051370348,
          'lng': -79.3121958344716}],
        'distance': 189,
        'postalCode': 'M4B 2S7',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ["805 O'Connor Drive (St. Clair)",
         'Toronto ON M4B 2S7',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d100951735',
         'name': 'Pet Store',
         'pluralName': 'Pet Stores',
         'shortName': 'Pet Store',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/pet_store_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4c615363832fa593c3bdf1d3-7'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4f9d43efe4b01da400bc29c5',
       'name': "St. Clair Ave E & O'Connor Dr",
       'location': {'lat': 43.70523283448301,
        'lng': -79.31327432821826,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.70523283448301,
          'lng': -79.31327432821826}],
        'distance': 298,
        'cc': 'CA',
        'neighborhood': "O'Connor - Parkview",
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['Toronto ON', 'Canada']},
       'categories': [{'id': '52f2ab2ebcbc57f1066b8b4c',
         'name': 'Intersection',
         'pluralName': 'Intersections',
         'shortName': 'Intersection',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/default_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4f9d43efe4b01da400bc29c5-8'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bccc53fcc8cd13a9b8bc1cf',
       'name': 'Venice Pizza',
       'location': {'address': '2636 St Claire Ave East',
        'crossStreet': "O'connor dr.",
        'lat': 43.70592051370348,
        'lng': -79.31395663414658,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.70592051370348,
          'lng': -79.31395663414658}],
        'distance': 327,
        'cc': 'CA',
        'city': "O'Connor - Parkview",
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ["2636 St Claire Ave East (O'connor dr.)",
         "O'Connor - Parkview ON",
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1ca941735',
         'name': 'Pizza Place',
         'pluralName': 'Pizza Places',
         'shortName': 'Pizza',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/pizza_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bccc53fcc8cd13a9b8bc1cf-9'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b7055c3f964a52086132de3',
       'name': "Harvey's",
       'location': {'address': '7 Curity Ave.',
        'crossStreet': 'in Home Depot',
        'lat': 43.70813627814792,
        'lng': -79.3141045886623,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.70813627814792,
          'lng': -79.3141045886623}],
        'distance': 387,
        'postalCode': 'M4B 3L8',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['7 Curity Ave. (in Home Depot)',
         'Toronto ON M4B 3L8',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d16e941735',
         'name': 'Fast Food Restaurant',
         'pluralName': 'Fast Food Restaurants',
         'shortName': 'Fast Food',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/fastfood_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b7055c3f964a52086132de3-10'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '55895716498eaf69c53e1042',
       'name': 'TKTO - Toronto Knife Throwing Organization',
       'location': {'address': '6 Curity Ave',
        'crossStreet': 'Cranfield Road',
        'lat': 43.7099660731501,
        'lng': -79.31341111891099,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.7099660731501,
          'lng': -79.31341111891099}],
        'distance': 485,
        'postalCode': 'M4B 1X2',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['6 Curity Ave (Cranfield Road)',
         'Toronto ON M4B 1X2',
         'Canada']},
       'categories': [{'id': '4f4528bc4b90abdf24c9de85',
         'name': 'Athletics & Sports',
         'pluralName': 'Athletics & Sports',
         'shortName': 'Athletics & Sports',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/sports_outdoors_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-55895716498eaf69c53e1042-11'}]}]}}

Let's borrow the **get_category_type** function from the Foursquare lab.

In [500]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [501]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

                   name            categories        lat        lng
0          Jawny Bakers             Gastropub  43.705783 -79.312913
1  East York Gymnastics  Gym / Fitness Center  43.710654 -79.309279
2    Shoppers Drug Mart              Pharmacy  43.705892 -79.312410
3       TD Canada Trust                  Bank  43.705740 -79.312270
4           Pizza Pizza           Pizza Place  43.705159 -79.313130

Let's determine how many venus are returned by Foursquare

In [502]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

12 venues were returned by Foursquare.

#### Let's create a function to repeat the same process to all the neighborhoods in EY

In [503]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

#### Now let's write the code to run the above function on each neighborhood and create a new dataframe called *EY venues*.

In [504]:

EY_venues = getNearbyVenues(names=EY['Neighborhood'],
                                   latitudes=EY['Latitude'],
                                   longitudes=EY['Longitude']
                                  )

Woodbine Gardens,Parkview Hill
Woodbine Heights
Leaside
Thorncliffe Park
East Toronto

#### Let's check the size of the resulting dataframe

In [505]:
print(EY_venues.shape)
EY_venues.head()

(75, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,"Woodbine Gardens,Parkview Hill",43.706397,-79.309937,Jawny Bakers,43.705783,-79.312913,Gastropub
1,"Woodbine Gardens,Parkview Hill",43.706397,-79.309937,East York Gymnastics,43.710654,-79.309279,Gym / Fitness Center
2,"Woodbine Gardens,Parkview Hill",43.706397,-79.309937,Shoppers Drug Mart,43.705892,-79.312410,Pharmacy
3,"Woodbine Gardens,Parkview Hill",43.706397,-79.309937,TD Canada Trust,43.705740,-79.312270,Bank
4,"Woodbine Gardens,Parkview Hill",43.706397,-79.309937,Pizza Pizza,43.705159,-79.313130,Pizza Place

Let's check how many venues were returned for each neighborhood

In [506]:
EY_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
East Toronto,4,4,4,4,4,4
Leaside,34,34,34,34,34,34
Thorncliffe Park,16,16,16,16,16,16
"Woodbine Gardens,Parkview Hill",12,12,12,12,12,12
Woodbine Heights,9,9,9,9,9,9

#### Let's find out how many unique categories can be curated from all the returned venues

In [507]:
print('There are {} uniques categories.'.format(len(EY_venues['Venue Category'].unique())))

There are 45 uniques categories.

#### Analyze Each Neighborhood

In [508]:
# one hot encoding
EY_onehot = pd.get_dummies(EY_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
EY_onehot['Neighborhood'] = EY_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [EY_onehot.columns[-1]] + list(EY_onehot.columns[:-1])
EY_onehot = EY_onehot[fixed_columns]

EY_onehot.head()

,Neighborhood,Asian Restaurant,Athletics & Sports,Bagel Shop,Bank,Beer Store,Bike Shop,Breakfast Spot,Brewery,Burger Joint,...,Shopping Mall,Skating Rink,Smoothie Shop,Sporting Goods Shop,Sports Bar,Supermarket,Sushi Restaurant,Video Store,Warehouse Store,Yoga Studio
0,"Woodbine Gardens,Parkview Hill",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"Woodbine Gardens,Parkview Hill",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"Woodbine Gardens,Parkview Hill",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"Woodbine Gardens,Parkview Hill",0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"Woodbine Gardens,Parkview Hill",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [509]:
EY_onehot.shape

(75, 46)

#### Next, let's group rows by neighborhood and by taking the mean of the frequency of occurrence of each category

In [510]:
EY_grouped= EY_onehot.groupby('Neighborhood').mean().reset_index()
EY_grouped

,Neighborhood,Asian Restaurant,Athletics & Sports,Bagel Shop,Bank,Beer Store,Bike Shop,Breakfast Spot,Brewery,Burger Joint,...,Shopping Mall,Skating Rink,Smoothie Shop,Sporting Goods Shop,Sports Bar,Supermarket,Sushi Restaurant,Video Store,Warehouse Store,Yoga Studio
0,East Toronto,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000
1,Leaside,0.000000,0.000000,0.029412,0.029412,0.029412,0.029412,0.029412,0.029412,0.058824,...,0.029412,0.000000,0.029412,0.088235,0.029412,0.029412,0.058824,0.000000,0.0000,0.0000
2,Thorncliffe Park,0.000000,0.000000,0.000000,0.062500,0.000000,0.000000,0.000000,0.000000,0.125000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.062500,0.000000,0.000000,0.0625,0.0625
3,"Woodbine Gardens,Parkview Hill",0.000000,0.083333,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000
4,Woodbine Heights,0.111111,0.000000,0.000000,0.000000,0.111111,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.111111,0.000000,0.000000,0.000000,0.000000,0.000000,0.111111,0.0000,0.0000

#### Let's print each neighborhood along with the top 5 most common venues

In [511]:
num_top_venues = 5

for hood in EY_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = EY_grouped[EY_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----East Toronto----
               venue  freq
0               Park  0.50
1        Pizza Place  0.25
2  Convenience Store  0.25
3   Asian Restaurant  0.00
4         Restaurant  0.00


----Leaside----
                    venue  freq
0             Coffee Shop  0.12
1     Sporting Goods Shop  0.09
2            Burger Joint  0.06
3  Furniture / Home Store  0.06
4        Sushi Restaurant  0.06


----Thorncliffe Park----
               venue  freq
0       Burger Joint  0.12
1  Indian Restaurant  0.12
2      Grocery Store  0.06
3        Coffee Shop  0.06
4    Warehouse Store  0.06


----Woodbine Gardens,Parkview Hill----
                  venue  freq
0  Fast Food Restaurant  0.17
1           Pizza Place  0.17
2  Gym / Fitness Center  0.08
3                  Bank  0.08
4    Athletics & Sports  0.08


----Woodbine Heights----
              venue  freq
0  Asian Restaurant  0.11
1    Cosmetics Shop  0.11
2       Video Store  0.11
3        Beer Store  0.11
4              Park  0.11

### Put the data in a Pandas Dataframe

First, let's write a function to sort the venues in descending order.

In [512]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [513]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = EY_grouped['Neighborhood']

for ind in np.arange(EY_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(EY_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,East Toronto,Park,Pizza Place,Convenience Store,Yoga Studio,Fast Food Restaurant,Electronics Store,Dessert Shop,Curling Ice,Cosmetics Shop,Coffee Shop
1,Leaside,Coffee Shop,Sporting Goods Shop,Sushi Restaurant,Furniture / Home Store,Burger Joint,Mexican Restaurant,Dessert Shop,Electronics Store,Clothing Store,Fish & Chips Shop
2,Thorncliffe Park,Burger Joint,Indian Restaurant,Yoga Studio,Pizza Place,Bank,Coffee Shop,Warehouse Store,Gym,Liquor Store,Park
3,"Woodbine Gardens,Parkview Hill",Pizza Place,Fast Food Restaurant,Athletics & Sports,Gastropub,Bank,Gym / Fitness Center,Intersection,Café,Pharmacy,Pet Store
4,Woodbine Heights,Asian Restaurant,Skating Rink,Curling Ice,Cosmetics Shop,Park,Pharmacy,Bus Stop,Video Store,Beer Store,Bike Shop

### Cluster Neighborhoods

Run *k*-means to cluster the neighborhood into 5 clusters.

In [514]:
# set number of clusters
kclusters = 5

EY_grouped_clustering = EY_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(EY_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([2, 3, 1, 4, 0], dtype=int32)

In [515]:
# add clustering labels


neighborhoods_venues_sorted.insert(0, 'Cluster Labelfour', kmeans.labels_)
EY_grouped_merged =EY

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
EY_grouped_merged = EY_grouped_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

EY_grouped_merged.head() # check the last columns!

,Postalcode,Borough,Neighborhood,Latitude,Longitude,Cluster Labelfour,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,M4B,East York,"Woodbine Gardens,Parkview Hill",43.706397,-79.309937,4,Pizza Place,Fast Food Restaurant,Athletics & Sports,Gastropub,Bank,Gym / Fitness Center,Intersection,Café,Pharmacy,Pet Store
1,M4C,East York,Woodbine Heights,43.695344,-79.318389,0,Asian Restaurant,Skating Rink,Curling Ice,Cosmetics Shop,Park,Pharmacy,Bus Stop,Video Store,Beer Store,Bike Shop
2,M4G,East York,Leaside,43.709060,-79.363452,3,Coffee Shop,Sporting Goods Shop,Sushi Restaurant,Furniture / Home Store,Burger Joint,Mexican Restaurant,Dessert Shop,Electronics Store,Clothing Store,Fish & Chips Shop
3,M4H,East York,Thorncliffe Park,43.705369,-79.349372,1,Burger Joint,Indian Restaurant,Yoga Studio,Pizza Place,Bank,Coffee Shop,Warehouse Store,Gym,Liquor Store,Park
4,M4J,East York,East Toronto,43.685347,-79.338106,2,Park,Pizza Place,Convenience Store,Yoga Studio,Fast Food Restaurant,Electronics Store,Dessert Shop,Curling Ice,Cosmetics Shop,Coffee Shop

#### Visualize the results

#### Examine Clusters

In [516]:
#CLuster 1
EY_grouped_merged.loc[EY_grouped_merged['Cluster Labelfour'] == 0, EY_grouped_merged.columns[[1] + list(range(5, EY_grouped_merged.shape[1]))]]

,Borough,Cluster Labelfour,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
1,East York,0,Asian Restaurant,Skating Rink,Curling Ice,Cosmetics Shop,Park,Pharmacy,Bus Stop,Video Store,Beer Store,Bike Shop

In [517]:
#CLuster 2
EY_grouped_merged.loc[EY_grouped_merged['Cluster Labelfour'] == 1, EY_grouped_merged.columns[[1] + list(range(5, EY_grouped_merged.shape[1]))]]

,Borough,Cluster Labelfour,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
3,East York,1,Burger Joint,Indian Restaurant,Yoga Studio,Pizza Place,Bank,Coffee Shop,Warehouse Store,Gym,Liquor Store,Park

In [518]:
#CLuster 3
EY_grouped_merged.loc[EY_grouped_merged['Cluster Labelfour'] == 2, EY_grouped_merged.columns[[1] + list(range(5, EY_grouped_merged.shape[1]))]]

,Borough,Cluster Labelfour,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
4,East York,2,Park,Pizza Place,Convenience Store,Yoga Studio,Fast Food Restaurant,Electronics Store,Dessert Shop,Curling Ice,Cosmetics Shop,Coffee Shop

In [519]:
#CLuster 4
EY_grouped_merged.loc[EY_grouped_merged['Cluster Labelfour'] == 3, EY_grouped_merged.columns[[1] + list(range(5, EY_grouped_merged.shape[1]))]]

,Borough,Cluster Labelfour,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
2,East York,3,Coffee Shop,Sporting Goods Shop,Sushi Restaurant,Furniture / Home Store,Burger Joint,Mexican Restaurant,Dessert Shop,Electronics Store,Clothing Store,Fish & Chips Shop

In [520]:
#CLuster 5
EY_grouped_merged.loc[EY_grouped_merged['Cluster Labelfour'] == 4, EY_grouped_merged.columns[[1] + list(range(5, EY_grouped_merged.shape[1]))]]

,Borough,Cluster Labelfour,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,East York,4,Pizza Place,Fast Food Restaurant,Athletics & Sports,Gastropub,Bank,Gym / Fitness Center,Intersection,Café,Pharmacy,Pet Store

## East Toronto Analysis

In [521]:
ET = df4[df4['Borough'] == 'East Toronto'].reset_index(drop=True)
ET.head()

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M4E,East Toronto,The Beaches,43.676357,-79.293031
1,M4K,East Toronto,"The Danforth West,Riverdale",43.679557,-79.352188
2,M4L,East Toronto,"The Beaches West,India Bazaar",43.668999,-79.315572
3,M4M,East Toronto,Studio District,43.659526,-79.340923
4,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern,43.662744,-79.321558

Let's explore the first neighborhood in our dataframe: get the n

In [524]:
ET.loc[0, 'Neighborhood']

'The Beaches'

In [525]:
neighborhood_latitude = ET.loc[0, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = ET.loc[0, 'Longitude'] # neighborhood longitude value

neighborhood_name = ET.loc[0, 'Neighborhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                               neighborhood_longitude))

Latitude and longitude values of The Beaches are 43.67635739999999, -79.2930312.

Now, let's get the top 100 venues that are in The beaches within a radius of 500 meters.

Let's create the GET request URL. Name your URL **url**.

In [526]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)
url

'https://api.foursquare.com/v2/venues/explore?&client_id=DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL&client_secret=G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP&v=20180605&ll=43.67635739999999,-79.2930312&radius=500&limit=100'

Send the GET request and examine the resutls

In [527]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d3c67b14651320025e9ebc1'},
 'response': {'headerLocation': 'The Beaches',
  'headerFullLocation': 'The Beaches, Toronto',
  'headerLocationGranularity': 'neighborhood',
  'totalResults': 4,
  'suggestedBounds': {'ne': {'lat': 43.680857404499996,
    'lng': -79.28682091449052},
   'sw': {'lat': 43.67185739549999, 'lng': -79.29924148550948}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bd461bc77b29c74a07d9282',
       'name': 'Glen Manor Ravine',
       'location': {'address': 'Glen Manor',
        'crossStreet': 'Queen St.',
        'lat': 43.67682094413784,
        'lng': -79.29394208780985,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.67682094413784,
          'lng': -79.29394208780985}],
        'distance': 89,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['Glen Manor (Queen St.)',
         'Toronto ON',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d159941735',
         'name': 'Trail',
         'pluralName': 'Trails',
         'shortName': 'Trail',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/hikingtrail_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bd461bc77b29c74a07d9282-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4ad4c062f964a52011f820e3',
       'name': 'The Big Carrot Natural Food Market',
       'location': {'address': '125 Southwood Dr',
        'lat': 43.678879,
        'lng': -79.297734,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.678879,
          'lng': -79.297734}],
        'distance': 471,
        'postalCode': 'M4E 0B8',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['125 Southwood Dr',
         'Toronto ON M4E 0B8',
         'Canada']},
       'categories': [{'id': '50aa9e744b90af0d42d5de0e',
         'name': 'Health Food Store',
         'pluralName': 'Health Food Stores',
         'shortName': 'Health Food Store',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/food_grocery_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []},
       'venuePage': {'id': '75150878'}},
      'referralId': 'e-0-4ad4c062f964a52011f820e3-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b8daea1f964a520480833e3',
       'name': 'Grover Pub and Grub',
       'location': {'address': '676 Kingston Rd.',
        'crossStreet': 'at Main St.',
        'lat': 43.679181434941015,
        'lng': -79.29721535878515,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.679181434941015,
          'lng': -79.29721535878515}],
        'distance': 460,
        'postalCode': 'M4E 1R4',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['676 Kingston Rd. (at Main St.)',
         'Toronto ON M4E 1R4',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d11b941735',
         'name': 'Pub',
         'pluralName': 'Pubs',
         'shortName': 'Pub',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b8daea1f964a520480833e3-2'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4df91c4bae60f95f82229ad5',
       'name': 'Upper Beaches',
       'location': {'lat': 43.68056321147582,
        'lng': -79.2928688743688,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.68056321147582,
          'lng': -79.2928688743688}],
        'distance': 468,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['Toronto ON', 'Canada']},
       'categories': [{'id': '4f2a25ac4b909258e854f55f',
         'name': 'Neighborhood',
         'pluralName': 'Neighborhoods',
         'shortName': 'Neighborhood',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/neighborhood_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4df91c4bae60f95f82229ad5-3'}]}]}}

Let's borrow the **get_category_type** function from the Foursquare lab.

In [528]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [529]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

                                 name         categories        lat        lng
0                   Glen Manor Ravine              Trail  43.676821 -79.293942
1  The Big Carrot Natural Food Market  Health Food Store  43.678879 -79.297734
2                 Grover Pub and Grub                Pub  43.679181 -79.297215
3                       Upper Beaches       Neighborhood  43.680563 -79.292869

Let's determine how many venus are returned by Foursquare

In [530]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

4 venues were returned by Foursquare.

#### Let's create a function to repeat the same process to all the neighborhoods in ET

In [531]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

#### Now let's write the code to run the above function on each neighborhood and create a new dataframe called *EY venues*.

In [532]:

ET_venues = getNearbyVenues(names=ET['Neighborhood'],
                                   latitudes=ET['Latitude'],
                                   longitudes=ET['Longitude']
                                  )

The Beaches
The Danforth West,Riverdale
The Beaches West,India Bazaar
Studio District
Business Reply Mail Processing Centre 969 Eastern

#### Let's check the size of the resulting dataframe

In [533]:
print(ET_venues.shape)
ET_venues.head()

(124, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,The Beaches,43.676357,-79.293031,Glen Manor Ravine,43.676821,-79.293942,Trail
1,The Beaches,43.676357,-79.293031,The Big Carrot Natural Food Market,43.678879,-79.297734,Health Food Store
2,The Beaches,43.676357,-79.293031,Grover Pub and Grub,43.679181,-79.297215,Pub
3,The Beaches,43.676357,-79.293031,Upper Beaches,43.680563,-79.292869,Neighborhood
4,"The Danforth West,Riverdale",43.679557,-79.352188,Pantheon,43.677621,-79.351434,Greek Restaurant

Let's check how many venues were returned for each neighborhood

In [534]:
ET_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
Business Reply Mail Processing Centre 969 Eastern,18,18,18,18,18,18
Studio District,41,41,41,41,41,41
The Beaches,4,4,4,4,4,4
"The Beaches West,India Bazaar",19,19,19,19,19,19
"The Danforth West,Riverdale",42,42,42,42,42,42

#### Let's find out how many unique categories can be curated from all the returned venues

In [535]:
print('There are {} uniques categories.'.format(len(EY_venues['Venue Category'].unique())))

There are 45 uniques categories.

#### Analyze Each Neighborhood

In [536]:
# one hot encoding
ET_onehot = pd.get_dummies(ET_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
ET_onehot['Neighborhood'] = ET_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [ET_onehot.columns[-1]] + list(ET_onehot.columns[:-1])
ET_onehot = ET_onehot[fixed_columns]

ET_onehot.head()

,Yoga Studio,American Restaurant,Auto Workshop,Bakery,Bank,Bar,Board Shop,Bookstore,Brewery,Bubble Tea Shop,...,Skate Park,Smoke Shop,Spa,Sports Bar,Stationery Store,Steakhouse,Sushi Restaurant,Thai Restaurant,Thrift / Vintage Store,Trail
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [537]:
ET_onehot.shape

(124, 69)

#### Next, let's group rows by neighborhood and by taking the mean of the frequency of occurrence of each category

In [538]:
ET_grouped= ET_onehot.groupby('Neighborhood').mean().reset_index()
ET_grouped

,Neighborhood,Yoga Studio,American Restaurant,Auto Workshop,Bakery,Bank,Bar,Board Shop,Bookstore,Brewery,...,Skate Park,Smoke Shop,Spa,Sports Bar,Stationery Store,Steakhouse,Sushi Restaurant,Thai Restaurant,Thrift / Vintage Store,Trail
0,Business Reply Mail Processing Centre 969 Eastern,0.055556,0.00000,0.055556,0.00000,0.00000,0.00000,0.000000,0.00000,0.055556,...,0.055556,0.055556,0.055556,0.00000,0.00000,0.000000,0.000000,0.00000,0.00000,0.00000
1,Studio District,0.024390,0.04878,0.000000,0.04878,0.02439,0.02439,0.000000,0.02439,0.024390,...,0.000000,0.000000,0.000000,0.00000,0.02439,0.000000,0.000000,0.02439,0.02439,0.00000
2,The Beaches,0.000000,0.00000,0.000000,0.00000,0.00000,0.00000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.00000,0.00000,0.25000
3,"The Beaches West,India Bazaar",0.000000,0.00000,0.000000,0.00000,0.00000,0.00000,0.052632,0.00000,0.052632,...,0.000000,0.000000,0.000000,0.00000,0.00000,0.052632,0.052632,0.00000,0.00000,0.00000
4,"The Danforth West,Riverdale",0.023810,0.02381,0.000000,0.02381,0.00000,0.00000,0.000000,0.02381,0.023810,...,0.000000,0.000000,0.023810,0.02381,0.00000,0.000000,0.000000,0.00000,0.00000,0.02381

#### Let's print each neighborhood along with the top 5 most common venues

In [539]:
num_top_venues = 5

for hood in ET_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = ET_grouped[ET_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Business Reply Mail Processing Centre 969 Eastern----
                venue  freq
0  Light Rail Station  0.11
1         Yoga Studio  0.06
2             Butcher  0.06
3       Garden Center  0.06
4              Garden  0.06


----Studio District----
                 venue  freq
0                 Café  0.10
1          Coffee Shop  0.07
2            Gastropub  0.05
3               Bakery  0.05
4  American Restaurant  0.05


----The Beaches----
                       venue  freq
0                      Trail  0.25
1                        Pub  0.25
2          Health Food Store  0.25
3         Italian Restaurant  0.00
4  Middle Eastern Restaurant  0.00


----The Beaches West,India Bazaar----
                venue  freq
0         Pizza Place  0.11
1                 Pub  0.05
2      Sandwich Place  0.05
3      Ice Cream Shop  0.05
4  Italian Restaurant  0.05


----The Danforth West,Riverdale----
                    venue  freq
0        Greek Restaurant  0.21
1             Coffee Shop  0.10
2          Ice Cream Shop  0.07
3      Italian Restaurant  0.07
4  Furniture / Home Store  0.05

### Put the data in a Pandas Dataframe

First, let's write a function to sort the venues in descending order.

In [540]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [541]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = ET_grouped['Neighborhood']

for ind in np.arange(ET.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(ET_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Business Reply Mail Processing Centre 969 Eastern,Light Rail Station,Garden Center,Pizza Place,Auto Workshop,Brewery,Burrito Place,Butcher,Comic Shop,Farmers Market,Fast Food Restaurant
1,Studio District,Café,Coffee Shop,Gastropub,American Restaurant,Bakery,Italian Restaurant,Cheese Shop,Diner,Latin American Restaurant,Thrift / Vintage Store
2,The Beaches,Trail,Pub,Health Food Store,Coworking Space,Coffee Shop,Comfort Food Restaurant,Comic Shop,Convenience Store,Cosmetics Shop,Dessert Shop
3,"The Beaches West,India Bazaar",Pizza Place,Liquor Store,Pub,Fish & Chips Shop,Gym,Ice Cream Shop,Italian Restaurant,Burrito Place,Burger Joint,Movie Theater
4,"The Danforth West,Riverdale",Greek Restaurant,Coffee Shop,Italian Restaurant,Ice Cream Shop,Furniture / Home Store,Trail,Diner,Indian Restaurant,Grocery Store,Fruit & Vegetable Store

### Cluster Neighborhoods

Run *k*-means to cluster the neighborhood into 5 clusters.

In [542]:
# set number of clusters
kclusters = 5

ET_grouped_clustering = ET_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(ET_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([3, 4, 1, 2, 0], dtype=int32)

In [543]:
# add clustering labels


neighborhoods_venues_sorted.insert(0, 'Cluster Labelfive', kmeans.labels_)
ET_grouped_merged =ET

# merge et grouped with et to add latitude/longitude for each neighborhood
ET_grouped_merged = ET_grouped_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

ET_grouped_merged.head() # check the last columns!

,Postalcode,Borough,Neighborhood,Latitude,Longitude,Cluster Labelfive,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,M4E,East Toronto,The Beaches,43.676357,-79.293031,1,Trail,Pub,Health Food Store,Coworking Space,Coffee Shop,Comfort Food Restaurant,Comic Shop,Convenience Store,Cosmetics Shop,Dessert Shop
1,M4K,East Toronto,"The Danforth West,Riverdale",43.679557,-79.352188,0,Greek Restaurant,Coffee Shop,Italian Restaurant,Ice Cream Shop,Furniture / Home Store,Trail,Diner,Indian Restaurant,Grocery Store,Fruit & Vegetable Store
2,M4L,East Toronto,"The Beaches West,India Bazaar",43.668999,-79.315572,2,Pizza Place,Liquor Store,Pub,Fish & Chips Shop,Gym,Ice Cream Shop,Italian Restaurant,Burrito Place,Burger Joint,Movie Theater
3,M4M,East Toronto,Studio District,43.659526,-79.340923,4,Café,Coffee Shop,Gastropub,American Restaurant,Bakery,Italian Restaurant,Cheese Shop,Diner,Latin American Restaurant,Thrift / Vintage Store
4,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern,43.662744,-79.321558,3,Light Rail Station,Garden Center,Pizza Place,Auto Workshop,Brewery,Burrito Place,Butcher,Comic Shop,Farmers Market,Fast Food Restaurant

#### Visualize the results

#### Examine Clusters

In [544]:
#CLuster 1
ET_grouped_merged.loc[ET_grouped_merged['Cluster Labelfive'] == 0, ET_grouped_merged.columns[[1] + list(range(5, ET_grouped_merged.shape[1]))]]

,Borough,Cluster Labelfive,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
1,East Toronto,0,Greek Restaurant,Coffee Shop,Italian Restaurant,Ice Cream Shop,Furniture / Home Store,Trail,Diner,Indian Restaurant,Grocery Store,Fruit & Vegetable Store

In [545]:
#CLuster 2
ET_grouped_merged.loc[ET_grouped_merged['Cluster Labelfive'] == 1, ET_grouped_merged.columns[[1] + list(range(5, ET_grouped_merged.shape[1]))]]

,Borough,Cluster Labelfive,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,East Toronto,1,Trail,Pub,Health Food Store,Coworking Space,Coffee Shop,Comfort Food Restaurant,Comic Shop,Convenience Store,Cosmetics Shop,Dessert Shop

In [546]:
#CLuster 3
EY_grouped_merged.loc[EY_grouped_merged['Cluster Labelfour'] == 2, EY_grouped_merged.columns[[1] + list(range(5, EY_grouped_merged.shape[1]))]]

,Borough,Cluster Labelfour,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
4,East York,2,Park,Pizza Place,Convenience Store,Yoga Studio,Fast Food Restaurant,Electronics Store,Dessert Shop,Curling Ice,Cosmetics Shop,Coffee Shop

In [547]:
#CLuster 4
ET_grouped_merged.loc[ET_grouped_merged['Cluster Labelfive'] == 3, ET_grouped_merged.columns[[1] + list(range(5, ET_grouped_merged.shape[1]))]]

,Borough,Cluster Labelfive,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
4,East Toronto,3,Light Rail Station,Garden Center,Pizza Place,Auto Workshop,Brewery,Burrito Place,Butcher,Comic Shop,Farmers Market,Fast Food Restaurant

In [548]:
#CLuster 5
ET_grouped_merged.loc[ET_grouped_merged['Cluster Labelfive'] == 5, ET_grouped_merged.columns[[1] + list(range(5, ET_grouped_merged.shape[1]))]]

Empty DataFrame
Columns: [Borough, Cluster Labelfive, 1st Most Common Venue, 2nd Most Common Venue, 3rd Most Common Venue, 4th Most Common Venue, 5th Most Common Venue, 6th Most Common Venue, 7th Most Common Venue, 8th Most Common Venue, 9th Most Common Venue, 10th Most Common Venue]
Index: []

## West Toronto Analysis

In [610]:
WT = df4[df4['Borough'] == 'West Toronto'].reset_index(drop=True)
WT.head()

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M6H,West Toronto,"Dovercourt Village,Dufferin",43.669005,-79.442259
1,M6J,West Toronto,"Little Portugal,Trinity",43.647927,-79.419750
2,M6K,West Toronto,"Brockton,Exhibition Place,Parkdale Village",43.636847,-79.428191
3,M6P,West Toronto,"High Park,The Junction South",43.661608,-79.464763
4,M6R,West Toronto,"Parkdale,Roncesvalles",43.648960,-79.456325

Let's explore the first neighborhood in our dataframe: get the n

In [615]:
WT.loc[0, 'Neighborhood']

'Dovercourt Village,Dufferin'

In [616]:
neighborhood_latitude = WT.loc[0, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = WT.loc[0, 'Longitude'] # neighborhood longitude value

neighborhood_name = WT.loc[0, 'Neighborhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                               neighborhood_longitude))

Latitude and longitude values of Dovercourt Village,Dufferin are 43.66900510000001, -79.4422593.

Now, let's get the top 100 venues that are in 'Dovercourt Village,Dufferin' within a radius of 500 meters.

Let's create the GET request URL. Name your URL **url**.

In [617]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)
url

'https://api.foursquare.com/v2/venues/explore?&client_id=DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL&client_secret=G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP&v=20180605&ll=43.66900510000001,-79.4422593&radius=500&limit=100'

Send the GET request and examine the resutls

In [618]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d3c6bc4db1d810039b4ca51'},
 'response': {'suggestedFilters': {'header': 'Tap to show:',
   'filters': [{'name': 'Open now', 'key': 'openNow'}]},
  'headerLocation': 'Davenport',
  'headerFullLocation': 'Davenport, Toronto',
  'headerLocationGranularity': 'neighborhood',
  'totalResults': 18,
  'suggestedBounds': {'ne': {'lat': 43.67350510450001,
    'lng': -79.43604977526607},
   'sw': {'lat': 43.664505095500004, 'lng': -79.44846882473394}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '5753753b498eeb535c53aed5',
       'name': 'The Greater Good Bar',
       'location': {'address': '229 Geary St',
        'crossStreet': 'at Dufferin St',
        'lat': 43.669409,
        'lng': -79.439267,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.669409,
          'lng': -79.439267}],
        'distance': 245,
        'postalCode': 'M6H 2C1',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['229 Geary St (at Dufferin St)',
         'Toronto ON M6H 2C1',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d116941735',
         'name': 'Bar',
         'pluralName': 'Bars',
         'shortName': 'Bar',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-5753753b498eeb535c53aed5-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '5a5659ab17556229a036b74a',
       'name': 'Parallel',
       'location': {'address': '217 Geary Ave.',
        'lat': 43.66951635632503,
        'lng': -79.43872770646192,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66951635632503,
          'lng': -79.43872770646192}],
        'distance': 290,
        'postalCode': 'M6H 2C1',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['217 Geary Ave.',
         'Toronto ON M6H 2C1',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d115941735',
         'name': 'Middle Eastern Restaurant',
         'pluralName': 'Middle Eastern Restaurants',
         'shortName': 'Middle Eastern',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/middleeastern_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-5a5659ab17556229a036b74a-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bdf2e330ee3a593143c33b0',
       'name': 'Happy Bakery & Pastries',
       'location': {'address': '1245 Dupont St',
        'crossStreet': 'in Galleria Mall',
        'lat': 43.66705039063128,
        'lng': -79.44179124412831,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66705039063128,
          'lng': -79.44179124412831}],
        'distance': 220,
        'postalCode': 'M6H 3A6',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['1245 Dupont St (in Galleria Mall)',
         'Toronto ON M6H 3A6',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d16a941735',
         'name': 'Bakery',
         'pluralName': 'Bakeries',
         'shortName': 'Bakery',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/bakery_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bdf2e330ee3a593143c33b0-2'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '54468744498ed0b9299a6abe',
       'name': 'Planet Fitness Toronto Galleria',
       'location': {'address': '1245 Dupont Street',
        'crossStreet': 'Dufferin St. & Dupont St',
        'lat': 43.66758797288865,
        'lng': -79.44257365441428,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66758797288865,
          'lng': -79.44257365441428}],
        'distance': 159,
        'postalCode': 'M6H 2A6',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['1245 Dupont Street (Dufferin St. & Dupont St)',
         'Toronto ON M6H 2A6',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d175941735',
         'name': 'Gym / Fitness Center',
         'pluralName': 'Gyms or Fitness Centers',
         'shortName': 'Gym / Fitness',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/gym_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-54468744498ed0b9299a6abe-3'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4c717617d97fa143dcf4f8ca',
       'name': 'FreshCo',
       'location': {'address': '1245 Dupont St.',
        'crossStreet': 'at Dufferin St.',
        'lat': 43.66791838591585,
        'lng': -79.44075425394298,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66791838591585,
          'lng': -79.44075425394298}],
        'distance': 171,
        'postalCode': 'M6H 2A6',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['1245 Dupont St. (at Dufferin St.)',
         'Toronto ON M6H 2A6',
         'Canada']},
       'categories': [{'id': '52f2ab2ebcbc57f1066b8b46',
         'name': 'Supermarket',
         'pluralName': 'Supermarkets',
         'shortName': 'Supermarket',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/food_grocery_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4c717617d97fa143dcf4f8ca-4'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '568333d5498e400ae0f1a732',
       'name': 'Blood Brothers Brewing',
       'location': {'address': '165 Geary Ave',
        'crossStreet': 'at Barlett Ave N',
        'lat': 43.66994369492681,
        'lng': -79.43653285503387,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66994369492681,
          'lng': -79.43653285503387}],
        'distance': 472,
        'postalCode': 'M6H 2B8',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['165 Geary Ave (at Barlett Ave N)',
         'Toronto ON M6H 2B8',
         'Canada']},
       'categories': [{'id': '50327c8591d4c4b30a586d5d',
         'name': 'Brewery',
         'pluralName': 'Breweries',
         'shortName': 'Brewery',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/brewery_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-568333d5498e400ae0f1a732-5'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4c3362df452620a1e87d230f',
       'name': 'Nova Era Bakery',
       'location': {'address': '200 Geary Ave',
        'crossStreet': 'btwn Dufferin St. & Dovercourt Rd.',
        'lat': 43.66988647609785,
        'lng': -79.43758190821525,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66988647609785,
          'lng': -79.43758190821525}],
        'distance': 389,
        'postalCode': 'M6H 2B9',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['200 Geary Ave (btwn Dufferin St. & Dovercourt Rd.)',
         'Toronto ON M6H 2B9',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d16a941735',
         'name': 'Bakery',
         'pluralName': 'Bakeries',
         'shortName': 'Bakery',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/bakery_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4c3362df452620a1e87d230f-6'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b52325ef964a5201b6f27e3',
       'name': 'Rehearsal Factory',
       'location': {'address': '330 Geary Ave.',
        'crossStreet': 'at Lightbourn Ave.',
        'lat': 43.66887675155326,
        'lng': -79.44360330056674,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66887675155326,
          'lng': -79.44360330056674}],
        'distance': 109,
        'postalCode': 'M6H 2C7',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['330 Geary Ave. (at Lightbourn Ave.)',
         'Toronto ON M6H 2C7',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1e5931735',
         'name': 'Music Venue',
         'pluralName': 'Music Venues',
         'shortName': 'Music Venue',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/arts_entertainment/musicvenue_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b52325ef964a5201b6f27e3-7'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4fc67d32e4b0b0e32cca5b24',
       'name': 'The Sovereign',
       'location': {'address': '1359 Davenport Road',
        'lat': 43.673115708192206,
        'lng': -79.44026498681781,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.673115708192206,
          'lng': -79.44026498681781}],
        'distance': 484,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['1359 Davenport Road', 'Toronto ON', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d16d941735',
         'name': 'Café',
         'pluralName': 'Cafés',
         'shortName': 'Café',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4fc67d32e4b0b0e32cca5b24-8'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bb4b34b8786ef3bc7866533',
       'name': 'Rexall',
       'location': {'address': '1245 Dupont St',
        'crossStreet': 'btwn Dufferin & Emerson',
        'lat': 43.66802049335871,
        'lng': -79.44087550054661,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66802049335871,
          'lng': -79.44087550054661}],
        'distance': 156,
        'postalCode': 'M6H 2A6',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['1245 Dupont St (btwn Dufferin & Emerson)',
         'Toronto ON M6H 2A6',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d10f951735',
         'name': 'Pharmacy',
         'pluralName': 'Pharmacies',
         'shortName': 'Pharmacy',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/pharmacy_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bb4b34b8786ef3bc7866533-9'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4ca27c371ee76dcbb919f1dd',
       'name': 'Dollarama',
       'location': {'address': '800 Lansdowne Ave.',
        'lat': 43.66572087835352,
        'lng': -79.44613637147687,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66572087835352,
          'lng': -79.44613637147687}],
        'distance': 480,
        'postalCode': 'M6H 4K3',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['800 Lansdowne Ave.',
         'Toronto ON M6H 4K3',
         'Canada']},
       'categories': [{'id': '52dea92d3cf9994f4e043dbb',
         'name': 'Discount Store',
         'pluralName': 'Discount Stores',
         'shortName': 'Discount Store',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/discountstore_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4ca27c371ee76dcbb919f1dd-10'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b157d62f964a5209bad23e3',
       'name': 'TD Canada Trust',
       'location': {'address': '1245 Dupont St',
        'crossStreet': 'at Dufferin St',
        'lat': 43.6679341,
        'lng': -79.4416984,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.6679341,
          'lng': -79.4416984}],
        'distance': 127,
        'postalCode': 'M6H 2A6',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['1245 Dupont St (at Dufferin St)',
         'Toronto ON M6H 2A6',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d10a951735',
         'name': 'Bank',
         'pluralName': 'Banks',
         'shortName': 'Bank',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/financial_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b157d62f964a5209bad23e3-11'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '596ee4bc419a9e73cd9b7ab7',
       'name': 'Shoppers Drug Mart',
       'location': {'address': '1400 Dupont St',
        'crossStreet': 'Lansdowne Avenue',
        'lat': 43.666847182214646,
        'lng': -79.44687008857727,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.666847182214646,
          'lng': -79.44687008857727}],
        'distance': 442,
        'postalCode': 'M6H 2B2',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['1400 Dupont St (Lansdowne Avenue)',
         'Toronto ON M6H 2B2',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d10f951735',
         'name': 'Pharmacy',
         'pluralName': 'Pharmacies',
         'shortName': 'Pharmacy',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/pharmacy_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-596ee4bc419a9e73cd9b7ab7-12'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '597a14e63149b944da6ff998',
       'name': 'Food Basics',
       'location': {'address': '830 Lansdowne avenue',
        'crossStreet': 'Dupont and Lansdowne',
        'lat': 43.66683479434923,
        'lng': -79.446812421531,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66683479434923,
          'lng': -79.446812421531}],
        'distance': 439,
        'postalCode': 'M6H 0C3',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['830 Lansdowne avenue (Dupont and Lansdowne)',
         'Toronto ON M6H 0C3',
         'Canada']},
       'categories': [{'id': '52f2ab2ebcbc57f1066b8b46',
         'name': 'Supermarket',
         'pluralName': 'Supermarkets',
         'shortName': 'Supermarket',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/food_grocery_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-597a14e63149b944da6ff998-13'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4c51ca66b6dabe9a06ef5112',
       'name': 'Wallace Emerson Park',
       'location': {'address': '1260 Dufferin St',
        'lat': 43.66693250395496,
        'lng': -79.4394486237563,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66693250395496,
          'lng': -79.4394486237563}],
        'distance': 323,
        'postalCode': 'M6H 4C3',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['1260 Dufferin St',
         'Toronto ON M6H 4C3',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d163941735',
         'name': 'Park',
         'pluralName': 'Parks',
         'shortName': 'Park',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/park_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4c51ca66b6dabe9a06ef5112-14'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bae6d13f964a520d7b03be3',
       'name': 'LCBO',
       'location': {'address': 'Galleria Mall, 1245 Dupont St.',
        'crossStreet': 'btwn Duffern & Emerson',
        'lat': 43.66700154292355,
        'lng': -79.44174720320675,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66700154292355,
          'lng': -79.44174720320675}],
        'distance': 226,
        'postalCode': 'M6H 2A6',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['Galleria Mall, 1245 Dupont St. (btwn Duffern & Emerson)',
         'Toronto ON M6H 2A6',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d186941735',
         'name': 'Liquor Store',
         'pluralName': 'Liquor Stores',
         'shortName': 'Liquor Store',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/food_liquor_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bae6d13f964a520d7b03be3-15'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4d8a22c27d4c5481de716271',

Let's borrow the **get_category_type** function from the Foursquare lab.

In [619]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [620]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

,name,categories,lat,lng
0,The Greater Good Bar,Bar,43.669409,-79.439267
1,Parallel,Middle Eastern Restaurant,43.669516,-79.438728
2,Happy Bakery & Pastries,Bakery,43.667050,-79.441791
3,Planet Fitness Toronto Galleria,Gym / Fitness Center,43.667588,-79.442574
4,FreshCo,Supermarket,43.667918,-79.440754

Let's determine how many venus are returned by Foursquare

In [621]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

18 venues were returned by Foursquare.

#### Let's create a function to repeat the same process to all the neighborhoods in WT

In [622]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

#### Now let's write the code to run the above function on each neighborhood and create a new dataframe called *wt_venues*.

In [625]:

WT_venues = getNearbyVenues(names=WT['Neighborhood'],
                                   latitudes=WT['Latitude'],
                                   longitudes=WT['Longitude']
                                  )

Dovercourt Village,Dufferin
Little Portugal,Trinity
Brockton,Exhibition Place,Parkdale Village
High Park,The Junction South
Parkdale,Roncesvalles
Runnymede,Swansea

#### Let's check the size of the resulting dataframe

In [626]:
print(WT_venues.shape)
WT_venues.head()

(177, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,"Dovercourt Village,Dufferin",43.669005,-79.442259,The Greater Good Bar,43.669409,-79.439267,Bar
1,"Dovercourt Village,Dufferin",43.669005,-79.442259,Parallel,43.669516,-79.438728,Middle Eastern Restaurant
2,"Dovercourt Village,Dufferin",43.669005,-79.442259,Happy Bakery & Pastries,43.667050,-79.441791,Bakery
3,"Dovercourt Village,Dufferin",43.669005,-79.442259,Planet Fitness Toronto Galleria,43.667588,-79.442574,Gym / Fitness Center
4,"Dovercourt Village,Dufferin",43.669005,-79.442259,FreshCo,43.667918,-79.440754,Supermarket

Let's check how many venues were returned for each neighborhood

In [627]:
WT_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
"Brockton,Exhibition Place,Parkdale Village",23,23,23,23,23,23
"Dovercourt Village,Dufferin",18,18,18,18,18,18
"High Park,The Junction South",22,22,22,22,22,22
"Little Portugal,Trinity",64,64,64,64,64,64
"Parkdale,Roncesvalles",15,15,15,15,15,15
"Runnymede,Swansea",35,35,35,35,35,35

#### Let's find out how many unique categories can be curated from all the returned venues

In [628]:
print('There are {} uniques categories.'.format(len(Scarborough_venues['Venue Category'].unique())))

There are 55 uniques categories.

#### Analyze Each Neighborhood

In [629]:
# one hot encoding
WT_onehot = pd.get_dummies(WT_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
WT_onehot['Neighborhood'] = WT_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [WT_onehot.columns[-1]] + list(WT_onehot.columns[:-1])
WT_onehot =WT_onehot[fixed_columns]

WT_onehot.head()

,Neighborhood,Art Gallery,Arts & Crafts Store,Asian Restaurant,Bagel Shop,Bakery,Bank,Bar,Bistro,Bookstore,...,Supermarket,Sushi Restaurant,Tapas Restaurant,Tea Room,Thai Restaurant,Theater,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Wine Bar,Yoga Studio
0,"Dovercourt Village,Dufferin",0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"Dovercourt Village,Dufferin",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"Dovercourt Village,Dufferin",0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"Dovercourt Village,Dufferin",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"Dovercourt Village,Dufferin",0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [630]:
WT_onehot.shape

(177, 90)

#### Next, let's group rows by neighborhood and by taking the mean of the frequency of occurrence of each category

In [631]:
WT_grouped= WT_onehot.groupby('Neighborhood').mean().reset_index()
WT_grouped

,Neighborhood,Art Gallery,Arts & Crafts Store,Asian Restaurant,Bagel Shop,Bakery,Bank,Bar,Bistro,Bookstore,...,Supermarket,Sushi Restaurant,Tapas Restaurant,Tea Room,Thai Restaurant,Theater,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Wine Bar,Yoga Studio
0,"Brockton,Exhibition Place,Parkdale Village",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.043478,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.043478
1,"Dovercourt Village,Dufferin",0.000000,0.000000,0.000000,0.000000,0.111111,0.055556,0.055556,0.000000,0.000000,...,0.111111,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
2,"High Park,The Junction South",0.000000,0.045455,0.000000,0.000000,0.045455,0.000000,0.090909,0.000000,0.045455,...,0.000000,0.000000,0.000000,0.000000,0.045455,0.000000,0.000000,0.00000,0.000000,0.000000
3,"Little Portugal,Trinity",0.015625,0.000000,0.046875,0.015625,0.031250,0.000000,0.109375,0.015625,0.000000,...,0.000000,0.000000,0.015625,0.000000,0.000000,0.015625,0.015625,0.03125,0.015625,0.015625
4,"Parkdale,Roncesvalles",0.000000,0.000000,0.000000,0.000000,0.000000,0.066667,0.066667,0.000000,0.066667,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
5,"Runnymede,Swansea",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.028571,0.000000,0.028571,...,0.000000,0.057143,0.000000,0.028571,0.000000,0.000000,0.028571,0.00000,0.000000,0.000000

#### Let's print each neighborhood along with the top 5 most common venues

In [632]:
num_top_venues = 5

for hood in WT_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = WT_grouped[WT_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Brockton,Exhibition Place,Parkdale Village----
            venue  freq
0  Breakfast Spot  0.09
1            Café  0.09
2     Coffee Shop  0.09
3     Yoga Studio  0.04
4    Climbing Gym  0.04


----Dovercourt Village,Dufferin----
         venue  freq
0     Pharmacy  0.11
1  Supermarket  0.11
2       Bakery  0.11
3  Music Venue  0.06
4         Park  0.06


----High Park,The Junction South----
                       venue  freq
0                        Bar  0.09
1         Mexican Restaurant  0.09
2                       Café  0.09
3  Cajun / Creole Restaurant  0.05
4                      Diner  0.05


----Little Portugal,Trinity----
              venue  freq
0               Bar  0.11
1       Coffee Shop  0.06
2  Asian Restaurant  0.05
3       Pizza Place  0.03
4        Restaurant  0.03


----Parkdale,Roncesvalles----
            venue  freq
0  Breakfast Spot  0.13
1       Gift Shop  0.13
2     Coffee Shop  0.07
3   Movie Theater  0.07
4      Restaurant  0.07


----Runnymede,Swansea----
                venue  freq
0         Pizza Place  0.09
1                Café  0.09
2    Sushi Restaurant  0.06
3         Coffee Shop  0.06
4  Italian Restaurant  0.06

### Put the data in a Pandas Dataframe

First, let's write a function to sort the venues in descending order.

In [633]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [634]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = WT_grouped['Neighborhood']

for ind in np.arange(WT_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(WT_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Brockton,Exhibition Place,Parkdale Village",Coffee Shop,Breakfast Spot,Café,Yoga Studio,Sandwich Place,Grocery Store,Gym,Furniture / Home Store,Intersection,Italian Restaurant
1,"Dovercourt Village,Dufferin",Supermarket,Bakery,Pharmacy,Liquor Store,Fast Food Restaurant,Café,Smoke Shop,Brewery,Discount Store,Music Venue
2,"High Park,The Junction South",Mexican Restaurant,Café,Bar,Grocery Store,Fried Chicken Joint,Park,Fast Food Restaurant,Flea Market,Cajun / Creole Restaurant,Diner
3,"Little Portugal,Trinity",Bar,Coffee Shop,Asian Restaurant,Café,New American Restaurant,French Restaurant,Restaurant,Men's Store,Cocktail Bar,Pizza Place
4,"Parkdale,Roncesvalles",Gift Shop,Breakfast Spot,Dog Run,Dessert Shop,Movie Theater,Italian Restaurant,Bank,Bar,Eastern European Restaurant,Bookstore

### Cluster Neighborhoods

Run *k*-means to cluster the neighborhood into 5 clusters.

In [635]:
# set number of clusters
kclusters = 5

WT_grouped_clustering = WT_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(WT_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([3, 2, 4, 1, 0, 1], dtype=int32)

In [636]:
# add clustering labels


neighborhoods_venues_sorted.insert(0, 'Cluster Labelseight', kmeans.labels_)
WT_grouped_merged =WT

# merge WT_grouped with toronto_data to add latitude/longitude for each neighborhood
WT_grouped_merged = WT_grouped_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

WT_grouped_merged.head() # check the last columns!

,Postalcode,Borough,Neighborhood,Latitude,Longitude,Cluster Labelseight,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,M6H,West Toronto,"Dovercourt Village,Dufferin",43.669005,-79.442259,2,Supermarket,Bakery,Pharmacy,Liquor Store,Fast Food Restaurant,Café,Smoke Shop,Brewery,Discount Store,Music Venue
1,M6J,West Toronto,"Little Portugal,Trinity",43.647927,-79.419750,1,Bar,Coffee Shop,Asian Restaurant,Café,New American Restaurant,French Restaurant,Restaurant,Men's Store,Cocktail Bar,Pizza Place
2,M6K,West Toronto,"Brockton,Exhibition Place,Parkdale Village",43.636847,-79.428191,3,Coffee Shop,Breakfast Spot,Café,Yoga Studio,Sandwich Place,Grocery Store,Gym,Furniture / Home Store,Intersection,Italian Restaurant
3,M6P,West Toronto,"High Park,The Junction South",43.661608,-79.464763,4,Mexican Restaurant,Café,Bar,Grocery Store,Fried Chicken Joint,Park,Fast Food Restaurant,Flea Market,Cajun / Creole Restaurant,Diner
4,M6R,West Toronto,"Parkdale,Roncesvalles",43.648960,-79.456325,0,Gift Shop,Breakfast Spot,Dog Run,Dessert Shop,Movie Theater,Italian Restaurant,Bank,Bar,Eastern European Restaurant,Bookstore

#### Examine Clusters

In [638]:
#CLuster 1
WT_grouped_merged.loc[WT_grouped_merged['Cluster Labelseight'] == 0, WT_grouped_merged.columns[[1] + list(range(5, WT_grouped_merged.shape[1]))]]

,Borough,Cluster Labelseight,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
4,West Toronto,0,Gift Shop,Breakfast Spot,Dog Run,Dessert Shop,Movie Theater,Italian Restaurant,Bank,Bar,Eastern European Restaurant,Bookstore

In [639]:
#CLuster 2
WT_grouped_merged.loc[WT_grouped_merged['Cluster Labelseight'] == 1, WT_grouped_merged.columns[[1] + list(range(5, WT_grouped_merged.shape[1]))]]

,Borough,Cluster Labelseight,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
1,West Toronto,1,Bar,Coffee Shop,Asian Restaurant,Café,New American Restaurant,French Restaurant,Restaurant,Men's Store,Cocktail Bar,Pizza Place
5,West Toronto,1,Pizza Place,Café,Italian Restaurant,Coffee Shop,Sushi Restaurant,Electronics Store,Pharmacy,Dessert Shop,Diner,Latin American Restaurant

In [640]:
#CLuster 3
WT_grouped_merged.loc[WT_grouped_merged['Cluster Labelseight'] == 2, WT_grouped_merged.columns[[1] + list(range(5, WT_grouped_merged.shape[1]))]]

,Borough,Cluster Labelseight,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,West Toronto,2,Supermarket,Bakery,Pharmacy,Liquor Store,Fast Food Restaurant,Café,Smoke Shop,Brewery,Discount Store,Music Venue

In [641]:
#CLuster 4
WT_grouped_merged.loc[WT_grouped_merged['Cluster Labelseight'] == 3, WT_grouped_merged.columns[[1] + list(range(5, WT_grouped_merged.shape[1]))]]

,Borough,Cluster Labelseight,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
2,West Toronto,3,Coffee Shop,Breakfast Spot,Café,Yoga Studio,Sandwich Place,Grocery Store,Gym,Furniture / Home Store,Intersection,Italian Restaurant

In [642]:
#CLuster 5
WT_grouped_merged.loc[WT_grouped_merged['Cluster Labelseight'] == 4, WT_grouped_merged.columns[[1] + list(range(5, WT_grouped_merged.shape[1]))]]

,Borough,Cluster Labelseight,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
3,West Toronto,4,Mexican Restaurant,Café,Bar,Grocery Store,Fried Chicken Joint,Park,Fast Food Restaurant,Flea Market,Cajun / Creole Restaurant,Diner

## Queen's Park Analysis

In [646]:
QP = df4[df4['Borough'] == "Queen's Park"].reset_index(drop=True)
QP

  Postalcode       Borough  Neighborhood   Latitude  Longitude
0        M7A  Queen's Park  Queen's Park  43.662301 -79.389494

Let's explore the first neighborhood in our dataframe: get the n

In [650]:
QP.loc[0, 'Neighborhood']

"Queen's Park"

In [651]:
neighborhood_latitude = QP.loc[0, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = QP.loc[0, 'Longitude'] # neighborhood longitude value

neighborhood_name = QP.loc[0, 'Neighborhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                               neighborhood_longitude))

Latitude and longitude values of Queen's Park are 43.6623015, -79.3894938.

Now, let's get the top 100 venues that are in QP within a radius of 500 meters.

Let's create the GET request URL. Name your URL **url**.

In [652]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)
url

'https://api.foursquare.com/v2/venues/explore?&client_id=DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL&client_secret=G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP&v=20180605&ll=43.6623015,-79.3894938&radius=500&limit=100'

Send the GET request and examine the resutls

In [653]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d3c6f716c37db00256791d2'},
 'response': {'suggestedFilters': {'header': 'Tap to show:',
   'filters': [{'name': 'Open now', 'key': 'openNow'}]},
  'headerLocation': 'Bay Street Corridor',
  'headerFullLocation': 'Bay Street Corridor, Toronto',
  'headerLocationGranularity': 'neighborhood',
  'totalResults': 38,
  'suggestedBounds': {'ne': {'lat': 43.6668015045, 'lng': -79.38328496866619},
   'sw': {'lat': 43.657801495499996, 'lng': -79.3957026313338}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b9d206bf964a520e69136e3',
       'name': "Queen's Park",
       'location': {'address': 'University Ave.',
        'crossStreet': 'at Wellesley Ave.',
        'lat': 43.66394609897775,
        'lng': -79.39217952520835,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66394609897775,
          'lng': -79.39217952520835}],
        'distance': 283,
        'postalCode': 'M5R 2E8',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['University Ave. (at Wellesley Ave.)',
         'Toronto ON M5R 2E8',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d163941735',
         'name': 'Park',
         'pluralName': 'Parks',
         'shortName': 'Park',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/park_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b9d206bf964a520e69136e3-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4a8355bff964a520d3fa1fe3',
       'name': 'Mercatto',
       'location': {'address': '101 College St',
        'lat': 43.660390911898546,
        'lng': -79.38766421192705,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.660390911898546,
          'lng': -79.38766421192705}],
        'distance': 258,
        'postalCode': 'M5G',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['101 College St', 'Toronto ON M5G', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d110941735',
         'name': 'Italian Restaurant',
         'pluralName': 'Italian Restaurants',
         'shortName': 'Italian',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/italian_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4a8355bff964a520d3fa1fe3-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '52d884c5498ecf5c7cafe5ab',
       'name': "Nando's Flame-Grilled Chicken",
       'location': {'address': '832 Bay St',
        'crossStreet': 'Grenville St',
        'lat': 43.661617063338966,
        'lng': -79.38609536960354,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.661617063338966,
          'lng': -79.38609536960354}],
        'distance': 284,
        'postalCode': 'M5S 1Z6',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['832 Bay St (Grenville St)',
         'Toronto ON M5S 1Z6',
         'Canada']},
       'categories': [{'id': '4def73e84765ae376e57713a',
         'name': 'Portuguese Restaurant',
         'pluralName': 'Portuguese Restaurants',
         'shortName': 'Portuguese',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/portuguese_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-52d884c5498ecf5c7cafe5ab-2'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '590a649bdee77071100a6a15',
       'name': 'Coffee Island',
       'location': {'address': '925 Bay street',
        'lat': 43.66427089680226,
        'lng': -79.38697157138014,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66427089680226,
          'lng': -79.38697157138014}],
        'distance': 298,
        'postalCode': 'M5S 3L6',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['925 Bay street',
         'Toronto ON M5S 3L6',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1e0931735',
         'name': 'Coffee Shop',
         'pluralName': 'Coffee Shops',
         'shortName': 'Coffee Shop',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-590a649bdee77071100a6a15-3'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '568bcf61498e3aaff5e351f8',
       'name': 'Coffee Public',
       'location': {'address': '800 Bay St',
        'crossStreet': 'at College St',
        'lat': 43.66076299149323,
        'lng': -79.38618409033066,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66076299149323,
          'lng': -79.38618409033066}],
        'distance': 316,
        'postalCode': 'M5S 3A9',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['800 Bay St (at College St)',
         'Toronto ON M5S 3A9',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1e0931735',
         'name': 'Coffee Shop',
         'pluralName': 'Coffee Shops',
         'shortName': 'Coffee Shop',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-568bcf61498e3aaff5e351f8-4'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4ad8d773f964a5203e1521e3',
       'name': 'YMCA',
       'location': {'address': '20 Grosvenor St',
        'crossStreet': 'btwn St. Vincent Ln & St. Lukes Ln',
        'lat': 43.66275344493089,
        'lng': -79.3848492869005,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66275344493089,
          'lng': -79.3848492869005}],
        'distance': 377,
        'postalCode': 'M4Y 2V5',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['20 Grosvenor St (btwn St. Vincent Ln & St. Lukes Ln)',
         'Toronto ON M4Y 2V5',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d176941735',
         'name': 'Gym',
         'pluralName': 'Gyms',
         'shortName': 'Gym',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/gym_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4ad8d773f964a5203e1521e3-5'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '576d30ed498ef2e95e26e6d0',
       'name': 'Starbucks (MaRS)',
       'location': {'address': '101 College St',
        'crossStreet': 'University Ave',
        'lat': 43.65945605353152,
        'lng': -79.39041123272168,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.65945605353152,
          'lng': -79.39041123272168}],
        'distance': 325,
        'postalCode': 'M5G 1L7',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['101 College St (University Ave)',
         'Toronto ON M5G 1L7',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1e0931735',
         'name': 'Coffee Shop',
         'pluralName': 'Coffee Shops',
         'shortName': 'Coffee Shop',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-576d30ed498ef2e95e26e6d0-6'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '594ff53c2be42528bcc1bdb7',
       'name': 'T-Swirl Crepe',
       'location': {'address': '510 Yonge Street',
        'lat': 43.663452,
        'lng': -79.384125,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.663452,
          'lng': -79.384125}],
        'distance': 450,
        'postalCode': 'M4Y 1X9',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['510 Yonge Street',
         'Toronto ON M4Y 1X9',
         'Canada']},
       'categories': [{'id': '52e81612bcbc57f1066b79f2',
         'name': 'Creperie',
         'pluralName': 'Creperies',
         'shortName': 'Creperie',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/creperie_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []},
       'venuePage': {'id': '455073193'}},
      'referralId': 'e-0-594ff53c2be42528bcc1bdb7-7'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b3d1e49f964a5205c8e25e3',
       'name': '401 Games',
       'location': {'address': '518 Yonge St.',
        'crossStreet': 'btwn Breadalbane & Grosvenor',
        'lat': 43.663623277853254,
        'lng': -79.3840374323983,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.663623277853254,
          'lng': -79.3840374323983}],
        'distance': 463,
        'postalCode': 'M4Y 1X9',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['518 Yonge St. (btwn Breadalbane & Grosvenor)',
         'Toronto ON M4Y 1X9',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1fb941735',
         'name': 'Hobby Shop',
         'pluralName': 'Hobby Shops',
         'shortName': 'Hobbies',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/hobbyshop_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b3d1e49f964a5205c8e25e3-8'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4aeb5989f964a5203ec121e3',
       'name': 'The Yoga Sanctuary',
       'location': {'address': '2 College St. W, Suite 306',
        'crossStreet': 'at Yonge St.',
        'lat': 43.661499497597596,
        'lng': -79.38363613350754,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.661499497597596,
          'lng': -79.38363613350754}],
        'distance': 480,
        'postalCode': 'M5G 1K3',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['2 College St. W, Suite 306 (at Yonge St.)',
         'Toronto ON M5G 1K3',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d102941735',
         'name': 'Yoga Studio',
         'pluralName': 'Yoga Studios',
         'shortName': 'Yoga Studio',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/gym_yogastudio_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4aeb5989f964a5203ec121e3-9'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b6b189cf964a52089f22be3',
       'name': "Curry's Art Store Ltd.",
       'location': {'address': '490 Yonge St.',
        'crossStreet': 'At Grosvenor',
        'lat': 43.66283810530193,
        'lng': -79.38373201352064,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66283810530193,
          'lng': -79.38373201352064}],
        'distance': 467,
        'postalCode': 'M4Y 1X5',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['490 Yonge St. (At Grosvenor)',
         'Toronto ON M4Y 1X5',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d127951735',
         'name': 'Arts & Crafts Store',
         'pluralName': 'Arts & Crafts Stores',
         'shortName': 'Arts & Crafts',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/artstore_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b6b189cf964a52089f22be3-10'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4fb593c0e4b05a76e2ab2951',
       'name': 'Como En Casa',
       'location': {'address': '565 Yonge St',
        'lat': 43.66516,
        'lng': -79.384796,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66516,
          'lng': -79.384796}],
        'distance': 494,
        'postalCode': 'M4Y-1Z2',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['565 Yonge St', 'Toronto ON M4Y-1Z2', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1c1941735',
         'name': 'Mexican Restaurant',
         'pluralName': 'Mexican Restaurants',
         'shortName': 'Mexican',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/mexican_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4fb593c0e4b05a76e2ab2951-11'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b2d27b4f964a520a6cf24e3',
       'name': 'Coach House Restaurant',
       'location': {'address': '574 Yonge St.',
        'crossStreet': 'Wellesley',
        'lat': 43.66499059853204,
        'lng': -79.38481415727767,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66499059853204,
          'lng': -79.38481415727767}],
        'distance': 481,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['574 Yonge St. (Wellesley)',
         'Toronto ON',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d147941735',
         'name': 'Diner',
         'pluralName': 'Diners',
         'shortName': 'Diner',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/diner_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b2d27b4f964a520a6cf24e3-12'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4c8facf91664b1f79c90aa2f',
       'name': 'College Park Area',
       'location': {'address': 'College St.',
        'lat': 43.65975136823981,
        'lng': -79.38491112965691,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.65975136823981,
          'lng': -79.38491112965691}],
        'distance': 465,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['College St.', 'Toronto ON', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d163941735',
         'name': 'Park',
         'pluralName': 'Parks',
         'shortName': 'Park',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/park_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4c8facf91664b1f79c90aa2f-13'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4afca145f964a5208e2422e3',
       'name': 'Tokyo Sushi',
       'location': {'address': '33 St. Joseph St.',
        'crossStreet': 'Yonge and Wellesley',
        'lat': 43.665885330936845,
        'lng': -79.38697684868161,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.665885330936845,
          'lng': -79.38697684868161}],
        'distance': 447,
        'postalCode': 'M4Y 1J8',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['33 St. Joseph St. (Yonge and Wellesley)',
         'Toronto ON M4Y 1J8',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1d2941735',
         'name': 'Sushi Restaurant',
         'pluralName': 'Sushi Restaurants',
         'shortName': 'Sushi',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/sushi_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4afca145f964a5208e2422e3-14'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4ad4c061f964a520abf720e3',
       'name': 'Tokyo Grill',
       'location': {'address': '582 Yonge St',
        'crossStreet': 'at Wellesley St W',
        'lat': 43.665085238149395,
        'lng': -79.38470692554789,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.665085238149395,
          'lng': -79.38470692554789}],
        'distance': 494,
        'postalCode': 'M4Y 1Z3',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['582 Yonge St (at Wellesley St W)',
         'Toronto ON M4Y 1Z3',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d111941735',
         'name': 'Japanese Restaurant',
         'pluralName': 'Japanese Restaurants',
         'shortName': 'Japanese',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/japanese_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4ad4c061f964a520abf720e3-15'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4d927b8352ed224b27d008ac',
       'name': 'Burrito Bandidos',
       'location': {'address': '496 Yonge St.',
        'crossStreet': 'at Grosvenor St.',
        'lat': 43.662962178169344,
        'lng': -79.38395554190546,

Let's borrow the **get_category_type** function from the Foursquare lab.

In [654]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [655]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

                            name             categories        lat        lng
0                   Queen's Park                   Park  43.663946 -79.392180
1                       Mercatto     Italian Restaurant  43.660391 -79.387664
2  Nando's Flame-Grilled Chicken  Portuguese Restaurant  43.661617 -79.386095
3                  Coffee Island            Coffee Shop  43.664271 -79.386972
4                  Coffee Public            Coffee Shop  43.660763 -79.386184

Let's determine how many venus are returned by Foursquare

In [656]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

38 venues were returned by Foursquare.

#### Let's create a function to repeat the same process to all the neighborhoods in QP

In [657]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

#### Now let's write the code to run the above function on each neighborhood and create a new dataframe called *qp_venues*.

In [658]:

QP_venues = getNearbyVenues(names=QP['Neighborhood'],
                                   latitudes=QP['Latitude'],
                                   longitudes=QP['Longitude']
                                  )

Queen's Park

#### Let's check the size of the resulting dataframe

In [659]:
print(QP_venues.shape)
QP_venues.head()

(38, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Queen's Park,43.662301,-79.389494,Queen's Park,43.663946,-79.392180,Park
1,Queen's Park,43.662301,-79.389494,Mercatto,43.660391,-79.387664,Italian Restaurant
2,Queen's Park,43.662301,-79.389494,Nando's Flame-Grilled Chicken,43.661617,-79.386095,Portuguese Restaurant
3,Queen's Park,43.662301,-79.389494,Coffee Island,43.664271,-79.386972,Coffee Shop
4,Queen's Park,43.662301,-79.389494,Coffee Public,43.660763,-79.386184,Coffee Shop

Let's check how many venues were returned for each neighborhood

In [660]:
QP_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
Queen's Park,38,38,38,38,38,38

#### Let's find out how many unique categories can be curated from all the returned venues

In [661]:
print('There are {} uniques categories.'.format(len(QP_venues['Venue Category'].unique())))

There are 28 uniques categories.

#### Analyze Each Neighborhood

In [662]:
# one hot encoding
QP_onehot = pd.get_dummies(QP_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
QP_onehot['Neighborhood'] = QP_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [QP_onehot.columns[-1]] + list(QP_onehot.columns[:-1])
QP_onehot =QP_onehot[fixed_columns]

QP_onehot.head()

,Neighborhood,Art Gallery,Arts & Crafts Store,Bar,Burger Joint,Burrito Place,Café,Chinese Restaurant,Coffee Shop,College Auditorium,...,Park,Portuguese Restaurant,Sandwich Place,Seafood Restaurant,Smoothie Shop,Sushi Restaurant,Theater,Vegetarian / Vegan Restaurant,Wings Joint,Yoga Studio
0,Queen's Park,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,Queen's Park,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Queen's Park,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,Queen's Park,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,Queen's Park,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [663]:
QP_onehot.shape

(38, 29)

#### Next, let's group rows by neighborhood and by taking the mean of the frequency of occurrence of each category

In [664]:
QP_grouped= QP_onehot.groupby('Neighborhood').mean().reset_index()
QP_grouped

,Neighborhood,Art Gallery,Arts & Crafts Store,Bar,Burger Joint,Burrito Place,Café,Chinese Restaurant,Coffee Shop,College Auditorium,...,Park,Portuguese Restaurant,Sandwich Place,Seafood Restaurant,Smoothie Shop,Sushi Restaurant,Theater,Vegetarian / Vegan Restaurant,Wings Joint,Yoga Studio
0,Queen's Park,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.236842,0.026316,...,0.052632,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316

#### Let's print each neighborhood along with the top 5 most common venues

In [668]:
num_top_venues = 5

for hood in QP_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = QP_grouped[QP_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Queen's Park----
                venue  freq
0         Coffee Shop  0.24
1                Park  0.05
2                 Gym  0.05
3         Art Gallery  0.03
4  Italian Restaurant  0.03

## Missisauga Analysis

In [778]:
MS = df4[df4['Borough'] == 'Missisauga'].reset_index(drop=True)
MS.head()
#No data for the Borough

Empty DataFrame
Columns: [Postalcode, Borough, Neighborhood, Latitude, Longitude]
Index: []

### A. Let's explore Famiglia Baldassarre --

In [780]:
venue_id = '590390fc35811b1afa825dcc' # ID of Famiglia Baldassarre
url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION)
url

'https://api.foursquare.com/v2/venues/590390fc35811b1afa825dcc?client_id=DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL&client_secret=G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP&v=20180605'

#### Send GET request for result

In [781]:
result = requests.get(url).json()
print(result['response']['venue'].keys())
result['response']['venue']

dict_keys(['id', 'name', 'contact', 'location', 'canonicalUrl', 'categories', 'verified', 'stats', 'url', 'price', 'likes', 'dislike', 'ok', 'allowMenuUrlEdit', 'beenHere', 'specials', 'photos', 'reasons', 'description', 'hereNow', 'createdAt', 'tips', 'shortUrl', 'timeZone', 'listed', 'hours', 'pageUpdates', 'inbox', 'attributes', 'bestPhoto', 'colors'])

{'id': '590390fc35811b1afa825dcc',
 'name': 'Famiglia Baldassarre',
 'contact': {'phone': '6472935395',
  'formattedPhone': '(647) 293-5395',
  'twitter': 'fambaldassarre',
  'instagram': 'famiglia_baldassarre',
  'facebook': '1517083265279594',
  'facebookName': 'Pasta Fresca Baldassarre'},
 'location': {'address': '122 Geary Ave',
  'lat': 43.670388,
  'lng': -79.434999,
  'labeledLatLngs': [{'label': 'display',
    'lat': 43.670388,
    'lng': -79.434999}],
  'postalCode': 'M6H 4H1',
  'cc': 'CA',
  'city': 'Toronto',
  'state': 'ON',
  'country': 'Canada',
  'formattedAddress': ['122 Geary Ave', 'Toronto ON M6H 4H1', 'Canada']},
 'canonicalUrl': 'https://foursquare.com/v/famiglia-baldassarre/590390fc35811b1afa825dcc',
 'categories': [{'id': '4bf58dd8d48988d110941735',
   'name': 'Italian Restaurant',
   'pluralName': 'Italian Restaurants',
   'shortName': 'Italian',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/italian_',
    'suffix': '.png'},
   'primary': True}],
 'verified': False,
 'stats': {'tipCount': 1},
 'url': 'http://famigliabaldassarre.com',
 'price': {'tier': 2, 'message': 'Moderate', 'currency': '$'},
 'likes': {'count': 6,
  'groups': [{'type': 'others',
    'count': 6,
    'items': [{'id': '97667507',
      'firstName': 'Amy',
      'lastName': 'Bee',
      'gender': 'female',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/97667507-TK5V3K3QLVXR0QWG.jpg'}},
     {'id': '40432',
      'firstName': 'Sam',
      'lastName': 'Dal Monte',
      'gender': 'male',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/40432-RM3A2VQZZ12OSQOX.jpg'}},
     {'id': '9282239',
      'firstName': 'jamie',
      'lastName': 'yak',
      'gender': 'female',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/O511UY2BWFIBZEHR.jpg'}},
     {'id': '89259',
      'firstName': 'Eve',
      'lastName': 'Picard',
      'gender': 'female',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/XFWC5L2SOICMMLW4.jpg'}}]}],
  'summary': '6 Likes'},
 'dislike': False,
 'ok': False,
 'allowMenuUrlEdit': True,
 'beenHere': {'count': 0,
  'unconfirmedCount': 0,
  'marked': False,
  'lastCheckinExpiredAt': 0},
 'specials': {'count': 0, 'items': []},
 'photos': {'count': 5,
  'groups': [{'type': 'checkin',
    'name': "Friends' check-in photos",
    'count': 0,
    'items': []},
   {'type': 'venue',
    'name': 'Venue photos',
    'count': 5,
    'items': [{'id': '5c51afdca6031c002c159839',
      'createdAt': 1548857308,
      'source': {'name': 'Swarm for iOS', 'url': 'https://www.swarmapp.com'},
      'prefix': 'https://fastly.4sqi.net/img/general/',
      'suffix': '/435068888_3uhAIUg1pRo-V96xAayXEQZQgI_LW1KFdYGiySRhGkQ.jpg',
      'width': 1440,
      'height': 1920,
      'user': {'id': '435068888',
       'firstName': 'Ashley',
       'lastName': 'Burke',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/435068888_sxD2ib7S_n-LOfTK9g0XhIvo5yRRI3qgQ5Q__zYKU-TJg9AGS1uxmkGDio9_Y25q69vR3CCUw.jpg'}},
      'visibility': 'public'}]}],
  'summary': '0 photos'},
 'reasons': {'count': 0, 'items': []},
 'description': 'Supplying Toronto’s most discerning chefs with traditional fresh pasta of the highest quality since 2010. Store Hours - Tuesday to Friday 12pm - 5pm. Lunch Hours - Tuesday to Friday 12pm - 2pm',
 'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []},
 'createdAt': 1493405948,
 'tips': {'count': 1,
  'groups': [{'type': 'others',
    'name': 'All tips',
    'count': 1,
    'items': [{'id': '590cdc868194fc3de954e58d',
      'createdAt': 1494015110,
      'text': 'In addition to selling fresh pasta for take home, Baldassarre also offers lunch Tuesday-Friday using their pasta and gelato.',
      'type': 'user',
      'canonicalUrl': 'https://foursquare.com/item/590cdc868194fc3de954e58d',
      'photo': {'id': '590cce2959fe5c461e16ab34',
       'createdAt': 1494011433,
       'source': {'name': 'Swarm for iOS', 'url': 'https://www.swarmapp.com'},
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/510739_H2henYX98ZNXWFW6NgqTSggpn1QgXKouBUcyerN-Uro.jpg',
       'width': 1440,
       'height': 1920,
       'visibility': 'public'},
      'photourl': 'https://fastly.4sqi.net/img/general/original/510739_H2henYX98ZNXWFW6NgqTSggpn1QgXKouBUcyerN-Uro.jpg',
      'lang': 'en',
      'likes': {'count': 0, 'groups': []},
      'logView': True,
      'agreeCount': 2,
      'disagreeCount': 0,
      'todo': {'count': 0},
      'user': {'id': '510739',
       'firstName': 'Jordan',
       'lastName': 'Yee',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/D4XQCWLR52NQN3GC.jpg'}},
      'authorInteractionType': 'liked'}]}]},
 'shortUrl': 'http://4sq.com/2qePoTi',
 'timeZone': 'America/Toronto',
 'listed': {'count': 35,
  'groups': [{'type': 'others',
    'name': 'Lists from other people',
    'count': 35,
    'items': [{'id': '504ae977e4b09ab3b32d4833',
      'name': 'YTO (Toronto 🇨🇦)',
      'description': '416 represent, yo.',
      'type': 'others',
      'user': {'id': '1162687',
       'firstName': 'Kevin',
       'lastName': 'Luk',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/1162687_HbIILyj8_vZi4KIC5CPABAztAmazS7BW1kMj4GK-aYD9R-TV8ZmpUBtqgUhG7_9Qvpig7JbfD.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/silanfa/list/yto-toronto-',
      'canonicalUrl': 'https://foursquare.com/silanfa/list/yto-toronto-',
      'createdAt': 1347086711,
      'updatedAt': 1548940100,
      'photo': {'id': '50455a85e4b0c939598ef9eb',
       'createdAt': 1346722437,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/b4WKEFWhmvhwBUpIcyybSWLTIPyHBWhyiIFIWOaHkoU.jpg',
       'width': 640,
       'height': 480,
       'user': {'id': '1062638',
        'firstName': 'Steve',
        'lastName': 'Swerhun',
        'gender': 'male',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/Z4BH0RYW5J25IQ4E.jpg'}},
       'visibility': 'public'},
      'followers': {'count': 1},
      'listItems': {'count': 11,
       'items': [{'id': 'v590390fc35811b1afa825dcc',
         'createdAt': 1548870054}]}},
     {'id': '5252d8d111d29b81af2b763b',
      'name': 'Ontario',
      'description': '',
      'type': 'others',
      'user': {'id': '2998611',
       'firstName': 'Benoit',
       'lastName': 'D.',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/E2K14OBDS3PCHZY3.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/bdenomme/list/ontario',
      'canonicalUrl': 'https://foursquare.com/bdenomme/list/ontario',
      'createdAt': 1381161169,
      'updatedAt': 1554331961,
      'followers': {'count': 1},
      'listItems': {'count': 69,
       'items': [{'id': 'v590390fc35811b1afa825dcc',
         'createdAt': 1551564551}]}},
     {'id': '5916ea4b8a6f17198afa58d7',
      'name': 'TORONTO.',
      'description': '',
      'type': 'others',
      'user': {'id': '1011210',
       'firstName': 'Sana',
       'lastName': 'Cherukuri',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/JJVYYGG4XZ3C2V1J.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/user/1011210/list/toronto',
      'canonicalUrl': 'https://foursquare.com/user/1011210/list/toronto',
      'createdAt': 1494673995,
      'updatedAt': 1558998087,
      'photo': {'id': '5133705fe4b097f2d296198a',
       'createdAt': 1362325599,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/94411_Zv9CLXEkMkOaUb2UL3s6NoDpDQcmgXnuQc3qzyEGNFI.jpg',
       'width': 612,
       'height': 612,
       'user': {'id': '94411',
        'firstName': 'Global',
        'lastName': 'Highlander',
        'gender': 'male',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/94411-W4UC4LNC1GAVR4VU.jpg'}},
       'visibility': 'public'},
      'followers': {'count': 1},
      'listItems': {'count': 122,
       'items': [{'id': 'v590390fc35811b1afa825dcc',
         'createdAt': 1537232777}]}},
     {'id': '50b92b9be4b0cdd4baf716a2',
      'name': 'Toronto Food - Part 1',
      'description': '',
      'type': 'others',
      'user': {'id': '3875010',
       'firstName': 'Denise',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/1OPPKBK2FI5EAH0A.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/user/3875010/list/toronto-food--part-1',
      'canonicalUrl': 'https://foursquare.com/user/3875010/list/toronto-food--part-1',
      'createdAt': 1354312603,
      'updatedAt': 1545517748,
      'photo': {'id': '50893469e4b0aa994cbdacd7',
       'createdAt': 1351169129,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/1589524_YV4qTFt0C_EjiNxnCmG8eglubmxOAUaN9oFFSfkXz7Q.jpg',
       'width': 800,
       'height': 800,
       'user': {'id': '1589524',
        'firstName': 'jade',
        'gender': 'female',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/1589524-3FRBRKM1N12NK0TE.jpg'}},
       'visibility': 'public'},
      'followers': {'count': 15},
      'listItems': {'count': 242,
       'items': [{'id': 'v590390fc35811b1afa825dcc',
         'createdAt': 1545509852}]}}]}]},
 'hours': {'status': 'Closed until Noon Tuesday',
  'richStatus': {'entities': [], 'text': 'Closed until Noon Tuesday'},
  'isOpen': False,
  'isLocalHoliday': False,
  'dayData': [],
  'timeframes': [{'days': 'Tue–Fri',
    'open': [{'renderedTime': 'Noon–5:00 PM'}],
    'segments': []}]},
 'pageUpdates': {'count': 0, 'items': []},
 'inbox': {'count': 0, 'items': []},
 'attributes': {'groups': [{'type': 'price',
    'name': 'Price',
    'summary': '$$',
    'count': 1,
    'items': [{'displayName': 'Price', 'displayValue': '$$', 'priceTier': 2}]},
   {'type': 'serves',
    'name': 'Menus',
    'summary': 'Brunch & Lunch',
    'count': 8,
    'items': [{'displayName': 'Brunch', 'displayValue': 'Brunch'},
     {'displayName': 'Lunch', 'displayValue': 'Lunch'}]}]},
 'bestPhoto': {'id': '5c51afdca6031c002c159839',
  'createdAt': 1548857308,
  'source': {'name': 'Swarm for iOS', 'url': 'https://www.swarmapp.com'},
  'prefix': 'https://fastly.4sqi.net/img/general/',
  'suffix': '/435068888_3uhAIUg1pRo-V96xAayXEQZQgI_LW1KFdYGiySRhGkQ.jpg',
  'width': 1440,
  'height': 1920,
  'visibility': 'public'},
 'colors': {'highlightColor': {'photoId': '5c51afdca6031c002c159839',
   'value': -10989488},
  'highlightTextColor': {'photoId': '5c51afdca6031c002c159839', 'value': -1},
  'algoVersion': 3}}

### C. Get the number of tips

In [783]:
result['response']['venue']['tips']['count']

1

### D. Get the venue's tips
> `https://api.foursquare.com/v2/venues/`**VENUE_ID**`/tips?client_id=`**CLIENT_ID**`&client_secret=`**CLIENT_SECRET**`&v=`**VERSION**`&limit=`**LIMIT**

#### Create URL and send GET request. Make sure to set limit to get all tips

In [784]:
## Famiglia Baldassarre
limit = 15 # set limit to be greater than or equal to the total number of tips
url = 'https://api.foursquare.com/v2/venues/{}/tips?client_id={}&client_secret={}&v={}&limit={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION, limit)

results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d3c88808ad62e00398a2c0a'},
 'response': {'tips': {'count': 1,
   'items': [{'id': '590cdc868194fc3de954e58d',
     'createdAt': 1494015110,
     'text': 'In addition to selling fresh pasta for take home, Baldassarre also offers lunch Tuesday-Friday using their pasta and gelato.',
     'type': 'user',
     'canonicalUrl': 'https://foursquare.com/item/590cdc868194fc3de954e58d',
     'photo': {'id': '590cce2959fe5c461e16ab34',
      'createdAt': 1494011433,
      'source': {'name': 'Swarm for iOS', 'url': 'https://www.swarmapp.com'},
      'prefix': 'https://fastly.4sqi.net/img/general/',
      'suffix': '/510739_H2henYX98ZNXWFW6NgqTSggpn1QgXKouBUcyerN-Uro.jpg',
      'width': 1440,
      'height': 1920,
      'visibility': 'public'},
     'photourl': 'https://fastly.4sqi.net/img/general/original/510739_H2henYX98ZNXWFW6NgqTSggpn1QgXKouBUcyerN-Uro.jpg',
     'lang': 'en',
     'likes': {'count': 0, 'groups': []},
     'logView': True,
     'agreeCount': 2,
     'disagreeCount': 0,
     'todo': {'count': 0},
     'user': {'id': '510739',
      'firstName': 'Jordan',
      'lastName': 'Yee',
      'gender': 'male',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/D4XQCWLR52NQN3GC.jpg'}},
     'authorInteractionType': 'liked'}]}}}

#### Get tips and list of associated features

In [785]:
tips = results['response']['tips']['items']

tip = results['response']['tips']['items'][0]
tip.keys()

dict_keys(['id', 'createdAt', 'text', 'type', 'canonicalUrl', 'photo', 'photourl', 'lang', 'likes', 'logView', 'agreeCount', 'disagreeCount', 'todo', 'user', 'authorInteractionType'])

#### Format column width and display all tips

In [787]:
pd.set_option('display.max_colwidth', -1)

tips_df = json_normalize(tips) # json normalize tips

# columns to keep
filtered_columns = ['text', 'agreeCount', 'disagreeCount', 'id', 'user.firstName', 'user.lastName', 'user.gender', 'user.id']
tips_filtered = tips_df.loc[:, filtered_columns]

# display tips
tips_filtered

,text,agreeCount,disagreeCount,id,user.firstName,user.lastName,user.gender,user.id
0,"In addition to selling fresh pasta for take home, Baldassarre also offers lunch Tuesday-Friday using their pasta and gelato.",2,0,590cdc868194fc3de954e58d,Jordan,Yee,male,510739

### A. Let's explore Famiglia Baldassarre --

In [780]:
venue_id = '590390fc35811b1afa825dcc' # ID of Famiglia Baldassarre
url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION)
url

'https://api.foursquare.com/v2/venues/590390fc35811b1afa825dcc?client_id=DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL&client_secret=G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP&v=20180605'

#### Send GET request for result

In [781]:
result = requests.get(url).json()
print(result['response']['venue'].keys())
result['response']['venue']

dict_keys(['id', 'name', 'contact', 'location', 'canonicalUrl', 'categories', 'verified', 'stats', 'url', 'price', 'likes', 'dislike', 'ok', 'allowMenuUrlEdit', 'beenHere', 'specials', 'photos', 'reasons', 'description', 'hereNow', 'createdAt', 'tips', 'shortUrl', 'timeZone', 'listed', 'hours', 'pageUpdates', 'inbox', 'attributes', 'bestPhoto', 'colors'])

{'id': '590390fc35811b1afa825dcc',
 'name': 'Famiglia Baldassarre',
 'contact': {'phone': '6472935395',
  'formattedPhone': '(647) 293-5395',
  'twitter': 'fambaldassarre',
  'instagram': 'famiglia_baldassarre',
  'facebook': '1517083265279594',
  'facebookName': 'Pasta Fresca Baldassarre'},
 'location': {'address': '122 Geary Ave',
  'lat': 43.670388,
  'lng': -79.434999,
  'labeledLatLngs': [{'label': 'display',
    'lat': 43.670388,
    'lng': -79.434999}],
  'postalCode': 'M6H 4H1',
  'cc': 'CA',
  'city': 'Toronto',
  'state': 'ON',
  'country': 'Canada',
  'formattedAddress': ['122 Geary Ave', 'Toronto ON M6H 4H1', 'Canada']},
 'canonicalUrl': 'https://foursquare.com/v/famiglia-baldassarre/590390fc35811b1afa825dcc',
 'categories': [{'id': '4bf58dd8d48988d110941735',
   'name': 'Italian Restaurant',
   'pluralName': 'Italian Restaurants',
   'shortName': 'Italian',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/italian_',
    'suffix': '.png'},
   'primary': True}],
 'verified': False,
 'stats': {'tipCount': 1},
 'url': 'http://famigliabaldassarre.com',
 'price': {'tier': 2, 'message': 'Moderate', 'currency': '$'},
 'likes': {'count': 6,
  'groups': [{'type': 'others',
    'count': 6,
    'items': [{'id': '97667507',
      'firstName': 'Amy',
      'lastName': 'Bee',
      'gender': 'female',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/97667507-TK5V3K3QLVXR0QWG.jpg'}},
     {'id': '40432',
      'firstName': 'Sam',
      'lastName': 'Dal Monte',
      'gender': 'male',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/40432-RM3A2VQZZ12OSQOX.jpg'}},
     {'id': '9282239',
      'firstName': 'jamie',
      'lastName': 'yak',
      'gender': 'female',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/O511UY2BWFIBZEHR.jpg'}},
     {'id': '89259',
      'firstName': 'Eve',
      'lastName': 'Picard',
      'gender': 'female',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/XFWC5L2SOICMMLW4.jpg'}}]}],
  'summary': '6 Likes'},
 'dislike': False,
 'ok': False,
 'allowMenuUrlEdit': True,
 'beenHere': {'count': 0,
  'unconfirmedCount': 0,
  'marked': False,
  'lastCheckinExpiredAt': 0},
 'specials': {'count': 0, 'items': []},
 'photos': {'count': 5,
  'groups': [{'type': 'checkin',
    'name': "Friends' check-in photos",
    'count': 0,
    'items': []},
   {'type': 'venue',
    'name': 'Venue photos',
    'count': 5,
    'items': [{'id': '5c51afdca6031c002c159839',
      'createdAt': 1548857308,
      'source': {'name': 'Swarm for iOS', 'url': 'https://www.swarmapp.com'},
      'prefix': 'https://fastly.4sqi.net/img/general/',
      'suffix': '/435068888_3uhAIUg1pRo-V96xAayXEQZQgI_LW1KFdYGiySRhGkQ.jpg',
      'width': 1440,
      'height': 1920,
      'user': {'id': '435068888',
       'firstName': 'Ashley',
       'lastName': 'Burke',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/435068888_sxD2ib7S_n-LOfTK9g0XhIvo5yRRI3qgQ5Q__zYKU-TJg9AGS1uxmkGDio9_Y25q69vR3CCUw.jpg'}},
      'visibility': 'public'}]}],
  'summary': '0 photos'},
 'reasons': {'count': 0, 'items': []},
 'description': 'Supplying Toronto’s most discerning chefs with traditional fresh pasta of the highest quality since 2010. Store Hours - Tuesday to Friday 12pm - 5pm. Lunch Hours - Tuesday to Friday 12pm - 2pm',
 'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []},
 'createdAt': 1493405948,
 'tips': {'count': 1,
  'groups': [{'type': 'others',
    'name': 'All tips',
    'count': 1,
    'items': [{'id': '590cdc868194fc3de954e58d',
      'createdAt': 1494015110,
      'text': 'In addition to selling fresh pasta for take home, Baldassarre also offers lunch Tuesday-Friday using their pasta and gelato.',
      'type': 'user',
      'canonicalUrl': 'https://foursquare.com/item/590cdc868194fc3de954e58d',
      'photo': {'id': '590cce2959fe5c461e16ab34',
       'createdAt': 1494011433,
       'source': {'name': 'Swarm for iOS', 'url': 'https://www.swarmapp.com'},
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/510739_H2henYX98ZNXWFW6NgqTSggpn1QgXKouBUcyerN-Uro.jpg',
       'width': 1440,
       'height': 1920,
       'visibility': 'public'},
      'photourl': 'https://fastly.4sqi.net/img/general/original/510739_H2henYX98ZNXWFW6NgqTSggpn1QgXKouBUcyerN-Uro.jpg',
      'lang': 'en',
      'likes': {'count': 0, 'groups': []},
      'logView': True,
      'agreeCount': 2,
      'disagreeCount': 0,
      'todo': {'count': 0},
      'user': {'id': '510739',
       'firstName': 'Jordan',
       'lastName': 'Yee',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/D4XQCWLR52NQN3GC.jpg'}},
      'authorInteractionType': 'liked'}]}]},
 'shortUrl': 'http://4sq.com/2qePoTi',
 'timeZone': 'America/Toronto',
 'listed': {'count': 35,
  'groups': [{'type': 'others',
    'name': 'Lists from other people',
    'count': 35,
    'items': [{'id': '504ae977e4b09ab3b32d4833',
      'name': 'YTO (Toronto 🇨🇦)',
      'description': '416 represent, yo.',
      'type': 'others',
      'user': {'id': '1162687',
       'firstName': 'Kevin',
       'lastName': 'Luk',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/1162687_HbIILyj8_vZi4KIC5CPABAztAmazS7BW1kMj4GK-aYD9R-TV8ZmpUBtqgUhG7_9Qvpig7JbfD.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/silanfa/list/yto-toronto-',
      'canonicalUrl': 'https://foursquare.com/silanfa/list/yto-toronto-',
      'createdAt': 1347086711,
      'updatedAt': 1548940100,
      'photo': {'id': '50455a85e4b0c939598ef9eb',
       'createdAt': 1346722437,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/b4WKEFWhmvhwBUpIcyybSWLTIPyHBWhyiIFIWOaHkoU.jpg',
       'width': 640,
       'height': 480,
       'user': {'id': '1062638',
        'firstName': 'Steve',
        'lastName': 'Swerhun',
        'gender': 'male',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/Z4BH0RYW5J25IQ4E.jpg'}},
       'visibility': 'public'},
      'followers': {'count': 1},
      'listItems': {'count': 11,
       'items': [{'id': 'v590390fc35811b1afa825dcc',
         'createdAt': 1548870054}]}},
     {'id': '5252d8d111d29b81af2b763b',
      'name': 'Ontario',
      'description': '',
      'type': 'others',
      'user': {'id': '2998611',
       'firstName': 'Benoit',
       'lastName': 'D.',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/E2K14OBDS3PCHZY3.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/bdenomme/list/ontario',
      'canonicalUrl': 'https://foursquare.com/bdenomme/list/ontario',
      'createdAt': 1381161169,
      'updatedAt': 1554331961,
      'followers': {'count': 1},
      'listItems': {'count': 69,
       'items': [{'id': 'v590390fc35811b1afa825dcc',
         'createdAt': 1551564551}]}},
     {'id': '5916ea4b8a6f17198afa58d7',
      'name': 'TORONTO.',
      'description': '',
      'type': 'others',
      'user': {'id': '1011210',
       'firstName': 'Sana',
       'lastName': 'Cherukuri',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/JJVYYGG4XZ3C2V1J.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/user/1011210/list/toronto',
      'canonicalUrl': 'https://foursquare.com/user/1011210/list/toronto',
      'createdAt': 1494673995,
      'updatedAt': 1558998087,
      'photo': {'id': '5133705fe4b097f2d296198a',
       'createdAt': 1362325599,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/94411_Zv9CLXEkMkOaUb2UL3s6NoDpDQcmgXnuQc3qzyEGNFI.jpg',
       'width': 612,
       'height': 612,
       'user': {'id': '94411',
        'firstName': 'Global',
        'lastName': 'Highlander',
        'gender': 'male',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/94411-W4UC4LNC1GAVR4VU.jpg'}},
       'visibility': 'public'},
      'followers': {'count': 1},
      'listItems': {'count': 122,
       'items': [{'id': 'v590390fc35811b1afa825dcc',
         'createdAt': 1537232777}]}},
     {'id': '50b92b9be4b0cdd4baf716a2',
      'name': 'Toronto Food - Part 1',
      'description': '',
      'type': 'others',
      'user': {'id': '3875010',
       'firstName': 'Denise',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/1OPPKBK2FI5EAH0A.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/user/3875010/list/toronto-food--part-1',
      'canonicalUrl': 'https://foursquare.com/user/3875010/list/toronto-food--part-1',
      'createdAt': 1354312603,
      'updatedAt': 1545517748,
      'photo': {'id': '50893469e4b0aa994cbdacd7',
       'createdAt': 1351169129,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/1589524_YV4qTFt0C_EjiNxnCmG8eglubmxOAUaN9oFFSfkXz7Q.jpg',
       'width': 800,
       'height': 800,
       'user': {'id': '1589524',
        'firstName': 'jade',
        'gender': 'female',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/1589524-3FRBRKM1N12NK0TE.jpg'}},
       'visibility': 'public'},
      'followers': {'count': 15},
      'listItems': {'count': 242,
       'items': [{'id': 'v590390fc35811b1afa825dcc',
         'createdAt': 1545509852}]}}]}]},
 'hours': {'status': 'Closed until Noon Tuesday',
  'richStatus': {'entities': [], 'text': 'Closed until Noon Tuesday'},
  'isOpen': False,
  'isLocalHoliday': False,
  'dayData': [],
  'timeframes': [{'days': 'Tue–Fri',
    'open': [{'renderedTime': 'Noon–5:00 PM'}],
    'segments': []}]},
 'pageUpdates': {'count': 0, 'items': []},
 'inbox': {'count': 0, 'items': []},
 'attributes': {'groups': [{'type': 'price',
    'name': 'Price',
    'summary': '$$',
    'count': 1,
    'items': [{'displayName': 'Price', 'displayValue': '$$', 'priceTier': 2}]},
   {'type': 'serves',
    'name': 'Menus',
    'summary': 'Brunch & Lunch',
    'count': 8,
    'items': [{'displayName': 'Brunch', 'displayValue': 'Brunch'},
     {'displayName': 'Lunch', 'displayValue': 'Lunch'}]}]},
 'bestPhoto': {'id': '5c51afdca6031c002c159839',
  'createdAt': 1548857308,
  'source': {'name': 'Swarm for iOS', 'url': 'https://www.swarmapp.com'},
  'prefix': 'https://fastly.4sqi.net/img/general/',
  'suffix': '/435068888_3uhAIUg1pRo-V96xAayXEQZQgI_LW1KFdYGiySRhGkQ.jpg',
  'width': 1440,
  'height': 1920,
  'visibility': 'public'},
 'colors': {'highlightColor': {'photoId': '5c51afdca6031c002c159839',
   'value': -10989488},
  'highlightTextColor': {'photoId': '5c51afdca6031c002c159839', 'value': -1},
  'algoVersion': 3}}

### C. Get the number of tips

In [783]:
result['response']['venue']['tips']['count']

1

### D. Get the venue's tips
> `https://api.foursquare.com/v2/venues/`**VENUE_ID**`/tips?client_id=`**CLIENT_ID**`&client_secret=`**CLIENT_SECRET**`&v=`**VERSION**`&limit=`**LIMIT**

#### Create URL and send GET request. Make sure to set limit to get all tips

In [784]:
## Famiglia Baldassarre
limit = 15 # set limit to be greater than or equal to the total number of tips
url = 'https://api.foursquare.com/v2/venues/{}/tips?client_id={}&client_secret={}&v={}&limit={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION, limit)

results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d3c88808ad62e00398a2c0a'},
 'response': {'tips': {'count': 1,
   'items': [{'id': '590cdc868194fc3de954e58d',
     'createdAt': 1494015110,
     'text': 'In addition to selling fresh pasta for take home, Baldassarre also offers lunch Tuesday-Friday using their pasta and gelato.',
     'type': 'user',
     'canonicalUrl': 'https://foursquare.com/item/590cdc868194fc3de954e58d',
     'photo': {'id': '590cce2959fe5c461e16ab34',
      'createdAt': 1494011433,
      'source': {'name': 'Swarm for iOS', 'url': 'https://www.swarmapp.com'},
      'prefix': 'https://fastly.4sqi.net/img/general/',
      'suffix': '/510739_H2henYX98ZNXWFW6NgqTSggpn1QgXKouBUcyerN-Uro.jpg',
      'width': 1440,
      'height': 1920,
      'visibility': 'public'},
     'photourl': 'https://fastly.4sqi.net/img/general/original/510739_H2henYX98ZNXWFW6NgqTSggpn1QgXKouBUcyerN-Uro.jpg',
     'lang': 'en',
     'likes': {'count': 0, 'groups': []},
     'logView': True,
     'agreeCount': 2,
     'disagreeCount': 0,
     'todo': {'count': 0},
     'user': {'id': '510739',
      'firstName': 'Jordan',
      'lastName': 'Yee',
      'gender': 'male',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/D4XQCWLR52NQN3GC.jpg'}},
     'authorInteractionType': 'liked'}]}}}

#### Get tips and list of associated features

In [785]:
tips = results['response']['tips']['items']

tip = results['response']['tips']['items'][0]
tip.keys()

dict_keys(['id', 'createdAt', 'text', 'type', 'canonicalUrl', 'photo', 'photourl', 'lang', 'likes', 'logView', 'agreeCount', 'disagreeCount', 'todo', 'user', 'authorInteractionType'])

#### Format column width and display all tips

In [786]:
pd.set_option('display.max_colwidth', -1)

tips_df = json_normalize(tips) # json normalize tips

# columns to keep
filtered_columns = ['text', 'agreeCount', 'disagreeCount', 'id', 'user.firstName', 'user.lastName', 'user.gender', 'user.id']
tips_filtered = tips_df.loc[:, filtered_columns]

# display tips
tips_filtered

,text,agreeCount,disagreeCount,id,user.firstName,user.lastName,user.gender,user.id
0,"In addition to selling fresh pasta for take home, Baldassarre also offers lunch Tuesday-Friday using their pasta and gelato.",2,0,590cdc868194fc3de954e58d,Jordan,Yee,male,510739

## Central Toronto Analysis

In [706]:
CT = df4[df4['Borough'] == 'Central Toronto'].reset_index(drop=True)
CT.head()

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790
1,M4P,Central Toronto,Davisville North,43.712751,-79.390197
2,M4R,Central Toronto,North Toronto West,43.715383,-79.405678
3,M4S,Central Toronto,Davisville,43.704324,-79.388790
4,M4T,Central Toronto,"Moore Park,Summerhill East",43.689574,-79.383160

Geographical coordinates of Central Toronto

Let's explore the first neighborhood in our dataframe: get the n

In [708]:
CT.loc[0, 'Neighborhood']

'Lawrence Park'

In [709]:
neighborhood_latitude = CT.loc[0, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = CT.loc[0, 'Longitude'] # neighborhood longitude value

neighborhood_name = CT.loc[0, 'Neighborhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                               neighborhood_longitude))

Latitude and longitude values of Lawrence Park are 43.7280205, -79.3887901.

Now, let's get the top 100 venues that are in Lawrence Park within a radius of 500 meters.

Let's create the GET request URL. Name your URL **url**.

In [710]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)
url

'https://api.foursquare.com/v2/venues/explore?&client_id=DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL&client_secret=G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP&v=20180605&ll=43.7280205,-79.3887901&radius=500&limit=100'

Send the GET request and examine the resutls

In [711]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d3c790bd9a6e600383ca6e6'},
 'response': {'headerLocation': 'Toronto',
  'headerFullLocation': 'Toronto',
  'headerLocationGranularity': 'city',
  'totalResults': 4,
  'suggestedBounds': {'ne': {'lat': 43.7325205045, 'lng': -79.3825744605273},
   'sw': {'lat': 43.7235204955, 'lng': -79.3950057394727}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '50e6da19e4b0d8a78a0e9794',
       'name': 'Lawrence Park Ravine',
       'location': {'address': '3055 Yonge Street',
        'crossStreet': 'Lawrence Avenue East',
        'lat': 43.72696303913755,
        'lng': -79.39438246708775,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.72696303913755,
          'lng': -79.39438246708775}],
        'distance': 465,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['3055 Yonge Street (Lawrence Avenue East)',
         'Toronto ON',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d163941735',
         'name': 'Park',
         'pluralName': 'Parks',
         'shortName': 'Park',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/park_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-50e6da19e4b0d8a78a0e9794-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '57813d57498e0991ffe4b720',
       'name': 'Dim Sum Deluxe',
       'location': {'address': '21 Milliken Blvd Unit C5',
        'lat': 43.72695269460939,
        'lng': -79.39426004519044,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.72695269460939,
          'lng': -79.39426004519044}],
        'distance': 455,
        'postalCode': 'M1V 5H6',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['21 Milliken Blvd Unit C5',
         'Toronto ON M1V 5H6',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1f5931735',
         'name': 'Dim Sum Restaurant',
         'pluralName': 'Dim Sum Restaurants',
         'shortName': 'Dim Sum',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/dimsum_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-57813d57498e0991ffe4b720-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '5082ef77e4b0a7491cf7b022',
       'name': 'Zodiac Swim School',
       'location': {'lat': 43.72853205765438,
        'lng': -79.3828602612317,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.72853205765438,
          'lng': -79.3828602612317}],
        'distance': 480,
        'cc': 'CA',
        'country': 'Canada',
        'formattedAddress': ['Canada']},
       'categories': [{'id': '52e81612bcbc57f1066b7a44',
         'name': 'Swim School',
         'pluralName': 'Swim Schools',
         'shortName': 'Swim School',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/pool_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-5082ef77e4b0a7491cf7b022-2'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '50ed9da8e4b081eabee12672',
       'name': 'TTC Bus #162 - Lawrence-Donway',
       'location': {'lat': 43.72802605799448,
        'lng': -79.38280527753858,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.72802605799448,
          'lng': -79.38280527753858}],
        'distance': 481,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['Toronto ON', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d12b951735',
         'name': 'Bus Line',
         'pluralName': 'Bus Lines',
         'shortName': 'Bus',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/busstation_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-50ed9da8e4b081eabee12672-3'}]}]}}

Let's borrow the **get_category_type** function from the Foursquare lab.

In [712]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [713]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

                             name          categories        lat        lng
0            Lawrence Park Ravine                Park  43.726963 -79.394382
1                  Dim Sum Deluxe  Dim Sum Restaurant  43.726953 -79.394260
2              Zodiac Swim School         Swim School  43.728532 -79.382860
3  TTC Bus #162 - Lawrence-Donway            Bus Line  43.728026 -79.382805

Let's determine how many venus are returned by Foursquare

In [714]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

4 venues were returned by Foursquare.

#### Let's create a function to repeat the same process to all the neighborhoods in CT

In [715]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

#### Now let's write the code to run the above function on each neighborhood and create a new dataframe called *CT_venues*.

In [718]:

CT_venues = getNearbyVenues(names=CT['Neighborhood'],
                                   latitudes=CT['Latitude'],
                                   longitudes=CT['Longitude']
                                  )

Lawrence Park
Davisville North
North Toronto West
Davisville
Moore Park,Summerhill East
Deer Park,Forest Hill SE,Rathnelly,South Hill,Summerhill West
Roselawn
Forest Hill North,Forest Hill West
The Annex,North Midtown,Yorkville

#### Let's check the size of the resulting dataframe

In [719]:
print(CT_venues.shape)
CT_venues.head()

(119, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Lawrence Park,43.728020,-79.388790,Lawrence Park Ravine,43.726963,-79.394382,Park
1,Lawrence Park,43.728020,-79.388790,Dim Sum Deluxe,43.726953,-79.394260,Dim Sum Restaurant
2,Lawrence Park,43.728020,-79.388790,Zodiac Swim School,43.728532,-79.382860,Swim School
3,Lawrence Park,43.728020,-79.388790,TTC Bus #162 - Lawrence-Donway,43.728026,-79.382805,Bus Line
4,Davisville North,43.712751,-79.390197,Sherwood Park,43.716551,-79.387776,Park

Let's check how many venues were returned for each neighborhood

In [720]:
CT_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
Davisville,37,37,37,37,37,37
Davisville North,8,8,8,8,8,8
"Deer Park,Forest Hill SE,Rathnelly,South Hill,Summerhill West",15,15,15,15,15,15
"Forest Hill North,Forest Hill West",4,4,4,4,4,4
Lawrence Park,4,4,4,4,4,4
"Moore Park,Summerhill East",5,5,5,5,5,5
North Toronto West,19,19,19,19,19,19
Roselawn,3,3,3,3,3,3
"The Annex,North Midtown,Yorkville",24,24,24,24,24,24

#### Let's find out how many unique categories can be curated from all the returned venues

In [721]:
print('There are {} uniques categories.'.format(len(EC_venues['Venue Category'].unique())))

There are 40 uniques categories.

#### Analyze Each Neighborhood

In [722]:
# one hot encoding
CT_onehot = pd.get_dummies(CT_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
CT_onehot['Neighborhood'] = CT_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [CT_onehot.columns[-1]] + list(CT_onehot.columns[:-1])
CT_onehot = CT_onehot[fixed_columns]

CT_onehot.head()

,Neighborhood,American Restaurant,BBQ Joint,Bagel Shop,Bowling Alley,Breakfast Spot,Brewery,Burger Joint,Bus Line,Café,...,Supermarket,Sushi Restaurant,Swim School,Tennis Court,Thai Restaurant,Toy / Game Store,Trail,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Yoga Studio
0,Lawrence Park,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Lawrence Park,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Lawrence Park,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,Lawrence Park,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,Davisville North,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [723]:
CT_onehot.shape

(119, 68)

#### Next, let's group rows by neighborhood and by taking the mean of the frequency of occurrence of each category

In [724]:
CT_grouped= CT_onehot.groupby('Neighborhood').mean().reset_index()
CT_grouped

,Neighborhood,American Restaurant,BBQ Joint,Bagel Shop,Bowling Alley,Breakfast Spot,Brewery,Burger Joint,Bus Line,Café,...,Supermarket,Sushi Restaurant,Swim School,Tennis Court,Thai Restaurant,Toy / Game Store,Trail,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Yoga Studio
0,Davisville,0.000000,0.000000,0.000000,0.027027,0.000,0.027027,0.000000,0.00,0.054054,...,0.000000,0.054054,0.00,0.0,0.054054,0.027027,0.00,0.000000,0.000000,0.000000
1,Davisville North,0.000000,0.000000,0.000000,0.000000,0.125,0.000000,0.000000,0.00,0.000000,...,0.000000,0.000000,0.00,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.000000
2,"Deer Park,Forest Hill SE,Rathnelly,South Hill,...",0.066667,0.000000,0.066667,0.000000,0.000,0.000000,0.000000,0.00,0.000000,...,0.066667,0.066667,0.00,0.0,0.000000,0.000000,0.00,0.000000,0.066667,0.000000
3,"Forest Hill North,Forest Hill West",0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.00,0.000000,...,0.000000,0.250000,0.00,0.0,0.000000,0.000000,0.25,0.000000,0.000000,0.000000
4,Lawrence Park,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.25,0.000000,...,0.000000,0.000000,0.25,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.000000
5,"Moore Park,Summerhill East",0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.00,0.000000,...,0.000000,0.000000,0.00,0.2,0.000000,0.000000,0.20,0.000000,0.000000,0.000000
6,North Toronto West,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.00,0.000000,...,0.000000,0.000000,0.00,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.052632
7,Roselawn,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.00,0.000000,...,0.000000,0.000000,0.00,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.000000
8,"The Annex,North Midtown,Yorkville",0.041667,0.041667,0.000000,0.000000,0.000,0.000000,0.041667,0.00,0.125000,...,0.000000,0.000000,0.00,0.0,0.000000,0.000000,0.00,0.041667,0.000000,0.000000

#### Let's print each neighborhood along with the top 5 most common venues

In [725]:
num_top_venues = 5

for hood in CT_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = CT_grouped[CT_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Davisville----
             venue  freq
0     Dessert Shop  0.08
1   Sandwich Place  0.08
2  Thai Restaurant  0.05
3      Coffee Shop  0.05
4      Pizza Place  0.05


----Davisville North----
            venue  freq
0  Sandwich Place  0.12
1           Hotel  0.12
2   Grocery Store  0.12
3             Gym  0.12
4  Clothing Store  0.12


----Deer Park,Forest Hill SE,Rathnelly,South Hill,Summerhill West----
                 venue  freq
0                  Pub  0.13
1          Coffee Shop  0.13
2  American Restaurant  0.07
3  Fried Chicken Joint  0.07
4          Pizza Place  0.07


----Forest Hill North,Forest Hill West----
                 venue  freq
0        Jewelry Store  0.25
1                Trail  0.25
2   Mexican Restaurant  0.25
3     Sushi Restaurant  0.25
4  American Restaurant  0.00


----Lawrence Park----
                venue  freq
0         Swim School  0.25
1  Dim Sum Restaurant  0.25
2            Bus Line  0.25
3                Park  0.25
4            Pharmacy  0.00


----Moore Park,Summerhill East----
          venue  freq
0   Summer Camp   0.2
1         Trail   0.2
2    Playground   0.2
3  Tennis Court   0.2
4    Restaurant   0.2


----North Toronto West----
                 venue  freq
0  Sporting Goods Shop  0.11
1       Clothing Store  0.11
2          Coffee Shop  0.11
3         Dessert Shop  0.05
4   Mexican Restaurant  0.05


----Roselawn----
                 venue  freq
0         Home Service  0.33
1                 Pool  0.33
2               Garden  0.33
3  American Restaurant  0.00
4             Pharmacy  0.00


----The Annex,North Midtown,Yorkville----
                 venue  freq
0       Sandwich Place  0.12
1                 Café  0.12
2          Coffee Shop  0.12
3          Pizza Place  0.08
4  American Restaurant  0.04

### Put the data in a Pandas Dataframe

First, let's write a function to sort the venues in descending order.

In [726]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [727]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = CT_grouped['Neighborhood']

for ind in np.arange(CT_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(CT_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Davisville,Dessert Shop,Sandwich Place,Thai Restaurant,Pizza Place,Sushi Restaurant,Café,Italian Restaurant,Coffee Shop,Indoor Play Area,Restaurant
1,Davisville North,Clothing Store,Hotel,Sandwich Place,Breakfast Spot,Gym,Grocery Store,Food & Drink Shop,Park,Yoga Studio,Flower Shop
2,"Deer Park,Forest Hill SE,Rathnelly,South Hill,...",Pub,Coffee Shop,Sports Bar,Vietnamese Restaurant,Fried Chicken Joint,Light Rail Station,Liquor Store,Pizza Place,Restaurant,American Restaurant
3,"Forest Hill North,Forest Hill West",Mexican Restaurant,Trail,Jewelry Store,Sushi Restaurant,Yoga Studio,Farmers Market,Flower Shop,Food & Drink Shop,Fried Chicken Joint,Garden
4,Lawrence Park,Bus Line,Park,Swim School,Dim Sum Restaurant,Gourmet Shop,Farmers Market,Flower Shop,Food & Drink Shop,Fried Chicken Joint,Garden

### Cluster Neighborhoods

Run *k*-means to cluster the neighborhood into 5 clusters.

In [728]:
# set number of clusters
kclusters = 5

CT_grouped_clustering = CT_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(CT_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([0, 0, 0, 3, 4, 2, 0, 1, 0], dtype=int32)

In [729]:
# add clustering labels


neighborhoods_venues_sorted.insert(0, 'Cluster Labelstwo', kmeans.labels_)
CT_grouped_merged =CT

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
CT_grouped_merged = CT_grouped_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

CT_grouped_merged.head() # check the last columns!

,Postalcode,Borough,Neighborhood,Latitude,Longitude,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790,4,Bus Line,Park,Swim School,Dim Sum Restaurant,Gourmet Shop,Farmers Market,Flower Shop,Food & Drink Shop,Fried Chicken Joint,Garden
1,M4P,Central Toronto,Davisville North,43.712751,-79.390197,0,Clothing Store,Hotel,Sandwich Place,Breakfast Spot,Gym,Grocery Store,Food & Drink Shop,Park,Yoga Studio,Flower Shop
2,M4R,Central Toronto,North Toronto West,43.715383,-79.405678,0,Coffee Shop,Clothing Store,Sporting Goods Shop,Yoga Studio,Spa,Mexican Restaurant,Miscellaneous Shop,Park,Diner,Dessert Shop
3,M4S,Central Toronto,Davisville,43.704324,-79.388790,0,Dessert Shop,Sandwich Place,Thai Restaurant,Pizza Place,Sushi Restaurant,Café,Italian Restaurant,Coffee Shop,Indoor Play Area,Restaurant
4,M4T,Central Toronto,"Moore Park,Summerhill East",43.689574,-79.383160,2,Summer Camp,Tennis Court,Restaurant,Playground,Trail,Gym / Fitness Center,Gym,Grocery Store,Greek Restaurant,Gourmet Shop

#### Examine Clusters

In [730]:
#CLuster 1
CT_grouped_merged.loc[CT_grouped_merged['Cluster Labelstwo'] == 0, CT_grouped_merged.columns[[1] + list(range(5, CT_grouped_merged.shape[1]))]]

,Borough,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
1,Central Toronto,0,Clothing Store,Hotel,Sandwich Place,Breakfast Spot,Gym,Grocery Store,Food & Drink Shop,Park,Yoga Studio,Flower Shop
2,Central Toronto,0,Coffee Shop,Clothing Store,Sporting Goods Shop,Yoga Studio,Spa,Mexican Restaurant,Miscellaneous Shop,Park,Diner,Dessert Shop
3,Central Toronto,0,Dessert Shop,Sandwich Place,Thai Restaurant,Pizza Place,Sushi Restaurant,Café,Italian Restaurant,Coffee Shop,Indoor Play Area,Restaurant
5,Central Toronto,0,Pub,Coffee Shop,Sports Bar,Vietnamese Restaurant,Fried Chicken Joint,Light Rail Station,Liquor Store,Pizza Place,Restaurant,American Restaurant
8,Central Toronto,0,Coffee Shop,Sandwich Place,Café,Pizza Place,American Restaurant,Indian Restaurant,Jewish Restaurant,Liquor Store,Flower Shop,Park

In [731]:
#CLuster 2
CT_grouped_merged.loc[CT_grouped_merged['Cluster Labelstwo'] == 1, CT_grouped_merged.columns[[1] + list(range(5, CT_grouped_merged.shape[1]))]]

,Borough,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
6,Central Toronto,1,Home Service,Pool,Garden,Yoga Studio,Gourmet Shop,Farmers Market,Flower Shop,Food & Drink Shop,Fried Chicken Joint,Greek Restaurant

In [732]:
#CLuster 3
CT_grouped_merged.loc[CT_grouped_merged['Cluster Labelstwo'] == 2, CT_grouped_merged.columns[[1] + list(range(5, CT_grouped_merged.shape[1]))]]

,Borough,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
4,Central Toronto,2,Summer Camp,Tennis Court,Restaurant,Playground,Trail,Gym / Fitness Center,Gym,Grocery Store,Greek Restaurant,Gourmet Shop

In [733]:
#CLuster 4
CT_grouped_merged.loc[CT_grouped_merged['Cluster Labelstwo'] == 3, CT_grouped_merged.columns[[1] + list(range(5, CT_grouped_merged.shape[1]))]]

,Borough,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
7,Central Toronto,3,Mexican Restaurant,Trail,Jewelry Store,Sushi Restaurant,Yoga Studio,Farmers Market,Flower Shop,Food & Drink Shop,Fried Chicken Joint,Garden

In [734]:
#CLuster 5
CT_grouped_merged.loc[CT_grouped_merged['Cluster Labelstwo'] == 4, CT_grouped_merged.columns[[1] + list(range(5, CT_grouped_merged.shape[1]))]]

,Borough,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Central Toronto,4,Bus Line,Park,Swim School,Dim Sum Restaurant,Gourmet Shop,Farmers Market,Flower Shop,Food & Drink Shop,Fried Chicken Joint,Garden

## Etobicoke Analysis

In [673]:
EC = df4[df4['Borough'] == 'Etobicoke'].reset_index(drop=True)
EC.head()

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M8V,Etobicoke,"Humber Bay Shores,Mimico South,New Toronto",43.605647,-79.501321
1,M8W,Etobicoke,"Alderwood,Long Branch",43.602414,-79.543484
2,M8X,Etobicoke,"The Kingsway,Montgomery Road,Old Mill North",43.653654,-79.506944
3,M8Y,Etobicoke,"Humber Bay,King's Mill Park,Kingsway Park Sout...",43.636258,-79.498509
4,M8Z,Etobicoke,"Kingsway Park South West,Mimico NW,The Queensw...",43.628841,-79.520999

Let's explore the first neighborhood in our dataframe: get the n

In [678]:
EC.loc[0, 'Neighborhood']

'Humber Bay Shores,Mimico South,New Toronto'

In [679]:
neighborhood_latitude = EC.loc[0, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = EC.loc[0, 'Longitude'] # neighborhood longitude value

neighborhood_name = EC.loc[0, 'Neighborhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                               neighborhood_longitude))

Latitude and longitude values of Humber Bay Shores,Mimico South,New Toronto are 43.6056466, -79.50132070000001.

Now, let's get the top 100 venues that are in Humber Bay Shores,Mimico South,New Toronto within a radius of 500 meters.

Let's create the GET request URL. Name your URL **url**.

In [680]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)
url

'https://api.foursquare.com/v2/venues/explore?&client_id=DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL&client_secret=G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP&v=20180605&ll=43.6056466,-79.50132070000001&radius=500&limit=100'

Send the GET request and examine the resutls

In [681]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d3c758b2b274a003954798b'},
 'response': {'suggestedFilters': {'header': 'Tap to show:',
   'filters': [{'name': 'Open now', 'key': 'openNow'}]},
  'headerLocation': 'Toronto',
  'headerFullLocation': 'Toronto',
  'headerLocationGranularity': 'city',
  'totalResults': 18,
  'suggestedBounds': {'ne': {'lat': 43.6101466045, 'lng': -79.49511771930959},
   'sw': {'lat': 43.6011465955, 'lng': -79.50752368069043}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b119977f964a520488023e3',
       'name': 'LCBO',
       'location': {'address': '2762 Lake Shore Blvd W',
        'crossStreet': 'btwn 1st & 2nd St',
        'lat': 43.60228082768786,
        'lng': -79.4993016827402,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.60228082768786,
          'lng': -79.4993016827402}],
        'distance': 408,
        'postalCode': 'M8V 1H1',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['2762 Lake Shore Blvd W (btwn 1st & 2nd St)',
         'Toronto ON M8V 1H1',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d186941735',
         'name': 'Liquor Store',
         'pluralName': 'Liquor Stores',
         'shortName': 'Liquor Store',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/food_liquor_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b119977f964a520488023e3-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4e1f329fae60cd553deeb4a0',
       'name': "Domino's Pizza",
       'location': {'address': '2811 Lake Shore Blvd W',
        'crossStreet': 'Third Street',
        'lat': 43.60167573484193,
        'lng': -79.50090770555259,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.60167573484193,
          'lng': -79.50090770555259}],
        'distance': 443,
        'postalCode': 'M8V 1H6',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['2811 Lake Shore Blvd W (Third Street)',
         'Toronto ON M8V 1H6',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1ca941735',
         'name': 'Pizza Place',
         'pluralName': 'Pizza Places',
         'shortName': 'Pizza',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/pizza_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4e1f329fae60cd553deeb4a0-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b9322cbf964a5201a3734e3',
       'name': 'New Toronto Fish & Chips',
       'location': {'address': '146 Fifth St.',
        'lat': 43.60184940532482,
        'lng': -79.50328125758809,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.60184940532482,
          'lng': -79.50328125758809}],
        'distance': 451,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['146 Fifth St.', 'Toronto ON', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1c4941735',
         'name': 'Restaurant',
         'pluralName': 'Restaurants',
         'shortName': 'Restaurant',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b9322cbf964a5201a3734e3-2'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bc45c08b492d13afbdea960',
       'name': 'Delicia Bakery & Pastry',
       'location': {'lat': 43.601402988357286,
        'lng': -79.50301234678948,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.601402988357286,
          'lng': -79.50301234678948}],
        'distance': 491,
        'cc': 'CA',
        'country': 'Canada',
        'formattedAddress': ['Canada']},
       'categories': [{'id': '4bf58dd8d48988d16a941735',
         'name': 'Bakery',
         'pluralName': 'Bakeries',
         'shortName': 'Bakery',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/bakery_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bc45c08b492d13afbdea960-3'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b0a80a3f964a520892423e3',
       'name': 'Lucky Dice Restaurant',
       'location': {'address': '2868 Lake Shore Blvd W',
        'crossStreet': '5th Street',
        'lat': 43.601392135734876,
        'lng': -79.50305626141281,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.601392135734876,
          'lng': -79.50305626141281}],
        'distance': 493,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['2868 Lake Shore Blvd W (5th Street)',
         'Toronto ON',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d16d941735',
         'name': 'Café',
         'pluralName': 'Cafés',
         'shortName': 'Café',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b0a80a3f964a520892423e3-4'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '51d85bc8498e179ed0fbe8c3',
       'name': 'Subway',
       'location': {'address': '2378 Lakeshore Blvd W',
        'lat': 43.602382,
        'lng': -79.498275,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.602382,
          'lng': -79.498275}],
        'distance': 438,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['2378 Lakeshore Blvd W', 'Toronto ON', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1c5941735',
         'name': 'Sandwich Place',
         'pluralName': 'Sandwich Places',
         'shortName': 'Sandwiches',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/deli_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-51d85bc8498e179ed0fbe8c3-5'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bee4cb5d355a593c1c40a60',
       'name': "McDonald's",
       'location': {'address': '2736 Lake shore Blvd W',
        'crossStreet': 'at Clarkson Rd.',
        'lat': 43.60246991479348,
        'lng': -79.49896306515201,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.60246991479348,
          'lng': -79.49896306515201}],
        'distance': 401,
        'postalCode': 'M8V 1G5',
        'cc': 'CA',
        'city': 'Etobicoke',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['2736 Lake shore Blvd W (at Clarkson Rd.)',
         'Etobicoke ON M8V 1G5',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d16e941735',
         'name': 'Fast Food Restaurant',
         'pluralName': 'Fast Food Restaurants',
         'shortName': 'Fast Food',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/fastfood_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bee4cb5d355a593c1c40a60-6'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4e1787b37d8b8af91384a504',
       'name': 'Popeyes Louisiana Kitchen',
       'location': {'address': '2765 Lake Shore Blvd. W',
        'crossStreet': 'at Second St.',
        'lat': 43.6020694028516,
        'lng': -79.49940016778937,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.6020694028516,
          'lng': -79.49940016778937}],
        'distance': 427,
        'postalCode': 'M8V 1H1',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['2765 Lake Shore Blvd. W (at Second St.)',
         'Toronto ON M8V 1H1',
         'Canada']},
       'categories': [{'id': '4d4ae6fc7a7b7dea34424761',
         'name': 'Fried Chicken Joint',
         'pluralName': 'Fried Chicken Joints',
         'shortName': 'Fried Chicken',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/friedchicken_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4e1787b37d8b8af91384a504-7'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bca0bf5fb84c9b60e411c3e',
       'name': 'Shoppers Drug Mart',
       'location': {'address': '2850 Lakeshore Blvd W',
        'lat': 43.60161057524661,
        'lng': -79.50216359567413,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.60161057524661,
          'lng': -79.50216359567413}],
        'distance': 454,
        'postalCode': 'M8V 1J2',
        'cc': 'CA',
        'city': 'Etobicoke',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['2850 Lakeshore Blvd W',
         'Etobicoke ON M8V 1J2',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d10f951735',
         'name': 'Pharmacy',
         'pluralName': 'Pharmacies',
         'shortName': 'Pharmacy',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/pharmacy_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bca0bf5fb84c9b60e411c3e-8'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4f0c86b7e4b0d563f7dd6e9c',
       'name': 'Coffee Time',
       'location': {'address': '2786 Lake Shore Blvd W',
        'crossStreet': 'at 2nd St',
        'lat': 43.6022843976276,
        'lng': -79.4998572447178,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.6022843976276,
          'lng': -79.4998572447178}],
        'distance': 392,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['2786 Lake Shore Blvd W (at 2nd St)',
         'Toronto ON',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1e0931735',
         'name': 'Coffee Shop',
         'pluralName': 'Coffee Shops',
         'shortName': 'Coffee Shop',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4f0c86b7e4b0d563f7dd6e9c-9'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '5883a4aa916802691b9a50c6',
       'name': 'Halibut House Fish and Chips Inc.',
       'location': {'address': '4410 Kingston Road',
        'lat': 43.60196,
        'lng': -79.501147,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.60196,
          'lng': -79.501147}],
        'distance': 410,
        'postalCode': 'M1E 2N5',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['4410 Kingston Road',
         'Toronto ON M1E 2N5',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1ce941735',
         'name': 'Seafood Restaurant',
         'pluralName': 'Seafood Restaurants',
         'shortName': 'Seafood',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/seafood_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-5883a4aa916802691b9a50c6-10'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4f281a77754a9436fd871e7e',
       'name': 'Pet Valu',
       'location': {'address': '2734 Lake Shore Blvd. West',
        'lat': 43.60243088801389,
        'lng': -79.49865281581879,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.60243088801389,
          'lng': -79.49865281581879}],
        'distance': 417,
        'postalCode': 'M8V 1H1',
        'cc': 'CA',
        'city': 'Etobicoke',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['2734 Lake Shore Blvd. West',
         'Etobicoke ON M8V 1H1',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d100951735',
         'name': 'Pet Store',
         'pluralName': 'Pet Stores',
         'shortName': 'Pet Store',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/pet_store_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4f281a77754a9436fd871e7e-11'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '53821dcc498e11151193f259',
       'name': 'Sense Appeal',
       'location': {'address': '2914 Lakeshore Blvd. W.',
        'lat': 43.601729,
        'lng': -79.501063,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.601729,
          'lng': -79.501063}],
        'distance': 436,
        'postalCode': 'M8V 1H7',
        'cc': 'CA',
        'city': 'Mimico',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['2914 Lakeshore Blvd. W.',
         'Mimico ON M8V 1H7',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d16d941735',
         'name': 'Café',
         'pluralName': 'Cafés',
         'shortName': 'Café',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-53821dcc498e11151193f259-12'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '5c9ab6183e6741002cb59d72',
       'name': 'Havana Castle Cigars',
       'location': {'address': '2747 Lakeshore Blvd W',
        'lat': 43.6021199,
        'lng': -79.4982416,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.6021199,
          'lng': -79.4982416}],
        'distance': 464,
        'postalCode': 'M8V 1G9',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['2747 Lakeshore Blvd W',
         'Toronto ON M8V 1G9',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1fb941735',
         'name': 'Hobby Shop',
         'pluralName': 'Hobby Shops',
         'shortName': 'Hobbies',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/hobbyshop_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []},
       'venuePage': {'id': '541718353'}},
      'referralId': 'e-0-5c9ab6183e6741002cb59d72-13'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bf681e794b2a5936788adee',
       'name': 'Crossfit Colosseum',
       'location': {'address': '222 Islington',
        'lat': 43.604815756762726,
        'lng': -79.50702399614443,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.604815756762726,
          'lng': -79.50702399614443}],
        'distance': 468,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['222 Islington', 'Toronto ON', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d176941735',
         'name': 'Gym',
         'pluralName': 'Gyms',
         'shortName': 'Gym',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/gym_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bf681e794b2a5936788adee-14'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4cdc259422bd721e8d86f947',
       'name': 'Lakeshore Village Fruit',
       'location': {'address': '2856 Lake Shore Blvd W',
        'crossStreet': 'btwn Fourth St. & Fifth St.',
        'lat': 43.60125787389022,
        'lng': -79.50048875136308,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.60125787389022,
          'lng': -79.50048875136308}],
        'distance': 493,
        'cc': 'CA',
        'city': 'Etobicoke',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['2856 Lake Shore Blvd W (btwn Fourth St. & Fifth St.)',
         'Etobicoke ON',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d11b951735',
         'name': 'Flower Shop',
         'pluralName': 'Flower Shops',
         'shortName': 'Flower Shop',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/flowershop_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4cdc259422bd721e8d86f947-15'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '512cf6bde4b07767b2c343bf',
       'name': 'Hex-Mex',
       'location': {'address': 'Lakeshore Blvd West',
        'lat': 43.60126068149633,
        'lng': -79.50228440295261,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.60126068149633,
          'lng': -79.50228440295261}],
        'distance': 494,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['Lakeshore Blvd West', 'Toronto ON', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1c1941735',
         'name': 'Mexican Restaurant',
         'pluralName': 'Mexican Restaurants',
         'shortName': 'Mexican',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/mexican_',
          'suffix': '.png'},

Let's borrow the **get_category_type** function from the Foursquare lab.

In [682]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [683]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

                       name    categories        lat        lng
0                      LCBO  Liquor Store  43.602281 -79.499302
1            Domino's Pizza   Pizza Place  43.601676 -79.500908
2  New Toronto Fish & Chips    Restaurant  43.601849 -79.503281
3   Delicia Bakery & Pastry        Bakery  43.601403 -79.503012
4     Lucky Dice Restaurant          Café  43.601392 -79.503056

Let's determine how many venus are returned by Foursquare

In [684]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

18 venues were returned by Foursquare.

#### Let's create a function to repeat the same process to all the neighborhoods in EC

In [685]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

#### Now let's write the code to run the above function on each neighborhood and create a new dataframe called *EC_venues*.

In [686]:

EC_venues = getNearbyVenues(names=EC['Neighborhood'],
                                   latitudes=EC['Latitude'],
                                   longitudes=EC['Longitude']
                                  )

Humber Bay Shores,Mimico South,New Toronto
Alderwood,Long Branch
The Kingsway,Montgomery Road,Old Mill North
Humber Bay,King's Mill Park,Kingsway Park South East,Mimico NE,Old Mill South,The Queensway East,Royal York South East,Sunnylea
Kingsway Park South West,Mimico NW,The Queensway West,Royal York South West,South of Bloor
Islington Avenue
Cloverdale,Islington,Martin Grove,Princess Gardens,West Deane Park
Bloordale Gardens,Eringate,Markland Wood,Old Burnhamthorpe
Westmount
Kingsview Village,Martin Grove Gardens,Richview Gardens,St. Phillips
Albion Gardens,Beaumond Heights,Humbergate,Jamestown,Mount Olive,Silverstone,South Steeles,Thistletown
Northwest

#### Let's check the size of the resulting dataframe

In [687]:
print(EC_venues.shape)
EC_venues.head()

(74, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,"Humber Bay Shores,Mimico South,New Toronto",43.605647,-79.501321,LCBO,43.602281,-79.499302,Liquor Store
1,"Humber Bay Shores,Mimico South,New Toronto",43.605647,-79.501321,Domino's Pizza,43.601676,-79.500908,Pizza Place
2,"Humber Bay Shores,Mimico South,New Toronto",43.605647,-79.501321,New Toronto Fish & Chips,43.601849,-79.503281,Restaurant
3,"Humber Bay Shores,Mimico South,New Toronto",43.605647,-79.501321,Delicia Bakery & Pastry,43.601403,-79.503012,Bakery
4,"Humber Bay Shores,Mimico South,New Toronto",43.605647,-79.501321,Lucky Dice Restaurant,43.601392,-79.503056,Café

Let's check how many venues were returned for each neighborhood

In [688]:
EC_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
"Albion Gardens,Beaumond Heights,Humbergate,Jamestown,Mount Olive,Silverstone,South Steeles,Thistletown",9,9,9,9,9,9
"Alderwood,Long Branch",9,9,9,9,9,9
"Bloordale Gardens,Eringate,Markland Wood,Old Burnhamthorpe",7,7,7,7,7,7
"Cloverdale,Islington,Martin Grove,Princess Gardens,West Deane Park",1,1,1,1,1,1
"Humber Bay Shores,Mimico South,New Toronto",18,18,18,18,18,18
"Humber Bay,King's Mill Park,Kingsway Park South East,Mimico NE,Old Mill South,The Queensway East,Royal York South East,Sunnylea",2,2,2,2,2,2
"Kingsview Village,Martin Grove Gardens,Richview Gardens,St. Phillips",4,4,4,4,4,4
"Kingsway Park South West,Mimico NW,The Queensway West,Royal York South West,South of Bloor",13,13,13,13,13,13
Northwest,2,2,2,2,2,2
"The Kingsway,Montgomery Road,Old Mill North",2,2,2,2,2,2
Westmount,7,7,7,7,7,7

#### Let's find out how many unique categories can be curated from all the returned venues

In [689]:
print('There are {} uniques categories.'.format(len(EC_venues['Venue Category'].unique())))

There are 40 uniques categories.

#### Analyze Each Neighborhood

In [690]:
# one hot encoding
EC_onehot = pd.get_dummies(EC_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
EC_onehot['Neighborhood'] = EC_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [EC_onehot.columns[-1]] + list(EC_onehot.columns[:-1])
EC_onehot = EC_onehot[fixed_columns]

EC_onehot.head()

,Neighborhood,American Restaurant,Bakery,Bank,Baseball Field,Beer Store,Burger Joint,Burrito Place,Bus Line,Café,...,Pool,Pub,Rental Car Location,Restaurant,River,Sandwich Place,Seafood Restaurant,Skating Rink,Supplement Shop,Wings Joint
0,"Humber Bay Shores,Mimico South,New Toronto",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"Humber Bay Shores,Mimico South,New Toronto",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"Humber Bay Shores,Mimico South,New Toronto",0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,"Humber Bay Shores,Mimico South,New Toronto",0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"Humber Bay Shores,Mimico South,New Toronto",0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [691]:
EC_onehot.shape

(74, 41)

#### Next, let's group rows by neighborhood and by taking the mean of the frequency of occurrence of each category

In [692]:
EC_grouped= EC_onehot.groupby('Neighborhood').mean().reset_index()
EC_grouped

,Neighborhood,American Restaurant,Bakery,Bank,Baseball Field,Beer Store,Burger Joint,Burrito Place,Bus Line,Café,...,Pool,Pub,Rental Car Location,Restaurant,River,Sandwich Place,Seafood Restaurant,Skating Rink,Supplement Shop,Wings Joint
0,"Albion Gardens,Beaumond Heights,Humbergate,Jam...",0.000000,0.000000,0.0,0.0,0.111111,0.000000,0.000000,0.00,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.111111,0.000000,0.000000,0.000000,0.000000
1,"Alderwood,Long Branch",0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00,0.000000,...,0.111111,0.111111,0.0,0.000000,0.0,0.111111,0.000000,0.111111,0.000000,0.000000
2,"Bloordale Gardens,Eringate,Markland Wood,Old B...",0.000000,0.000000,0.0,0.0,0.142857,0.000000,0.000000,0.00,0.142857,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
3,"Cloverdale,Islington,Martin Grove,Princess Gar...",0.000000,0.000000,1.0,0.0,0.000000,0.000000,0.000000,0.00,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
4,"Humber Bay Shores,Mimico South,New Toronto",0.055556,0.055556,0.0,0.0,0.000000,0.000000,0.000000,0.00,0.111111,...,0.000000,0.000000,0.0,0.055556,0.0,0.055556,0.055556,0.000000,0.000000,0.000000
5,"Humber Bay,King's Mill Park,Kingsway Park Sout...",0.000000,0.000000,0.0,0.5,0.000000,0.000000,0.000000,0.00,0.000000,...,0.500000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
6,"Kingsview Village,Martin Grove Gardens,Richvie...",0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.25,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
7,"Kingsway Park South West,Mimico NW,The Queensw...",0.000000,0.076923,0.0,0.0,0.000000,0.076923,0.076923,0.00,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.076923,0.000000,0.000000,0.076923,0.076923
8,Northwest,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00,0.000000,...,0.000000,0.000000,0.5,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
9,"The Kingsway,Montgomery Road,Old Mill North",0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00,0.000000,...,0.000000,0.000000,0.0,0.000000,0.5,0.000000,0.000000,0.000000,0.000000,0.000000
10,Westmount,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.142857,0.000000,0.000000,0.000000,0.000000

#### Let's print each neighborhood along with the top 5 most common venues

In [694]:
num_top_venues = 5

for hood in EC_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = EC_grouped[EC_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Albion Gardens,Beaumond Heights,Humbergate,Jamestown,Mount Olive,Silverstone,South Steeles,Thistletown----
                 venue  freq
0        Grocery Store  0.22
1          Pizza Place  0.11
2           Beer Store  0.11
3       Sandwich Place  0.11
4  Fried Chicken Joint  0.11


----Alderwood,Long Branch----
          venue  freq
0   Pizza Place  0.22
1   Coffee Shop  0.11
2      Pharmacy  0.11
3  Skating Rink  0.11
4           Gym  0.11


----Bloordale Gardens,Eringate,Markland Wood,Old Burnhamthorpe----
               venue  freq
0  Convenience Store  0.14
1         Beer Store  0.14
2           Pharmacy  0.14
3               Café  0.14
4        Pizza Place  0.14


----Cloverdale,Islington,Martin Grove,Princess Gardens,West Deane Park----
                       venue  freq
0                       Bank   1.0
1        American Restaurant   0.0
2                       Pool   0.0
3         Mexican Restaurant   0.0
4  Middle Eastern Restaurant   0.0


----Humber Bay Shores,Mimico South,New Toronto----
                 venue  freq
0                 Café  0.11
1  American Restaurant  0.06
2          Flower Shop  0.06
3   Seafood Restaurant  0.06
4       Sandwich Place  0.06


----Humber Bay,King's Mill Park,Kingsway Park South East,Mimico NE,Old Mill South,The Queensway East,Royal York South East,Sunnylea----
                       venue  freq
0                       Pool   0.5
1             Baseball Field   0.5
2        American Restaurant   0.0
3         Mexican Restaurant   0.0
4  Middle Eastern Restaurant   0.0


----Kingsview Village,Martin Grove Gardens,Richview Gardens,St. Phillips----
                 venue  freq
0    Mobile Phone Shop  0.25
1                 Park  0.25
2             Bus Line  0.25
3          Pizza Place  0.25
4  American Restaurant  0.00


----Kingsway Park South West,Mimico NW,The Queensway West,Royal York South West,South of Bloor----
               venue  freq
0        Wings Joint  0.08
1  Convenience Store  0.08
2             Bakery  0.08
3     Hardware Store  0.08
4                Gym  0.08


----Northwest----
                 venue  freq
0            Drugstore   0.5
1  Rental Car Location   0.5
2  American Restaurant   0.0
3          Pizza Place   0.0
4   Mexican Restaurant   0.0


----The Kingsway,Montgomery Road,Old Mill North----
                 venue  freq
0                River   0.5
1                 Park   0.5
2  American Restaurant   0.0
3          Pizza Place   0.0
4         Liquor Store   0.0


----Westmount----
                       venue  freq
0                Pizza Place  0.29
1                Coffee Shop  0.14
2  Middle Eastern Restaurant  0.14
3             Sandwich Place  0.14
4         Chinese Restaurant  0.14

### Put the data in a Pandas Dataframe

First, let's write a function to sort the venues in descending order.

In [695]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [696]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = EC_grouped['Neighborhood']

for ind in np.arange(EC_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(EC_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Albion Gardens,Beaumond Heights,Humbergate,Jam...",Grocery Store,Pizza Place,Beer Store,Fast Food Restaurant,Coffee Shop,Pharmacy,Fried Chicken Joint,Sandwich Place,Burger Joint,Burrito Place
1,"Alderwood,Long Branch",Pizza Place,Pharmacy,Skating Rink,Gym,Sandwich Place,Pub,Pool,Coffee Shop,Bus Line,Drugstore
2,"Bloordale Gardens,Eringate,Markland Wood,Old B...",Pizza Place,Liquor Store,Beer Store,Convenience Store,Café,Coffee Shop,Pharmacy,Chinese Restaurant,Flower Shop,Fast Food Restaurant
3,"Cloverdale,Islington,Martin Grove,Princess Gar...",Bank,Wings Joint,Coffee Shop,Grocery Store,Fried Chicken Joint,Flower Shop,Fast Food Restaurant,Drugstore,Discount Store,Convenience Store
4,"Humber Bay Shores,Mimico South,New Toronto",Café,American Restaurant,Pharmacy,Flower Shop,Fried Chicken Joint,Gym,Coffee Shop,Hobby Shop,Liquor Store,Mexican Restaurant

### Cluster Neighborhoods

Run *k*-means to cluster the neighborhood into 5 clusters.

In [697]:
# set number of clusters
kclusters = 5

EC_grouped_clustering = EC_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(EC_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([0, 0, 0, 1, 0, 3, 0, 0, 2, 4], dtype=int32)

In [699]:
# add clustering labels


neighborhoods_venues_sorted.insert(0, 'Cluster Labelstwo', kmeans.labels_)
EC_grouped_merged =EC

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
EC_grouped_merged = EC_grouped_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

EC_grouped_merged.head() # check the last columns!

,Postalcode,Borough,Neighborhood,Latitude,Longitude,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,M8V,Etobicoke,"Humber Bay Shores,Mimico South,New Toronto",43.605647,-79.501321,0.0,Café,American Restaurant,Pharmacy,Flower Shop,Fried Chicken Joint,Gym,Coffee Shop,Hobby Shop,Liquor Store,Mexican Restaurant
1,M8W,Etobicoke,"Alderwood,Long Branch",43.602414,-79.543484,0.0,Pizza Place,Pharmacy,Skating Rink,Gym,Sandwich Place,Pub,Pool,Coffee Shop,Bus Line,Drugstore
2,M8X,Etobicoke,"The Kingsway,Montgomery Road,Old Mill North",43.653654,-79.506944,4.0,River,Park,Wings Joint,Chinese Restaurant,Fried Chicken Joint,Flower Shop,Fast Food Restaurant,Drugstore,Discount Store,Convenience Store
3,M8Y,Etobicoke,"Humber Bay,King's Mill Park,Kingsway Park Sout...",43.636258,-79.498509,3.0,Baseball Field,Pool,Wings Joint,Chinese Restaurant,Fried Chicken Joint,Flower Shop,Fast Food Restaurant,Drugstore,Discount Store,Convenience Store
4,M8Z,Etobicoke,"Kingsway Park South West,Mimico NW,The Queensw...",43.628841,-79.520999,0.0,Wings Joint,Supplement Shop,Bakery,Burger Joint,Burrito Place,Convenience Store,Discount Store,Fast Food Restaurant,Flower Shop,Grocery Store

#### Examine Clusters

In [700]:
#CLuster 1
EC_grouped_merged.loc[EC_grouped_merged['Cluster Labelstwo'] == 0, EC_grouped_merged.columns[[1] + list(range(5, EC_grouped_merged.shape[1]))]]

,Borough,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Etobicoke,0.0,Café,American Restaurant,Pharmacy,Flower Shop,Fried Chicken Joint,Gym,Coffee Shop,Hobby Shop,Liquor Store,Mexican Restaurant
1,Etobicoke,0.0,Pizza Place,Pharmacy,Skating Rink,Gym,Sandwich Place,Pub,Pool,Coffee Shop,Bus Line,Drugstore
4,Etobicoke,0.0,Wings Joint,Supplement Shop,Bakery,Burger Joint,Burrito Place,Convenience Store,Discount Store,Fast Food Restaurant,Flower Shop,Grocery Store
7,Etobicoke,0.0,Pizza Place,Liquor Store,Beer Store,Convenience Store,Café,Coffee Shop,Pharmacy,Chinese Restaurant,Flower Shop,Fast Food Restaurant
8,Etobicoke,0.0,Pizza Place,Chinese Restaurant,Sandwich Place,Intersection,Middle Eastern Restaurant,Coffee Shop,Wings Joint,Flower Shop,Fast Food Restaurant,Drugstore
9,Etobicoke,0.0,Pizza Place,Mobile Phone Shop,Bus Line,Park,Chinese Restaurant,Flower Shop,Fast Food Restaurant,Drugstore,Discount Store,Convenience Store
10,Etobicoke,0.0,Grocery Store,Pizza Place,Beer Store,Fast Food Restaurant,Coffee Shop,Pharmacy,Fried Chicken Joint,Sandwich Place,Burger Joint,Burrito Place

In [701]:
#CLuster 2
EC_grouped_merged.loc[EC_grouped_merged['Cluster Labelstwo'] == 1, EC_grouped_merged.columns[[1] + list(range(5, EC_grouped_merged.shape[1]))]]

,Borough,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
6,Etobicoke,1.0,Bank,Wings Joint,Coffee Shop,Grocery Store,Fried Chicken Joint,Flower Shop,Fast Food Restaurant,Drugstore,Discount Store,Convenience Store

In [702]:
#CLuster 3
EC_grouped_merged.loc[EC_grouped_merged['Cluster Labelstwo'] == 2, EC_grouped_merged.columns[[1] + list(range(5, EC_grouped_merged.shape[1]))]]

,Borough,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
11,Etobicoke,2.0,Drugstore,Rental Car Location,Wings Joint,Chinese Restaurant,Fried Chicken Joint,Flower Shop,Fast Food Restaurant,Discount Store,Convenience Store,Coffee Shop

In [703]:
#CLuster 4
EC_grouped_merged.loc[EC_grouped_merged['Cluster Labelstwo'] == 3, EC_grouped_merged.columns[[1] + list(range(5, EC_grouped_merged.shape[1]))]]

,Borough,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
3,Etobicoke,3.0,Baseball Field,Pool,Wings Joint,Chinese Restaurant,Fried Chicken Joint,Flower Shop,Fast Food Restaurant,Drugstore,Discount Store,Convenience Store

In [705]:
#CLuster 5
EC_grouped_merged.loc[EC_grouped_merged['Cluster Labelstwo'] == 4, EC_grouped_merged.columns[[1] + list(range(5, EC_grouped_merged.shape[1]))]]

,Borough,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
2,Etobicoke,4.0,River,Park,Wings Joint,Chinese Restaurant,Fried Chicken Joint,Flower Shop,Fast Food Restaurant,Drugstore,Discount Store,Convenience Store

## Central Toronto Analysis

In [706]:
CT = df4[df4['Borough'] == 'Central Toronto'].reset_index(drop=True)
CT.head()

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790
1,M4P,Central Toronto,Davisville North,43.712751,-79.390197
2,M4R,Central Toronto,North Toronto West,43.715383,-79.405678
3,M4S,Central Toronto,Davisville,43.704324,-79.388790
4,M4T,Central Toronto,"Moore Park,Summerhill East",43.689574,-79.383160

Geographical coordinates of Central Toronto

Let's explore the first neighborhood in our dataframe: get the n

In [708]:
CT.loc[0, 'Neighborhood']

'Lawrence Park'

In [709]:
neighborhood_latitude = CT.loc[0, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = CT.loc[0, 'Longitude'] # neighborhood longitude value

neighborhood_name = CT.loc[0, 'Neighborhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                               neighborhood_longitude))

Latitude and longitude values of Lawrence Park are 43.7280205, -79.3887901.

Now, let's get the top 100 venues that are in Lawrence Park within a radius of 500 meters.

Let's create the GET request URL. Name your URL **url**.

In [710]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)
url

'https://api.foursquare.com/v2/venues/explore?&client_id=DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL&client_secret=G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP&v=20180605&ll=43.7280205,-79.3887901&radius=500&limit=100'

Send the GET request and examine the resutls

In [711]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d3c790bd9a6e600383ca6e6'},
 'response': {'headerLocation': 'Toronto',
  'headerFullLocation': 'Toronto',
  'headerLocationGranularity': 'city',
  'totalResults': 4,
  'suggestedBounds': {'ne': {'lat': 43.7325205045, 'lng': -79.3825744605273},
   'sw': {'lat': 43.7235204955, 'lng': -79.3950057394727}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '50e6da19e4b0d8a78a0e9794',
       'name': 'Lawrence Park Ravine',
       'location': {'address': '3055 Yonge Street',
        'crossStreet': 'Lawrence Avenue East',
        'lat': 43.72696303913755,
        'lng': -79.39438246708775,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.72696303913755,
          'lng': -79.39438246708775}],
        'distance': 465,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['3055 Yonge Street (Lawrence Avenue East)',
         'Toronto ON',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d163941735',
         'name': 'Park',
         'pluralName': 'Parks',
         'shortName': 'Park',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/park_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-50e6da19e4b0d8a78a0e9794-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '57813d57498e0991ffe4b720',
       'name': 'Dim Sum Deluxe',
       'location': {'address': '21 Milliken Blvd Unit C5',
        'lat': 43.72695269460939,
        'lng': -79.39426004519044,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.72695269460939,
          'lng': -79.39426004519044}],
        'distance': 455,
        'postalCode': 'M1V 5H6',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['21 Milliken Blvd Unit C5',
         'Toronto ON M1V 5H6',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1f5931735',
         'name': 'Dim Sum Restaurant',
         'pluralName': 'Dim Sum Restaurants',
         'shortName': 'Dim Sum',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/dimsum_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-57813d57498e0991ffe4b720-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '5082ef77e4b0a7491cf7b022',
       'name': 'Zodiac Swim School',
       'location': {'lat': 43.72853205765438,
        'lng': -79.3828602612317,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.72853205765438,
          'lng': -79.3828602612317}],
        'distance': 480,
        'cc': 'CA',
        'country': 'Canada',
        'formattedAddress': ['Canada']},
       'categories': [{'id': '52e81612bcbc57f1066b7a44',
         'name': 'Swim School',
         'pluralName': 'Swim Schools',
         'shortName': 'Swim School',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/pool_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-5082ef77e4b0a7491cf7b022-2'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '50ed9da8e4b081eabee12672',
       'name': 'TTC Bus #162 - Lawrence-Donway',
       'location': {'lat': 43.72802605799448,
        'lng': -79.38280527753858,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.72802605799448,
          'lng': -79.38280527753858}],
        'distance': 481,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['Toronto ON', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d12b951735',
         'name': 'Bus Line',
         'pluralName': 'Bus Lines',
         'shortName': 'Bus',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/busstation_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-50ed9da8e4b081eabee12672-3'}]}]}}

Let's borrow the **get_category_type** function from the Foursquare lab.

In [712]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [713]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

                             name          categories        lat        lng
0            Lawrence Park Ravine                Park  43.726963 -79.394382
1                  Dim Sum Deluxe  Dim Sum Restaurant  43.726953 -79.394260
2              Zodiac Swim School         Swim School  43.728532 -79.382860
3  TTC Bus #162 - Lawrence-Donway            Bus Line  43.728026 -79.382805

Let's determine how many venus are returned by Foursquare

In [714]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

4 venues were returned by Foursquare.

#### Let's create a function to repeat the same process to all the neighborhoods in CT

In [715]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

#### Now let's write the code to run the above function on each neighborhood and create a new dataframe called *CT_venues*.

In [718]:

CT_venues = getNearbyVenues(names=CT['Neighborhood'],
                                   latitudes=CT['Latitude'],
                                   longitudes=CT['Longitude']
                                  )

Lawrence Park
Davisville North
North Toronto West
Davisville
Moore Park,Summerhill East
Deer Park,Forest Hill SE,Rathnelly,South Hill,Summerhill West
Roselawn
Forest Hill North,Forest Hill West
The Annex,North Midtown,Yorkville

#### Let's check the size of the resulting dataframe

In [719]:
print(CT_venues.shape)
CT_venues.head()

(119, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Lawrence Park,43.728020,-79.388790,Lawrence Park Ravine,43.726963,-79.394382,Park
1,Lawrence Park,43.728020,-79.388790,Dim Sum Deluxe,43.726953,-79.394260,Dim Sum Restaurant
2,Lawrence Park,43.728020,-79.388790,Zodiac Swim School,43.728532,-79.382860,Swim School
3,Lawrence Park,43.728020,-79.388790,TTC Bus #162 - Lawrence-Donway,43.728026,-79.382805,Bus Line
4,Davisville North,43.712751,-79.390197,Sherwood Park,43.716551,-79.387776,Park

Let's check how many venues were returned for each neighborhood

In [720]:
CT_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
Davisville,37,37,37,37,37,37
Davisville North,8,8,8,8,8,8
"Deer Park,Forest Hill SE,Rathnelly,South Hill,Summerhill West",15,15,15,15,15,15
"Forest Hill North,Forest Hill West",4,4,4,4,4,4
Lawrence Park,4,4,4,4,4,4
"Moore Park,Summerhill East",5,5,5,5,5,5
North Toronto West,19,19,19,19,19,19
Roselawn,3,3,3,3,3,3
"The Annex,North Midtown,Yorkville",24,24,24,24,24,24

#### Let's find out how many unique categories can be curated from all the returned venues

In [721]:
print('There are {} uniques categories.'.format(len(EC_venues['Venue Category'].unique())))

There are 40 uniques categories.

#### Analyze Each Neighborhood

In [722]:
# one hot encoding
CT_onehot = pd.get_dummies(CT_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
CT_onehot['Neighborhood'] = CT_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [CT_onehot.columns[-1]] + list(CT_onehot.columns[:-1])
CT_onehot = CT_onehot[fixed_columns]

CT_onehot.head()

,Neighborhood,American Restaurant,BBQ Joint,Bagel Shop,Bowling Alley,Breakfast Spot,Brewery,Burger Joint,Bus Line,Café,...,Supermarket,Sushi Restaurant,Swim School,Tennis Court,Thai Restaurant,Toy / Game Store,Trail,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Yoga Studio
0,Lawrence Park,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Lawrence Park,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Lawrence Park,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,Lawrence Park,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,Davisville North,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [723]:
CT_onehot.shape

(119, 68)

#### Next, let's group rows by neighborhood and by taking the mean of the frequency of occurrence of each category

In [724]:
CT_grouped= CT_onehot.groupby('Neighborhood').mean().reset_index()
CT_grouped

,Neighborhood,American Restaurant,BBQ Joint,Bagel Shop,Bowling Alley,Breakfast Spot,Brewery,Burger Joint,Bus Line,Café,...,Supermarket,Sushi Restaurant,Swim School,Tennis Court,Thai Restaurant,Toy / Game Store,Trail,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Yoga Studio
0,Davisville,0.000000,0.000000,0.000000,0.027027,0.000,0.027027,0.000000,0.00,0.054054,...,0.000000,0.054054,0.00,0.0,0.054054,0.027027,0.00,0.000000,0.000000,0.000000
1,Davisville North,0.000000,0.000000,0.000000,0.000000,0.125,0.000000,0.000000,0.00,0.000000,...,0.000000,0.000000,0.00,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.000000
2,"Deer Park,Forest Hill SE,Rathnelly,South Hill,...",0.066667,0.000000,0.066667,0.000000,0.000,0.000000,0.000000,0.00,0.000000,...,0.066667,0.066667,0.00,0.0,0.000000,0.000000,0.00,0.000000,0.066667,0.000000
3,"Forest Hill North,Forest Hill West",0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.00,0.000000,...,0.000000,0.250000,0.00,0.0,0.000000,0.000000,0.25,0.000000,0.000000,0.000000
4,Lawrence Park,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.25,0.000000,...,0.000000,0.000000,0.25,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.000000
5,"Moore Park,Summerhill East",0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.00,0.000000,...,0.000000,0.000000,0.00,0.2,0.000000,0.000000,0.20,0.000000,0.000000,0.000000
6,North Toronto West,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.00,0.000000,...,0.000000,0.000000,0.00,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.052632
7,Roselawn,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.00,0.000000,...,0.000000,0.000000,0.00,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.000000
8,"The Annex,North Midtown,Yorkville",0.041667,0.041667,0.000000,0.000000,0.000,0.000000,0.041667,0.00,0.125000,...,0.000000,0.000000,0.00,0.0,0.000000,0.000000,0.00,0.041667,0.000000,0.000000

#### Let's print each neighborhood along with the top 5 most common venues

In [725]:
num_top_venues = 5

for hood in CT_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = CT_grouped[CT_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Davisville----
             venue  freq
0     Dessert Shop  0.08
1   Sandwich Place  0.08
2  Thai Restaurant  0.05
3      Coffee Shop  0.05
4      Pizza Place  0.05


----Davisville North----
            venue  freq
0  Sandwich Place  0.12
1           Hotel  0.12
2   Grocery Store  0.12
3             Gym  0.12
4  Clothing Store  0.12


----Deer Park,Forest Hill SE,Rathnelly,South Hill,Summerhill West----
                 venue  freq
0                  Pub  0.13
1          Coffee Shop  0.13
2  American Restaurant  0.07
3  Fried Chicken Joint  0.07
4          Pizza Place  0.07


----Forest Hill North,Forest Hill West----
                 venue  freq
0        Jewelry Store  0.25
1                Trail  0.25
2   Mexican Restaurant  0.25
3     Sushi Restaurant  0.25
4  American Restaurant  0.00


----Lawrence Park----
                venue  freq
0         Swim School  0.25
1  Dim Sum Restaurant  0.25
2            Bus Line  0.25
3                Park  0.25
4            Pharmacy  0.00


----Moore Park,Summerhill East----
          venue  freq
0   Summer Camp   0.2
1         Trail   0.2
2    Playground   0.2
3  Tennis Court   0.2
4    Restaurant   0.2


----North Toronto West----
                 venue  freq
0  Sporting Goods Shop  0.11
1       Clothing Store  0.11
2          Coffee Shop  0.11
3         Dessert Shop  0.05
4   Mexican Restaurant  0.05


----Roselawn----
                 venue  freq
0         Home Service  0.33
1                 Pool  0.33
2               Garden  0.33
3  American Restaurant  0.00
4             Pharmacy  0.00


----The Annex,North Midtown,Yorkville----
                 venue  freq
0       Sandwich Place  0.12
1                 Café  0.12
2          Coffee Shop  0.12
3          Pizza Place  0.08
4  American Restaurant  0.04

### Put the data in a Pandas Dataframe

First, let's write a function to sort the venues in descending order.

In [726]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [727]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = CT_grouped['Neighborhood']

for ind in np.arange(CT_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(CT_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Davisville,Dessert Shop,Sandwich Place,Thai Restaurant,Pizza Place,Sushi Restaurant,Café,Italian Restaurant,Coffee Shop,Indoor Play Area,Restaurant
1,Davisville North,Clothing Store,Hotel,Sandwich Place,Breakfast Spot,Gym,Grocery Store,Food & Drink Shop,Park,Yoga Studio,Flower Shop
2,"Deer Park,Forest Hill SE,Rathnelly,South Hill,...",Pub,Coffee Shop,Sports Bar,Vietnamese Restaurant,Fried Chicken Joint,Light Rail Station,Liquor Store,Pizza Place,Restaurant,American Restaurant
3,"Forest Hill North,Forest Hill West",Mexican Restaurant,Trail,Jewelry Store,Sushi Restaurant,Yoga Studio,Farmers Market,Flower Shop,Food & Drink Shop,Fried Chicken Joint,Garden
4,Lawrence Park,Bus Line,Park,Swim School,Dim Sum Restaurant,Gourmet Shop,Farmers Market,Flower Shop,Food & Drink Shop,Fried Chicken Joint,Garden

### Cluster Neighborhoods

Run *k*-means to cluster the neighborhood into 5 clusters.

In [728]:
# set number of clusters
kclusters = 5

CT_grouped_clustering = CT_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(CT_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([0, 0, 0, 3, 4, 2, 0, 1, 0], dtype=int32)

In [729]:
# add clustering labels


neighborhoods_venues_sorted.insert(0, 'Cluster Labelstwo', kmeans.labels_)
CT_grouped_merged =CT

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
CT_grouped_merged = CT_grouped_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

CT_grouped_merged.head() # check the last columns!

,Postalcode,Borough,Neighborhood,Latitude,Longitude,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790,4,Bus Line,Park,Swim School,Dim Sum Restaurant,Gourmet Shop,Farmers Market,Flower Shop,Food & Drink Shop,Fried Chicken Joint,Garden
1,M4P,Central Toronto,Davisville North,43.712751,-79.390197,0,Clothing Store,Hotel,Sandwich Place,Breakfast Spot,Gym,Grocery Store,Food & Drink Shop,Park,Yoga Studio,Flower Shop
2,M4R,Central Toronto,North Toronto West,43.715383,-79.405678,0,Coffee Shop,Clothing Store,Sporting Goods Shop,Yoga Studio,Spa,Mexican Restaurant,Miscellaneous Shop,Park,Diner,Dessert Shop
3,M4S,Central Toronto,Davisville,43.704324,-79.388790,0,Dessert Shop,Sandwich Place,Thai Restaurant,Pizza Place,Sushi Restaurant,Café,Italian Restaurant,Coffee Shop,Indoor Play Area,Restaurant
4,M4T,Central Toronto,"Moore Park,Summerhill East",43.689574,-79.383160,2,Summer Camp,Tennis Court,Restaurant,Playground,Trail,Gym / Fitness Center,Gym,Grocery Store,Greek Restaurant,Gourmet Shop

#### Examine Clusters

In [730]:
#CLuster 1
CT_grouped_merged.loc[CT_grouped_merged['Cluster Labelstwo'] == 0, CT_grouped_merged.columns[[1] + list(range(5, CT_grouped_merged.shape[1]))]]

,Borough,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
1,Central Toronto,0,Clothing Store,Hotel,Sandwich Place,Breakfast Spot,Gym,Grocery Store,Food & Drink Shop,Park,Yoga Studio,Flower Shop
2,Central Toronto,0,Coffee Shop,Clothing Store,Sporting Goods Shop,Yoga Studio,Spa,Mexican Restaurant,Miscellaneous Shop,Park,Diner,Dessert Shop
3,Central Toronto,0,Dessert Shop,Sandwich Place,Thai Restaurant,Pizza Place,Sushi Restaurant,Café,Italian Restaurant,Coffee Shop,Indoor Play Area,Restaurant
5,Central Toronto,0,Pub,Coffee Shop,Sports Bar,Vietnamese Restaurant,Fried Chicken Joint,Light Rail Station,Liquor Store,Pizza Place,Restaurant,American Restaurant
8,Central Toronto,0,Coffee Shop,Sandwich Place,Café,Pizza Place,American Restaurant,Indian Restaurant,Jewish Restaurant,Liquor Store,Flower Shop,Park

In [731]:
#CLuster 2
CT_grouped_merged.loc[CT_grouped_merged['Cluster Labelstwo'] == 1, CT_grouped_merged.columns[[1] + list(range(5, CT_grouped_merged.shape[1]))]]

,Borough,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
6,Central Toronto,1,Home Service,Pool,Garden,Yoga Studio,Gourmet Shop,Farmers Market,Flower Shop,Food & Drink Shop,Fried Chicken Joint,Greek Restaurant

In [732]:
#CLuster 3
CT_grouped_merged.loc[CT_grouped_merged['Cluster Labelstwo'] == 2, CT_grouped_merged.columns[[1] + list(range(5, CT_grouped_merged.shape[1]))]]

,Borough,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
4,Central Toronto,2,Summer Camp,Tennis Court,Restaurant,Playground,Trail,Gym / Fitness Center,Gym,Grocery Store,Greek Restaurant,Gourmet Shop

In [733]:
#CLuster 4
CT_grouped_merged.loc[CT_grouped_merged['Cluster Labelstwo'] == 3, CT_grouped_merged.columns[[1] + list(range(5, CT_grouped_merged.shape[1]))]]

,Borough,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
7,Central Toronto,3,Mexican Restaurant,Trail,Jewelry Store,Sushi Restaurant,Yoga Studio,Farmers Market,Flower Shop,Food & Drink Shop,Fried Chicken Joint,Garden

In [735]:
#CLuster 5
CT_grouped_merged.loc[CT_grouped_merged['Cluster Labelstwo'] == 4, CT_grouped_merged.columns[[1] + list(range(5, CT_grouped_merged.shape[1]))]]

,Borough,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Central Toronto,4,Bus Line,Park,Swim School,Dim Sum Restaurant,Gourmet Shop,Farmers Market,Flower Shop,Food & Drink Shop,Fried Chicken Joint,Garden

## York Analysis

In [736]:
Y = df4[df4['Borough'] == 'York'].reset_index(drop=True)
Y.head()

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M6C,York,Humewood-Cedarvale,43.693781,-79.428191
1,M6E,York,Caledonia-Fairbanks,43.689026,-79.453512
2,M6M,York,"Del Ray,Keelesdale,Mount Dennis,Silverthorn",43.691116,-79.476013
3,M6N,York,"The Junction North,Runnymede",43.673185,-79.487262
4,M9N,York,Weston,43.706876,-79.518188

Geographical coordinates of York

Let's explore the first neighborhood in our dataframe: get the n

In [737]:
Y.loc[0, 'Neighborhood']

'Humewood-Cedarvale'

In [738]:
neighborhood_latitude = Y.loc[0, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = Y.loc[0, 'Longitude'] # neighborhood longitude value

neighborhood_name = Y.loc[0, 'Neighborhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                               neighborhood_longitude))

Latitude and longitude values of Humewood-Cedarvale are 43.6937813, -79.42819140000002.

Now, let's get the top 100 venues that are in Humewood-Cedarvale within a radius of 500 meters.

Let's create the GET request URL. Name your URL **url**.

In [743]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)
url

'https://api.foursquare.com/v2/venues/explore?&client_id=DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL&client_secret=G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP&v=20180605&ll=43.6937813,-79.42819140000002&radius=500&limit=100'

Send the GET request and examine the resutls

In [744]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d3c7d6286bc49002c983e9b'},
 'response': {'headerLocation': 'Cedarvale',
  'headerFullLocation': 'Cedarvale, Toronto',
  'headerLocationGranularity': 'neighborhood',
  'totalResults': 4,
  'suggestedBounds': {'ne': {'lat': 43.6982813045, 'lng': -79.4219793104081},
   'sw': {'lat': 43.689281295499995, 'lng': -79.43440348959193}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b0afc19f964a520212b23e3',
       'name': 'Cedarvale Park',
       'location': {'address': '100 glen cedar',
        'crossStreet': 'Strathearn',
        'lat': 43.692534923091934,
        'lng': -79.42870527613704,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.692534923091934,
          'lng': -79.42870527613704}],
        'distance': 144,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['100 glen cedar (Strathearn)',
         'Toronto ON',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d15f941735',
         'name': 'Field',
         'pluralName': 'Fields',
         'shortName': 'Field',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/field_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b0afc19f964a520212b23e3-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4d1cd5f409546dcb10f1d538',
       'name': 'Phil White Arena',
       'location': {'address': '443 Arlington Avenue',
        'lat': 43.69130271699826,
        'lng': -79.43176051142332,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.69130271699826,
          'lng': -79.43176051142332}],
        'distance': 398,
        'cc': 'CA',
        'country': 'Canada',
        'formattedAddress': ['443 Arlington Avenue', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d185941735',
         'name': 'Hockey Arena',
         'pluralName': 'Hockey Arenas',
         'shortName': 'Hockey',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/arts_entertainment/stadium_hockey_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4d1cd5f409546dcb10f1d538-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4c24abfcf7ced13aa425236d',
       'name': 'Cedarvale Ravine',
       'location': {'lat': 43.690188230007266,
        'lng': -79.42610580222994,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.690188230007266,
          'lng': -79.42610580222994}],
        'distance': 433,
        'cc': 'CA',
        'country': 'Canada',
        'formattedAddress': ['Canada']},
       'categories': [{'id': '4bf58dd8d48988d159941735',
         'name': 'Trail',
         'pluralName': 'Trails',
         'shortName': 'Trail',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/hikingtrail_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4c24abfcf7ced13aa425236d-2'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '514c85eee4b00b0ee5a01609',
       'name': "Prince's Parkette",
       'location': {'lat': 43.697385109217436,
        'lng': -79.42470436410068,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.697385109217436,
          'lng': -79.42470436410068}],
        'distance': 489,
        'cc': 'CA',
        'country': 'Canada',
        'formattedAddress': ['Canada']},
       'categories': [{'id': '4bf58dd8d48988d163941735',
         'name': 'Park',
         'pluralName': 'Parks',
         'shortName': 'Park',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/park_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-514c85eee4b00b0ee5a01609-3'}]}]}}

Let's borrow the **get_category_type** function from the Foursquare lab.

In [745]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [746]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

                name    categories        lat        lng
0     Cedarvale Park         Field  43.692535 -79.428705
1   Phil White Arena  Hockey Arena  43.691303 -79.431761
2   Cedarvale Ravine         Trail  43.690188 -79.426106
3  Prince's Parkette          Park  43.697385 -79.424704

Let's determine how many venus are returned by Foursquare

In [747]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

4 venues were returned by Foursquare.

#### Let's create a function to repeat the same process to all the neighborhoods in Y

In [748]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

#### Now let's write the code to run the above function on each neighborhood and create a new dataframe called *Y_venues*.

In [749]:

Y_venues = getNearbyVenues(names=Y['Neighborhood'],
                                   latitudes=Y['Latitude'],
                                   longitudes=Y['Longitude']
                                  )

Humewood-Cedarvale
Caledonia-Fairbanks
Del Ray,Keelesdale,Mount Dennis,Silverthorn
The Junction North,Runnymede
Weston

#### Let's check the size of the resulting dataframe

In [750]:
print(Y_venues.shape)
Y_venues.head()

(19, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Humewood-Cedarvale,43.693781,-79.428191,Cedarvale Park,43.692535,-79.428705,Field
1,Humewood-Cedarvale,43.693781,-79.428191,Phil White Arena,43.691303,-79.431761,Hockey Arena
2,Humewood-Cedarvale,43.693781,-79.428191,Cedarvale Ravine,43.690188,-79.426106,Trail
3,Humewood-Cedarvale,43.693781,-79.428191,Prince's Parkette,43.697385,-79.424704,Park
4,Caledonia-Fairbanks,43.689026,-79.453512,Shoppers Drug Mart,43.690651,-79.456310,Pharmacy

Let's check how many venues were returned for each neighborhood

In [751]:
Y_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
Caledonia-Fairbanks,6,6,6,6,6,6
"Del Ray,Keelesdale,Mount Dennis,Silverthorn",5,5,5,5,5,5
Humewood-Cedarvale,4,4,4,4,4,4
"The Junction North,Runnymede",4,4,4,4,4,4

#### Let's find out how many unique categories can be curated from all the returned venues

In [752]:
print('There are {} uniques categories.'.format(len(EC_venues['Venue Category'].unique())))

There are 40 uniques categories.

#### Analyze Each Neighborhood

In [753]:
# one hot encoding
Y_onehot = pd.get_dummies(Y_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
Y_onehot['Neighborhood'] = Y_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [Y_onehot.columns[-1]] + list(Y_onehot.columns[:-1])
Y_onehot = Y_onehot[fixed_columns]

Y_onehot.head()

,Neighborhood,Bar,Bus Line,Convenience Store,Discount Store,Fast Food Restaurant,Field,Grocery Store,Hockey Arena,Market,Park,Pharmacy,Pizza Place,Sandwich Place,Skating Rink,Trail,Women's Store
0,Humewood-Cedarvale,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,Humewood-Cedarvale,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2,Humewood-Cedarvale,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,Humewood-Cedarvale,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4,Caledonia-Fairbanks,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [754]:
CT_onehot.shape

(119, 68)

#### Next, let's group rows by neighborhood and by taking the mean of the frequency of occurrence of each category

In [756]:
Y_grouped= Y_onehot.groupby('Neighborhood').mean().reset_index()
Y_grouped

,Neighborhood,Bar,Bus Line,Convenience Store,Discount Store,Fast Food Restaurant,Field,Grocery Store,Hockey Arena,Market,Park,Pharmacy,Pizza Place,Sandwich Place,Skating Rink,Trail,Women's Store
0,Caledonia-Fairbanks,0.0,0.00,0.00,0.0,0.166667,0.00,0.00,0.00,0.166667,0.333333,0.166667,0.00,0.0,0.0,0.00,0.166667
1,"Del Ray,Keelesdale,Mount Dennis,Silverthorn",0.2,0.00,0.20,0.2,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.2,0.2,0.00,0.000000
2,Humewood-Cedarvale,0.0,0.00,0.00,0.0,0.000000,0.25,0.00,0.25,0.000000,0.250000,0.000000,0.00,0.0,0.0,0.25,0.000000
3,"The Junction North,Runnymede",0.0,0.25,0.25,0.0,0.000000,0.00,0.25,0.00,0.000000,0.000000,0.000000,0.25,0.0,0.0,0.00,0.000000

#### Let's print each neighborhood along with the top 5 most common venues

In [757]:
num_top_venues = 5

for hood in Y_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = Y_grouped[Y_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Caledonia-Fairbanks----
                  venue  freq
0                  Park  0.33
1  Fast Food Restaurant  0.17
2                Market  0.17
3              Pharmacy  0.17
4         Women's Store  0.17


----Del Ray,Keelesdale,Mount Dennis,Silverthorn----
               venue  freq
0                Bar   0.2
1  Convenience Store   0.2
2     Discount Store   0.2
3     Sandwich Place   0.2
4       Skating Rink   0.2


----Humewood-Cedarvale----
          venue  freq
0         Field  0.25
1  Hockey Arena  0.25
2          Park  0.25
3         Trail  0.25
4           Bar  0.00


----The Junction North,Runnymede----
               venue  freq
0           Bus Line  0.25
1  Convenience Store  0.25
2      Grocery Store  0.25
3        Pizza Place  0.25
4                Bar  0.00

### Put the data in a Pandas Dataframe

First, let's write a function to sort the venues in descending order.

In [758]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [759]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = Y_grouped['Neighborhood']

for ind in np.arange(Y_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(Y_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Caledonia-Fairbanks,Park,Women's Store,Pharmacy,Market,Fast Food Restaurant,Trail,Skating Rink,Sandwich Place,Pizza Place,Hockey Arena
1,"Del Ray,Keelesdale,Mount Dennis,Silverthorn",Skating Rink,Sandwich Place,Discount Store,Convenience Store,Bar,Women's Store,Trail,Pizza Place,Pharmacy,Park
2,Humewood-Cedarvale,Trail,Park,Hockey Arena,Field,Women's Store,Skating Rink,Sandwich Place,Pizza Place,Pharmacy,Market
3,"The Junction North,Runnymede",Pizza Place,Grocery Store,Convenience Store,Bus Line,Women's Store,Trail,Skating Rink,Sandwich Place,Pharmacy,Park

### Cluster Neighborhoods

Run *k*-means to cluster the neighborhood into 5 clusters.

In [761]:
# set number of clusters
kclusters = 4

Y_grouped_clustering = Y_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(Y_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([0, 2, 3, 1], dtype=int32)

In [764]:
# add clustering labels


neighborhoods_venues_sorted.insert(0, 'Cluster Labelsnine', kmeans.labels_)
Y_grouped_merged =Y

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
Y_grouped_merged = Y_grouped_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

Y_grouped_merged.head() # check the last columns!

,Postalcode,Borough,Neighborhood,Latitude,Longitude,Cluster Labelsnine,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,M6C,York,Humewood-Cedarvale,43.693781,-79.428191,3.0,3.0,Trail,Park,Hockey Arena,Field,Women's Store,Skating Rink,Sandwich Place,Pizza Place,Pharmacy,Market
1,M6E,York,Caledonia-Fairbanks,43.689026,-79.453512,0.0,0.0,Park,Women's Store,Pharmacy,Market,Fast Food Restaurant,Trail,Skating Rink,Sandwich Place,Pizza Place,Hockey Arena
2,M6M,York,"Del Ray,Keelesdale,Mount Dennis,Silverthorn",43.691116,-79.476013,2.0,2.0,Skating Rink,Sandwich Place,Discount Store,Convenience Store,Bar,Women's Store,Trail,Pizza Place,Pharmacy,Park
3,M6N,York,"The Junction North,Runnymede",43.673185,-79.487262,1.0,1.0,Pizza Place,Grocery Store,Convenience Store,Bus Line,Women's Store,Trail,Skating Rink,Sandwich Place,Pharmacy,Park
4,M9N,York,Weston,43.706876,-79.518188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Examine Clusters

In [765]:
#CLuster 1
Y_grouped_merged.loc[Y_grouped_merged['Cluster Labelstwo'] == 0, Y_grouped_merged.columns[[1] + list(range(5, Y_grouped_merged.shape[1]))]]

,Borough,Cluster Labelsnine,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
1,York,0.0,0.0,Park,Women's Store,Pharmacy,Market,Fast Food Restaurant,Trail,Skating Rink,Sandwich Place,Pizza Place,Hockey Arena

In [766]:
#CLuster 2
Y_grouped_merged.loc[Y_grouped_merged['Cluster Labelstwo'] == 1, Y_grouped_merged.columns[[1] + list(range(5, Y_grouped_merged.shape[1]))]]

,Borough,Cluster Labelsnine,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
3,York,1.0,1.0,Pizza Place,Grocery Store,Convenience Store,Bus Line,Women's Store,Trail,Skating Rink,Sandwich Place,Pharmacy,Park

In [768]:
#CLuster 3
Y_grouped_merged.loc[Y_grouped_merged['Cluster Labelstwo'] == 2, Y_grouped_merged.columns[[1] + list(range(5, Y_grouped_merged.shape[1]))]]

,Borough,Cluster Labelsnine,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
2,York,2.0,2.0,Skating Rink,Sandwich Place,Discount Store,Convenience Store,Bar,Women's Store,Trail,Pizza Place,Pharmacy,Park

In [779]:
#CLuster 4
Y_grouped_merged.loc[Y_grouped_merged['Cluster Labelstwo'] == 3, Y_grouped_merged.columns[[1] + list(range(5, Y_grouped_merged.shape[1]))]]

,Borough,Cluster Labelsnine,Cluster Labelstwo,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,York,3.0,3.0,Trail,Park,Hockey Arena,Field,Women's Store,Skating Rink,Sandwich Place,Pizza Place,Pharmacy,Market

# Best Restaurants according to Gambero Rosso

Here's the best italian restaurants in Toronto according to Gambero rosso:
- Famiglia Baldassarre
- Giulietta
- Il covo
- Terroni Bar Centrale 
- Speducci Mercatto
- Pizzeria Defina
- Pizza e pazzi
- La Bettola di Terroni
- Ardo restaurant
- L' unità

For each restaurant, we get the Tips from Foursquare

### A. Let's explore Famiglia Baldassarre --

In [780]:
venue_id = '590390fc35811b1afa825dcc' # ID of Famiglia Baldassarre
url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION)
url

'https://api.foursquare.com/v2/venues/590390fc35811b1afa825dcc?client_id=DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL&client_secret=G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP&v=20180605'

#### Send GET request for result

In [781]:
result = requests.get(url).json()
print(result['response']['venue'].keys())
result['response']['venue']

dict_keys(['id', 'name', 'contact', 'location', 'canonicalUrl', 'categories', 'verified', 'stats', 'url', 'price', 'likes', 'dislike', 'ok', 'allowMenuUrlEdit', 'beenHere', 'specials', 'photos', 'reasons', 'description', 'hereNow', 'createdAt', 'tips', 'shortUrl', 'timeZone', 'listed', 'hours', 'pageUpdates', 'inbox', 'attributes', 'bestPhoto', 'colors'])

{'id': '590390fc35811b1afa825dcc',
 'name': 'Famiglia Baldassarre',
 'contact': {'phone': '6472935395',
  'formattedPhone': '(647) 293-5395',
  'twitter': 'fambaldassarre',
  'instagram': 'famiglia_baldassarre',
  'facebook': '1517083265279594',
  'facebookName': 'Pasta Fresca Baldassarre'},
 'location': {'address': '122 Geary Ave',
  'lat': 43.670388,
  'lng': -79.434999,
  'labeledLatLngs': [{'label': 'display',
    'lat': 43.670388,
    'lng': -79.434999}],
  'postalCode': 'M6H 4H1',
  'cc': 'CA',
  'city': 'Toronto',
  'state': 'ON',
  'country': 'Canada',
  'formattedAddress': ['122 Geary Ave', 'Toronto ON M6H 4H1', 'Canada']},
 'canonicalUrl': 'https://foursquare.com/v/famiglia-baldassarre/590390fc35811b1afa825dcc',
 'categories': [{'id': '4bf58dd8d48988d110941735',
   'name': 'Italian Restaurant',
   'pluralName': 'Italian Restaurants',
   'shortName': 'Italian',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/italian_',
    'suffix': '.png'},
   'primary': True}],
 'verified': False,
 'stats': {'tipCount': 1},
 'url': 'http://famigliabaldassarre.com',
 'price': {'tier': 2, 'message': 'Moderate', 'currency': '$'},
 'likes': {'count': 6,
  'groups': [{'type': 'others',
    'count': 6,
    'items': [{'id': '97667507',
      'firstName': 'Amy',
      'lastName': 'Bee',
      'gender': 'female',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/97667507-TK5V3K3QLVXR0QWG.jpg'}},
     {'id': '40432',
      'firstName': 'Sam',
      'lastName': 'Dal Monte',
      'gender': 'male',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/40432-RM3A2VQZZ12OSQOX.jpg'}},
     {'id': '9282239',
      'firstName': 'jamie',
      'lastName': 'yak',
      'gender': 'female',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/O511UY2BWFIBZEHR.jpg'}},
     {'id': '89259',
      'firstName': 'Eve',
      'lastName': 'Picard',
      'gender': 'female',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/XFWC5L2SOICMMLW4.jpg'}}]}],
  'summary': '6 Likes'},
 'dislike': False,
 'ok': False,
 'allowMenuUrlEdit': True,
 'beenHere': {'count': 0,
  'unconfirmedCount': 0,
  'marked': False,
  'lastCheckinExpiredAt': 0},
 'specials': {'count': 0, 'items': []},
 'photos': {'count': 5,
  'groups': [{'type': 'checkin',
    'name': "Friends' check-in photos",
    'count': 0,
    'items': []},
   {'type': 'venue',
    'name': 'Venue photos',
    'count': 5,
    'items': [{'id': '5c51afdca6031c002c159839',
      'createdAt': 1548857308,
      'source': {'name': 'Swarm for iOS', 'url': 'https://www.swarmapp.com'},
      'prefix': 'https://fastly.4sqi.net/img/general/',
      'suffix': '/435068888_3uhAIUg1pRo-V96xAayXEQZQgI_LW1KFdYGiySRhGkQ.jpg',
      'width': 1440,
      'height': 1920,
      'user': {'id': '435068888',
       'firstName': 'Ashley',
       'lastName': 'Burke',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/435068888_sxD2ib7S_n-LOfTK9g0XhIvo5yRRI3qgQ5Q__zYKU-TJg9AGS1uxmkGDio9_Y25q69vR3CCUw.jpg'}},
      'visibility': 'public'}]}],
  'summary': '0 photos'},
 'reasons': {'count': 0, 'items': []},
 'description': 'Supplying Toronto’s most discerning chefs with traditional fresh pasta of the highest quality since 2010. Store Hours - Tuesday to Friday 12pm - 5pm. Lunch Hours - Tuesday to Friday 12pm - 2pm',
 'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []},
 'createdAt': 1493405948,
 'tips': {'count': 1,
  'groups': [{'type': 'others',
    'name': 'All tips',
    'count': 1,
    'items': [{'id': '590cdc868194fc3de954e58d',
      'createdAt': 1494015110,
      'text': 'In addition to selling fresh pasta for take home, Baldassarre also offers lunch Tuesday-Friday using their pasta and gelato.',
      'type': 'user',
      'canonicalUrl': 'https://foursquare.com/item/590cdc868194fc3de954e58d',
      'photo': {'id': '590cce2959fe5c461e16ab34',
       'createdAt': 1494011433,
       'source': {'name': 'Swarm for iOS', 'url': 'https://www.swarmapp.com'},
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/510739_H2henYX98ZNXWFW6NgqTSggpn1QgXKouBUcyerN-Uro.jpg',
       'width': 1440,
       'height': 1920,
       'visibility': 'public'},
      'photourl': 'https://fastly.4sqi.net/img/general/original/510739_H2henYX98ZNXWFW6NgqTSggpn1QgXKouBUcyerN-Uro.jpg',
      'lang': 'en',
      'likes': {'count': 0, 'groups': []},
      'logView': True,
      'agreeCount': 2,
      'disagreeCount': 0,
      'todo': {'count': 0},
      'user': {'id': '510739',
       'firstName': 'Jordan',
       'lastName': 'Yee',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/D4XQCWLR52NQN3GC.jpg'}},
      'authorInteractionType': 'liked'}]}]},
 'shortUrl': 'http://4sq.com/2qePoTi',
 'timeZone': 'America/Toronto',
 'listed': {'count': 35,
  'groups': [{'type': 'others',
    'name': 'Lists from other people',
    'count': 35,
    'items': [{'id': '504ae977e4b09ab3b32d4833',
      'name': 'YTO (Toronto 🇨🇦)',
      'description': '416 represent, yo.',
      'type': 'others',
      'user': {'id': '1162687',
       'firstName': 'Kevin',
       'lastName': 'Luk',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/1162687_HbIILyj8_vZi4KIC5CPABAztAmazS7BW1kMj4GK-aYD9R-TV8ZmpUBtqgUhG7_9Qvpig7JbfD.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/silanfa/list/yto-toronto-',
      'canonicalUrl': 'https://foursquare.com/silanfa/list/yto-toronto-',
      'createdAt': 1347086711,
      'updatedAt': 1548940100,
      'photo': {'id': '50455a85e4b0c939598ef9eb',
       'createdAt': 1346722437,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/b4WKEFWhmvhwBUpIcyybSWLTIPyHBWhyiIFIWOaHkoU.jpg',
       'width': 640,
       'height': 480,
       'user': {'id': '1062638',
        'firstName': 'Steve',
        'lastName': 'Swerhun',
        'gender': 'male',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/Z4BH0RYW5J25IQ4E.jpg'}},
       'visibility': 'public'},
      'followers': {'count': 1},
      'listItems': {'count': 11,
       'items': [{'id': 'v590390fc35811b1afa825dcc',
         'createdAt': 1548870054}]}},
     {'id': '5252d8d111d29b81af2b763b',
      'name': 'Ontario',
      'description': '',
      'type': 'others',
      'user': {'id': '2998611',
       'firstName': 'Benoit',
       'lastName': 'D.',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/E2K14OBDS3PCHZY3.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/bdenomme/list/ontario',
      'canonicalUrl': 'https://foursquare.com/bdenomme/list/ontario',
      'createdAt': 1381161169,
      'updatedAt': 1554331961,
      'followers': {'count': 1},
      'listItems': {'count': 69,
       'items': [{'id': 'v590390fc35811b1afa825dcc',
         'createdAt': 1551564551}]}},
     {'id': '5916ea4b8a6f17198afa58d7',
      'name': 'TORONTO.',
      'description': '',
      'type': 'others',
      'user': {'id': '1011210',
       'firstName': 'Sana',
       'lastName': 'Cherukuri',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/JJVYYGG4XZ3C2V1J.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/user/1011210/list/toronto',
      'canonicalUrl': 'https://foursquare.com/user/1011210/list/toronto',
      'createdAt': 1494673995,
      'updatedAt': 1558998087,
      'photo': {'id': '5133705fe4b097f2d296198a',
       'createdAt': 1362325599,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/94411_Zv9CLXEkMkOaUb2UL3s6NoDpDQcmgXnuQc3qzyEGNFI.jpg',
       'width': 612,
       'height': 612,
       'user': {'id': '94411',
        'firstName': 'Global',
        'lastName': 'Highlander',
        'gender': 'male',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/94411-W4UC4LNC1GAVR4VU.jpg'}},
       'visibility': 'public'},
      'followers': {'count': 1},
      'listItems': {'count': 122,
       'items': [{'id': 'v590390fc35811b1afa825dcc',
         'createdAt': 1537232777}]}},
     {'id': '50b92b9be4b0cdd4baf716a2',
      'name': 'Toronto Food - Part 1',
      'description': '',
      'type': 'others',
      'user': {'id': '3875010',
       'firstName': 'Denise',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/1OPPKBK2FI5EAH0A.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/user/3875010/list/toronto-food--part-1',
      'canonicalUrl': 'https://foursquare.com/user/3875010/list/toronto-food--part-1',
      'createdAt': 1354312603,
      'updatedAt': 1545517748,
      'photo': {'id': '50893469e4b0aa994cbdacd7',
       'createdAt': 1351169129,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/1589524_YV4qTFt0C_EjiNxnCmG8eglubmxOAUaN9oFFSfkXz7Q.jpg',
       'width': 800,
       'height': 800,
       'user': {'id': '1589524',
        'firstName': 'jade',
        'gender': 'female',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/1589524-3FRBRKM1N12NK0TE.jpg'}},
       'visibility': 'public'},
      'followers': {'count': 15},
      'listItems': {'count': 242,
       'items': [{'id': 'v590390fc35811b1afa825dcc',
         'createdAt': 1545509852}]}}]}]},
 'hours': {'status': 'Closed until Noon Tuesday',
  'richStatus': {'entities': [], 'text': 'Closed until Noon Tuesday'},
  'isOpen': False,
  'isLocalHoliday': False,
  'dayData': [],
  'timeframes': [{'days': 'Tue–Fri',
    'open': [{'renderedTime': 'Noon–5:00 PM'}],
    'segments': []}]},
 'pageUpdates': {'count': 0, 'items': []},
 'inbox': {'count': 0, 'items': []},
 'attributes': {'groups': [{'type': 'price',
    'name': 'Price',
    'summary': '$$',
    'count': 1,
    'items': [{'displayName': 'Price', 'displayValue': '$$', 'priceTier': 2}]},
   {'type': 'serves',
    'name': 'Menus',
    'summary': 'Brunch & Lunch',
    'count': 8,
    'items': [{'displayName': 'Brunch', 'displayValue': 'Brunch'},
     {'displayName': 'Lunch', 'displayValue': 'Lunch'}]}]},
 'bestPhoto': {'id': '5c51afdca6031c002c159839',
  'createdAt': 1548857308,
  'source': {'name': 'Swarm for iOS', 'url': 'https://www.swarmapp.com'},
  'prefix': 'https://fastly.4sqi.net/img/general/',
  'suffix': '/435068888_3uhAIUg1pRo-V96xAayXEQZQgI_LW1KFdYGiySRhGkQ.jpg',
  'width': 1440,
  'height': 1920,
  'visibility': 'public'},
 'colors': {'highlightColor': {'photoId': '5c51afdca6031c002c159839',
   'value': -10989488},
  'highlightTextColor': {'photoId': '5c51afdca6031c002c159839', 'value': -1},
  'algoVersion': 3}}

### C. Get the number of tips

In [783]:
result['response']['venue']['tips']['count']

1

### D. Get the venue's tips
> `https://api.foursquare.com/v2/venues/`**VENUE_ID**`/tips?client_id=`**CLIENT_ID**`&client_secret=`**CLIENT_SECRET**`&v=`**VERSION**`&limit=`**LIMIT**

#### Create URL and send GET request. Make sure to set limit to get all tips

In [784]:
## Famiglia Baldassarre
limit = 15 # set limit to be greater than or equal to the total number of tips
url = 'https://api.foursquare.com/v2/venues/{}/tips?client_id={}&client_secret={}&v={}&limit={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION, limit)

results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d3c88808ad62e00398a2c0a'},
 'response': {'tips': {'count': 1,
   'items': [{'id': '590cdc868194fc3de954e58d',
     'createdAt': 1494015110,
     'text': 'In addition to selling fresh pasta for take home, Baldassarre also offers lunch Tuesday-Friday using their pasta and gelato.',
     'type': 'user',
     'canonicalUrl': 'https://foursquare.com/item/590cdc868194fc3de954e58d',
     'photo': {'id': '590cce2959fe5c461e16ab34',
      'createdAt': 1494011433,
      'source': {'name': 'Swarm for iOS', 'url': 'https://www.swarmapp.com'},
      'prefix': 'https://fastly.4sqi.net/img/general/',
      'suffix': '/510739_H2henYX98ZNXWFW6NgqTSggpn1QgXKouBUcyerN-Uro.jpg',
      'width': 1440,
      'height': 1920,
      'visibility': 'public'},
     'photourl': 'https://fastly.4sqi.net/img/general/original/510739_H2henYX98ZNXWFW6NgqTSggpn1QgXKouBUcyerN-Uro.jpg',
     'lang': 'en',
     'likes': {'count': 0, 'groups': []},
     'logView': True,
     'agreeCount': 2,
     'disagreeCount': 0,
     'todo': {'count': 0},
     'user': {'id': '510739',
      'firstName': 'Jordan',
      'lastName': 'Yee',
      'gender': 'male',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/D4XQCWLR52NQN3GC.jpg'}},
     'authorInteractionType': 'liked'}]}}}

#### Get tips and list of associated features

In [789]:
tips = results['response']['tips']['items']

tip = results['response']['tips']['items'][0]
tip.keys()

dict_keys(['id', 'createdAt', 'text', 'type', 'canonicalUrl', 'photo', 'photourl', 'lang', 'likes', 'logView', 'agreeCount', 'disagreeCount', 'todo', 'user', 'authorInteractionType'])

#### Format column width and display all tips

In [790]:
pd.set_option('display.max_colwidth', -1)

tips_df = json_normalize(tips) # json normalize tips

# columns to keep
filtered_columns = ['text', 'agreeCount', 'disagreeCount', 'id', 'user.firstName', 'user.lastName', 'user.gender', 'user.id']
tips_filtered = tips_df.loc[:, filtered_columns]

# display tips
tips_filtered

,text,agreeCount,disagreeCount,id,user.firstName,user.lastName,user.gender,user.id
0,"In addition to selling fresh pasta for take home, Baldassarre also offers lunch Tuesday-Friday using their pasta and gelato.",2,0,590cdc868194fc3de954e58d,Jordan,Yee,male,510739

# Best Restaurants according to Gambero Rosso

Here's the best italian restaurants in Toronto according to Gambero rosso:
- Famiglia Baldassarre
- Giulietta
- Il covo
- Terroni Bar Centrale 
- Speducci Mercatto
- Pizzeria Defina
- Pizza e pazzi
- La Bettola di Terroni
- Ardo restaurant
- L' unità

For each restaurant, we get the Tips from Foursquare

### A. Let's explore Giulietta --

In [791]:
venue_id = '5a4fe20a286fda0166f6b594' # ID of Famiglia Baldassarre
url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION)
url

'https://api.foursquare.com/v2/venues/5a4fe20a286fda0166f6b594?client_id=DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL&client_secret=G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP&v=20180605'

#### Send GET request for result

In [792]:
result = requests.get(url).json()
print(result['response']['venue'].keys())
result['response']['venue']

dict_keys(['id', 'name', 'contact', 'location', 'canonicalUrl', 'categories', 'verified', 'stats', 'url', 'price', 'likes', 'dislike', 'ok', 'rating', 'ratingColor', 'ratingSignals', 'menu', 'allowMenuUrlEdit', 'beenHere', 'specials', 'photos', 'reasons', 'hereNow', 'createdAt', 'tips', 'shortUrl', 'timeZone', 'listed', 'pageUpdates', 'inbox', 'attributes', 'bestPhoto', 'colors'])

{'id': '5a4fe20a286fda0166f6b594',
 'name': 'Giulietta',
 'contact': {'twitter': 'giulietta_972',
  'instagram': 'giulietta972',
  'facebook': '668685959994560',
  'facebookUsername': 'giulietta972',
  'facebookName': 'Giulietta'},
 'location': {'address': '972 College St',
  'lat': 43.653481,
  'lng': -79.42769,
  'labeledLatLngs': [{'label': 'display', 'lat': 43.653481, 'lng': -79.42769}],
  'postalCode': 'M6H 1A5',
  'cc': 'CA',
  'city': 'Toronto',
  'state': 'ON',
  'country': 'Canada',
  'formattedAddress': ['972 College St', 'Toronto ON M6H 1A5', 'Canada']},
 'canonicalUrl': 'https://foursquare.com/v/giulietta/5a4fe20a286fda0166f6b594',
 'categories': [{'id': '4bf58dd8d48988d110941735',
   'name': 'Italian Restaurant',
   'pluralName': 'Italian Restaurants',
   'shortName': 'Italian',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/italian_',
    'suffix': '.png'},
   'primary': True}],
 'verified': False,
 'stats': {'tipCount': 4},
 'url': 'http://giu.ca',
 'price': {'tier': 2, 'message': 'Moderate', 'currency': '$'},
 'likes': {'count': 7,
  'groups': [{'type': 'others',
    'count': 7,
    'items': [{'id': '399505603',
      'firstName': 'Brandon',
      'lastName': 'Mowat',
      'gender': 'male',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/399505603_nx1-sRUJ_rA5u56GfEPMgzfiJYpfWv1OD3GCRHaZsInqtr60wTZNDJ0Nm-Gt8ADFvyyyKBZ0W.jpg'}},
     {'id': '642494',
      'firstName': 'Daniel',
      'lastName': 'Hritzkiv',
      'gender': 'male',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/642494_dpAUXH2-_26Tp1CUfNf1-c5NvxVuvxH68bkva8mzG3e8bc7EHwjqwYoZzUpaImXGU274SHkPX.jpg'}},
     {'id': '347694750',
      'firstName': 'Edwina',
      'lastName': 'Fok',
      'gender': 'female',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/blank_girl.png',
       'default': True}},
     {'id': '61949',
      'firstName': 'Ashleigh',
      'lastName': 'Gardner',
      'gender': 'female',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/61949_HP9XKy9V_ojX0w21Pp_miaiLevs162zFaTkcbPCOzRklgZeCXQn0gy4d_jyu6jsbXDRXqgz89.jpg'}}]}],
  'summary': '7 Likes'},
 'dislike': False,
 'ok': False,
 'rating': 8.5,
 'ratingColor': '73CF42',
 'ratingSignals': 11,
 'menu': {'type': 'Menu',
  'label': 'Menu',
  'anchor': 'View Menu',
  'url': 'http://giu.ca/menus/Giulietta__Dinner.pdf',
  'mobileUrl': 'http://giu.ca/menus/Giulietta__Dinner.pdf',
  'externalUrl': 'http://giu.ca/menus/Giulietta__Dinner.pdf'},
 'allowMenuUrlEdit': True,
 'beenHere': {'count': 0,
  'unconfirmedCount': 0,
  'marked': False,
  'lastCheckinExpiredAt': 0},
 'specials': {'count': 0, 'items': []},
 'photos': {'count': 8,
  'groups': [{'type': 'checkin',
    'name': "Friends' check-in photos",
    'count': 0,
    'items': []},
   {'type': 'venue',
    'name': 'Venue photos',
    'count': 8,
    'items': [{'id': '5cd329d96e465000394c57c3',
      'createdAt': 1557342681,
      'source': {'name': 'Foursquare for iOS',
       'url': 'https://foursquare.com/download/#/iphone'},
      'prefix': 'https://fastly.4sqi.net/img/general/',
      'suffix': '/399505603_LmhXQFEimpgnn5w0J9NCg7GDtx6nje88Gm45AdZKPxg.jpg',
      'width': 1280,
      'height': 1920,
      'user': {'id': '399505603',
       'firstName': 'Brandon',
       'lastName': 'Mowat',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/399505603_nx1-sRUJ_rA5u56GfEPMgzfiJYpfWv1OD3GCRHaZsInqtr60wTZNDJ0Nm-Gt8ADFvyyyKBZ0W.jpg'}},
      'visibility': 'public'}]}],
  'summary': '0 photos'},
 'reasons': {'count': 0, 'items': []},
 'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []},
 'createdAt': 1515184650,
 'tips': {'count': 4,
  'groups': [{'type': 'others',
    'name': 'All tips',
    'count': 4,
    'items': [{'id': '5cd329d5b8fd9d002c03f4ce',
      'createdAt': 1557342677,
      'text': 'The Cacio e Pepe is fantastic',
      'type': 'user',
      'canonicalUrl': 'https://foursquare.com/item/5cd329d5b8fd9d002c03f4ce',
      'photo': {'id': '5cd329d96e465000394c57c3',
       'createdAt': 1557342681,
       'source': {'name': 'Foursquare for iOS',
        'url': 'https://foursquare.com/download/#/iphone'},
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/399505603_LmhXQFEimpgnn5w0J9NCg7GDtx6nje88Gm45AdZKPxg.jpg',
       'width': 1280,
       'height': 1920,
       'visibility': 'public'},
      'photourl': 'https://fastly.4sqi.net/img/general/original/399505603_LmhXQFEimpgnn5w0J9NCg7GDtx6nje88Gm45AdZKPxg.jpg',
      'lang': 'en',
      'likes': {'count': 0, 'groups': []},
      'logView': True,
      'agreeCount': 0,
      'disagreeCount': 0,
      'todo': {'count': 0},
      'user': {'id': '399505603',
       'firstName': 'Brandon',
       'lastName': 'Mowat',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/399505603_nx1-sRUJ_rA5u56GfEPMgzfiJYpfWv1OD3GCRHaZsInqtr60wTZNDJ0Nm-Gt8ADFvyyyKBZ0W.jpg'}},
      'authorInteractionType': 'liked'}]}]},
 'shortUrl': 'http://4sq.com/2D1fX2h',
 'timeZone': 'America/Toronto',
 'listed': {'count': 51,
  'groups': [{'type': 'others',
    'name': 'Lists from other people',
    'count': 51,
    'items': [{'id': '5b474c2f6fa81f002ca7daa2',
      'name': 'Toronto best pizzeria',
      'description': 'Beat Toronto pizzeria restaurants',
      'type': 'others',
      'user': {'id': '222250392',
       'firstName': 'Sean',
       'lastName': 'Hull',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/222250392-DRC2HHADUBRFP1NG.png'}},
      'editable': False,
      'public': True,
      'collaborative': True,
      'url': '/user/222250392/list/toronto-best-pizzeria',
      'canonicalUrl': 'https://foursquare.com/user/222250392/list/toronto-best-pizzeria',
      'createdAt': 1531399215,
      'updatedAt': 1552436324,
      'followers': {'count': 1},
      'listItems': {'count': 25,
       'items': [{'id': 'v5a4fe20a286fda0166f6b594',
         'createdAt': 1531399215}]}},
     {'id': '5373f435498e890f9753636d',
      'name': 'uwishunu toronto',
      'description': 'Yo, the city is mine (which one?)',
      'type': 'others',
      'user': {'id': '15433535',
       'firstName': 'Matthew',
       'lastName': "D'Amato",
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/1T3TMXU4OHG0T5PM.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': True,
      'url': '/uwishyounu/list/uwishunu-toronto',
      'canonicalUrl': 'https://foursquare.com/uwishyounu/list/uwishunu-toronto',
      'createdAt': 1400108085,
      'updatedAt': 1563836961,
      'photo': {'id': '522288c511d295d4d2d0ea8c',
       'createdAt': 1377994949,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/657496_9eM8gAeZPYuI58AXTdbnUF5ay8X0pDQU-bdCCwvJ_BU.jpg',
       'width': 612,
       'height': 612,
       'user': {'id': '657496',
        'firstName': 'Jean-Philippe',
        'lastName': 'Lalonde',
        'gender': 'male',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/351CNXNQEA5FNNKF.jpg'}},
       'visibility': 'public'},
      'followers': {'count': 2},
      'listItems': {'count': 104,
       'items': [{'id': 'v5a4fe20a286fda0166f6b594',
         'createdAt': 1560696830}]}},
     {'id': '50227758e4b08b27697a497a',
      'name': 'Close options',
      'description': '',
      'type': 'others',
      'user': {'id': '31962478',
       'firstName': 'Karen',
       'lastName': 'Devon',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/31F0CG0SLMV5A25B.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/specialkdmd/list/close-options',
      'canonicalUrl': 'https://foursquare.com/specialkdmd/list/close-options',
      'createdAt': 1344436056,
      'updatedAt': 1563630905,
      'followers': {'count': 2},
      'listItems': {'count': 89,
       'items': [{'id': 'v5a4fe20a286fda0166f6b594',
         'createdAt': 1553299553}]}},
     {'id': '5022775fe4b013b03e9d3940',
      'name': 'Favorites',
      'description': '',
      'type': 'others',
      'user': {'id': '31962478',
       'firstName': 'Karen',
       'lastName': 'Devon',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/31F0CG0SLMV5A25B.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/specialkdmd/list/favorites',
      'canonicalUrl': 'https://foursquare.com/specialkdmd/list/favorites',
      'createdAt': 1344436063,
      'updatedAt': 1564231789,
      'followers': {'count': 3},
      'listItems': {'count': 182,
       'items': [{'id': 'v5a4fe20a286fda0166f6b594',
         'createdAt': 1553299559}]}}]}]},
 'pageUpdates': {'count': 0, 'items': []},
 'inbox': {'count': 0, 'items': []},
 'attributes': {'groups': [{'type': 'price',
    'name': 'Price',
    'summary': '$$',
    'count': 1,
    'items': [{'displayName': 'Price', 'displayValue': '$$', 'priceTier': 2}]},
   {'type': 'serves',
    'name': 'Menus',
    'summary': 'Dinner',
    'count': 8,
    'items': [{'displayName': 'Dinner', 'displayValue': 'Dinner'}]}]},
 'bestPhoto': {'id': '5cd329d96e465000394c57c3',
  'createdAt': 1557342681,
  'source': {'name': 'Foursquare for iOS',
   'url': 'https://foursquare.com/download/#/iphone'},
  'prefix': 'https://fastly.4sqi.net/img/general/',
  'suffix': '/399505603_LmhXQFEimpgnn5w0J9NCg7GDtx6nje88Gm45AdZKPxg.jpg',
  'width': 1280,
  'height': 1920,
  'visibility': 'public'},
 'colors': {'highlightColor': {'photoId': '5cd329d96e465000394c57c3',
   'value': -15200240},
  'highlightTextColor': {'photoId': '5cd329d96e465000394c57c3', 'value': -1},
  'algoVersion': 3}}

### C. Get the number of tips

In [793]:
result['response']['venue']['tips']['count']

4

### D. Get the venue's tips
> `https://api.foursquare.com/v2/venues/`**VENUE_ID**`/tips?client_id=`**CLIENT_ID**`&client_secret=`**CLIENT_SECRET**`&v=`**VERSION**`&limit=`**LIMIT**

#### Create URL and send GET request. Make sure to set limit to get all tips

In [794]:
## Giulietta
limit = 15 # set limit to be greater than or equal to the total number of tips
url = 'https://api.foursquare.com/v2/venues/{}/tips?client_id={}&client_secret={}&v={}&limit={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION, limit)

results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d3c8a0f8ad62e0039971d65'},
 'response': {'tips': {'count': 4,
   'items': [{'id': '5b38f7cef427de002ce2e6e0',
     'createdAt': 1530460110,
     'text': 'So good! The service was impeccable, great spritz cocktail menu and the food is outstanding. Try the Fennel salade, tartare and truffle braised goat.',
     'type': 'user',
     'canonicalUrl': 'https://foursquare.com/item/5b38f7cef427de002ce2e6e0',
     'photo': {'id': '5b38f7d16adbf5002c471ae5',
      'createdAt': 1530460113,
      'source': {'name': 'Foursquare for iOS',
       'url': 'https://foursquare.com/download/#/iphone'},
      'prefix': 'https://fastly.4sqi.net/img/general/',
      'suffix': '/382136557_K4XqVOhpUFcTw02mYJ7wLmTDkVHVtXZ9HEmtzcUVTdA.jpg',
      'width': 1920,
      'height': 1440,
      'visibility': 'public'},
     'photourl': 'https://fastly.4sqi.net/img/general/original/382136557_K4XqVOhpUFcTw02mYJ7wLmTDkVHVtXZ9HEmtzcUVTdA.jpg',
     'lang': 'en',
     'likes': {'count': 0, 'groups': []},
     'logView': True,
     'agreeCount': 2,
     'disagreeCount': 0,
     'lastVoteText': 'Upvoted 2 weeks ago',
     'lastUpvoteTimestamp': 1562795300,
     'todo': {'count': 0},
     'user': {'id': '382136557',
      'firstName': 'Dounia',
      'gender': 'female',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/382136557_rL1bYbwG_74RAb3Z1pV51Vs2lTClpsWWVQmRXftw-r-bv4bfXmsIukZU_ueQlH3EP-6drfirD.jpg'}},
     'authorInteractionType': 'liked'}]}}}

#### Get tips and list of associated features

In [795]:
tips = results['response']['tips']['items']

tip = results['response']['tips']['items'][0]
tip.keys()

dict_keys(['id', 'createdAt', 'text', 'type', 'canonicalUrl', 'photo', 'photourl', 'lang', 'likes', 'logView', 'agreeCount', 'disagreeCount', 'lastVoteText', 'lastUpvoteTimestamp', 'todo', 'user', 'authorInteractionType'])

#### Format column width and display all tips

In [797]:
pd.set_option('display.max_colwidth', -1)

tips_df = json_normalize(tips) # json normalize tips

# columns to keep
filtered_columns = ['text', 'agreeCount', 'disagreeCount', 'id', 'user.firstName', 'user.lastName', 'user.gender', 'user.id']
tips_filtered = tips_df.loc[:, filtered_columns]

# display tips
tips_filtered

,text,agreeCount,disagreeCount,id,user.firstName,user.lastName,user.gender,user.id
0,"So good! The service was impeccable, great spritz cocktail menu and the food is outstanding. Try the Fennel salade, tartare and truffle braised goat.",2,0,5b38f7cef427de002ce2e6e0,Dounia,NaN,female,382136557

### A. Let's explore Il covo --

In [798]:
venue_id = '5a4fe253a0215b4eadc86bdd' # ID of il covo
url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION)
url

'https://api.foursquare.com/v2/venues/5a4fe253a0215b4eadc86bdd?client_id=DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL&client_secret=G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP&v=20180605'

#### Send GET request for result

In [799]:
result = requests.get(url).json()
print(result['response']['venue'].keys())
result['response']['venue']

dict_keys(['id', 'name', 'contact', 'location', 'canonicalUrl', 'categories', 'verified', 'stats', 'url', 'price', 'likes', 'dislike', 'ok', 'menu', 'allowMenuUrlEdit', 'beenHere', 'specials', 'photos', 'reasons', 'hereNow', 'createdAt', 'tips', 'shortUrl', 'timeZone', 'listed', 'pageUpdates', 'inbox', 'attributes', 'bestPhoto', 'colors'])

{'id': '5a4fe253a0215b4eadc86bdd',
 'name': 'Il Covo',
 'contact': {'phone': '4165307585',
  'formattedPhone': '(416) 530-7585',
  'instagram': 'ilcovo.to'},
 'location': {'address': '585 College St',
  'lat': 43.655161,
  'lng': -79.413314,
  'labeledLatLngs': [{'label': 'display',
    'lat': 43.655161,
    'lng': -79.413314}],
  'postalCode': 'M6G 1B2',
  'cc': 'CA',
  'city': 'Toronto',
  'state': 'ON',
  'country': 'Canada',
  'formattedAddress': ['585 College St', 'Toronto ON M6G 1B2', 'Canada']},
 'canonicalUrl': 'https://foursquare.com/v/il-covo/5a4fe253a0215b4eadc86bdd',
 'categories': [{'id': '4bf58dd8d48988d110941735',
   'name': 'Italian Restaurant',
   'pluralName': 'Italian Restaurants',
   'shortName': 'Italian',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/italian_',
    'suffix': '.png'},
   'primary': True},
  {'id': '4bf58dd8d48988d123941735',
   'name': 'Wine Bar',
   'pluralName': 'Wine Bars',
   'shortName': 'Wine Bar',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/winery_',
    'suffix': '.png'}}],
 'verified': False,
 'stats': {'tipCount': 2},
 'url': 'https://www.ilcovo.ca',
 'price': {'tier': 2, 'message': 'Moderate', 'currency': '$'},
 'likes': {'count': 4,
  'groups': [{'type': 'others',
    'count': 4,
    'items': [{'id': '397326573',
      'firstName': 'Albha',
      'lastName': 'Egan',
      'gender': 'female',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/397326573_WCcmZeGj_dw-GHQZu0bTH-31jzAqQp7iFWAZhe4G7H_gBWLUKV7ASh3Z77Tqlg40syjWHBZxw.jpg'}},
     {'id': '341363811',
      'firstName': 'Charlemagne 👑',
      'gender': 'none',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/blank_boy.png',
       'default': True}},
     {'id': '9282239',
      'firstName': 'jamie',
      'lastName': 'yak',
      'gender': 'female',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/O511UY2BWFIBZEHR.jpg'}},
     {'id': '146215510',
      'firstName': 'Xx',
      'lastName': 'Xx',
      'gender': 'none',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/blank_boy.png',
       'default': True}}]}],
  'summary': '4 Likes'},
 'dislike': False,
 'ok': False,
 'menu': {'type': 'Menu',
  'label': 'Menu',
  'anchor': 'View Menu',
  'url': 'https://www.ilcovo.ca/menu',
  'mobileUrl': 'https://www.ilcovo.ca/menu',
  'externalUrl': 'https://www.ilcovo.ca/menu'},
 'allowMenuUrlEdit': True,
 'beenHere': {'count': 0,
  'unconfirmedCount': 0,
  'marked': False,
  'lastCheckinExpiredAt': 0},
 'specials': {'count': 0, 'items': []},
 'photos': {'count': 9,
  'groups': [{'type': 'checkin',
    'name': "Friends' check-in photos",
    'count': 0,
    'items': []},
   {'type': 'venue',
    'name': 'Venue photos',
    'count': 9,
    'items': [{'id': '5b53985ea423620039b5e13a',
      'createdAt': 1532205150,
      'source': {'name': 'Swarm for iOS', 'url': 'https://www.swarmapp.com'},
      'prefix': 'https://fastly.4sqi.net/img/general/',
      'suffix': '/12267301_jfp2scvcFlclsmUCNMghoBWAWbZb5ctGWlMbUX6gF_4.jpg',
      'width': 1440,
      'height': 1920,
      'user': {'id': '12267301',
       'firstName': 'Monica',
       'lastName': 'Lee',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/12267301-QV15VC0FA4MM53HW.jpg'}},
      'visibility': 'public'}]}],
  'summary': '0 photos'},
 'reasons': {'count': 0, 'items': []},
 'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []},
 'createdAt': 1515184723,
 'tips': {'count': 2,
  'groups': [{'type': 'others',
    'name': 'All tips',
    'count': 2,
    'items': [{'id': '5bf05d3b65211f002c0eb1ab',
      'createdAt': 1542479163,
      'text': 'Stella do ricotta in brodo and branzino in guazzetto are both absolutely beautiful and completely different than anything else you’ll find in Little Italy. Great place for a date.',
      'type': 'user',
      'canonicalUrl': 'https://foursquare.com/item/5bf05d3b65211f002c0eb1ab',
      'photo': {'id': '5bf05d443fcee8002c98c03c',
       'createdAt': 1542479172,
       'source': {'name': 'Foursquare for iOS',
        'url': 'https://foursquare.com/download/#/iphone'},
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/397326573_-GcCQjdV5aXpubWoJUK5os7AME3TG7_pBEFx6_XTxOM.jpg',
       'width': 1440,
       'height': 1920,
       'visibility': 'public'},
      'photourl': 'https://fastly.4sqi.net/img/general/original/397326573_-GcCQjdV5aXpubWoJUK5os7AME3TG7_pBEFx6_XTxOM.jpg',
      'lang': 'en',
      'likes': {'count': 0, 'groups': []},
      'logView': True,
      'agreeCount': 1,
      'disagreeCount': 0,
      'lastVoteText': 'Upvoted May 3',
      'lastUpvoteTimestamp': 1556924273,
      'todo': {'count': 0},
      'user': {'id': '397326573',
       'firstName': 'Albha',
       'lastName': 'Egan',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/397326573_WCcmZeGj_dw-GHQZu0bTH-31jzAqQp7iFWAZhe4G7H_gBWLUKV7ASh3Z77Tqlg40syjWHBZxw.jpg'}},
      'authorInteractionType': 'liked'}]}]},
 'shortUrl': 'http://4sq.com/2CIiXCM',
 'timeZone': 'America/Toronto',
 'listed': {'count': 31,
  'groups': [{'type': 'others',
    'name': 'Lists from other people',
    'count': 31,
    'items': [{'id': '59fc73567564f740e43f6f68',
      'name': 'Toronto',
      'description': '',
      'type': 'others',
      'user': {'id': '1238481',
       'firstName': 'Sam',
       'lastName': 'Winnick',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/HUB0GGDTUUO3TB1E.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/samwinnick/list/toronto',
      'canonicalUrl': 'https://foursquare.com/samwinnick/list/toronto',
      'createdAt': 1509716822,
      'updatedAt': 1523369441,
      'followers': {'count': 1},
      'listItems': {'count': 72,
       'items': [{'id': 'v5a4fe253a0215b4eadc86bdd',
         'createdAt': 1523285478}]}},
     {'id': '5d0025daf870fd002cb39834',
      'name': 'Toronto',
      'description': '',
      'type': 'others',
      'user': {'id': '69155317',
       'firstName': 'Sudha',
       'lastName': 'G',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/blank_girl.png',
        'default': True}},
      'editable': False,
      'public': True,
      'collaborative': True,
      'url': '/user/69155317/list/toronto',
      'canonicalUrl': 'https://foursquare.com/user/69155317/list/toronto',
      'createdAt': 1560290778,
      'updatedAt': 1560445344,
      'followers': {'count': 0},
      'listItems': {'count': 36,
       'items': [{'id': 'v5a4fe253a0215b4eadc86bdd',
         'createdAt': 1560406426}]}},
     {'id': '5afe1fa958002c2c0bf1a131',
      'name': 'Best Italian Restaurants',
      'description': '',
      'type': 'others',
      'user': {'id': '16591132',
       'firstName': 'Elizabeth',
       'lastName': 'Violante',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/16591132-XOMLSRS3TERMFWJE.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/emviolante/list/best-italian-restaurants',
      'canonicalUrl': 'https://foursquare.com/emviolante/list/best-italian-restaurants',
      'createdAt': 1526603689,
      'updatedAt': 1528457550,
      'followers': {'count': 1},
      'listItems': {'count': 16,
       'items': [{'id': 'v5a4fe253a0215b4eadc86bdd',
         'createdAt': 1528457550}]}},
     {'id': '5553cc65498e0dc58cd08cf6',
      'name': 'Toronto',
      'description': '',
      'type': 'others',
      'user': {'id': '693313',
       'firstName': 'Dan',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/693313-HSVXIVSEW3U1PYN3.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/clever_dan/list/toronto',
      'canonicalUrl': 'https://foursquare.com/clever_dan/list/toronto',
      'createdAt': 1431555173,
      'updatedAt': 1562889890,
      'followers': {'count': 0},
      'listItems': {'count': 89,
       'items': [{'id': 'v5a4fe253a0215b4eadc86bdd',
         'createdAt': 1515498387}]}}]}]},
 'pageUpdates': {'count': 0, 'items': []},
 'inbox': {'count': 0, 'items': []},
 'attributes': {'groups': [{'type': 'price',
    'name': 'Price',
    'summary': '$$',
    'count': 1,
    'items': [{'displayName': 'Price', 'displayValue': '$$', 'priceTier': 2}]},
   {'type': 'drinks',
    'name': 'Drinks',
    'summary': 'Wine',
    'count': 5,
    'items': [{'displayName': 'Wine', 'displayValue': 'Wine'}]}]},
 'bestPhoto': {'id': '5b53985ea423620039b5e13a',
  'createdAt': 1532205150,
  'source': {'name': 'Swarm for iOS', 'url': 'https://www.swarmapp.com'},
  'prefix': 'https://fastly.4sqi.net/img/general/',
  'suffix': '/12267301_jfp2scvcFlclsmUCNMghoBWAWbZb5ctGWlMbUX6gF_4.jpg',
  'width': 1440,
  'height': 1920,
  'visibility': 'public'},
 'colors': {'highlightColor': {'photoId': '5b53985ea423620039b5e13a',
   'value': -14139376},
  'highlightTextColor': {'photoId': '5b53985ea423620039b5e13a', 'value': -1},
  'algoVersion': 3}}

### C. Get the number of tips

In [800]:
result['response']['venue']['tips']['count']

2

### D. Get the venue's tips
> `https://api.foursquare.com/v2/venues/`**VENUE_ID**`/tips?client_id=`**CLIENT_ID**`&client_secret=`**CLIENT_SECRET**`&v=`**VERSION**`&limit=`**LIMIT**

#### Create URL and send GET request. Make sure to set limit to get all tips

In [801]:
## Il covo
limit = 15 # set limit to be greater than or equal to the total number of tips
url = 'https://api.foursquare.com/v2/venues/{}/tips?client_id={}&client_secret={}&v={}&limit={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION, limit)

results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d3c8b886f0aa2002ccebcfd'},
 'response': {'tips': {'count': 2,
   'items': [{'id': '5ac8bfa142d8c203d2ee34dd',
     'createdAt': 1523105697,
     'text': 'Fresh, creative food & a brilliant wine program to match. Presentation top notch and the service perfection. Make a reso. Aim for 3-5 dishes per person. The beef in liquorice, clams with lemonquat...',
     'type': 'user',
     'canonicalUrl': 'https://foursquare.com/item/5ac8bfa142d8c203d2ee34dd',
     'photo': {'id': '5ac8bfa367e5f23fbeb9c10f',
      'createdAt': 1523105699,
      'source': {'name': 'Foursquare for iOS',
       'url': 'https://foursquare.com/download/#/iphone'},
      'prefix': 'https://fastly.4sqi.net/img/general/',
      'suffix': '/146215510_1BYWfn1i1IEa723AILxHYQ_gA6-KOysQaCidLCv6a00.jpg',
      'width': 1440,
      'height': 1440,
      'visibility': 'public'},
     'photourl': 'https://fastly.4sqi.net/img/general/original/146215510_1BYWfn1i1IEa723AILxHYQ_gA6-KOysQaCidLCv6a00.jpg',
     'lang': 'en',
     'likes': {'count': 0, 'groups': []},
     'logView': True,
     'agreeCount': 1,
     'disagreeCount': 0,
     'todo': {'count': 0},
     'user': {'id': '146215510',
      'firstName': 'Xx',
      'lastName': 'Xx',
      'gender': 'none',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/blank_boy.png',
       'default': True}},
     'authorInteractionType': 'liked'}]}}}

#### Get tips and list of associated features

In [802]:
tips = results['response']['tips']['items']

tip = results['response']['tips']['items'][0]
tip.keys()

dict_keys(['id', 'createdAt', 'text', 'type', 'canonicalUrl', 'photo', 'photourl', 'lang', 'likes', 'logView', 'agreeCount', 'disagreeCount', 'todo', 'user', 'authorInteractionType'])

#### Format column width and display all tips

In [806]:
pd.set_option('display.max_colwidth', -1)

tips_df = json_normalize(tips) # json normalize tips

# columns to keep
filtered_columns = ['text', 'agreeCount', 'disagreeCount', 'id', 'user.firstName', 'user.lastName', 'user.gender', 'user.id']
tips_filtered = tips_df.loc[:, filtered_columns]

# display tips
tips_filtered

,text,agreeCount,disagreeCount,id,user.firstName,user.lastName,user.gender,user.id
0,"Fresh, creative food & a brilliant wine program to match. Presentation top notch and the service perfection. Make a reso. Aim for 3-5 dishes per person. The beef in liquorice, clams with lemonquat...",1,0,5ac8bfa142d8c203d2ee34dd,Xx,Xx,none,146215510

### A. Let's explore terroni bar centrale --

In [808]:
venue_id = '4d407afca799ba7a9bd9d160' # ID of il terroni bar centrale
url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION)
url

'https://api.foursquare.com/v2/venues/4d407afca799ba7a9bd9d160?client_id=DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL&client_secret=G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP&v=20180605'

#### Send GET request for result

In [809]:
result = requests.get(url).json()
print(result['response']['venue'].keys())
result['response']['venue']

dict_keys(['id', 'name', 'contact', 'location', 'canonicalUrl', 'categories', 'verified', 'stats', 'url', 'price', 'hasMenu', 'likes', 'dislike', 'ok', 'rating', 'ratingColor', 'ratingSignals', 'menu', 'allowMenuUrlEdit', 'beenHere', 'specials', 'photos', 'reasons', 'hereNow', 'createdAt', 'tips', 'shortUrl', 'timeZone', 'listed', 'popular', 'pageUpdates', 'inbox', 'attributes', 'bestPhoto', 'colors'])

{'id': '4d407afca799ba7a9bd9d160',
 'name': 'Bar Centrale by Terroni',
 'contact': {'phone': '4169254020',
  'formattedPhone': '(416) 925-4020',
  'twitter': 'terronito'},
 'location': {'address': '1095 Yonge St.',
  'crossStreet': 'at Price St.',
  'lat': 43.67990178371223,
  'lng': -79.39053550112058,
  'labeledLatLngs': [{'label': 'display',
    'lat': 43.67990178371223,
    'lng': -79.39053550112058}],
  'postalCode': 'M4W 2L7',
  'cc': 'CA',
  'city': 'Toronto',
  'state': 'ON',
  'country': 'Canada',
  'formattedAddress': ['1095 Yonge St. (at Price St.)',
   'Toronto ON M4W 2L7',
   'Canada']},
 'canonicalUrl': 'https://foursquare.com/v/bar-centrale-by-terroni/4d407afca799ba7a9bd9d160',
 'categories': [{'id': '4bf58dd8d48988d110941735',
   'name': 'Italian Restaurant',
   'pluralName': 'Italian Restaurants',
   'shortName': 'Italian',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/italian_',
    'suffix': '.png'},
   'primary': True},
  {'id': '4bf58dd8d48988d116941735',
   'name': 'Bar',
   'pluralName': 'Bars',
   'shortName': 'Bar',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
    'suffix': '.png'}},
  {'id': '4bf58dd8d48988d1ca941735',
   'name': 'Pizza Place',
   'pluralName': 'Pizza Places',
   'shortName': 'Pizza',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/pizza_',
    'suffix': '.png'}}],
 'verified': False,
 'stats': {'tipCount': 34},
 'url': 'http://www.terroni.com',
 'price': {'tier': 2, 'message': 'Moderate', 'currency': '$'},
 'hasMenu': True,
 'likes': {'count': 46,
  'groups': [{'type': 'others', 'count': 46, 'items': []}],
  'summary': '46 Likes'},
 'dislike': False,
 'ok': False,
 'rating': 7.8,
 'ratingColor': 'C5DE35',
 'ratingSignals': 76,
 'menu': {'type': 'Menu',
  'label': 'Menu',
  'anchor': 'View Menu',
  'url': 'https://foursquare.com/v/bar-centrale-by-terroni/4d407afca799ba7a9bd9d160/menu',
  'mobileUrl': 'https://foursquare.com/v/4d407afca799ba7a9bd9d160/device_menu'},
 'allowMenuUrlEdit': True,
 'beenHere': {'count': 0,
  'unconfirmedCount': 0,
  'marked': False,
  'lastCheckinExpiredAt': 0},
 'specials': {'count': 0, 'items': []},
 'photos': {'count': 139,
  'groups': [{'type': 'checkin',
    'name': "Friends' check-in photos",
    'count': 0,
    'items': []},
   {'type': 'venue',
    'name': 'Venue photos',
    'count': 139,
    'items': [{'id': '5202f6e8498e94f1a0e35152',
      'createdAt': 1375925992,
      'source': {'name': 'Instagram', 'url': 'http://instagram.com'},
      'prefix': 'https://fastly.4sqi.net/img/general/',
      'suffix': '/41771_LOez8Rb4I3_K4rZIF5mPjjVMjmrWinyfvjYJjrbHwFw.jpg',
      'width': 612,
      'height': 612,
      'user': {'id': '41771',
       'firstName': 'Justin',
       'lastName': 'Young',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/E2VGDZIBKNAQC1PN.jpg'}},
      'visibility': 'public'}]}],
  'summary': '0 photos'},
 'reasons': {'count': 1,
  'items': [{'summary': 'Lots of people like this place',
    'type': 'general',
    'reasonName': 'rawLikesReason'}]},
 'hereNow': {'count': 1,
  'summary': 'One other person is here',
  'groups': [{'type': 'others',
    'name': 'Other people here',
    'count': 1,
    'items': []}]},
 'createdAt': 1296071420,
 'tips': {'count': 34,
  'groups': [{'type': 'others',
    'name': 'All tips',
    'count': 34,
    'items': [{'id': '54468f6d498e165eadebff4f',
      'createdAt': 1413910381,
      'text': 'My three year old devoured the "Swedish Pancakes" and wasn\'t willing to share so we ordered another one for the table... Highly recommend them!',
      'type': 'user',
      'canonicalUrl': 'https://foursquare.com/item/54468f6d498e165eadebff4f',
      'photo': {'id': '54468f6f498e6cbab4ca98ee',
       'createdAt': 1413910383,
       'source': {'name': 'Foursquare for iOS',
        'url': 'https://foursquare.com/download/#/iphone'},
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/95195087_SbOQRBiDSDRsXMA-5culwPsWLpEjsq1iO8TVicBrUb0.jpg',
       'width': 720,
       'height': 720,
       'visibility': 'public'},
      'photourl': 'https://fastly.4sqi.net/img/general/original/95195087_SbOQRBiDSDRsXMA-5culwPsWLpEjsq1iO8TVicBrUb0.jpg',
      'lang': 'en',
      'likes': {'count': 5,
       'groups': [{'type': 'others',
         'count': 5,
         'items': [{'id': '140460919',
           'firstName': 'Jean Francois',
           'lastName': 'Pierre',
           'gender': 'male',
           'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
            'suffix': '/140460919-LS523K0UGQRSMTF0.jpg'}},
          {'id': '92400025',
           'firstName': 'Alexander',
           'lastName': 'Gray',
           'gender': 'none',
           'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
            'suffix': '/92400025-VDH2I1FLQ0SFTVF2.jpg'}},
          {'id': '81374730',
           'firstName': 'Joanna',
           'lastName': 'Sable',
           'gender': 'female',
           'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
            'suffix': '/81374730-JKMVFYYPCWZJLF3H.jpg'}},
          {'id': '92992267',
           'firstName': 'Elise',
           'lastName': 'Cachia',
           'gender': 'female',
           'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
            'suffix': '/blank_girl.png',
            'default': True}}]}],
       'summary': '5 likes'},
      'logView': True,
      'agreeCount': 5,
      'disagreeCount': 0,
      'todo': {'count': 0},
      'user': {'id': '95195087',
       'firstName': 'Sibel',
       'lastName': 'Gray',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/95195087-W0TAIQ22BKRBQTNI.jpg'}},
      'authorInteractionType': 'liked'}]}]},
 'shortUrl': 'http://4sq.com/dXC1OX',
 'timeZone': 'America/Toronto',
 'listed': {'count': 70,
  'groups': [{'type': 'others',
    'name': 'Lists from other people',
    'count': 70,
    'items': [{'id': '53276c94498e4e312bf1522d',
      'name': 'Tab in Toronto',
      'description': '',
      'type': 'others',
      'user': {'id': '81670788',
       'firstName': 'Tab',
       'gender': 'none',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/81670788-ZWVXHLCJBMSXIT02'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/tabpayments/list/tab-in-toronto',
      'canonicalUrl': 'https://foursquare.com/tabpayments/list/tab-in-toronto',
      'createdAt': 1395092628,
      'updatedAt': 1420821162,
      'photo': {'id': '521c1f2711d25077eb5cb703',
       'createdAt': 1377574695,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/114272_r2XH-n4Dp1j6UeRJaC53-DofCwdPFrEhemZBUIH0f3w.jpg',
       'width': 612,
       'height': 612,
       'user': {'id': '114272',
        'firstName': 'Foujan',
        'lastName': 'Ziadlou',
        'gender': 'female',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/3U40SX5O545BJFAW.jpg'}},
       'visibility': 'public'},
      'followers': {'count': 28},
      'listItems': {'count': 51,
       'items': [{'id': 'v4d407afca799ba7a9bd9d160',
         'createdAt': 1420821160,
         'photo': {'id': '5202f6e8498e94f1a0e35152',
          'createdAt': 1375925992,
          'prefix': 'https://fastly.4sqi.net/img/general/',
          'suffix': '/41771_LOez8Rb4I3_K4rZIF5mPjjVMjmrWinyfvjYJjrbHwFw.jpg',
          'width': 612,
          'height': 612,
          'user': {'id': '41771',
           'firstName': 'Justin',
           'lastName': 'Young',
           'gender': 'male',
           'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
            'suffix': '/E2VGDZIBKNAQC1PN.jpg'}},
          'visibility': 'public'}}]}},
     {'id': '4eb5cd89be7bfc284a7bc551',
      'name': 'Toronto Restaurant Bucket List',
      'description': '',
      'type': 'others',
      'user': {'id': '2335214',
       'firstName': 'Mark',
       'lastName': 'Churaman',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/YVGYE2TULDYW3LS4.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/markchuraman/list/toronto-restaurant-bucket-list',
      'canonicalUrl': 'https://foursquare.com/markchuraman/list/toronto-restaurant-bucket-list',
      'createdAt': 1320537481,
      'updatedAt': 1409549725,
      'followers': {'count': 32},
      'listItems': {'count': 110,
       'items': [{'id': 'v4d407afca799ba7a9bd9d160',
         'createdAt': 1349236923}]}},
     {'id': '50ea36d6e4b0cc7400a5734b',
      'name': 'Toronto Eats',
      'description': '',
      'type': 'others',
      'user': {'id': '167888',
       'firstName': 'Carlos',
       'lastName': 'Pacheco',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/167888_lOoTcPd3_hWuXKVrEo2erGLXWTQxzYDxv9QmaCOkLdUCT4QnqNKX08uoefVWmGgd1WZkfIISw.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/carlospache_co/list/toronto-eats',
      'canonicalUrl': 'https://foursquare.com/carlospache_co/list/toronto-eats',
      'createdAt': 1357526742,
      'updatedAt': 1529887517,
      'followers': {'count': 5},
      'listItems': {'count': 49,
       'items': [{'id': 'v4d407afca799ba7a9bd9d160',
         'createdAt': 1376097290}]}},
     {'id': '4e4e9eacd22daf51d269f688',
      'name': 'National Post Restaurant Reviews',
      'description': 'The collected reviews of Toronto-based National Post restaurant critic Gina Mallet.',
      'type': 'others',
      'user': {'id': '572758',
       'firstName': 'National Post',
       'gender': 'none',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/XLVLAFAYNXHNV1XP.jpg'},
       'type': 'page'},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/nationalpost/list/national-post-restaurant-reviews',
      'canonicalUrl': 'https://foursquare.com/nationalpost/list/national-post-restaurant-reviews',
      'createdAt': 1313775276,
      'updatedAt': 1335046706,
      'photo': {'id': '4e349e6662e17d29082bb417',
       'createdAt': 1312071270,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/JECDWEFRU1FDQ4REI1ZSHEOSBAFH301VYWFKLHK404E1B031.jpg',
       'width': 720,
       'height': 537,
       'user': {'id': '3970121',
        'firstName': 'Nick',
        'lastName': 'Longstaff',
        'gender': 'male',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/04I2UW0AYZABGFFU.jpg'}},
       'visibility': 'public'},
      'logView': True,
      'followers': {'count': 524},
      'listItems': {'count': 75,
       'items': [{'id': 't4dbb0b84fc60916573756a52',
         'createdAt': 1313775276,
         'photo': {'id': '4dac713bfd2859348cbb0fa7',
          'createdAt': 1303146811,
          'prefix': 'https://fastly.4sqi.net/img/general/',
          'suffix': '/BWKZLBD5WSPNDXNZBLNNHML4AGJKLHSONMT04KOHW0V4TFIH.jpg',
          'width': 537,
          'height': 720,
          'user': {'id': '5868818',
           'firstName': 'Kate',
           'lastName': 'Makinson',
           'gender': 'female',
           'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
            'suffix': '/2AGEM1GGEGHGWBV5.jpg'}},
          'visibility': 'public'}}]}}]}]},
 'popular': {'status': 'Likely open',
  'richStatus': {'entities': [], 'text': 'Likely open'},
  'isOpen': True,
  'isLocalHoliday': False,
  'timeframes': [{'days': 'Today',
    'includesToday': True,
    'open': [{'renderedTime': 'Noon–10:00 PM'}],
    'segments': []},
   {'days': 'Sun',
    'open': [{'renderedTime': 'Noon–3:00 PM'},
     {'renderedTime': '5:00 PM–9:00 PM'}],
    'segments': []},
   {'days': 'Mon',
    'open': [{'renderedTime': 'Noon–1:00 PM'},
     {'renderedTime': '6:00 PM–10:00 PM'}],
    'segments': []},
   {'days': 'Tue',
    'open': [{'renderedTime': 'Noon–1:00 PM'},
     {'renderedTime': '5:00 PM–10:00 PM'}],
    'segments': []},
   {'days': 'Wed',
    'open': [{'renderedTime': 'Noon–2:00 PM'},
     {'renderedTime': '5:00 PM–10:00 PM'}],
    'segments': []},
   {'days': 'Thu',
    'open': [{'renderedTime': 'Noon–2:00 PM'},
     {'renderedTime': '5:00 PM–11:00 PM'}],
    'segments': []},
   {'days': 'Fri',
    'open': [{'renderedTime': 'Noon–2:00 PM'},
     {'renderedTime': '6:00 PM–11:00 PM'}],
    'segments': []}]},
 'pageUpdates': {'count': 0, 'items': []},
 'inbox': {'count': 0, 'items': []},
 'attributes': {'groups': [{'type': 'price',
    'name': 'Price',
    'summary': '$$',
    'count': 1,
    'items': [{'displayName': 'Price', 'displayValue': '$$', 'priceTier': 2}]},
   {'type': 'payments',
    'name': 'Credit Cards',
    'summary': 'Credit Cards',
    'count': 5,
    'items': [{'displayName': 'Credit Cards',
      'displayValue': 'Yes (incl. American Express & MasterCard)'}]},
   {'type': 'outdoorSeating',
    'name': 'Outdoor Seating',
    'summary': 'Outdoor Seating',
    'count': 1,
    'items': [{'displayName': 'Outdoor Seating', 'displayValue': 'Yes'}]},
   {'type': 'serves',
    'name': 'Menus',
    'summary': 'Dinner, Breakfast & more',
    'count': 8,
    'items': [{'displayName': 'Breakfast', 'displayValue': 'Breakfast'},
     {'displayName': 'Brunch', 'displayValue': 'Brunch'},
     {'displayName': 'Lunch', 'displayValue': 'Lunch'},
     {'displayName': 'Dinner', 'displayValue': 'Dinner'}]},
   {'type': 'drinks',
    'name': 'Drinks',
    'summary': 'Wine & Cocktails',
    'count': 5,
    'items': [{'displayName': 'Wine', 'displayValue': 'Wine'},
     {'displayName': 'Cocktails', 'displayValue': 'Cocktails'}]},
   {'type': 'diningOptions',
    'name': 'Dining Options',
    'count': 5,
    'items': [{'displayName': 'Delivery', 'displayValue': 'No Delivery'}]}]},
 'bestPhoto': {'id': '5202f6e8498e94f1a0e35152',
  'createdAt': 1375925992,
  'source': {'name': 'Instagram', 'url': 'http://instagram.com'},
  'prefix': 'https://fastly.4sqi.net/img/general/',
  'suffix': '/41771_LOez8Rb4I3_K4rZIF5mPjjVMjmrWinyfvjYJjrbHwFw.jpg',
  'width': 612,
  'height': 612,
  'visibility': 'public'},
 'colors': {'highlightColor': {'photoId': '5202f6e8498e94f1a0e35152',
   'value': -14151680},
  'highlightTextColor': {'photoId': '5202f6e8498e94f1a0e35152', 'value': -1},
  'algoVersion': 3}}

### C. Get the number of tips

In [810]:
result['response']['venue']['tips']['count']

34

### D. Get the venue's tips
> `https://api.foursquare.com/v2/venues/`**VENUE_ID**`/tips?client_id=`**CLIENT_ID**`&client_secret=`**CLIENT_SECRET**`&v=`**VERSION**`&limit=`**LIMIT**

#### Create URL and send GET request. Make sure to set limit to get all tips

In [811]:
## Terroni Bar centrale
limit = 15 # set limit to be greater than or equal to the total number of tips
url = 'https://api.foursquare.com/v2/venues/{}/tips?client_id={}&client_secret={}&v={}&limit={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION, limit)

results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d3c8c40697e3a0025718a5f'},
 'response': {'tips': {'count': 34,
   'items': [{'id': '54cd3bc4498e679b6483b687',
     'createdAt': 1422736324,
     'text': 'I love the vibe on the main floor. Great light streaming in. A very Italian feel. Must try the spicy tuna tartar and any and all pastas. To see more pics have a look at my instagram @Joannasable',
     'type': 'user',
     'canonicalUrl': 'https://foursquare.com/item/54cd3bc4498e679b6483b687',
     'photo': {'id': '54cd3bc6498e90f73e91c75a',
      'createdAt': 1422736326,
      'source': {'name': 'Foursquare for iOS',
       'url': 'https://foursquare.com/download/#/iphone'},
      'prefix': 'https://fastly.4sqi.net/img/general/',
      'suffix': '/81374730_AWKochOeEgnWcFw5zihq2hsAsUJNG5GGLhWJUJOA424.jpg',
      'width': 1439,
      'height': 1920,
      'visibility': 'public'},
     'photourl': 'https://fastly.4sqi.net/img/general/original/81374730_AWKochOeEgnWcFw5zihq2hsAsUJNG5GGLhWJUJOA424.jpg',
     'lang': 'en',
     'likes': {'count': 0, 'groups': []},
     'logView': True,
     'agreeCount': 0,
     'disagreeCount': 0,
     'todo': {'count': 0},
     'user': {'id': '81374730',
      'firstName': 'Joanna',
      'lastName': 'Sable',
      'gender': 'female',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/81374730-JKMVFYYPCWZJLF3H.jpg'}},
     'authorInteractionType': 'liked'}]}}}

#### Get tips and list of associated features

In [812]:
tips = results['response']['tips']['items']

tip = results['response']['tips']['items'][0]
tip.keys()

dict_keys(['id', 'createdAt', 'text', 'type', 'canonicalUrl', 'photo', 'photourl', 'lang', 'likes', 'logView', 'agreeCount', 'disagreeCount', 'todo', 'user', 'authorInteractionType'])

#### Format column width and display all tips

In [818]:
pd.set_option('display.max_colwidth', -1)

tips_df = json_normalize(tips) # json normalize tips

# columns to keep
filtered_columns = ['text', 'agreeCount', 'disagreeCount', 'id', 'user.firstName', 'user.lastName', 'user.gender', 'user.id']
tips_filtered = tips_df.loc[:, filtered_columns]

# display tips
tips_filtered

,text,agreeCount,disagreeCount,id,user.firstName,user.lastName,user.gender,user.id
0,I love the vibe on the main floor. Great light streaming in. A very Italian feel. Must try the spicy tuna tartar and any and all pastas. To see more pics have a look at my instagram @Joannasable,0,0,54cd3bc4498e679b6483b687,Joanna,Sable,female,81374730

### A. Let's explore Speducci Mercatto --

In [821]:
venue_id = '53ecb865498e33680fdb6306' # ID of Speducci Mercatto
url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION)
url

'https://api.foursquare.com/v2/venues/53ecb865498e33680fdb6306?client_id=DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL&client_secret=G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP&v=20180605'

#### Send GET request for result

In [822]:
result = requests.get(url).json()
print(result['response']['venue'].keys())
result['response']['venue']

dict_keys(['id', 'name', 'contact', 'location', 'canonicalUrl', 'categories', 'verified', 'stats', 'price', 'likes', 'dislike', 'ok', 'rating', 'ratingColor', 'ratingSignals', 'allowMenuUrlEdit', 'beenHere', 'specials', 'photos', 'reasons', 'hereNow', 'createdAt', 'tips', 'shortUrl', 'timeZone', 'listed', 'pageUpdates', 'inbox', 'attributes', 'bestPhoto', 'colors'])

{'id': '53ecb865498e33680fdb6306',
 'name': 'Speducci',
 'contact': {},
 'location': {'address': '46 Milford Avenue',
  'lat': 43.70472653273358,
  'lng': -79.47285763431462,
  'labeledLatLngs': [{'label': 'display',
    'lat': 43.70472653273358,
    'lng': -79.47285763431462}],
  'cc': 'CA',
  'city': 'Toronto',
  'state': 'ON',
  'country': 'Canada',
  'formattedAddress': ['46 Milford Avenue', 'Toronto ON', 'Canada']},
 'canonicalUrl': 'https://foursquare.com/v/speducci/53ecb865498e33680fdb6306',
 'categories': [{'id': '4bf58dd8d48988d110941735',
   'name': 'Italian Restaurant',
   'pluralName': 'Italian Restaurants',
   'shortName': 'Italian',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/italian_',
    'suffix': '.png'},
   'primary': True}],
 'verified': False,
 'stats': {'tipCount': 3},
 'price': {'tier': 2, 'message': 'Moderate', 'currency': '$'},
 'likes': {'count': 7,
  'groups': [{'type': 'others',
    'count': 7,
    'items': [{'id': '83830',
      'firstName': 'Mark',
      'lastName': 'Orlan',
      'gender': 'male',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/83830-R3G20FTYZYAL0WPJ.jpg'}},
     {'id': '182207',
      'firstName': 'Rice',
      'lastName': 'Liu',
      'gender': 'male',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/182207-THGEHGGJIKRX4PXX.jpg'}},
     {'id': '9548246',
      'firstName': 'Corey',
      'lastName': 'Watts-Jones',
      'gender': 'male',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/FAD5RDFNMCWLKJWG.jpg'}},
     {'id': '69739574',
      'firstName': 'Joseph',
      'lastName': 'Carnevale',
      'gender': 'male',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/H5YJ00UOJT1CMOND.jpg'}}]}],
  'summary': '7 Likes'},
 'dislike': False,
 'ok': False,
 'rating': 7.1,
 'ratingColor': 'C5DE35',
 'ratingSignals': 10,
 'allowMenuUrlEdit': True,
 'beenHere': {'count': 0,
  'unconfirmedCount': 0,
  'marked': False,
  'lastCheckinExpiredAt': 0},
 'specials': {'count': 0, 'items': []},
 'photos': {'count': 3,
  'groups': [{'type': 'checkin',
    'name': "Friends' check-in photos",
    'count': 0,
    'items': []},
   {'type': 'venue',
    'name': 'Venue photos',
    'count': 3,
    'items': [{'id': '5bddf4b9598e64002c4c63aa',
      'createdAt': 1541272761,
      'source': {'name': 'Foursquare for iOS',
       'url': 'https://foursquare.com/download/#/iphone'},
      'prefix': 'https://fastly.4sqi.net/img/general/',
      'suffix': '/642494_sNw7-NY3ml9i7r2iMu2do8uoyr3d--t06YDg38AoRLw.jpg',
      'width': 1920,
      'height': 1412,
      'user': {'id': '642494',
       'firstName': 'Daniel',
       'lastName': 'Hritzkiv',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/642494_dpAUXH2-_26Tp1CUfNf1-c5NvxVuvxH68bkva8mzG3e8bc7EHwjqwYoZzUpaImXGU274SHkPX.jpg'}},
      'visibility': 'public'}]}],
  'summary': '0 photos'},
 'reasons': {'count': 0, 'items': []},
 'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []},
 'createdAt': 1408022629,
 'tips': {'count': 3,
  'groups': [{'type': 'others',
    'name': 'All tips',
    'count': 3,
    'items': [{'id': '5bddf4ad4ac28a002cf76074',
      'createdAt': 1541272749,
      'text': 'Half-restaurant, half-butcher in the middle of an industrial park? Consider me intrigued',
      'type': 'user',
      'canonicalUrl': 'https://foursquare.com/item/5bddf4ad4ac28a002cf76074',
      'photo': {'id': '5bddf3ada2a6ce0039e26cea',
       'createdAt': 1541272493,
       'source': {'name': 'Swarm for iOS', 'url': 'https://www.swarmapp.com'},
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/642494_bNpx8ETTzCIYqF-vJij6ZK0uyMC4jxSOCXQv92LKOJ8.jpg',
       'width': 1920,
       'height': 1440,
       'visibility': 'public'},
      'photourl': 'https://fastly.4sqi.net/img/general/original/642494_bNpx8ETTzCIYqF-vJij6ZK0uyMC4jxSOCXQv92LKOJ8.jpg',
      'lang': 'en',
      'likes': {'count': 0, 'groups': []},
      'logView': True,
      'agreeCount': 0,
      'disagreeCount': 0,
      'todo': {'count': 0},
      'user': {'id': '642494',
       'firstName': 'Daniel',
       'lastName': 'Hritzkiv',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/642494_dpAUXH2-_26Tp1CUfNf1-c5NvxVuvxH68bkva8mzG3e8bc7EHwjqwYoZzUpaImXGU274SHkPX.jpg'}}}]}]},
 'shortUrl': 'http://4sq.com/1pPpHQx',
 'timeZone': 'America/Toronto',
 'listed': {'count': 6,
  'groups': [{'type': 'others',
    'name': 'Lists from other people',
    'count': 6,
    'items': [{'id': '5afef5ef6336be651a1cc265',
      'name': 'Best Panini',
      'description': '',
      'type': 'others',
      'user': {'id': '16591132',
       'firstName': 'Elizabeth',
       'lastName': 'Violante',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/16591132-XOMLSRS3TERMFWJE.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/emviolante/list/best-panini',
      'canonicalUrl': 'https://foursquare.com/emviolante/list/best-panini',
      'createdAt': 1526658543,
      'updatedAt': 1526658668,
      'followers': {'count': 0},
      'listItems': {'count': 8,
       'items': [{'id': 'v53ecb865498e33680fdb6306',
         'createdAt': 1526658668}]}},
     {'id': '5553cc65498e0dc58cd08cf6',
      'name': 'Toronto',
      'description': '',
      'type': 'others',
      'user': {'id': '693313',
       'firstName': 'Dan',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/693313-HSVXIVSEW3U1PYN3.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/clever_dan/list/toronto',
      'canonicalUrl': 'https://foursquare.com/clever_dan/list/toronto',
      'createdAt': 1431555173,
      'updatedAt': 1562889890,
      'followers': {'count': 0},
      'listItems': {'count': 89,
       'items': [{'id': 'v53ecb865498e33680fdb6306',
         'createdAt': 1458458252}]}},
     {'id': '5553ebb5498eceefeb70c379',
      'name': 'Toronto',
      'description': '',
      'type': 'others',
      'user': {'id': '102572',
       'firstName': 'Kevin',
       'lastName': 'Colaco',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/TMU31QHHOR2OWY0P.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/user/102572/list/toronto',
      'canonicalUrl': 'https://foursquare.com/user/102572/list/toronto',
      'createdAt': 1431563189,
      'updatedAt': 1431868601,
      'photo': {'id': '4f50ef60e4b07c33827126c7',
       'createdAt': 1330704224,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/i6dSdB-60Eze8DrzeNRsIRzZ5T_l7-50S1gHHX1y3Gc.jpg',
       'width': 540,
       'height': 720,
       'user': {'id': '83763',
        'firstName': 'Ken',
        'lastName': 'Nickerson',
        'gender': 'male',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/-1_1256867291259.jpg'}},
       'visibility': 'public'},
      'followers': {'count': 1},
      'listItems': {'count': 46,
       'items': [{'id': 'v53ecb865498e33680fdb6306',
         'createdAt': 1431568329}]}},
     {'id': '4ea5dcb02c5b614a689a9698',
      'name': 'Toronto Eats',
      'description': '',
      'type': 'others',
      'user': {'id': '437054',
       'firstName': 'Nicole',
       'lastName': 'Burley',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/AAGJ4RV3ZRQQLZII.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': True,
      'url': '/nicoleburley/list/toronto-eats',
      'canonicalUrl': 'https://foursquare.com/nicoleburley/list/toronto-eats',
      'createdAt': 1319492784,
      'updatedAt': 1551240640,
      'photo': {'id': '4e48732d52b1bac0d991dbc8',
       'createdAt': 1313370925,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/4KOB2EKL1VQAYI4T3H4R4SN2V1VZJXDC40AKRGND03A30LBK.jpg',
       'width': 537,
       'height': 720,
       'user': {'id': '5135394',
        'firstName': 'Jarvis',
        'lastName': 'Emerald',
        'gender': 'male',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/NQCFO1DB5SGNSFUG.jpg'}},
       'visibility': 'public'},
      'followers': {'count': 12},
      'listItems': {'count': 248,
       'items': [{'id': 'v53ecb865498e33680fdb6306',
         'createdAt': 1507739642}]}}]}]},
 'pageUpdates': {'count': 0, 'items': []},
 'inbox': {'count': 0, 'items': []},
 'attributes': {'groups': [{'type': 'price',
    'name': 'Price',
    'summary': '$$',
    'count': 1,
    'items': [{'displayName': 'Price',
      'displayValue': '$$',
      'priceTier': 2}]}]},
 'bestPhoto': {'id': '5bddf4b9598e64002c4c63aa',
  'createdAt': 1541272761,
  'source': {'name': 'Foursquare for iOS',
   'url': 'https://foursquare.com/download/#/iphone'},
  'prefix': 'https://fastly.4sqi.net/img/general/',
  'suffix': '/642494_sNw7-NY3ml9i7r2iMu2do8uoyr3d--t06YDg38AoRLw.jpg',
  'width': 1920,
  'height': 1412,
  'visibility': 'public'},
 'colors': {'highlightColor': {'photoId': '5bddf4b9598e64002c4c63aa',
   'value': -12570608},
  'highlightTextColor': {'photoId': '5bddf4b9598e64002c4c63aa', 'value': -1},
  'algoVersion': 3}}

### C. Get the number of tips

In [823]:
result['response']['venue']['tips']['count']

3

### D. Get the venue's tips
> `https://api.foursquare.com/v2/venues/`**VENUE_ID**`/tips?client_id=`**CLIENT_ID**`&client_secret=`**CLIENT_SECRET**`&v=`**VERSION**`&limit=`**LIMIT**

#### Create URL and send GET request. Make sure to set limit to get all tips

In [824]:
#Speducci mercatto
limit = 15 # set limit to be greater than or equal to the total number of tips
url = 'https://api.foursquare.com/v2/venues/{}/tips?client_id={}&client_secret={}&v={}&limit={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION, limit)

results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d3c8d526bdee60039024494'},
 'response': {'tips': {'count': 3,
   'items': [{'id': '59c3a1141ffed76478ebf064',
     'createdAt': 1505992980,
     'text': 'They have wild boar salami and a range of deli choices.',
     'type': 'user',
     'canonicalUrl': 'https://foursquare.com/item/59c3a1141ffed76478ebf064',
     'lang': 'en',
     'likes': {'count': 0, 'groups': []},
     'logView': True,
     'agreeCount': 0,
     'disagreeCount': 0,
     'todo': {'count': 0},
     'user': {'id': '3502173',
      'firstName': 'Alina',
      'lastName': 'D',
      'gender': 'female',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/MIOVW2H3SPJ2MI5L.jpg'}},
     'authorInteractionType': 'meh'}]}}}

#### Get tips and list of associated features

In [825]:
tips = results['response']['tips']['items']

tip = results['response']['tips']['items'][0]
tip.keys()

dict_keys(['id', 'createdAt', 'text', 'type', 'canonicalUrl', 'lang', 'likes', 'logView', 'agreeCount', 'disagreeCount', 'todo', 'user', 'authorInteractionType'])

#### Format column width and display all tips

In [826]:
pd.set_option('display.max_colwidth', -1)

tips_df = json_normalize(tips) # json normalize tips

# columns to keep
filtered_columns = ['text', 'agreeCount', 'disagreeCount', 'id', 'user.firstName', 'user.lastName', 'user.gender', 'user.id']
tips_filtered = tips_df.loc[:, filtered_columns]

# display tips
tips_filtered

,text,agreeCount,disagreeCount,id,user.firstName,user.lastName,user.gender,user.id
0,They have wild boar salami and a range of deli choices.,0,0,59c3a1141ffed76478ebf064,Alina,D,female,3502173

### A. Let's explore Pizzeria Defina --

In [827]:
venue_id = '4da70d0b90a00b5184013400' # ID of Speducci Mercatto
url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION)
url

'https://api.foursquare.com/v2/venues/4da70d0b90a00b5184013400?client_id=DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL&client_secret=G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP&v=20180605'

#### Send GET request for result

In [828]:
result = requests.get(url).json()
print(result['response']['venue'].keys())
result['response']['venue']

dict_keys(['id', 'name', 'contact', 'location', 'canonicalUrl', 'categories', 'verified', 'stats', 'url', 'price', 'hasMenu', 'likes', 'dislike', 'ok', 'rating', 'ratingColor', 'ratingSignals', 'menu', 'allowMenuUrlEdit', 'beenHere', 'specials', 'photos', 'venuePage', 'reasons', 'page', 'hereNow', 'createdAt', 'tips', 'shortUrl', 'timeZone', 'listed', 'popular', 'pageUpdates', 'inbox', 'attributes', 'bestPhoto', 'colors'])

{'id': '4da70d0b90a00b5184013400',
 'name': 'Pizzeria Defina',
 'contact': {'phone': '4165344414', 'formattedPhone': '(416) 534-4414'},
 'location': {'address': '321 Roncesvalles Avenue',
  'lat': 43.648722638277675,
  'lng': -79.44985455915354,
  'labeledLatLngs': [{'label': 'display',
    'lat': 43.648722638277675,
    'lng': -79.44985455915354}],
  'cc': 'CA',
  'city': 'Toronto',
  'state': 'ON',
  'country': 'Canada',
  'formattedAddress': ['321 Roncesvalles Avenue', 'Toronto ON', 'Canada']},
 'canonicalUrl': 'https://foursquare.com/v/pizzeria-defina/4da70d0b90a00b5184013400',
 'categories': [{'id': '4bf58dd8d48988d1ca941735',
   'name': 'Pizza Place',
   'pluralName': 'Pizza Places',
   'shortName': 'Pizza',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/pizza_',
    'suffix': '.png'},
   'primary': True},
  {'id': '4bf58dd8d48988d110941735',
   'name': 'Italian Restaurant',
   'pluralName': 'Italian Restaurants',
   'shortName': 'Italian',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/italian_',
    'suffix': '.png'}}],
 'verified': True,
 'stats': {'tipCount': 25},
 'url': 'http://pizzeriadefina.com',
 'price': {'tier': 1, 'message': 'Cheap', 'currency': '$'},
 'hasMenu': True,
 'likes': {'count': 72,
  'groups': [{'type': 'others', 'count': 72, 'items': []}],
  'summary': '72 Likes'},
 'dislike': False,
 'ok': False,
 'rating': 9.3,
 'ratingColor': '00B551',
 'ratingSignals': 94,
 'menu': {'type': 'Menu',
  'label': 'Menu',
  'anchor': 'View Menu',
  'url': 'https://foursquare.com/v/pizzeria-defina/4da70d0b90a00b5184013400/menu',
  'mobileUrl': 'https://foursquare.com/v/4da70d0b90a00b5184013400/device_menu'},
 'allowMenuUrlEdit': True,
 'beenHere': {'count': 0,
  'unconfirmedCount': 0,
  'marked': False,
  'lastCheckinExpiredAt': 0},
 'specials': {'count': 0, 'items': []},
 'photos': {'count': 42,
  'groups': [{'type': 'checkin',
    'name': "Friends' check-in photos",
    'count': 0,
    'items': []},
   {'type': 'venue',
    'name': 'Venue photos',
    'count': 42,
    'items': [{'id': '51aa9033498e1641e41dd3b2',
      'createdAt': 1370132531,
      'source': {'name': 'Foursquare for Android',
       'url': 'https://foursquare.com/download/#/android'},
      'prefix': 'https://fastly.4sqi.net/img/general/',
      'suffix': '/3598835_ClFpT-tSRZkj2ElBETEbXp4-9m-Z0KSxW_3mrern2FA.jpg',
      'width': 960,
      'height': 960,
      'user': {'id': '3598835',
       'firstName': 'Jasper',
       'lastName': 'Ibe',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/M3F2CSZ05TBRJAJZ.jpg'}},
      'visibility': 'public'}]}],
  'summary': '0 photos'},
 'venuePage': {'id': '120496963'},
 'reasons': {'count': 1,
  'items': [{'summary': 'Lots of people like this place',
    'type': 'general',
    'reasonName': 'rawLikesReason'}]},
 'page': {'user': {'id': '120496963',
   'firstName': 'Pizzeria Defina',
   'gender': 'none',
   'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
    'suffix': '/120496963-L1KFTVC1LFJN41LV.png'},
   'type': 'venuePage',
   'venue': {'id': '4da70d0b90a00b5184013400'},
   'tips': {'count': 0},
   'lists': {'groups': [{'type': 'created', 'count': 2, 'items': []}]},
   'homeCity': 'Toronto, Ontario',
   'bio': '',
   'contact': {}}},
 'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []},
 'createdAt': 1302793483,
 'tips': {'count': 25,
  'groups': [{'type': 'others',
    'name': 'All tips',
    'count': 25,
    'items': [{'id': '51578c7fe4b034f6e0b65bb1',
      'createdAt': 1364692095,
      'text': "Don't even doubt coming here, best Italian place in Toronto :) Food, service, atmosphere - perfect!!",
      'type': 'user',
      'canonicalUrl': 'https://foursquare.com/item/51578c7fe4b034f6e0b65bb1',
      'lang': 'en',
      'likes': {'count': 3,
       'groups': [{'type': 'others',
         'count': 3,
         'items': [{'id': '694333',
           'firstName': 'Marvin',
           'gender': 'male',
           'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
            'suffix': '/694333_hl5v97JW_LPtfI0i8yyDf98WspkPnNRVjt2Q9pHY864f9L1FKnFTE5ctSm4oVmtQXNi9bxYqb.jpg'}},
          {'id': '119093774',
           'firstName': 'maksym',
           'lastName': 'ruzycky',
           'gender': 'none',
           'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
            'suffix': '/blank_boy.png',
            'default': True}},
          {'id': '13489974',
           'firstName': 'Ramazan',
           'lastName': 'Hotchıcken',
           'gender': 'male',
           'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
            'suffix': '/13489974-0VGGINICWMCU4NRX.jpg'}}]}],
       'summary': '3 likes'},
      'logView': True,
      'agreeCount': 3,
      'disagreeCount': 0,
      'todo': {'count': 0},
      'user': {'id': '38254482',
       'firstName': '🌜Elizabeth',
       'lastName': 'Dreamer🌛',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/EECGR1DYQK053QGD.jpg'}}}]}]},
 'shortUrl': 'http://4sq.com/qkZZUg',
 'timeZone': 'America/Toronto',
 'listed': {'count': 111,
  'groups': [{'type': 'others',
    'name': 'Lists from other people',
    'count': 111,
    'items': [{'id': '505912b6e4b01b7ff597e77a',
      'name': 'Toronto Foodlovers Wish Lists',
      'description': 'This is evergreen list of some the best places I have visited or have yet to visit as I eat my way around Toronto!',
      'type': 'others',
      'user': {'id': '37569985',
       'firstName': 'Daniel',
       'lastName': 'Arbour',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/JULTVYKKNJJMA2XJ.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/user/37569985/list/toronto-foodlovers-wish-lists',
      'canonicalUrl': 'https://foursquare.com/user/37569985/list/toronto-foodlovers-wish-lists',
      'createdAt': 1348014774,
      'updatedAt': 1406940094,
      'photo': {'id': '508f174de4b0d4948181b3a9',
       'createdAt': 1351554893,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/4522356_nWKrAdf-iRmWNbsvqy1vZpsdFMW4FEvxJ3_h1T47Eak.jpg',
       'width': 537,
       'height': 720,
       'user': {'id': '4522356',
        'firstName': 'Talia',
        'lastName': 'Boo',
        'gender': 'female',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/B24PXOEU3O4RS3M2.jpg'}},
       'visibility': 'public'},
      'followers': {'count': 2},
      'listItems': {'count': 65,
       'items': [{'id': 'v4da70d0b90a00b5184013400',
         'createdAt': 1348015263}]}},
     {'id': '59ec670d8b98fd714276ab1a',
      'name': '🇨🇦 (Toronto • Food)',
      'description': '',
      'type': 'others',
      'user': {'id': '396427744',
       'firstName': 'Rachel',
       'lastName': 'Cheng',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/396427744_RZjrb2x9_yrdYkE9WTcNE2GEsIWhjskBExYjQo0hRUnNVsmcmGkxwJkZoBpHIpRyiy5DS5Z6q.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/ahraycho/list/-toronto--food',
      'canonicalUrl': 'https://foursquare.com/ahraycho/list/-toronto--food',
      'createdAt': 1508665101,
      'updatedAt': 1563270779,
      'followers': {'count': 3},
      'listItems': {'count': 200,
       'items': [{'id': 'v4da70d0b90a00b5184013400',
         'createdAt': 1515653026}]}},
     {'id': '4f30550ce4b0d337d6eb8c49',
      'name': 'Eat. Play. Live. | Roncesvalles',
      'description': "The best of Roncy! Toronto’s Little Poland meshes authentic butchers & bakers with fair trade cafes & vegan brunch spots. Plus we've never met someone who didn't love living here—and that says a lot.",
      'type': 'others',
      'user': {'id': '19850696',
       'firstName': 'the BREL team',
       'gender': 'none',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/19850696-54MM10USHA5VZ0NL.jpg'},
       'type': 'page'},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/p/the-brel-team/19850696/list/eat-play-live--roncesvalles',
      'canonicalUrl': 'https://foursquare.com/p/the-brel-team/19850696/list/eat-play-live--roncesvalles',
      'createdAt': 1328567564,
      'updatedAt': 1382151139,
      'photo': {'id': '4db0a208fd28f0dcfa1ba484',
       'createdAt': 1303421448,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/R24JAWIMMSJRYQ5SWGT14YFL102YZWHAPGOPGCW5TJZT03HY.jpg',
       'width': 537,
       'height': 720,
       'user': {'id': '62147',
        'firstName': 'Suresh',
        'lastName': 'Doss',
        'gender': 'male',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/JEWQOORC0UY1XEL1.jpg'}},
       'visibility': 'public'},
      'logView': True,
      'followers': {'count': 26},
      'listItems': {'count': 18,
       'items': [{'id': 't4f6515f8e4b0aa8f67b6aa9d',
         'createdAt': 1330469195,
         'photo': {'id': '4f45a55fe4b01fefa0502138',
          'createdAt': 1329964383,
          'prefix': 'https://fastly.4sqi.net/img/general/',
          'suffix': '/KrpNDDHmahifx6UnAbGJRGMQhIG-2hzB5XTuex6QX2U.jpg',
          'width': 537,
          'height': 720,
          'user': {'id': '17989931',
           'firstName': 'GraceS',
           'lastName': 'Li',
           'gender': 'female',
           'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
            'suffix': '/CUIMRGQKJNXGV3KE.jpg'}},
          'visibility': 'public'}}]}},
     {'id': '50e9f063e4b07c15c4ca8270',
      'name': 'Sit Downs',
      'description': '',
      'type': 'others',
      'user': {'id': '12903295',
       'firstName': 'Punit',
       'lastName': 'Lad',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/3YUY5V0YIJ03MB31.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/user/12903295/list/sit-downs',
      'canonicalUrl': 'https://foursquare.com/user/12903295/list/sit-downs',
      'createdAt': 1357508707,
      'updatedAt': 1390452654,
      'photo': {'id': '4fb98944e4b0be7f036fa535',
       'createdAt': 1337559364,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/TtFCvKmOA2Fkf1YUCo8zEfHP9e6SgiykylPxn_3Kuh8.jpg',
       'width': 537,
       'height': 720,
       'user': {'id': '1018391',
        'firstName': 'Bonnie',
        'lastName': 'Lui',
        'gender': 'female',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/VMNP0V5ZKL2LSJQB.jpg'}},
       'visibility': 'public'},
      'followers': {'count': 8},
      'listItems': {'count': 73,
       'items': [{'id': 'v4da70d0b90a00b5184013400',
         'createdAt': 1360704400}]}}]}]},
 'popular': {'status': 'Likely open',
  'richStatus': {'entities': [], 'text': 'Likely open'},
  'isOpen': True,
  'isLocalHoliday': False,
  'timeframes': [{'days': 'Today',
    'includesToday': True,
    'open': [{'renderedTime': 'Noon–11:00 PM'}],
    'segments': []},
   {'days': 'Sun',
    'open': [{'renderedTime': '1:00 PM–9:00 PM'}],
    'segments': []},
   {'days': 'Mon',
    'open': [{'renderedTime': '5:00 PM–9:00 PM'}],
    'segments': []},
   {'days': 'Tue',
    'open': [{'renderedTime': 'Noon–1:00 PM'},
     {'renderedTime': '5:00 PM–9:00 PM'}],
    'segments': []},
   {'days': 'Wed',
    'open': [{'renderedTime': '5:00 PM–10:00 PM'}],
    'segments': []},
   {'days': 'Thu',
    'open': [{'renderedTime': '1:00 PM–2:00 PM'},
     {'renderedTime': '5:00 PM–10:00 PM'}],
    'segments': []},
   {'days': 'Fri',
    'open': [{'renderedTime': 'Noon–1:00 PM'},
     {'renderedTime': '5:00 PM–11:00 PM'}],
    'segments': []}]},
 'pageUpdates': {'count': 0, 'items': []},
 'inbox': {'count': 0, 'items': []},
 'attributes': {'groups': [{'type': 'price',
    'name': 'Price',
    'summary': '$',
    'count': 1,
    'items': [{'displayName': 'Price', 'displayValue': '$', 'priceTier': 1}]},
   {'type': 'reservations',
    'name': 'Reservations',
    'count': 3,
    'items': [{'displayName': 'Reservations', 'displayValue': 'No'}]},
   {'type': 'payments',
    'name': 'Credit Cards',
    'summary': 'Credit Cards',
    'count': 5,
    'items': [{'displayName': 'Credit Cards', 'displayValue': 'Yes'}]},
   {'type': 'outdoorSeating',
    'name': 'Outdoor Seating',
    'count': 1,
    'items': [{'displayName': 'Outdoor Seating', 'displayValue': 'No'}]},
   {'type': 'serves',
    'name': 'Menus',
    'summary': 'Brunch & Dinner',
    'count': 8,
    'items': [{'displayName': 'Brunch', 'displayValue': 'Brunch'},
     {'displayName': 'Dinner', 'displayValue': 'Dinner'}]},
   {'type': 'drinks',
    'name': 'Drinks',
    'summary': 'Beer, Full Bar & Cocktails',
    'count': 5,
    'items': [{'displayName': 'Beer', 'displayValue': 'Beer'},
     {'displayName': 'Full Bar', 'displayValue': 'Full Bar'},
     {'displayName': 'Cocktails', 'displayValue': 'Cocktails'}]}]},
 'bestPhoto': {'id': '51aa9033498e1641e41dd3b2',
  'createdAt': 1370132531,
  'source': {'name': 'Foursquare for Android',
   'url': 'https://foursquare.com/download/#/android'},
  'prefix': 'https://fastly.4sqi.net/img/general/',
  'suffix': '/3598835_ClFpT-tSRZkj2ElBETEbXp4-9m-Z0KSxW_3mrern2FA.jpg',
  'width': 960,
  'height': 960,
  'visibility': 'public'},
 'colors': {'highlightColor': {'photoId': '51aa9033498e1641e41dd3b2',
   'value': -14151664},
  'highlightTextColor': {'photoId': '51aa9033498e1641e41dd3b2', 'value': -1},
  'algoVersion': 3}}

### C. Get the number of tips

In [829]:
result['response']['venue']['tips']['count']

25

### D. Get the venue's tips
> `https://api.foursquare.com/v2/venues/`**VENUE_ID**`/tips?client_id=`**CLIENT_ID**`&client_secret=`**CLIENT_SECRET**`&v=`**VERSION**`&limit=`**LIMIT**

#### Create URL and send GET request. Make sure to set limit to get all tips

In [830]:
#Pizzeria Defina
limit = 15 # set limit to be greater than or equal to the total number of tips
url = 'https://api.foursquare.com/v2/venues/{}/tips?client_id={}&client_secret={}&v={}&limit={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION, limit)

results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d3c8de7933c010023e8cde3'},
 'response': {'tips': {'count': 25,
   'items': [{'id': '5cce5468340a58002cd95d3d',
     'createdAt': 1557025896,
     'text': 'This place ticks all the right boxes, friendly staff, great food, good vibes and good atmosphere. Sure to go again soon and take friends with 🤗',
     'type': 'user',
     'canonicalUrl': 'https://foursquare.com/item/5cce5468340a58002cd95d3d',
     'lang': 'en',
     'likes': {'count': 0, 'groups': []},
     'logView': True,
     'agreeCount': 1,
     'disagreeCount': 0,
     'lastVoteText': 'Upvoted May 5',
     'lastUpvoteTimestamp': 1557060378,
     'todo': {'count': 0},
     'user': {'id': '383107199',
      'firstName': 'Aydın',
      'lastName': 'Sarucan',
      'gender': 'male',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/383107199_k6uV-0Jh_-6kfIS06CIewTxcCW6OQMmKGWB-VDv2ZTXcc0ZKZ2F1e1MtaT_2pCCjLmnSFUV1X.jpg'}},
     'authorInteractionType': 'liked'}]}}}

#### Get tips and list of associated features

In [831]:
tips = results['response']['tips']['items']

tip = results['response']['tips']['items'][0]
tip.keys()

dict_keys(['id', 'createdAt', 'text', 'type', 'canonicalUrl', 'lang', 'likes', 'logView', 'agreeCount', 'disagreeCount', 'lastVoteText', 'lastUpvoteTimestamp', 'todo', 'user', 'authorInteractionType'])

#### Format column width and display all tips

In [833]:
pd.set_option('display.max_colwidth', -1)

tips_df = json_normalize(tips) # json normalize tips

# columns to keep
filtered_columns = ['text', 'agreeCount', 'disagreeCount', 'id', 'user.firstName', 'user.lastName', 'user.gender', 'user.id']
tips_filtered = tips_df.loc[:, filtered_columns]

# display tips
tips_filtered

,text,agreeCount,disagreeCount,id,user.firstName,user.lastName,user.gender,user.id
0,"This place ticks all the right boxes, friendly staff, great food, good vibes and good atmosphere. Sure to go again soon and take friends with 🤗",1,0,5cce5468340a58002cd95d3d,Aydın,Sarucan,male,383107199

### A. Let's explore Pizza e pazzi --

In [836]:
venue_id = '4dd5dc2445ddced820612749' # ID of Pizza e Pazzi
url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION)
url

'https://api.foursquare.com/v2/venues/4dd5dc2445ddced820612749?client_id=DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL&client_secret=G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP&v=20180605'

#### Send GET request for result

In [837]:
result = requests.get(url).json()
print(result['response']['venue'].keys())
result['response']['venue']

dict_keys(['id', 'name', 'contact', 'location', 'canonicalUrl', 'categories', 'verified', 'stats', 'url', 'price', 'hasMenu', 'likes', 'dislike', 'ok', 'rating', 'ratingColor', 'ratingSignals', 'menu', 'allowMenuUrlEdit', 'beenHere', 'specials', 'photos', 'venuePage', 'reasons', 'description', 'storeId', 'page', 'hereNow', 'createdAt', 'tips', 'shortUrl', 'timeZone', 'listed', 'hours', 'popular', 'pageUpdates', 'inbox', 'attributes', 'bestPhoto', 'colors'])

{'id': '4dd5dc2445ddced820612749',
 'name': 'Pizza e Pazzi',
 'contact': {'phone': '4166519999',
  'formattedPhone': '(416) 651-9999',
  'twitter': 'pizzaepazzi',
  'instagram': 'pizza_e_pazzi'},
 'location': {'address': '1182 St. Clair Ave. W',
  'lat': 43.67782147238314,
  'lng': -79.44372401169342,
  'labeledLatLngs': [{'label': 'display',
    'lat': 43.67782147238314,
    'lng': -79.44372401169342}],
  'postalCode': 'M6E 1B4',
  'cc': 'CA',
  'city': 'Toronto',
  'state': 'ON',
  'country': 'Canada',
  'formattedAddress': ['1182 St. Clair Ave. W',
   'Toronto ON M6E 1B4',
   'Canada']},
 'canonicalUrl': 'https://foursquare.com/v/pizza-e-pazzi/4dd5dc2445ddced820612749',
 'categories': [{'id': '4bf58dd8d48988d110941735',
   'name': 'Italian Restaurant',
   'pluralName': 'Italian Restaurants',
   'shortName': 'Italian',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/italian_',
    'suffix': '.png'},
   'primary': True},
  {'id': '4bf58dd8d48988d1ca941735',
   'name': 'Pizza Place',
   'pluralName': 'Pizza Places',
   'shortName': 'Pizza',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/pizza_',
    'suffix': '.png'}}],
 'verified': True,
 'stats': {'tipCount': 31},
 'url': 'http://www.pizzaepazzi.ca',
 'price': {'tier': 3, 'message': 'Expensive', 'currency': '$'},
 'hasMenu': True,
 'likes': {'count': 30,
  'groups': [{'type': 'others', 'count': 30, 'items': []}],
  'summary': '30 Likes'},
 'dislike': False,
 'ok': False,
 'rating': 8.0,
 'ratingColor': '73CF42',
 'ratingSignals': 55,
 'menu': {'type': 'Menu',
  'label': 'Menu',
  'anchor': 'View Menu',
  'url': 'https://foursquare.com/v/pizza-e-pazzi/4dd5dc2445ddced820612749/menu',
  'mobileUrl': 'https://foursquare.com/v/4dd5dc2445ddced820612749/device_menu'},
 'allowMenuUrlEdit': True,
 'beenHere': {'count': 0,
  'unconfirmedCount': 0,
  'marked': False,
  'lastCheckinExpiredAt': 0},
 'specials': {'count': 1,
  'items': [{'id': '590bf7792a7ab66c9d099ef8',
    'type': 'frequency',
    'message': 'Making Every Sunday Family Special !\n**Join us for Sunday Lunch 3 Course set menu !\n**Sundays are for relaxing, so let us do the cooking !',
    'photo': {'id': '58bcc8495c1ba26a238f1b4f',
     'createdAt': 1488767049,
     'prefix': 'https://fastly.4sqi.net/img/general/',
     'suffix': '/407415870_empvl23nd97dL2aVOtdUSRWoHslhQJOP0_cFJaiCw_g.jpg',
     'width': 4608,
     'height': 2592,
     'visibility': 'public'},
    'description': '',
    'finePrint': 'Free Dessert for kids !',
    'unlocked': True,
    'icon': 'default',
    'title': 'Special',
    'state': 'unlocked',
    'provider': 'foursquare',
    'redemption': 'webview',
    'interaction': {'entryUrl': 'https://foursquare.com/device/specials/590bf7792a7ab66c9d099ef8?venueId=4dd5dc2445ddced820612749'},
    'page': {'id': '407415870',
     'firstName': 'Pizza e Pazzi',
     'gender': 'none',
     'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
      'suffix': '/407415870_Vx25IvhO_7bFjhHwD6XmsEgTLRhi-FnAd2wcsrO9HNK-C8C1swSq-gzXglGV081tj57BiuaNe.png'},
     'type': 'venuePage',
     'venue': {'id': '4dd5dc2445ddced820612749'},
     'tips': {'count': 3},
     'lists': {'groups': [{'type': 'created', 'count': 2, 'items': []}]},
     'homeCity': 'Toronto, ON',
     'bio': '',
     'contact': {}}}]},
 'photos': {'count': 31,
  'groups': [{'type': 'checkin',
    'name': "Friends' check-in photos",
    'count': 0,
    'items': []},
   {'type': 'venue',
    'name': 'Venue photos',
    'count': 31,
    'items': [{'id': '57f33121498e68a08eb77452',
      'createdAt': 1475555617,
      'source': {'name': 'Swarm for Android',
       'url': 'https://www.swarmapp.com'},
      'prefix': 'https://fastly.4sqi.net/img/general/',
      'suffix': '/26306755_LUvjoW6JCZfBoMg4uzVtqc8hFmWPANFlnwAO7yWQ_PM.jpg',
      'width': 960,
      'height': 540,
      'user': {'id': '26306755',
       'firstName': 'Élide',
       'lastName': 'Puga',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/26306755-LF3TPHBVAUSSEEZO.jpg'}},
      'visibility': 'public'}]}],
  'summary': '0 photos'},
 'venuePage': {'id': '407415870'},
 'reasons': {'count': 0, 'items': []},
 'description': "Located at 1182 St. Clair Ave. W. Enjoy a taste of Italy and indulge in a Pazzi night of fun, Come try a bite, we bet it won't be your last.",
 'storeId': '',
 'page': {'user': {'id': '407415870',
   'firstName': 'Pizza e Pazzi',
   'gender': 'none',
   'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
    'suffix': '/407415870_Vx25IvhO_7bFjhHwD6XmsEgTLRhi-FnAd2wcsrO9HNK-C8C1swSq-gzXglGV081tj57BiuaNe.png'},
   'type': 'venuePage',
   'venue': {'id': '4dd5dc2445ddced820612749'},
   'tips': {'count': 3},
   'lists': {'groups': [{'type': 'created', 'count': 2, 'items': []}]},
   'homeCity': 'Toronto, ON',
   'bio': '',
   'contact': {}}},
 'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []},
 'createdAt': 1305861156,
 'tips': {'count': 31,
  'groups': [{'type': 'others',
    'name': 'All tips',
    'count': 31,
    'items': [{'id': '4ded75c9e4cd032b188c6853',
      'createdAt': 1307407817,
      'text': 'The menu features over 25 different pizzas.',
      'type': 'user',
      'canonicalUrl': 'https://foursquare.com/item/4ded75c9e4cd032b188c6853',
      'lang': 'en',
      'likes': {'count': 2,
       'groups': [{'type': 'others', 'count': 2, 'items': []}],
       'summary': '2 likes'},
      'logView': True,
      'agreeCount': 0,
      'disagreeCount': 0,
      'todo': {'count': 0},
      'user': {'id': '539375',
       'firstName': 'Andrew',
       'lastName': 'Mowbray',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/OHT0E1FOY3AFGW2Q.jpg'}}}]}]},
 'shortUrl': 'http://4sq.com/mAl6ZB',
 'timeZone': 'America/Toronto',
 'listed': {'count': 25,
  'groups': [{'type': 'others',
    'name': 'Lists from other people',
    'count': 25,
    'items': [{'id': '4e49e99c18387418d6e88586',
      'name': 'Local eats : St Clair W and beyond',
      'description': '',
      'type': 'others',
      'user': {'id': '7656474',
       'firstName': 'Wychwood',
       'lastName': 'Barns',
       'gender': 'none',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/05VXTXRKPTSDWQU1.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/wychwoodbarns/list/local-eats--st-clair-w-and-beyond',
      'canonicalUrl': 'https://foursquare.com/wychwoodbarns/list/local-eats--st-clair-w-and-beyond',
      'createdAt': 1313466780,
      'updatedAt': 1399083192,
      'photo': {'id': '4e4c26ebb0fb57f6f21a7b06',
       'createdAt': 1313613547,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/E14KIJBVH32TBYQOQTAWTVTDQIXNYYHP3GCLE4IWKC1M501P.jpg',
       'width': 540,
       'height': 720,
       'user': {'id': '49185',
        'firstName': 'Suzanne',
        'lastName': 'Long',
        'gender': 'none',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/49185_1255636763388.jpg'}},
       'visibility': 'public'},
      'followers': {'count': 5},
      'listItems': {'count': 24,
       'items': [{'id': 'v4dd5dc2445ddced820612749',
         'createdAt': 1398960399}]}},
     {'id': '553a8ff4498ef7364a91c3a2',
      'name': 'YYZ',
      'description': '',
      'type': 'others',
      'user': {'id': '6622657',
       'firstName': 'Ryan',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/KX4IBWMCTM5LSSA3.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/burgerplex1/list/yyz',
      'canonicalUrl': 'https://foursquare.com/burgerplex1/list/yyz',
      'createdAt': 1429901300,
      'updatedAt': 1556324157,
      'photo': {'id': '52c9b1ae498ece9a3e1bd848',
       'createdAt': 1388949934,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/4586462_uptS9xcS9zUli5DjNE8fHkrr43vh8dcDfCmb3Oq7W90.jpg',
       'width': 640,
       'height': 640,
       'user': {'id': '4586462',
        'firstName': 'Rhiann',
        'lastName': 'Conyers',
        'gender': 'female',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/31ZVIG2I003PWQHZ.jpg'}},
       'visibility': 'public'},
      'followers': {'count': 2},
      'listItems': {'count': 195,
       'items': [{'id': 'v4dd5dc2445ddced820612749',
         'createdAt': 1505874195}]}},
     {'id': '4e99ef0402d5df1b500cc675',
      'name': 'Bucket',
      'description': 'Places to GOGOGOGOGO!~',
      'type': 'others',
      'user': {'id': '12757451',
       'firstName': 'Mike',
       'lastName': 'L',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/W0DNMYCYZ25H2EKR.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/user/12757451/list/bucket',
      'canonicalUrl': 'https://foursquare.com/user/12757451/list/bucket',
      'createdAt': 1318711044,
      'updatedAt': 1429283379,
      'photo': {'id': '4ee8eef7722e1234950e5af4',
       'createdAt': 1323888375,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/0BTJ2NT5C3NATQFKNF2Z4QPJQNYU4IX2ZSRGTFIW5OGSCYYJ.jpg',
       'width': 720,
       'height': 537,
       'user': {'id': '1271706',
        'firstName': 'Samantha',
        'lastName': 'Robertson',
        'gender': 'female',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/PEDCRSHHNGWVDA2Y.jpg'}},
       'visibility': 'public'},
      'followers': {'count': 70},
      'listItems': {'count': 197,
       'items': [{'id': 'v4dd5dc2445ddced820612749',
         'createdAt': 1318712554}]}},
     {'id': '4f18953de4b078805d7aedde',
      'name': 'I gotta eat here.',
      'description': '',
      'type': 'others',
      'user': {'id': '95905',
       'firstName': 'Lee',
       'lastName': 'Newton',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/XQZGCCPKYU4HXFQ4.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/leenewton/list/i-gotta-eat-here',
      'canonicalUrl': 'https://foursquare.com/leenewton/list/i-gotta-eat-here',
      'createdAt': 1327011133,
      'updatedAt': 1424570550,
      'followers': {'count': 10},
      'listItems': {'count': 67,
       'items': [{'id': 'v4dd5dc2445ddced820612749',
         'createdAt': 1339211078}]}}]}]},
 'hours': {'status': 'Open until 11:00 PM',
  'richStatus': {'entities': [], 'text': 'Open until 11:00 PM'},
  'isOpen': True,
  'isLocalHoliday': False,
  'dayData': [],
  'timeframes': [{'days': 'Mon–Thu',
    'open': [{'renderedTime': '5:00 PM–10:00 PM'}],
    'segments': []},
   {'days': 'Fri–Sat',
    'includesToday': True,
    'open': [{'renderedTime': 'Noon–11:00 PM'}],
    'segments': []},
   {'days': 'Sun',
    'open': [{'renderedTime': 'Noon–10:00 PM'}],
    'segments': []}]},
 'popular': {'status': 'Likely open',
  'richStatus': {'entities': [], 'text': 'Likely open'},
  'isOpen': True,
  'isLocalHoliday': False,
  'timeframes': [{'days': 'Today',
    'includesToday': True,
    'open': [{'renderedTime': 'Noon–11:00 PM'}],
    'segments': []},
   {'days': 'Sun',
    'open': [{'renderedTime': 'Noon–3:00 PM'},
     {'renderedTime': '6:00 PM–11:00 PM'}],
    'segments': []},
   {'days': 'Mon–Tue',
    'open': [{'renderedTime': '6:00 PM–10:00 PM'}],
    'segments': []},
   {'days': 'Wed–Thu',
    'open': [{'renderedTime': '6:00 PM–11:00 PM'}],
    'segments': []},
   {'days': 'Fri',
    'open': [{'renderedTime': '5:00 PM–11:00 PM'}],
    'segments': []}]},
 'pageUpdates': {'count': 0, 'items': []},
 'inbox': {'count': 0, 'items': []},
 'attributes': {'groups': [{'type': 'price',
    'name': 'Price',
    'summary': '$$$',
    'count': 1,
    'items': [{'displayName': 'Price',
      'displayValue': '$$$',
      'priceTier': 3}]},
   {'type': 'reservations',
    'name': 'Reservations',
    'summary': 'Reservations',
    'count': 3,
    'items': [{'displayName': 'Reservations', 'displayValue': 'Yes'}]},
   {'type': 'payments',
    'name': 'Credit Cards',
    'summary': 'Credit Cards',
    'count': 5,
    'items': [{'displayName': 'Credit Cards',
      'displayValue': 'Yes (incl. American Express & MasterCard)'}]},
   {'type': 'outdoorSeating',
    'name': 'Outdoor Seating',
    'count': 1,
    'items': [{'displayName': 'Outdoor Seating', 'displayValue': 'No'}]},
   {'type': 'music',
    'name': 'Music',
    'summary': 'Music',
    'count': 3,
    'items': [{'displayName': 'Music', 'displayValue': 'Yes'}]},
   {'type': 'wifi',
    'name': 'Wi-Fi',
    'summary': 'Free Wi-Fi',
    'count': 1,
    'items': [{'displayName': 'Wi-Fi', 'displayValue': 'Free'}]},
   {'type': 'serves',
    'name': 'Menus',
    'summary': 'Dessert, Dinner & more',
    'count': 8,
    'items': [{'displayName': 'Lunch', 'displayValue': 'Lunch'},
     {'displayName': 'Dinner', 'displayValue': 'Dinner'},
     {'displayName': 'Dessert', 'displayValue': 'Dessert'}]},
   {'type': 'drinks',
    'name': 'Drinks',
    'summary': 'Beer, Wine, Full Bar & Cocktails',
    'count': 5,
    'items': [{'displayName': 'Beer', 'displayValue': 'Beer'},
     {'displayName': 'Wine', 'displayValue': 'Wine'},
     {'displayName': 'Full Bar', 'displayValue': 'Full Bar'},
     {'displayName': 'Cocktails', 'displayValue': 'Cocktails'}]},
   {'type': 'diningOptions',
    'name': 'Dining Options',
    'summary': 'Table Service, Bar Service & Delivery',
    'count': 5,
    'items': [{'displayName': 'Table Service',
      'displayValue': 'Table Service'},
     {'displayName': 'Bar Service', 'displayValue': 'Bar Service'},
     {'displayName': 'Delivery', 'displayValue': 'Delivery'}]}]},
 'bestPhoto': {'id': '57f33121498e68a08eb77452',
  'createdAt': 1475555617,
  'source': {'name': 'Swarm for Android', 'url': 'https://www.swarmapp.com'},
  'prefix': 'https://fastly.4sqi.net/img/general/',
  'suffix': '/26306755_LUvjoW6JCZfBoMg4uzVtqc8hFmWPANFlnwAO7yWQ_PM.jpg',
  'width': 960,
  'height': 540,
  'visibility': 'public'},
 'colors': {'highlightColor': {'photoId': '57f33121498e68a08eb77452',
   'value': -13627392},
  'highlightTextColor': {'photoId': '57f33121498e68a08eb77452', 'value': -1},
  'algoVersion': 3}}

### C. Get the number of tips

In [838]:
result['response']['venue']['tips']['count']

31

### D. Get the venue's tips
> `https://api.foursquare.com/v2/venues/`**VENUE_ID**`/tips?client_id=`**CLIENT_ID**`&client_secret=`**CLIENT_SECRET**`&v=`**VERSION**`&limit=`**LIMIT**

#### Create URL and send GET request. Make sure to set limit to get all tips

In [839]:
#Pizza e pazzi
limit = 15 # set limit to be greater than or equal to the total number of tips
url = 'https://api.foursquare.com/v2/venues/{}/tips?client_id={}&client_secret={}&v={}&limit={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION, limit)

results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d3c8ed67a1a610025056ce9'},
 'response': {'tips': {'count': 31,
   'items': [{'id': '590bf77935811b21e3bf0f94',
     'createdAt': 1493956473,
     'text': 'Making Every Sunday Family Special !**Join us for Sunday Lunch 3 Course set menu !**Sundays are for relaxing, so let us do the cooking !',
     'type': 'merchant_special',
     'finePrint': 'Free Dessert for kids !',
     'canonicalUrl': 'https://foursquare.com/item/590bf77935811b21e3bf0f94',
     'photo': {'id': '58bcc8495c1ba26a238f1b4f',
      'createdAt': 1488767049,
      'source': {'name': 'Foursquare Web', 'url': 'https://foursquare.com'},
      'prefix': 'https://fastly.4sqi.net/img/general/',
      'suffix': '/407415870_empvl23nd97dL2aVOtdUSRWoHslhQJOP0_cFJaiCw_g.jpg',
      'width': 4608,
      'height': 2592,
      'visibility': 'public'},
     'photourl': 'https://fastly.4sqi.net/img/general/original/407415870_empvl23nd97dL2aVOtdUSRWoHslhQJOP0_cFJaiCw_g.jpg',
     'lang': 'en',
     'likes': {'count': 0, 'groups': []},
     'logView': True,
     'startAt': 1493956473,
     'agreeCount': 0,
     'disagreeCount': 0,
     'todo': {'count': 0},
     'user': {'id': '407415870',
      'firstName': 'Pizza e Pazzi',
      'gender': 'none',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/407415870_Vx25IvhO_7bFjhHwD6XmsEgTLRhi-FnAd2wcsrO9HNK-C8C1swSq-gzXglGV081tj57BiuaNe.png'},
      'type': 'venuePage',
      'venue': {'id': '4dd5dc2445ddced820612749'}}}]}}}

#### Get tips and list of associated features

In [840]:
tips = results['response']['tips']['items']

tip = results['response']['tips']['items'][0]
tip.keys()

dict_keys(['id', 'createdAt', 'text', 'type', 'finePrint', 'canonicalUrl', 'photo', 'photourl', 'lang', 'likes', 'logView', 'startAt', 'agreeCount', 'disagreeCount', 'todo', 'user'])

#### Format column width and display all tips

In [842]:
pd.set_option('display.max_colwidth', -1)

tips_df = json_normalize(tips) # json normalize tips

# columns to keep
filtered_columns = ['text', 'agreeCount', 'disagreeCount', 'id', 'user.firstName', 'user.lastName', 'user.gender', 'user.id']
tips_filtered = tips_df.loc[:, filtered_columns]

# display tips
tips_filtered

,text,agreeCount,disagreeCount,id,user.firstName,user.lastName,user.gender,user.id
0,"Making Every Sunday Family Special !**Join us for Sunday Lunch 3 Course set menu !**Sundays are for relaxing, so let us do the cooking !",0,0,590bf77935811b21e3bf0f94,Pizza e Pazzi,NaN,none,407415870

### A. Let's explore La Bettola di Terroni --

In [843]:
venue_id = '4c251062db519521621d2c3a' # ID of La bettola di terroni
url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION)
url

'https://api.foursquare.com/v2/venues/4c251062db519521621d2c3a?client_id=DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL&client_secret=G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP&v=20180605'

#### Send GET request for result

In [844]:
result = requests.get(url).json()
print(result['response']['venue'].keys())
result['response']['venue']

dict_keys(['id', 'name', 'contact', 'location', 'canonicalUrl', 'categories', 'verified', 'stats', 'url', 'price', 'hasMenu', 'likes', 'dislike', 'ok', 'rating', 'ratingColor', 'ratingSignals', 'menu', 'allowMenuUrlEdit', 'beenHere', 'specials', 'photos', 'reasons', 'hereNow', 'createdAt', 'tips', 'shortUrl', 'timeZone', 'listed', 'popular', 'pageUpdates', 'inbox', 'attributes', 'bestPhoto', 'colors'])

{'id': '4c251062db519521621d2c3a',
 'name': 'La Bettola Di Terroni',
 'contact': {'phone': '4165041992',
  'formattedPhone': '(416) 504-1992',
  'twitter': 'osteria_bettola'},
 'location': {'address': '106 Victoria St',
  'lat': 43.65199330592565,
  'lng': -79.37805579614488,
  'labeledLatLngs': [{'label': 'display',
    'lat': 43.65199330592565,
    'lng': -79.37805579614488}],
  'postalCode': 'M5C 2B4',
  'cc': 'CA',
  'city': 'Toronto',
  'state': 'ON',
  'country': 'Canada',
  'formattedAddress': ['106 Victoria St', 'Toronto ON M5C 2B4', 'Canada']},
 'canonicalUrl': 'https://foursquare.com/v/la-bettola-di-terroni/4c251062db519521621d2c3a',
 'categories': [{'id': '4bf58dd8d48988d110941735',
   'name': 'Italian Restaurant',
   'pluralName': 'Italian Restaurants',
   'shortName': 'Italian',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/italian_',
    'suffix': '.png'},
   'primary': True}],
 'verified': False,
 'stats': {'tipCount': 36},
 'url': 'http://labettola.ca',
 'price': {'tier': 3, 'message': 'Expensive', 'currency': '$'},
 'hasMenu': True,
 'likes': {'count': 69,
  'groups': [{'type': 'others', 'count': 69, 'items': []}],
  'summary': '69 Likes'},
 'dislike': False,
 'ok': False,
 'rating': 7.9,
 'ratingColor': 'C5DE35',
 'ratingSignals': 114,
 'menu': {'type': 'Menu',
  'label': 'Menu',
  'anchor': 'View Menu',
  'url': 'https://foursquare.com/v/la-bettola-di-terroni/4c251062db519521621d2c3a/menu',
  'mobileUrl': 'https://foursquare.com/v/4c251062db519521621d2c3a/device_menu'},
 'allowMenuUrlEdit': True,
 'beenHere': {'count': 0,
  'unconfirmedCount': 0,
  'marked': False,
  'lastCheckinExpiredAt': 0},
 'specials': {'count': 0, 'items': []},
 'photos': {'count': 93,
  'groups': [{'type': 'checkin',
    'name': "Friends' check-in photos",
    'count': 0,
    'items': []},
   {'type': 'venue',
    'name': 'Venue photos',
    'count': 93,
    'items': [{'id': '517575c4498ed50ce11cb735',
      'createdAt': 1366652356,
      'source': {'name': 'Foursquare for Android',
       'url': 'https://foursquare.com/download/#/android'},
      'prefix': 'https://fastly.4sqi.net/img/general/',
      'suffix': '/53604688_pMpQfNUYI0kkeEW_PF3FyoPmygpEQ099G3Hpep_ogEs.jpg',
      'width': 960,
      'height': 720,
      'user': {'id': '53604688',
       'firstName': 'Yvonne',
       'lastName': 'Tsui',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/53604688-PTQYLKH1VLDQQSAQ.jpg'}},
      'visibility': 'public'}]}],
  'summary': '0 photos'},
 'reasons': {'count': 1,
  'items': [{'summary': 'Lots of people like this place',
    'type': 'general',
    'reasonName': 'rawLikesReason'}]},
 'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []},
 'createdAt': 1277497442,
 'tips': {'count': 36,
  'groups': [{'type': 'others',
    'name': 'All tips',
    'count': 36,
    'items': [{'id': '4ca7e3a3b0b8236acb43aee6',
      'createdAt': 1286071203,
      'text': 'The WiFi password is 4165049998',
      'type': 'user',
      'canonicalUrl': 'https://foursquare.com/item/4ca7e3a3b0b8236acb43aee6',
      'lang': 'en',
      'likes': {'count': 4,
       'groups': [{'type': 'others', 'count': 4, 'items': []}],
       'summary': '4 likes'},
      'logView': True,
      'agreeCount': 0,
      'disagreeCount': 0,
      'todo': {'count': 0},
      'user': {'id': '379',
       'firstName': 'Ed',
       'lastName': 'Kohler',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/379_1236293483.jpg'}}}]}]},
 'shortUrl': 'http://4sq.com/aj2Gz1',
 'timeZone': 'America/Toronto',
 'listed': {'count': 36,
  'groups': [{'type': 'others',
    'name': 'Lists from other people',
    'count': 36,
    'items': [{'id': '4f542793e4b0d3a8f6a0a3e4',
      'name': 'The Good - Worth checking out',
      'description': '',
      'type': 'others',
      'user': {'id': '8313805',
       'firstName': 'Ian',
       'lastName': 'Leung',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/MRYJYN1EP4JUW34W.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/iantheleung/list/the-good--worth-checking-out',
      'canonicalUrl': 'https://foursquare.com/iantheleung/list/the-good--worth-checking-out',
      'createdAt': 1330915219,
      'updatedAt': 1407030400,
      'photo': {'id': '52fe5b5911d2e77dc5a30955',
       'createdAt': 1392401241,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/46159531_Bkj1kaHwkKUJA4eN1Q3zc9Vlt289wfXN8K-8DL96bvc.jpg',
       'width': 959,
       'height': 717,
       'user': {'id': '46159531',
        'firstName': 'Joyce',
        'lastName': 'Chan',
        'gender': 'female',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/46159531-IYFJEEQM4OJ3PEBZ.jpg'}},
       'visibility': 'public'},
      'followers': {'count': 4},
      'listItems': {'count': 21,
       'items': [{'id': 'v4c251062db519521621d2c3a',
         'createdAt': 1406490220}]}},
     {'id': '4f81c315e4b00d7483041447',
      'name': "William's Favorite Coffee Places in Toronto",
      'description': 'Cortados, Capuccinos, Lattes and Espressos are my guiding posts.',
      'type': 'others',
      'user': {'id': '35212',
       'firstName': 'William',
       'lastName': 'Mougayar',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/35212-4WBG34AAQWBKQLW1.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/wmougayar/list/williams-favorite-coffee-places-in-toronto',
      'canonicalUrl': 'https://foursquare.com/wmougayar/list/williams-favorite-coffee-places-in-toronto',
      'createdAt': 1333904149,
      'updatedAt': 1492259250,
      'photo': {'id': '4fc13be4e4b051906897f518',
       'createdAt': 1338063844,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/tGdyUDMggqlytukw8ihDwBrplk2Thw3m0KbUmlNbdsM.jpg',
       'width': 537,
       'height': 720,
       'user': {'id': '35212',
        'firstName': 'William',
        'lastName': 'Mougayar',
        'gender': 'male',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/35212-4WBG34AAQWBKQLW1.jpg'}},
       'visibility': 'public'},
      'followers': {'count': 2},
      'listItems': {'count': 20,
       'items': [{'id': 'v4c251062db519521621d2c3a',
         'createdAt': 1333904592,
         'photo': {'id': '4f1b3712e4b0aa50949ce5eb',
          'createdAt': 1327183634,
          'prefix': 'https://fastly.4sqi.net/img/general/',
          'suffix': '/ST0XZ4UFF2XYISZD2C3E5NUL1NVW4EUMJFHWJICSKMJLWSXA.jpg',
          'width': 537,
          'height': 720,
          'user': {'id': '35212',
           'firstName': 'William',
           'lastName': 'Mougayar',
           'gender': 'male',
           'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
            'suffix': '/35212-4WBG34AAQWBKQLW1.jpg'}},
          'visibility': 'public'}}]}},
     {'id': '4eb5cd89be7bfc284a7bc551',
      'name': 'Toronto Restaurant Bucket List',
      'description': '',
      'type': 'others',
      'user': {'id': '2335214',
       'firstName': 'Mark',
       'lastName': 'Churaman',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/YVGYE2TULDYW3LS4.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/markchuraman/list/toronto-restaurant-bucket-list',
      'canonicalUrl': 'https://foursquare.com/markchuraman/list/toronto-restaurant-bucket-list',
      'createdAt': 1320537481,
      'updatedAt': 1409549725,
      'followers': {'count': 32},
      'listItems': {'count': 110,
       'items': [{'id': 'v4c251062db519521621d2c3a',
         'createdAt': 1404192223}]}},
     {'id': '50147238e4b0dd18eccd1628',
      'name': 'Toronto Restaurants',
      'description': "Restaurants I've been to or want to try in Toronto",
      'type': 'others',
      'user': {'id': '81152',
       'firstName': 'Brian',
       'lastName': 'Newman',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/KR3I3GB15XX3HKX3.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/user/81152/list/toronto-restaurants',
      'canonicalUrl': 'https://foursquare.com/user/81152/list/toronto-restaurants',
      'createdAt': 1343517240,
      'updatedAt': 1378606880,
      'followers': {'count': 4},
      'listItems': {'count': 117,
       'items': [{'id': 'v4c251062db519521621d2c3a',
         'createdAt': 1345748970}]}}]}]},
 'popular': {'isOpen': False,
  'isLocalHoliday': False,
  'timeframes': [{'days': 'Today',
    'includesToday': True,
    'open': [{'renderedTime': '5:00 PM–11:00 PM'}],
    'segments': []},
   {'days': 'Sun',
    'open': [{'renderedTime': '5:00 PM–10:00 PM'}],
    'segments': []},
   {'days': 'Mon',
    'open': [{'renderedTime': 'Noon–2:00 PM'},
     {'renderedTime': '5:00 PM–9:00 PM'}],
    'segments': []},
   {'days': 'Tue',
    'open': [{'renderedTime': 'Noon–1:00 PM'},
     {'renderedTime': '4:00 PM–10:00 PM'}],
    'segments': []},
   {'days': 'Wed–Thu',
    'open': [{'renderedTime': 'Noon–2:00 PM'},
     {'renderedTime': '5:00 PM–10:00 PM'}],
    'segments': []},
   {'days': 'Fri',
    'open': [{'renderedTime': 'Noon–2:00 PM'},
     {'renderedTime': '4:00 PM–10:00 PM'}],
    'segments': []}]},
 'pageUpdates': {'count': 0, 'items': []},
 'inbox': {'count': 0, 'items': []},
 'attributes': {'groups': [{'type': 'price',
    'name': 'Price',
    'summary': '$$$',
    'count': 1,
    'items': [{'displayName': 'Price',
      'displayValue': '$$$',
      'priceTier': 3}]},
   {'type': 'payments',
    'name': 'Credit Cards',
    'summary': 'Credit Cards',
    'count': 5,
    'items': [{'displayName': 'Credit Cards', 'displayValue': 'Yes'}]},
   {'type': 'outdoorSeating',
    'name': 'Outdoor Seating',
    'summary': 'Outdoor Seating',
    'count': 1,
    'items': [{'displayName': 'Outdoor Seating', 'displayValue': 'Yes'}]},
   {'type': 'serves',
    'name': 'Menus',
    'summary': 'Lunch & Dinner',
    'count': 8,
    'items': [{'displayName': 'Lunch', 'displayValue': 'Lunch'},
     {'displayName': 'Dinner', 'displayValue': 'Dinner'}]},
   {'type': 'drinks',
    'name': 'Drinks',
    'summary': 'Wine, Full Bar & Cocktails',
    'count': 5,
    'items': [{'displayName': 'Wine', 'displayValue': 'Wine'},
     {'displayName': 'Full Bar', 'displayValue': 'Full Bar'},
     {'displayName': 'Cocktails', 'displayValue': 'Cocktails'}]},
   {'type': 'diningOptions',
    'name': 'Dining Options',
    'count': 5,
    'items': [{'displayName': 'Delivery', 'displayValue': 'No Delivery'}]},
   {'type': 'restroom',
    'name': 'Restroom',
    'summary': 'Restroom',
    'count': 1,
    'items': [{'displayName': 'Restroom', 'displayValue': 'Yes'}]}]},
 'bestPhoto': {'id': '517575c4498ed50ce11cb735',
  'createdAt': 1366652356,
  'source': {'name': 'Foursquare for Android',
   'url': 'https://foursquare.com/download/#/android'},
  'prefix': 'https://fastly.4sqi.net/img/general/',
  'suffix': '/53604688_pMpQfNUYI0kkeEW_PF3FyoPmygpEQ099G3Hpep_ogEs.jpg',
  'width': 960,
  'height': 720,
  'visibility': 'public'},
 'colors': {'highlightColor': {'photoId': '517575c4498ed50ce11cb735',
   'value': -15198192},
  'highlightTextColor': {'photoId': '517575c4498ed50ce11cb735', 'value': -1},
  'algoVersion': 3}}

### C. Get the number of tips

In [845]:
result['response']['venue']['tips']['count']

36

### D. Get the venue's tips
> `https://api.foursquare.com/v2/venues/`**VENUE_ID**`/tips?client_id=`**CLIENT_ID**`&client_secret=`**CLIENT_SECRET**`&v=`**VERSION**`&limit=`**LIMIT**

#### Create URL and send GET request. Make sure to set limit to get all tips

In [846]:
#La bettola di Terroni
limit = 15 # set limit to be greater than or equal to the total number of tips
url = 'https://api.foursquare.com/v2/venues/{}/tips?client_id={}&client_secret={}&v={}&limit={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION, limit)

results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d3c8f9cdb1d810039e2f99e'},
 'response': {'tips': {'count': 36,
   'items': [{'id': '57d5d9b6498ed33ac1e6a2f9',
     'createdAt': 1473632694,
     'text': 'Consistently great food. The classic fungi salad is a must and always a pizza. The rest can change. Do go, a Toronto institution',
     'type': 'user',
     'canonicalUrl': 'https://foursquare.com/item/57d5d9b6498ed33ac1e6a2f9',
     'photo': {'id': '57d5d9b6498ed33ac1e6a2f8',
      'createdAt': 1473632694,
      'source': {'name': 'Instagram', 'url': 'http://instagram.com'},
      'prefix': 'https://fastly.4sqi.net/img/general/',
      'suffix': '/81374730_nzftmb6mppgWZ1ntKdHCwbu2UMS6iIunjpwLf_btX4Y.jpg',
      'width': 1080,
      'height': 1080,
      'visibility': 'public'},
     'photourl': 'https://fastly.4sqi.net/img/general/original/81374730_nzftmb6mppgWZ1ntKdHCwbu2UMS6iIunjpwLf_btX4Y.jpg',
     'lang': 'en',
     'likes': {'count': 0, 'groups': []},
     'logView': True,
     'agreeCount': 1,
     'disagreeCount': 0,
     'todo': {'count': 0},
     'user': {'id': '81374730',
      'firstName': 'Joanna',
      'lastName': 'Sable',
      'gender': 'female',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/81374730-JKMVFYYPCWZJLF3H.jpg'}},
     'authorInteractionType': 'liked'}]}}}

#### Get tips and list of associated features

In [847]:
tips = results['response']['tips']['items']

tip = results['response']['tips']['items'][0]
tip.keys()

dict_keys(['id', 'createdAt', 'text', 'type', 'canonicalUrl', 'photo', 'photourl', 'lang', 'likes', 'logView', 'agreeCount', 'disagreeCount', 'todo', 'user', 'authorInteractionType'])

#### Format column width and display all tips

In [848]:
pd.set_option('display.max_colwidth', -1)

tips_df = json_normalize(tips) # json normalize tips

# columns to keep
filtered_columns = ['text', 'agreeCount', 'disagreeCount', 'id', 'user.firstName', 'user.lastName', 'user.gender', 'user.id']
tips_filtered = tips_df.loc[:, filtered_columns]

# display tips
tips_filtered

,text,agreeCount,disagreeCount,id,user.firstName,user.lastName,user.gender,user.id
0,"Consistently great food. The classic fungi salad is a must and always a pizza. The rest can change. Do go, a Toronto institution",1,0,57d5d9b6498ed33ac1e6a2f9,Joanna,Sable,female,81374730

### A. Let's explore Ardo Restaurant --

In [849]:
venue_id = '56d8dff7498eb4e5e661e78d' # ID of Ardo Restaurant
url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION)
url

'https://api.foursquare.com/v2/venues/56d8dff7498eb4e5e661e78d?client_id=DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL&client_secret=G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP&v=20180605'

#### Send GET request for result

In [850]:
result = requests.get(url).json()
print(result['response']['venue'].keys())
result['response']['venue']

dict_keys(['id', 'name', 'contact', 'location', 'canonicalUrl', 'categories', 'verified', 'stats', 'url', 'price', 'likes', 'dislike', 'ok', 'rating', 'ratingColor', 'ratingSignals', 'allowMenuUrlEdit', 'beenHere', 'specials', 'photos', 'reasons', 'hereNow', 'createdAt', 'tips', 'shortUrl', 'timeZone', 'listed', 'pageUpdates', 'inbox', 'attributes', 'bestPhoto', 'colors'])

{'id': '56d8dff7498eb4e5e661e78d',
 'name': 'Ardo',
 'contact': {'twitter': 'ardorestaurant',
  'facebook': '992305787529920',
  'facebookUsername': 'ardorestaurant',
  'facebookName': 'ARDO Restaurant'},
 'location': {'address': '243 King St E',
  'crossStreet': 'at Lower Sherbourne St',
  'lat': 43.6512011278776,
  'lng': -79.36835027595798,
  'labeledLatLngs': [{'label': 'display',
    'lat': 43.6512011278776,
    'lng': -79.36835027595798}],
  'postalCode': 'M5A 1J9',
  'cc': 'CA',
  'city': 'Toronto',
  'state': 'ON',
  'country': 'Canada',
  'formattedAddress': ['243 King St E (at Lower Sherbourne St)',
   'Toronto ON M5A 1J9',
   'Canada']},
 'canonicalUrl': 'https://foursquare.com/v/ardo/56d8dff7498eb4e5e661e78d',
 'categories': [{'id': '4bf58dd8d48988d110941735',
   'name': 'Italian Restaurant',
   'pluralName': 'Italian Restaurants',
   'shortName': 'Italian',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/italian_',
    'suffix': '.png'},
   'primary': True}],
 'verified': False,
 'stats': {'tipCount': 8},
 'url': 'http://ardorestaurant.com',
 'price': {'tier': 2, 'message': 'Moderate', 'currency': '$'},
 'likes': {'count': 14,
  'groups': [{'type': 'others', 'count': 14, 'items': []}],
  'summary': '14 Likes'},
 'dislike': False,
 'ok': False,
 'rating': 7.5,
 'ratingColor': 'C5DE35',
 'ratingSignals': 24,
 'allowMenuUrlEdit': True,
 'beenHere': {'count': 0,
  'unconfirmedCount': 0,
  'marked': False,
  'lastCheckinExpiredAt': 0},
 'specials': {'count': 0, 'items': []},
 'photos': {'count': 16,
  'groups': [{'type': 'checkin',
    'name': "Friends' check-in photos",
    'count': 0,
    'items': []},
   {'type': 'venue',
    'name': 'Venue photos',
    'count': 16,
    'items': [{'id': '59eaa1a695a722043b9a644a',
      'createdAt': 1508549030,
      'source': {'name': 'Swarm for iOS', 'url': 'https://www.swarmapp.com'},
      'prefix': 'https://fastly.4sqi.net/img/general/',
      'suffix': '/2955249_CjzH8XdFTuwSk5tyOiS-w0Lzdsaa9G2Pqy2u_xYAKnY.jpg',
      'width': 1079,
      'height': 1920,
      'user': {'id': '2955249',
       'firstName': 'Nadia',
       'lastName': 'IssaBella',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/2955249-LEHE5CUVGIFEF4GG.jpg'}},
      'visibility': 'public'}]}],
  'summary': '0 photos'},
 'reasons': {'count': 0, 'items': []},
 'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []},
 'createdAt': 1457053687,
 'tips': {'count': 8,
  'groups': [{'type': 'others',
    'name': 'All tips',
    'count': 8,
    'items': [{'id': '5c3e8382ab42d9002c740a4c',
      'createdAt': 1547600770,
      'text': 'Had the achiugge (grilled anchovies on crostini) and ARDO salsiccia (perfect tomatoes and amount of spice).Extremely attentive and friendly service. Owner/chef and waiters were exceptional.',
      'type': 'user',
      'canonicalUrl': 'https://foursquare.com/item/5c3e8382ab42d9002c740a4c',
      'lang': 'en',
      'likes': {'count': 0, 'groups': []},
      'logView': True,
      'agreeCount': 0,
      'disagreeCount': 0,
      'todo': {'count': 0},
      'user': {'id': '167268074',
       'firstName': 'Tracy',
       'lastName': 'Zhao',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/167268074-SUXBARJKNLWTSDXM.jpg'}},
      'authorInteractionType': 'liked'}]}]},
 'shortUrl': 'http://4sq.com/1RLSWRP',
 'timeZone': 'America/Toronto',
 'listed': {'count': 25,
  'groups': [{'type': 'others',
    'name': 'Lists from other people',
    'count': 25,
    'items': [{'id': '58d027d62321c61e18e4592a',
      'name': 'Toronto',
      'description': '',
      'type': 'others',
      'user': {'id': '10729641',
       'firstName': 'Michael',
       'lastName': 'Pinochi',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/5UV2RNTOCBWLUOCC.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/user/10729641/list/toronto',
      'canonicalUrl': 'https://foursquare.com/user/10729641/list/toronto',
      'createdAt': 1490036694,
      'updatedAt': 1492900779,
      'followers': {'count': 0},
      'listItems': {'count': 44,
       'items': [{'id': 'v56d8dff7498eb4e5e661e78d',
         'createdAt': 1490037263}]}},
     {'id': '59a2ed3feacf45673669c24d',
      'name': 'Italian',
      'description': '',
      'type': 'others',
      'user': {'id': '466950927',
       'firstName': 'Pedram',
       'lastName': 'Khatibi',
       'gender': 'male',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/466950927_0JlKNJKm_tTF4Siqj781vUXayrPhRd_XVTTw1F8oRTBaatQzXDDwpgROhWuy1CJ2cLCMnt06y.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/user/466950927/list/italian',
      'canonicalUrl': 'https://foursquare.com/user/466950927/list/italian',
      'createdAt': 1503849791,
      'updatedAt': 1544378945,
      'photo': {'id': '51466b07e4b086fe0ce70416',
       'createdAt': 1363569415,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/11938259_-Y7ISZWvrwv9mXnTVzIt5tMSck97KxwcG_ZjJhP93lM.jpg',
       'width': 612,
       'height': 612,
       'user': {'id': '11938259',
        'firstName': 'Joshua',
        'lastName': 'David',
        'gender': 'male',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/A1HSCYCCZ2TOC0QM.jpg'}},
       'visibility': 'public'},
      'followers': {'count': 0},
      'listItems': {'count': 26,
       'items': [{'id': 'v56d8dff7498eb4e5e661e78d',
         'createdAt': 1510504095}]}},
     {'id': '50ce2954e4b044ef72f22fc7',
      'name': 'Tried more',
      'description': '',
      'type': 'others',
      'user': {'id': '31962478',
       'firstName': 'Karen',
       'lastName': 'Devon',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/31F0CG0SLMV5A25B.jpg'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/specialkdmd/list/tried-more',
      'canonicalUrl': 'https://foursquare.com/specialkdmd/list/tried-more',
      'createdAt': 1355688276,
      'updatedAt': 1494330673,
      'followers': {'count': 2},
      'listItems': {'count': 201,
       'items': [{'id': 'v56d8dff7498eb4e5e661e78d',
         'createdAt': 1494330673}]}},
     {'id': '515c3855e4b017680f8e8ed6',
      'name': 'Toronto',
      'description': '',
      'type': 'others',
      'user': {'id': '48577208',
       'firstName': 'Brie',
       'lastName': 'Valdes',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/48577208-3XZWN3QBOL0TQ44Z'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/bri_beaulieu/list/toronto',
      'canonicalUrl': 'https://foursquare.com/bri_beaulieu/list/toronto',
      'createdAt': 1364998229,
      'updatedAt': 1542285318,
      'photo': {'id': '50b43669e4b0a5d7187081db',
       'createdAt': 1353987689,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/5007479_wm4tntH5DH0OFyqy7AnjWa2tbgB1Qg0RRKx_D2vU5Js.jpg',
       'width': 540,
       'height': 540,
       'user': {'id': '5007479',
        'firstName': 'Angie',
        'lastName': 'R.',
        'gender': 'female',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/DRG30JBOOUNT0M5V.jpg'}},
       'visibility': 'public'},
      'followers': {'count': 0},
      'listItems': {'count': 35,
       'items': [{'id': 'v56d8dff7498eb4e5e661e78d',
         'createdAt': 1520469773}]}}]}]},
 'pageUpdates': {'count': 0, 'items': []},
 'inbox': {'count': 0, 'items': []},
 'attributes': {'groups': [{'type': 'price',
    'name': 'Price',
    'summary': '$$',
    'count': 1,
    'items': [{'displayName': 'Price', 'displayValue': '$$', 'priceTier': 2}]},
   {'type': 'serves',
    'name': 'Menus',
    'summary': 'Dinner',
    'count': 8,
    'items': [{'displayName': 'Dinner', 'displayValue': 'Dinner'}]}]},
 'bestPhoto': {'id': '59eaa1a695a722043b9a644a',
  'createdAt': 1508549030,
  'source': {'name': 'Swarm for iOS', 'url': 'https://www.swarmapp.com'},
  'prefix': 'https://fastly.4sqi.net/img/general/',
  'suffix': '/2955249_CjzH8XdFTuwSk5tyOiS-w0Lzdsaa9G2Pqy2u_xYAKnY.jpg',
  'width': 1079,
  'height': 1920,
  'visibility': 'public'},
 'colors': {'highlightColor': {'photoId': '59eaa1a695a722043b9a644a',
   'value': -14675968},
  'highlightTextColor': {'photoId': '59eaa1a695a722043b9a644a', 'value': -1},
  'algoVersion': 3}}

### C. Get the number of tips

In [851]:
result['response']['venue']['tips']['count']

8

### D. Get the venue's tips
> `https://api.foursquare.com/v2/venues/`**VENUE_ID**`/tips?client_id=`**CLIENT_ID**`&client_secret=`**CLIENT_SECRET**`&v=`**VERSION**`&limit=`**LIMIT**

#### Create URL and send GET request. Make sure to set limit to get all tips

In [852]:
#Ardo Restaurant
limit = 15 # set limit to be greater than or equal to the total number of tips
url = 'https://api.foursquare.com/v2/venues/{}/tips?client_id={}&client_secret={}&v={}&limit={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION, limit)

results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d3c9045f8953d0025990595'},
 'response': {'tips': {'count': 8,
   'items': [{'id': '5c3e8382ab42d9002c740a4c',
     'createdAt': 1547600770,
     'text': 'Had the achiugge (grilled anchovies on crostini) and ARDO salsiccia (perfect tomatoes and amount of spice).Extremely attentive and friendly service. Owner/chef and waiters were exceptional.',
     'type': 'user',
     'canonicalUrl': 'https://foursquare.com/item/5c3e8382ab42d9002c740a4c',
     'lang': 'en',
     'likes': {'count': 0, 'groups': []},
     'logView': True,
     'agreeCount': 0,
     'disagreeCount': 0,
     'todo': {'count': 0},
     'user': {'id': '167268074',
      'firstName': 'Tracy',
      'lastName': 'Zhao',
      'gender': 'female',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/167268074-SUXBARJKNLWTSDXM.jpg'}},
     'authorInteractionType': 'liked'}]}}}

#### Get tips and list of associated features

In [853]:
tips = results['response']['tips']['items']

tip = results['response']['tips']['items'][0]
tip.keys()

dict_keys(['id', 'createdAt', 'text', 'type', 'canonicalUrl', 'lang', 'likes', 'logView', 'agreeCount', 'disagreeCount', 'todo', 'user', 'authorInteractionType'])

#### Format column width and display all tips

In [854]:
pd.set_option('display.max_colwidth', -1)

tips_df = json_normalize(tips) # json normalize tips

# columns to keep
filtered_columns = ['text', 'agreeCount', 'disagreeCount', 'id', 'user.firstName', 'user.lastName', 'user.gender', 'user.id']
tips_filtered = tips_df.loc[:, filtered_columns]

# display tips
tips_filtered

,text,agreeCount,disagreeCount,id,user.firstName,user.lastName,user.gender,user.id
0,Had the achiugge (grilled anchovies on crostini) and ARDO salsiccia (perfect tomatoes and amount of spice).Extremely attentive and friendly service. Owner/chef and waiters were exceptional.,0,0,5c3e8382ab42d9002c740a4c,Tracy,Zhao,female,167268074

### A. Let's explore L'unità--

In [855]:
venue_id = '4ad4c05cf964a520f1f520e3' # ID of L'unità
url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION)
url

'https://api.foursquare.com/v2/venues/4ad4c05cf964a520f1f520e3?client_id=DQ1DDA4QGNWZ3AXGNDJAWKCL0TWAA25XZ0JIFZ1P2ILHVEAL&client_secret=G3WSZBQQS41HO3YXCFI5RIVAB5GETLHYDI5LKF4GKNIEKUOP&v=20180605'

#### Send GET request for result

In [856]:
result = requests.get(url).json()
print(result['response']['venue'].keys())
result['response']['venue']

dict_keys(['id', 'name', 'contact', 'location', 'canonicalUrl', 'categories', 'verified', 'stats', 'url', 'price', 'hasMenu', 'likes', 'dislike', 'ok', 'rating', 'ratingColor', 'ratingSignals', 'menu', 'allowMenuUrlEdit', 'beenHere', 'specials', 'photos', 'reasons', 'description', 'hereNow', 'createdAt', 'tips', 'shortUrl', 'timeZone', 'listed', 'hours', 'popular', 'pageUpdates', 'inbox', 'attributes', 'bestPhoto', 'colors'])

{'id': '4ad4c05cf964a520f1f520e3',
 'name': "L'Unita Restaurant",
 'contact': {'phone': '4169648686',
  'formattedPhone': '(416) 964-8686',
  'twitter': 'lunita_enoteca'},
 'location': {'address': '134 Avenue Rd.',
  'crossStreet': 'Davenport Rd',
  'lat': 43.674387404879205,
  'lng': -79.39648826123504,
  'labeledLatLngs': [{'label': 'display',
    'lat': 43.674387404879205,
    'lng': -79.39648826123504}],
  'postalCode': 'M5R 2H6',
  'cc': 'CA',
  'city': 'Toronto',
  'state': 'ON',
  'country': 'Canada',
  'formattedAddress': ['134 Avenue Rd. (Davenport Rd)',
   'Toronto ON M5R 2H6',
   'Canada']},
 'canonicalUrl': 'https://foursquare.com/v/lunita-restaurant/4ad4c05cf964a520f1f520e3',
 'categories': [{'id': '4bf58dd8d48988d110941735',
   'name': 'Italian Restaurant',
   'pluralName': 'Italian Restaurants',
   'shortName': 'Italian',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/italian_',
    'suffix': '.png'},
   'primary': True}],
 'verified': False,
 'stats': {'tipCount': 14},
 'url': 'http://www.lunita.ca',
 'price': {'tier': 4, 'message': 'Very Expensive', 'currency': '$'},
 'hasMenu': True,
 'likes': {'count': 36,
  'groups': [{'type': 'others', 'count': 36, 'items': []}],
  'summary': '36 Likes'},
 'dislike': False,
 'ok': False,
 'rating': 8.9,
 'ratingColor': '73CF42',
 'ratingSignals': 46,
 'menu': {'type': 'Menu',
  'label': 'Menu',
  'anchor': 'View Menu',
  'url': 'https://foursquare.com/v/lunita-restaurant/4ad4c05cf964a520f1f520e3/menu',
  'mobileUrl': 'https://foursquare.com/v/4ad4c05cf964a520f1f520e3/device_menu'},
 'allowMenuUrlEdit': True,
 'beenHere': {'count': 0,
  'unconfirmedCount': 0,
  'marked': False,
  'lastCheckinExpiredAt': 0},
 'specials': {'count': 0, 'items': []},
 'photos': {'count': 15,
  'groups': [{'type': 'checkin',
    'name': "Friends' check-in photos",
    'count': 0,
    'items': []},
   {'type': 'venue',
    'name': 'Venue photos',
    'count': 15,
    'items': [{'id': '517214eee4b0bb055e57be21',
      'createdAt': 1366430958,
      'source': {'name': 'Foursquare for iOS',
       'url': 'https://foursquare.com/download/#/iphone'},
      'prefix': 'https://fastly.4sqi.net/img/general/',
      'suffix': '/111462_tEIoq8c15Nx0VdN2WY33HFRF7AjEap7IWT1HNJ2b1L0.jpg',
      'width': 1440,
      'height': 1440,
      'user': {'id': '111462',
       'firstName': 'Lorraine',
       'lastName': 'S',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/CVHNBJZDT5BEBZXF.jpg'}},
      'visibility': 'public'}]}],
  'summary': '0 photos'},
 'reasons': {'count': 1,
  'items': [{'summary': 'Lots of people like this place',
    'type': 'general',
    'reasonName': 'rawLikesReason'}]},
 'description': 'http://www.opentable.com/lunita-enoteca-reservations-toronto?restref=50557',
 'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []},
 'createdAt': 1255456860,
 'tips': {'count': 14,
  'groups': [{'type': 'others',
    'name': 'All tips',
    'count': 14,
    'items': [{'id': '54cec115498e41975070bd7d',
      'createdAt': 1422835989,
      'text': 'Came here for winterlicious. Will definitely be back. Lovely place and great food and wine.',
      'type': 'user',
      'canonicalUrl': 'https://foursquare.com/item/54cec115498e41975070bd7d',
      'photo': {'id': '54cec117498edb79e7539a59',
       'createdAt': 1422835991,
       'source': {'name': 'Foursquare for iOS',
        'url': 'https://foursquare.com/download/#/iphone'},
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/88224331_MpxtAVdt-f5AK7zn65XujEbhD72hRpQvXrkXYB1QddM.jpg',
       'width': 1440,
       'height': 1440,
       'visibility': 'public'},
      'photourl': 'https://fastly.4sqi.net/img/general/original/88224331_MpxtAVdt-f5AK7zn65XujEbhD72hRpQvXrkXYB1QddM.jpg',
      'lang': 'en',
      'likes': {'count': 0, 'groups': []},
      'logView': True,
      'agreeCount': 0,
      'disagreeCount': 0,
      'todo': {'count': 0},
      'user': {'id': '88224331',
       'firstName': 'Amanda',
       'lastName': 'Chiu',
       'gender': 'female',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/88224331-1NFM1ICYOTLPBPKI.jpg'}}}]}]},
 'shortUrl': 'http://4sq.com/9oPPtr',
 'timeZone': 'America/Toronto',
 'listed': {'count': 59,
  'groups': [{'type': 'others',
    'name': 'Lists from other people',
    'count': 59,
    'items': [{'id': '53276c94498e4e312bf1522d',
      'name': 'Tab in Toronto',
      'description': '',
      'type': 'others',
      'user': {'id': '81670788',
       'firstName': 'Tab',
       'gender': 'none',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/81670788-ZWVXHLCJBMSXIT02'}},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/tabpayments/list/tab-in-toronto',
      'canonicalUrl': 'https://foursquare.com/tabpayments/list/tab-in-toronto',
      'createdAt': 1395092628,
      'updatedAt': 1420821162,
      'photo': {'id': '521c1f2711d25077eb5cb703',
       'createdAt': 1377574695,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/114272_r2XH-n4Dp1j6UeRJaC53-DofCwdPFrEhemZBUIH0f3w.jpg',
       'width': 612,
       'height': 612,
       'user': {'id': '114272',
        'firstName': 'Foujan',
        'lastName': 'Ziadlou',
        'gender': 'female',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/3U40SX5O545BJFAW.jpg'}},
       'visibility': 'public'},
      'followers': {'count': 28},
      'listItems': {'count': 51,
       'items': [{'id': 'v4ad4c05cf964a520f1f520e3',
         'createdAt': 1415572184,
         'photo': {'id': '517214eee4b0bb055e57be21',
          'createdAt': 1366430958,
          'prefix': 'https://fastly.4sqi.net/img/general/',
          'suffix': '/111462_tEIoq8c15Nx0VdN2WY33HFRF7AjEap7IWT1HNJ2b1L0.jpg',
          'width': 1440,
          'height': 1440,
          'user': {'id': '111462',
           'firstName': 'Lorraine',
           'lastName': 'S',
           'gender': 'female',
           'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
            'suffix': '/CVHNBJZDT5BEBZXF.jpg'}},
          'visibility': 'public'}}]}},
     {'id': '525314b211d2ebb94d8979e0',
      'name': 'Toronto Eater 38',
      'description': 'Your answer to any question that begins, "Can you recommend a restaurant…" This highly elite group covers the entire city, spans myriad cuisines, and satisfies all of your restaurant needs.',
      'type': 'others',
      'user': {'id': '3343327',
       'firstName': 'Eater',
       'gender': 'none',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/3343327-YQ1D52V3KK2RQLBU.png'},
       'type': 'page'},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/p/eater/3343327/list/toronto-eater-38',
      'canonicalUrl': 'https://foursquare.com/p/eater/3343327/list/toronto-eater-38',
      'createdAt': 1381176498,
      'updatedAt': 1381178425,
      'logView': True,
      'followers': {'count': 282},
      'listItems': {'count': 38,
       'items': [{'id': 't525317c911d2c3035b341736',
         'createdAt': 1381176724}]}},
     {'id': '50f030d7e4b06a56769d0619',
      'name': 'Vegetarian Restaurants',
      'description': 'Those restaurants that offer a vegetarian option as part of their menu.',
      'type': 'others',
      'user': {'id': '17759660',
       'firstName': 'Winterlicious',
       'gender': 'none',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/FUVZRLMHM1G2IULK.jpg'},
       'type': 'page'},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/liciousto/list/vegetarian-restaurants',
      'canonicalUrl': 'https://foursquare.com/liciousto/list/vegetarian-restaurants',
      'createdAt': 1357918423,
      'updatedAt': 1386120698,
      'photo': {'id': '503453b5e4b0567cc770af11',
       'createdAt': 1345606581,
       'prefix': 'https://fastly.4sqi.net/img/general/',
       'suffix': '/d2IOZZxBT7IAZUvOM0PM_W-5YxXS-84T1wIjre2Lkm4.jpg',
       'width': 800,
       'height': 800,
       'user': {'id': '1589524',
        'firstName': 'jade',
        'gender': 'female',
        'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
         'suffix': '/1589524-3FRBRKM1N12NK0TE.jpg'}},
       'visibility': 'public'},
      'logView': True,
      'followers': {'count': 35},
      'listItems': {'count': 109,
       'items': [{'id': 'v4ad4c05cf964a520f1f520e3',
         'createdAt': 1357920162,
         'photo': {'id': '50df815ae4b0f340048045a6',
          'createdAt': 1356824922,
          'prefix': 'https://fastly.4sqi.net/img/general/',
          'suffix': '/7142870_gi7YJk23TCX9vuV-IvGEpTg6ynlJY-w2MZ-_x7KGdfw.jpg',
          'width': 720,
          'height': 960,
          'user': {'id': '7142870',
           'firstName': 'Katherin',
           'gender': 'female',
           'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
            'suffix': '/NNSQOBGIURGXU442.jpg'}},
          'visibility': 'public'}}]}},
     {'id': '4eb476877ee5024d7e9b1587',
      'name': 'Toronto | Dining & Entertainment',
      'description': '',
      'type': 'others',
      'user': {'id': '16060195',
       'firstName': "Sotheby's International Realty Canada",
       'gender': 'none',
       'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
        'suffix': '/1GMI5RWSUX5B4Q4M.jpg'},
       'type': 'page'},
      'editable': False,
      'public': True,
      'collaborative': False,
      'url': '/sothebysrltycan/list/toronto--dining--entertainment',
      'canonicalUrl': 'https://foursquare.com/sothebysrltycan/list/toronto--dining--entertainment',
      'createdAt': 1320449671,
      'updatedAt': 1396240947,
      'logView': True,
      'followers': {'count': 41},
      'listItems': {'count': 55,
       'items': [{'id': 't4eb46b29a17cab61280520c0',
         'createdAt': 1320449768}]}}]}]},
 'hours': {'status': 'Closed until 5:30 PM tomorrow',
  'richStatus': {'entities': [], 'text': 'Closed until 5:30 PM tomorrow'},
  'isOpen': False,
  'isLocalHoliday': False,
  'dayData': [],
  'timeframes': [{'days': 'Sun',
    'open': [{'renderedTime': '5:30 PM–11:00 PM'}],
    'segments': []}]},
 'popular': {'isOpen': False,
  'isLocalHoliday': False,
  'timeframes': [{'days': 'Today',
    'includesToday': True,
    'open': [{'renderedTime': '5:00 PM–11:00 PM'}],
    'segments': []},
   {'days': 'Sun', 'open': [{'renderedTime': 'None'}], 'segments': []},
   {'days': 'Mon',
    'open': [{'renderedTime': '8:00 PM–10:00 PM'}],
    'segments': []},
   {'days': 'Tue–Thu',
    'open': [{'renderedTime': '6:00 PM–11:00 PM'}],
    'segments': []},
   {'days': 'Fri',
    'open': [{'renderedTime': '6:00 PM–Midnight'}],
    'segments': []}]},
 'pageUpdates': {'count': 0, 'items': []},
 'inbox': {'count': 0, 'items': []},
 'attributes': {'groups': [{'type': 'price',
    'name': 'Price',
    'summary': '$$$$',
    'count': 1,
    'items': [{'displayName': 'Price',
      'displayValue': '$$$$',
      'priceTier': 4}]},
   {'type': 'payments',
    'name': 'Credit Cards',
    'summary': 'Credit Cards',
    'count': 5,
    'items': [{'displayName': 'Credit Cards',
      'displayValue': 'Yes (incl. American Express & MasterCard)'}]},
   {'type': 'outdoorSeating',
    'name': 'Outdoor Seating',
    'count': 1,
    'items': [{'displayName': 'Outdoor Seating', 'displayValue': 'No'}]},
   {'type': 'serves',
    'name': 'Menus',
    'summary': 'Dinner',
    'count': 8,
    'items': [{'displayName': 'Dinner', 'displayValue': 'Dinner'}]},
   {'type': 'drinks',
    'name': 'Drinks',
    'summary': 'Wine & Full Bar',
    'count': 5,
    'items': [{'displayName': 'Wine', 'displayValue': 'Wine'},
     {'displayName': 'Full Bar', 'displayValue': 'Full Bar'}]},
   {'type': 'diningOptions',
    'name': 'Dining Options',
    'count': 5,
    'items': [{'displayName': 'Delivery', 'displayValue': 'No Delivery'}]}]},
 'bestPhoto': {'id': '517214eee4b0bb055e57be21',
  'createdAt': 1366430958,
  'source': {'name': 'Foursquare for iOS',
   'url': 'https://foursquare.com/download/#/iphone'},
  'prefix': 'https://fastly.4sqi.net/img/general/',
  'suffix': '/111462_tEIoq8c15Nx0VdN2WY33HFRF7AjEap7IWT1HNJ2b1L0.jpg',
  'width': 1440,
  'height': 1440,
  'visibility': 'public'},
 'colors': {'highlightColor': {'photoId': '517214eee4b0bb055e57be21',
   'value': -4673376},
  'highlightTextColor': {'photoId': '517214eee4b0bb055e57be21',
   'value': -16777216},
  'algoVersion': 3}}

### C. Get the number of tips

In [857]:
result['response']['venue']['tips']['count']

14

### D. Get the venue's tips
> `https://api.foursquare.com/v2/venues/`**VENUE_ID**`/tips?client_id=`**CLIENT_ID**`&client_secret=`**CLIENT_SECRET**`&v=`**VERSION**`&limit=`**LIMIT**

#### Create URL and send GET request. Make sure to set limit to get all tips

In [858]:
#l' unità
limit = 15 # set limit to be greater than or equal to the total number of tips
url = 'https://api.foursquare.com/v2/venues/{}/tips?client_id={}&client_secret={}&v={}&limit={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION, limit)

results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d3c90ebbcbf7a003903bcb7'},
 'response': {'tips': {'count': 14,
   'items': [{'id': '547ff094498e38761bfb42de',
     'createdAt': 1417670804,
     'text': 'Amazing food and service. It has a really friendly atmosphere but can get loud with the hum of conversation. Great caesar salad and amazing pork loin with seasonal veggies. Nice wine list.',
     'type': 'user',
     'canonicalUrl': 'https://foursquare.com/item/547ff094498e38761bfb42de',
     'lang': 'en',
     'likes': {'count': 0, 'groups': []},
     'logView': True,
     'agreeCount': 0,
     'disagreeCount': 0,
     'todo': {'count': 0},
     'user': {'id': '3875010',
      'firstName': 'Denise',
      'gender': 'female',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/1OPPKBK2FI5EAH0A.jpg'}},
     'authorInteractionType': 'liked'}]}}}

#### Get tips and list of associated features

In [859]:
tips = results['response']['tips']['items']

tip = results['response']['tips']['items'][0]
tip.keys()

dict_keys(['id', 'createdAt', 'text', 'type', 'canonicalUrl', 'lang', 'likes', 'logView', 'agreeCount', 'disagreeCount', 'todo', 'user', 'authorInteractionType'])

#### Format column width and display all tips

In [860]:
pd.set_option('display.max_colwidth', -1)

tips_df = json_normalize(tips) # json normalize tips

# columns to keep
filtered_columns = ['text', 'agreeCount', 'disagreeCount', 'id', 'user.firstName', 'user.lastName', 'user.gender', 'user.id']
tips_filtered = tips_df.loc[:, filtered_columns]

# display tips
tips_filtered

,text,agreeCount,disagreeCount,id,user.firstName,user.lastName,user.gender,user.id
0,Amazing food and service. It has a really friendly atmosphere but can get loud with the hum of conversation. Great caesar salad and amazing pork loin with seasonal veggies. Nice wine list.,0,0,547ff094498e38761bfb42de,Denise,NaN,female,3875010